@use '../../date-picker.style.scss';

$width_double-calendar: 488px;
$width_simple-time-seconds-calendar: 355px;
$width_simple-time-calendar: 319px;
$width_simple-calendar: 244px;

:host {
  display: contents;
}

:host {
  display: contents;
}

.date-picker {
  &.double {
    width: $width_double-calendar;
  }

  &.simple {
    width: $width_simple-calendar;
  }

  &.simple-time {
    width: $width_simple-time-calendar;

    &.with-seconds {
      width: $width_simple-time-seconds-calendar;
    }
  }
}
