<ng-container [ngSwitch]="previewMode$ | async">
  <ng-container *ngSwitchCase="'double'" [ngTemplateOutlet]="doubleCalendar"></ng-container>
  <ng-container *ngSwitchCase="'simple-time'" [ngTemplateOutlet]="simpleTimeCalendar"></ng-container>
  <ng-container *ngSwitchDefault [ngTemplateOutlet]="simpleCalendar"></ng-container>
</ng-container>

<ng-template #doubleCalendar>
  <div class="pupa-date-picker pupa-double">
    <pupa-date-picker-double [baseDate]="baseDate$ | async"></pupa-date-picker-double>
  </div>
</ng-template>

<ng-template #simpleTimeCalendar>
  <div class="pupa-date-picker pupa-simple-time" [class.pupa-with-seconds]="withSeconds$ | async">
    <pupa-date-picker-simple-time
      [baseDate]="baseDate$ | async"
      (selectedHours)="selectHours($event)"
      (selectedMinutes)="selectMinutes($event)"
      (selectedSeconds)="selectSeconds($event)"
      [defaultTime]="defaultTime"
    ></pupa-date-picker-simple-time>
  </div>
</ng-template>

<ng-template #simpleCalendar>
  <div class="pupa-date-picker pupa-simple">
    <pupa-date-picker-simple [baseDate]="baseDate$ | async"></pupa-date-picker-simple>
  </div>
</ng-template>
