@use 'mixins';
@use 'functions';

.pupa-stepper-counter {
  width: 6rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: functions.semantic-color(text-primary);
  background: functions.semantic-color(kind-neutral-normal);
  border-radius: 1rem;

  @include mixins.font-preset-h6;

  transition: background-color 0.2s ease;

  &_active {
    background: functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(surface-primary);
  }

  &_disabled {
    cursor: not-allowed;
    background: functions.semantic-color(kind-neutral-disabled);
    color: functions.semantic-color(text-disabled);
  }
}
