@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.search-field {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  @include flex-container(row, center, flex-start);

  &_collapsible {
    position: absolute;
    top: 0;
    transition: all variable(transition-duration_shorter) variable(transition-timing-function_common);

    &.to-left {
      right: 0;
    }

    &.to-right {
      left: 0;
    }
  }

  &_collapsed {
    width: 8rem;
  }

  &__input {
    z-index: 2;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    width: 100%;
    border-radius: $controlBorderRadius;
    box-sizing: border-box;
    border: 1px solid transparent;
    height: 8rem;
    padding: 2rem 9rem;
    color: semantic-color(text-primary);
    caret-color: semantic-color(text-primary);
    background-color: semantic-color(kind-neutral-normal);
    transition: all variable(transition-duration_shorter) variable(transition-timing-function_common);
    @include font-type-regular();
    @include font-size-xs(true);

    &_collapsed {
      padding: 2rem;
    }

    &:-webkit-autofill {
      border-color: semantic-color(kind-neutral-normal);
      -webkit-text-fill-color: semantic-color(text-primary);
      box-shadow: none;
      -webkit-box-shadow: 0 10rem 0 0 semantic-color(kind-neutral-normal) inset;
    }

    &::placeholder {
      color: semantic-color(text-secondary);
    }

    &:not(:focus):not([disabled]) {
      @include hover() {
        background-color: semantic-color(kind-neutral-hover);

        &:-webkit-autofill {
          box-shadow: none;
          -webkit-box-shadow: 0 10rem 0 0 semantic-color(kind-neutral-hover) inset;
          border-color: semantic-color(kind-neutral-hover);
        }

        &::placeholder {
          color: semantic-color(text-primary);
        }
      }
    }

    &:active:not(:focus):not([disabled]) {
      border-color: transparent;
      background-color: semantic-color(kind-neutral-active);

      &:-webkit-autofill {
        border-color: semantic-color(kind-neutral-active);
        box-shadow: none;
        -webkit-box-shadow: 0 10rem 0 0 semantic-color(kind-neutral-active) inset;
      }
    }

    &:focus:not([disabled]) {
      cursor: text;
      border-color: transparent;
      background-color: semantic-color(kind-neutral-active);

      &:-webkit-autofill {
        box-shadow: none;
        -webkit-box-shadow: 0 10rem 0 0 semantic-color(kind-neutral-active) inset;
        border-color: transparent;
      }

      &::placeholder {
        color: semantic-color(text-disabled);
      }
    }

    &[disabled] {
      border-color: transparent;
      cursor: not-allowed;
      color: semantic-color(text-disabled);
      background-color: semantic-color(kind-neutral-disabled);

      &:-webkit-autofill {
        -webkit-text-fill-color: semantic-color(text-disabled);
        box-shadow: none;
        -webkit-box-shadow: 0 10rem 0 0 semantic-color(kind-neutral-disabled) inset;
        border-color: semantic-color(kind-neutral-disabled);
      }

      &::selection {
        background: transparent;
      }

      &::placeholder {
        color: semantic-color(text-disabled);
      }

      ~ .search-field__icon {
        color: semantic-color(text-disabled);
      }
    }
  }

  &__reset {
    position: absolute;
    z-index: 3;
    right: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity variable(transition-duration_shorter) variable(transition-timing-function_common);
    color: semantic-color(icons-primary);

    &_visible {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: all variable(transition-duration_shorter) variable(transition-timing-function_common);
    color: semantic-color(icons-primary);
    padding: 2rem;
    transform: translateX(1rem);

    &_collapsed {
      transform: translateX(0);
      cursor: pointer;
      left: 0;
      pointer-events: all;
      transition: all variable(transition-duration_shorter) variable(transition-timing-function_common);
      caret-color: semantic-color(text-primary);
      background-color: semantic-color(kind-neutral-normal);
      @include flex-container(row, center, center);

      &:not(.search-field__icon_disabled) {
        @include hover() {
          background-color: semantic-color(kind-neutral-hover);
        }
      }
    }

    &_disabled {
      border-color: transparent;
      cursor: not-allowed;
      color: semantic-color(icons-disabled);
      background-color: semantic-color(kind-neutral-disabled);
    }
  }
}
