<ng-container
  [ngTemplateOutlet]="searchFieldTemplate"
  [ngTemplateOutletContext]="{
    isCollapsed: isCollapsed$ | async,
    isDisabled: isDisabled$ | async,
    isVisibleReset: isVisibleReset$ | async
  }"
>
</ng-container>

<ng-template
  #searchFieldTemplate
  let-isCollapsed="isCollapsed"
  let-isDisabled="isDisabled"
  let-isVisibleReset="isVisibleReset"
>
  <div
    data-meta="pupa-search-field"
    class="pupa-search-field"
    [ngClass]="collapseDirection$ | async"
    [class.pupa-search-field_collapsible]="isCollapsible$ | async"
    [class.pupa-search-field_collapsed]="isCollapsed"
  >
    <div class="pupa-search-field__collapse-icon-container">
      <pupa-icon
        data-meta="pupa-search-field__collapse-button"
        class="pupa-search-field__collapse-icon"
        [class.pupa-search-field__collapse-icon_collapsed]="isCollapsed"
        [class.pupa-search-field__collapse-icon_disabled]="isDisabled"
        (click)="changeCollapsed()"
        name="app-search"
      >
      </pupa-icon>
    </div>
    <input
      data-meta="pupa-search-field__input"
      class="pupa-search-field__input"
      [ngClass]="resultClassList$ | async"
      type="text"
      #inputElement
      [placeholder]="placeholder"
      [attr.disabled]="isDisabled ? true : null"
      (input)="updateValue(inputElement.value)"
      (focus)="emitFocusEvent($event)"
      (blur)="emitBlurEvent($event)"
      [autocomplete]="autocomplete ? 'on' : 'off'"
      [pupaAutofocus]="autofocus"
      [value]="value$ | async"
      [attr.maxlength]="maxLength"
    />

    <div class="pupa-search-field__actions">
      <pupa-button-icon
        *ngIf="isVisibleReset"
        data-meta="pupa-search-field__reset-button"
        class="pupa-search-field__reset"
        icon="app-close-square"
        size="m"
        tabIndex="-1"
        kind="secondary"
        [disabled]="isDisabled"
        (click)="reset()"
      >
      </pupa-button-icon>

      <div class="pupa-search-field__action-separator" *ngIf="isVisibleSeparator$ | async"></div>

      <div
        class="pupa-search-field__additional-actions"
        *ngIf="!(isCollapsed$ | async) && !(searchFieldActionsRightDirective | isNullOrUndefined)"
        (click)="$event.stopPropagation()"
      >
        <ng-container [ngTemplateOutlet]="searchFieldActionsRightDirective.templateRef"></ng-container>
      </div>
    </div>
  </div>
</ng-template>
