<ng-container
  [ngTemplateOutlet]="searchFieldTemplate"
  [ngTemplateOutletContext]="{
    isCollapsed: isCollapsed$ | async,
    isDisabled: isDisabled$ | async,
    isFocused: isFocused$ | async
  }"
>
</ng-container>

<ng-template #searchFieldTemplate let-isCollapsed="isCollapsed" let-isDisabled="isDisabled" let-isFocused="isFocused">
  <div
    data-meta="pupa-search-field"
    class="search-field"
    [ngClass]="collapseDirection$ | async"
    [class.search-field_collapsible]="isCollapsible$ | async"
    [class.search-field_collapsed]="isCollapsed"
  >
    <input
      data-meta="pupa-search-field__input"
      class="search-field__input"
      [ngClass]="resultClassList$ | async"
      type="text"
      #inputElement
      [placeholder]="placeholder"
      [attr.disabled]="isDisabled ? true : null"
      (input)="updateValue(inputElement.value)"
      (focus)="emitFocusEvent($event)"
      (blur)="emitBlurEvent($event)"
      [autocomplete]="autocomplete ? 'on' : 'off'"
      [pupaAutofocus]="autofocus"
      [value]="value$ | async"
      [attr.maxlength]="maxLength"
    />
    <pupa-icon
      data-meta="pupa-search-field__collapse-button"
      class="search-field__icon"
      [class.search-field__icon_collapsed]="isCollapsed"
      [class.search-field__icon_disabled]="isDisabled"
      (click)="changeCollapsed()"
      name="app-search"
    >
    </pupa-icon>
    <pupa-button-icon
      data-meta="pupa-search-field__reset-button"
      class="search-field__reset"
      [class.search-field__reset_visible]="isFocused"
      icon="app-cross-circle"
      size="s"
      tabIndex="-1"
      kind="secondary"
      [disabled]="isDisabled"
      (click)="reset()"
    >
    </pupa-button-icon>
  </div>
</ng-template>
