<div class="controls-list">
  <div class="controls-list__block">
    <pupa-input-text [formControl]="defaultStyleControl" [placeholder]="'Enter value'"></pupa-input-text>
  </div>

  <div class="controls-list__block">
    <pupa-input-text
      [styles]="['ghost']"
      [formControl]="ghostStyleControl"
      [placeholder]="'Enter value'"
    ></pupa-input-text>
  </div>

  <div class="controls-list__block">
    <pupa-input-text
      [styles]="['bold']"
      [formControl]="boldStyleControl"
      [placeholder]="'Enter value'"
    ></pupa-input-text>
  </div>

  <div class="controls-list__block">
    <pupa-input-text
      [styles]="['ghost', 'bold']"
      [formControl]="ghostBoldStyleControl"
      [placeholder]="'Enter value'"
    ></pupa-input-text>
  </div>
</div>
