<pupa-select class="select" [withReset]="true" [formControl]="control">
  <pupa-select-trigger-tag>
    {{ control.value }}
  </pupa-select-trigger-tag>

  <pupa-select-dropdown [width]="320">
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let option of options$ | async" [value]="option.value">
        <pupa-icon name="app-cube"></pupa-icon>
        {{ option.caption }}
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>
