<h1>Switcher</h1>
<div class="group">
  <div class="flex" *ngFor="let props of combos; let index = index">
    <pupa-switcher
      [(ngModel)]="value"
      [disabled]="props.disabled"
      [indifferent]="props.indifferent"
      [id]="'' + index"
    ></pupa-switcher>
    <label [for]="'' + index"> value: {{ value }} </label>
  </div>
</div>

<h2>Form Control</h2>

<div class="group">
  <form class="flex" [formGroup]="form">
    <pupa-switcher formControlName="switcher" [id]="'formControl'"></pupa-switcher>
    <label for="formControl">value: {{ form.get('switcher').value }}</label>
  </form>
</div>
