<div class="example-container">
  <div class="cases-container">
    <pupa-accordion>
      <pupa-accordion-header>
        <pupa-accordion-title>Accordion Header without Description</pupa-accordion-title>
      </pupa-accordion-header>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>

    <pupa-accordion>
      <pupa-accordion-header>
        <pupa-accordion-description>Accordion Header without Title</pupa-accordion-description>
      </pupa-accordion-header>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>

    <pupa-accordion>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>

    <pupa-accordion>
      Custom Header 🐴🐴
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>

    <pupa-accordion>
      <pupa-accordion-header>
        <pupa-accordion-title>Accordion without body</pupa-accordion-title>
      </pupa-accordion-header>
    </pupa-accordion>

    <pupa-accordion [kind]="'border'">
      <pupa-accordion-header>
        <pupa-accordion-title>Border accordion</pupa-accordion-title>
      </pupa-accordion-header>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
  </div>
</div>
