@use 'functions';

:host {
  display: flex;
  font-size: 4rem;
  width: 7rem;
  transition: color functions.variable(transition-duration_shortest)
    functions.variable(transition-timing-function_common);
  color: var(--select-option-icon-color);
}
