<h1>Table Input</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-table-input
      class="control"
      [formControl]="formControl"
      [errorTitle]="'Неправильное значение'"
      [hoverIconName]="(hasCustomHoverIcon | async) ? 'ios-add-circle' : null"
      [errorIconName]="(hasCustomErrorIcon | async) ? 'ios-heart' : null"
      placeholder="Введите значение"
    ></pupa-table-input>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #hasCustomHoverIcon>Custom hover icon</demo-props-checkbox>
    <demo-props-checkbox #hasCustomErrorIcon>Custom error icon</demo-props-checkbox>
    <demo-props-checkbox #touched (change)="markAsTouched(formControl.touched)">Touched</demo-props-checkbox>
    <demo-props-form-control-disabled [control]="formControl"></demo-props-form-control-disabled>
    <demo-props-form-control-validators [control]="formControl" [validators]="validators">
    </demo-props-form-control-validators>
  </demo-example-viewer-properties>
</demo-example-viewer>
