<span>vertical orientation:</span>
<div class="divider-container divider-container_vertical">
  <pupa-button-icon icon="app-download" kind="secondary"></pupa-button-icon>
  <pupa-divider orientation="vertical" class="divider"></pupa-divider>
  <pupa-button-icon icon="app-edit" kind="secondary"></pupa-button-icon>
  <pupa-divider orientation="vertical" class="divider"></pupa-divider>
  <pupa-button-icon icon="app-delete" kind="secondary"></pupa-button-icon>
</div>

<span>horizontal orientation:</span>
<div class="divider-container divider-container_horizontal">
  <pupa-option>Option</pupa-option>
  <pupa-divider orientation="horizontal"></pupa-divider>
  <pupa-option>Option</pupa-option>
  <pupa-divider orientation="horizontal"></pupa-divider>
  <pupa-option>Option</pupa-option>
</div>
