<h1>Table</h1>

<h2>Basic usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-table-example-1></demo-table-example-1>
</pupa-code-container>

<h2>Sortable and resizable columns</h2>
<pupa-code-container [content]="example2Content">
  <demo-table-example-2></demo-table-example-2>
</pupa-code-container>

<h2>Columns fixed position</h2>
<pupa-code-container [content]="example3Content">
  <demo-table-example-3></demo-table-example-3>
</pupa-code-container>

<h2>Custom templates</h2>
<pupa-code-container [content]="example4Content">
  <demo-table-example-4></demo-table-example-4>
</pupa-code-container>

<h2>Adaptive</h2>
<pupa-code-container [content]="example5Content">
  <demo-table-example-5></demo-table-example-5>
</pupa-code-container>

<h2>Controller actions and events</h2>
<pupa-code-container [content]="example6Content">
  <demo-table-example-6></demo-table-example-6>
</pupa-code-container>

<h2>Requests to backend</h2>
<pupa-code-container [content]="example7Content">
  <demo-table-example-7></demo-table-example-7>
</pupa-code-container>
