<h1>Table</h1>

<demo-page>
  <div *demoPageTab='"overview"'>
    <h2>Basic usage</h2>
    <pupa-code-container [content]="example1Content">
      <demo-table-example-1 *pupaCodeContainerPreviewTemplate></demo-table-example-1>
    </pupa-code-container>

    <h2>Sortable and resizable columns</h2>
    <pupa-code-container [content]="example2Content">
      <demo-table-example-2 *pupaCodeContainerPreviewTemplate></demo-table-example-2>
    </pupa-code-container>

    <h2>Columns fixed position</h2>
    <pupa-code-container [content]="example3Content">
      <demo-table-example-3 *pupaCodeContainerPreviewTemplate></demo-table-example-3>
    </pupa-code-container>

    <h2>Custom templates</h2>
    <pupa-code-container [content]="example4Content">
      <demo-table-example-4 *pupaCodeContainerPreviewTemplate></demo-table-example-4>
    </pupa-code-container>

    <h2>Adaptive</h2>
    <pupa-code-container [content]="example5Content">
      <demo-table-example-5 *pupaCodeContainerPreviewTemplate></demo-table-example-5>
    </pupa-code-container>

    <h2>Controller actions and events</h2>
    <pupa-code-container [content]="example6Content">
      <demo-table-example-6 *pupaCodeContainerPreviewTemplate></demo-table-example-6>
    </pupa-code-container>

    <h2>Requests to backend</h2>
    <pupa-code-container [content]="example7Content">
      <demo-table-example-7 *pupaCodeContainerPreviewTemplate></demo-table-example-7>
    </pupa-code-container>

    <h2>Requests to backend with TablePagedDataProducer</h2>
    <pupa-code-container [content]="example8Content">
      <demo-table-example-8 *pupaCodeContainerPreviewTemplate></demo-table-example-8>
    </pupa-code-container>
  </div>
</demo-page>
