@use 'mixins' as *;
@use 'functions' as *;

$buttonLargeBorderRadius: 1rem;
$buttonMediumBorderRadius: 0.75rem;
$buttonSmallBorderRadius: 0.5rem;

:host {
  appearance: none;
  user-select: none;
  pointer-events: none;
  display: inline-block;
}

.button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  position: relative;
  display: flex;
  pointer-events: auto;

  @include no-tap-highlight();

  &_disabled {
    cursor: not-allowed;
  }

  &:focus-visible:not(:disabled) {
    outline: 0.5rem solid semantic-color(lines-accent);
  }

  &__content {
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    gap: 2rem;

    &.reversed-direction {
      flex-direction: row-reverse;
    }

    .hidden {
      opacity: 0;
    }

    &-inner {
      white-space: nowrap;
      pointer-events: none;
      overflow: hidden;

      &:empty {
        display: none;
      }
    }
  }

  &__icon {
    min-width: 1em;
    pointer-events: none;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
  }

  /** sizes */
  &_xl {
    height: 10rem;
    padding: 3rem;
    @include font-preset-h6();
    border-radius: $buttonLargeBorderRadius;

    .button__icon {
      font-size: 4rem;
    }
  }

  &_l {
    height: 8rem;
    padding: 2rem;
    @include font-preset-h6();
    border-radius: $buttonLargeBorderRadius;

    .button__icon {
      font-size: 4rem;
    }
  }

  &_m {
    height: 6rem;
    padding: 1rem 2rem;
    @include font-preset-h6();
    border-radius: $buttonMediumBorderRadius;

    &.icon-button {
      padding: 1.25rem;
      border-radius: 1rem;
    }

    .button__icon {
      font-size: 3.5rem;
    }
  }

  &_s {
    height: 5rem;
    padding: 0.5rem 1.5rem;
    @include font-preset-h6();
    border-radius: $buttonMediumBorderRadius;

    &.icon-button {
      padding: 1rem;
      border-radius: 1rem;
    }

    .button__icon {
      font-size: 3rem;
    }

    .button__content {
      gap: 1.5rem;
    }
  }

  &_xs {
    height: 4rem;
    padding: 0.5rem 1.5rem;
    @include font-preset-h7();
    border-radius: $buttonSmallBorderRadius;

    &.icon-button {
      padding: 0.5rem;
      border-radius: 1rem;
    }

    .button__icon {
      font-size: 3rem;
    }

    .button__content {
      gap: 1.5rem;
    }
  }

  /** colors */

  &_primary.button_active {
    background-color: semantic-color(kind-primary-pressed);
  }

  &_primary {
    background-color: semantic-color(kind-primary-normal);
    color: var(--button_text-color, semantic-color(text-inverse));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-inverse));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-primary-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-primary-pressed);
    }

    &:disabled {
      background-color: semantic-color(kind-primary-disabled);
      color: semantic-color(text-disabled);
      cursor: not-allowed;

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }

  &_secondary.button_active {
    background-color: semantic-color(kind-opacity-pressed);
  }

  &_secondary {
    background-color: transparent;
    color: var(--button_text-color, semantic-color(text-primary));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-primary));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-opacity-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-opacity-pressed);
    }

    &:disabled {
      color: semantic-color(text-disabled);

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }

  &_border.button_active {
    background-color: semantic-color(kind-opacity-pressed);
  }

  &_border {
    background-color: transparent;
    border: 0.25rem solid semantic-color(lines-opacity);
    color: var(--button_text-color, semantic-color(text-primary));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-primary));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-opacity-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-opacity-pressed);
    }

    &:disabled {
      color: semantic-color(text-disabled);

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }

  &_success.button_active {
    background-color: semantic-color(kind-success-pressed);
  }

  &_success {
    background-color: semantic-color(kind-success-normal);
    color: var(--button_text-color, semantic-color(text-inverse));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-inverse));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-success-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-success-pressed);
    }

    &:disabled {
      background-color: semantic-color(kind-primary-disabled);
      color: semantic-color(text-disabled);

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }

  &_warning.button_active {
    background-color: semantic-color(kind-warning-pressed);
  }

  &_warning {
    background-color: semantic-color(kind-warning-normal);
    color: var(--button_text-color, semantic-color(text-inverse));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-inverse));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-warning-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-warning-pressed);
    }

    &:disabled {
      background-color: semantic-color(kind-primary-disabled);
      color: semantic-color(text-disabled);

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }

  &_danger.button_active {
    background-color: semantic-color(kind-danger-pressed);
  }

  &_danger {
    background-color: semantic-color(kind-danger-normal);
    color: var(--button_text-color, semantic-color(text-inverse));

    .button__icon {
      color: var(--button_icon-color, semantic-color(icons-inverse));
    }

    &:not(:disabled) {
      @include hover() {
        background-color: semantic-color(kind-danger-hover);
      }
    }

    &:active:not(:disabled) {
      background-color: semantic-color(kind-danger-pressed);
    }

    &:disabled {
      background-color: semantic-color(kind-primary-disabled);
      color: semantic-color(text-disabled);

      .button__icon {
        color: semantic-color(icons-disabled);
      }
    }
  }
}
