<pupa-callout variant="info" [isClosable]="true">Info</pupa-callout>
<pupa-callout variant="success" [isClosable]="true">Success</pupa-callout>
<pupa-callout variant="warning" [isClosable]="true">Warning</pupa-callout>
<pupa-callout variant="danger" [isClosable]="true">Danger</pupa-callout>
<pupa-callout [isClosable]="true">
  <pupa-code-inline>JavaScript</pupa-code-inline> is a text-based programming language used both on the
  <strong>client-side and server-side</strong> that allows you to make <em>web pages interactive</em>.
</pupa-callout>
