@use 'mixins';

:host {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-style: normal;

  line-height: 3rem;

  @include mixins.font-preset-caption-xxs();
}
