<h1>Chip button</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-chip-button [disabled]="disabled | async">
      Sample chip button
      <pupa-icon *ngIf="withIcon | async" name="close-circle"></pupa-icon>
    </pupa-chip-button>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #withIcon>With icon</demo-props-checkbox>
    <demo-props-checkbox #disabled>Disabled</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
