<h1>Badge</h1>
<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Simple usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-badge-example-1 *pupaCodeContainerPreviewTemplate></demo-badge-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Badges with counters</h3>
    <pupa-code-container [content]="example2Content">
      <demo-badge-example-2 *pupaCodeContainerPreviewTemplate></demo-badge-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Badge size</h3>
    <pupa-code-container [content]="example3Content">
      <demo-badge-example-3 *pupaCodeContainerPreviewTemplate></demo-badge-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Badge indicators</h3>
    <pupa-callout>Small badge size are perfect for indicators.</pupa-callout>
    <pupa-code-container [content]="example4Content">
      <demo-badge-example-4 *pupaCodeContainerPreviewTemplate></demo-badge-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Badge marker block</h3>
    <pupa-code-container [content]="example5Content">
      <demo-badge-example-5 *pupaCodeContainerPreviewTemplate></demo-badge-example-5>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div class="content">
          <pupa-badge *ngIf="size$ | async as size">
            <pupa-badge-marker [size]="size">
              <pupa-counter *ngIf="size === 'medium'" [count]="99" color="primary"></pupa-counter>
              <pupa-badge-indicator *ngIf="size === 'small'" [state]="state$ | async"></pupa-badge-indicator>
            </pupa-badge-marker>
            Badge marker
          </pupa-badge>

          <pupa-badge>
            Badge indicator
            <pupa-badge-marker size="small">
              <pupa-badge-indicator [state]="state$ | async"></pupa-badge-indicator>
            </pupa-badge-marker>
          </pupa-badge>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="BadgeMarkerSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the badge marker.</ng-container>
          <demo-props-radio-select #size$ [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="state" type="BadgeIndicatorState">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the state of the badge indicator.</ng-container>
          <demo-props-select #state$ [options]="stateOptions"></demo-props-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
