<div class="wrapper">
  <pupa-dnd-host
    class="element"
    [dndHostId]="dndHost1Id"
    (dndMove)="processMoved1($event)"
    (dndDrop)="processDropped1($event)"
    [sourceType]="sourceType"
    [targetType]="targetType"
    [dndCloneItemsTemplateRef]="templateRef"
  >
    <pupa-dnd-indicator
      *ngIf="dndIndicatorTopPx1$ | async"
      [topCoordsPx]="dndIndicatorTopPx1$ | async"
    ></pupa-dnd-indicator>

    <pupa-option
      *ngFor="let data of dndHost1Data"
      pupaDndItem
      [dndItemData]="data"
      [dndItemIdGetter]="dndItemIdGetter"
      [canBeDroppableFor]="canBeDroppableForFunc"
    >
      {{ data.payload }}
    </pupa-option>
  </pupa-dnd-host>

  <pupa-dnd-host
    class="element"
    [dndHostId]="dndHost2Id"
    (dndMove)="processMoved2($event)"
    (dndDrop)="processDropped2($event)"
    [sourceType]="sourceType"
    [targetType]="targetType"
    [dndCloneItemsTemplateRef]="templateRef"
  >
    <pupa-dnd-indicator
      *ngIf="dndIndicatorTopPx2$ | async"
      [topCoordsPx]="dndIndicatorTopPx2$ | async"
    ></pupa-dnd-indicator>

    <pupa-option
      *ngFor="let data of dndHost2Data"
      pupaDndItem
      [dndItemData]="data"
      [dndItemIdGetter]="dndItemIdGetter"
      [canBeDroppableFor]="canBeDroppableForFunc"
    >
      {{ data.payload }}
    </pupa-option>
  </pupa-dnd-host>
</div>

<ng-template #templateRef let-items>
  <pupa-dnd-clone-items [dndSourceItems]="items">
    <ng-container *pupaDndCloneItemTemplate="let data">{{ data.payload }}</ng-container>
  </pupa-dnd-clone-items>
</ng-template>
