@use 'mixins' as *;
@use 'functions' as *;
@use '../../tag-preset.styles.scss' as *;
@use '../../tag.styles.scss';

:host {
  outline: none;
  display: inline;
}

.tag {
  @include font-preset-h6();
  display: inline;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  min-height: 5rem;
  color: semantic-color(text-inverse);
  line-height: 6rem;
  vertical-align: middle;
}
