@use 'mixins';
@use 'functions';
@use '../../tag.styles.scss';

:host {
  outline: none;
  display: inline;
}

.pupa-tag {
  @include mixins.font-preset-h6();
  display: inline;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  min-height: 5rem;
  color: functions.semantic-color(text-inverse);
  line-height: 6rem;
  vertical-align: middle;
}
