<pupa-stepper-container>
  <pupa-stepper>
    <pupa-stepper-item name="step1">Step 1</pupa-stepper-item>
    <pupa-stepper-item name="step2">Step 2</pupa-stepper-item>
    <pupa-stepper-item name="step3">Step 3</pupa-stepper-item>
    <pupa-stepper-item name="step4">Step 4</pupa-stepper-item>
    <pupa-stepper-item name="step5">Step 5</pupa-stepper-item>
    <pupa-stepper-item name="step6">Step 6</pupa-stepper-item>
  </pupa-stepper>

  <pupa-stepper-content>
    <div class="step" *pupaStepperItemContentTemplate="'step1'">Step 1 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step2'">Step 2 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step3'">Step 3 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step4'">Step 4 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step5'">Step 5 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step6'">Step 6 content</div>
  </pupa-stepper-content>
</pupa-stepper-container>
