@import 'themes/functions';
@import 'mixins';
@import 'functions';

:host {
  display: block;
}

.form {
  @include flex-container(column);
  &__control {
    width: 60rem;
    &-date {
      width: fit-content;
    }
  }
  &__control ~ &__control {
    margin-top: 1rem;
  }
  pupa-label {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.hidden {
  opacity: 0;
}
