<h1>Input</h1>

<demo-example-viewer>
  <demo-example-viewer-content class="form">
    <pupa-label [disabled]="textControl.disabled">pupa-input-text</pupa-label>
    <pupa-input-text
      class="form__control"
      [size]="size | async"
      [icon]="(withIcon | async) ? 'ios-help-circle' : ''"
      [placeholder]="placeholder"
      [formControl]="textControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-text>

    <pupa-label [disabled]="passwordControl.disabled">pupa-input-password</pupa-label>
    <pupa-input-password
      class="form__control"
      [size]="size | async"
      [placeholder]="placeholder"
      [formControl]="passwordControl"
      [autocomplete]="false"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-password>

    <pupa-label [disabled]="numberControl.disabled">pupa-input-number</pupa-label>
    <pupa-input-number
      class="form__control"
      [size]="size | async"
      [icon]="(withIcon | async) ? 'ios-help-circle' : ''"
      [placeholder]="placeholder"
      [formControl]="numberControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-number>

    <pupa-label [disabled]="timeFormControl.disabled">pupa-input-time</pupa-label>
    <pupa-input-time
      class="form__control form__control_date"
      [formControl]="timeFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-time>

    <pupa-label [disabled]="timeSecondsFormControl.disabled">pupa-input-time-seconds</pupa-label>
    <pupa-input-time-seconds
      class="form__control form__control_date"
      [formControl]="timeSecondsFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-time-seconds>

    <pupa-label [disabled]="dateFormControl.disabled">pupa-input-date</pupa-label>
    <pupa-input-date
      class="form__control form__control_date"
      [withReset]="withReset | async"
      [formControl]="dateFormControl"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-date>

    <pupa-label [disabled]="dateTimeFormControl.disabled">pupa-input-date-time</pupa-label>
    <pupa-input-date-time
      class="form__control form__control_date"
      [formControl]="dateTimeFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-date-time>

    <pupa-label [disabled]="dateTimeSecondsFormControl.disabled">pupa-input-date-time-seconds</pupa-label>
    <pupa-input-date-time-seconds
      class="form__control form__control_date"
      [formControl]="dateTimeSecondsFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-date-time-seconds>

    <pupa-label [disabled]="rangeFormControl.disabled">pupa-input-date-range</pupa-label>
    <pupa-input-date-range
      class="form__control form__control_date"
      [formControl]="rangeFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-date-range>

    <pupa-label [disabled]="rangeDoubleFormControl.disabled">pupa-input-date-range-double</pupa-label>
    <pupa-input-date-range-double
      class="form__control form__control_date"
      [formControl]="rangeDoubleFormControl"
      [withReset]="withReset | async"
      [invalidTooltipContentTemplate]="errorTemplate"
    ></pupa-input-date-range-double>
  </demo-example-viewer-content>

  <demo-example-viewer-properties class="input-demo__properties">
    <demo-props-group-label>Control</demo-props-group-label>
    <demo-props-form-control-disabled [control]="propertyControl"></demo-props-form-control-disabled>
    <demo-props-form-control-validators [controlsList]="controlsList" [validators]="validators">
    </demo-props-form-control-validators>
    <demo-props-checkbox #withIcon>With custom icon</demo-props-checkbox>
    <demo-props-checkbox #withReset>With Reset</demo-props-checkbox>

    <demo-props-group-label>Size</demo-props-group-label>
    <demo-props-radio-select #size [options]="sizeOptions"></demo-props-radio-select>
  </demo-example-viewer-properties>
</demo-example-viewer>

<ng-template #errorTemplate>
  <li>Поле обязательно для заполнения</li>
</ng-template>
