<h1>Input</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <ng-container [ngSwitch]="type | async">
      <ng-container *ngSwitchCase="'text'">
        <pupa-input-text
          #input
          class="control"
          [size]="size | async"
          [placeholder]="placeholder"
          [transparent]="transparent | async"
          [formControl]="formControl"
        ></pupa-input-text>
      </ng-container>

      <ng-container *ngSwitchCase="'password'">
        <pupa-input-password
          #input
          class="control"
          [size]="size | async"
          [placeholder]="placeholder"
          [transparent]="transparent | async"
          [formControl]="formControl"
        ></pupa-input-password>
      </ng-container>

      <ng-container *ngSwitchCase="'number'">
        <pupa-input-number
          #input
          class="control"
          [size]="size | async"
          [placeholder]="placeholder"
          [transparent]="transparent | async"
          [formControl]="formControl"
        ></pupa-input-number>
      </ng-container>
    </ng-container>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Size</demo-props-group-label>
    <demo-props-radio-select #size [options]="sizeOptions"></demo-props-radio-select>

    <demo-props-group-label>Type</demo-props-group-label>
    <demo-props-radio-select #type [options]="typeOptions"></demo-props-radio-select>

    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-form-control-disabled [control]="formControl"></demo-props-form-control-disabled>
    <demo-props-form-control-validators [control]="formControl" [validators]="validators">
    </demo-props-form-control-validators>
    <demo-props-checkbox #transparent>Transparent</demo-props-checkbox>

    <demo-props-group-label>Actions</demo-props-group-label>
    <pupa-button (click)="focus()">Focus on input element</pupa-button>
  </demo-example-viewer-properties>
</demo-example-viewer>
