@import 'themes/functions';
@import 'mixins';
@import 'functions';

.container {
  margin: 0;
  position: relative;

  &__code {
    @include font-size-small();
    font-family: monospace;
  }

  &__copy-button {
    position: absolute;
    top: newRems(4);
    right: newRems(2);
  }
}

.hljs:not(:empty) {
  padding: newRems(3) newRems(4);
  font-family: monospace;
  word-wrap: break-word;
  white-space: pre-wrap;
}
