@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 72rem;
  max-width: 76rem;
  overflow: hidden;
}

.dropdown-content {
  &__menu {
    user-select: none;
    overflow: auto;
    box-sizing: border-box;
    max-height: 72rem;

    border-color: semantic-color(lines-normal);
    background-color: semantic-color(surface-primary, alpha-4);

    &:focus {
      outline: none;
    }
  }

  &__scrollable-content {
    width: 100%;
    padding: 2rem 0;
  }
}
