@use 'functions';

:host {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 72rem;
  max-width: 76rem;
  overflow: hidden;
}

.pupa-dropdown-content {
  &__menu {
    user-select: none;
    overflow: auto;
    box-sizing: border-box;
    max-height: 72rem;

    border-color: functions.semantic-color(lines-normal);
    background-color: functions.semantic-color(surface-primary, alpha-4);

    &:focus {
      outline: none;
    }
  }

  &__scrollable-content {
    width: 100%;
    padding: 2rem 0;
  }
}
