<button
  type="button"
  class="trigger"
  [class]="size$ | async"
  [class.trigger_active]="isExpanded$ | async"
  [class.trigger_disabled]="isDisabled$ | async"
  [class.trigger_invalid]="isInvalid$ | async"
  [class.trigger_inline]="inline$ | async"
  (click)="processButtonClick()"
  (mousedown)="processTriggerTouch()"
  (touchstart)="processTriggerTouch()"
  cdkOverlayOrigin
  #overlayOrigin="cdkOverlayOrigin"
  #button
>
  <div class="trigger__text" [style.paddingRight.px]="rightPaddingPx$ | async">
    <ng-container *ngIf="triggerValueIsVisible$ | async; else placeholder">
      <ng-content></ng-content>
    </ng-container>
  </div>

  <div class="trigger__rotate-icon" [class.expanded]="isExpanded$ | async" (click)="toggleDropdown($event)">
    <pupa-icon name="app-chevron-down"></pupa-icon>
  </div>
</button>

<div class="icons">
  <pupa-icon *ngIf="isVisibleReset$ | async" class="icons__icon icons__icon-reset" name="m-abort" (click)="reset()">
  </pupa-icon>

  <pupa-icon
    *ngIf="isInvalid$ | async"
    class="icons__icon icons__icon-invalid"
    name="m-error"
    [pupaTooltip]="invalidTooltip$ | async"
    [tooltipHideOnHover]="invalidTooltipHideOnHover$ | async"
    [tooltipDisabled]="isInvalidTooltipDisabled$ | async"
    [tooltipContentTemplate]="invalidTooltipContentTemplate$ | async"
    (click)="button.click()"
  >
  </pupa-icon>
</div>

<ng-template #placeholder>
  <div class="placeholder">
    {{ placeholder$ | async }}
  </div>
</ng-template>
