<div class="tag-container">
  <pupa-tag>Default</pupa-tag>
  <pupa-tag color="primary">Primary Bold</pupa-tag>
  <pupa-tag color="green">Green Bold</pupa-tag>
  <pupa-tag color="red">Red Bold</pupa-tag>
  <pupa-tag color="yellow">Yellow Bold</pupa-tag>
</div>
<div class="tag-container">
  <pupa-tag color="primary" [bold]="false">Primary Normal</pupa-tag>
  <pupa-tag color="green" [bold]="false">Green Normal</pupa-tag>
  <pupa-tag color="red" [bold]="false">Red Normal</pupa-tag>
  <pupa-tag color="yellow" [bold]="false">Yellow Normal</pupa-tag>
</div>
