<pupa-tabs-container>
  <pupa-tabs>
    <pupa-tabs-item name="tab1"> Tab 1 </pupa-tabs-item>
    <pupa-tabs-item name="tab2"> Tab with very large content 2 </pupa-tabs-item>
  </pupa-tabs>

  <pupa-tabs-content [destroyable]="false">
    <div class="tab" *pupaTabsItemContentTemplate="'tab1'">
      <div class="tab__label">Tab 1 content</div>
      <pupa-input-text class="tab__control" [formControl]="control1"></pupa-input-text>
    </div>
    <div class="tab" *pupaTabsItemContentTemplate="'tab2'">
      <div class="tab__label">Tab 2 content</div>
      <pupa-input-text class="tab__control" [formControl]="control2"></pupa-input-text>
    </div>
  </pupa-tabs-content>
</pupa-tabs-container>
