<ng-container
  [ngTemplateOutlet]="template"
  [ngTemplateOutletContext]="{
    isDisabled: isDisabled$ | async,
    isSelected: isSelected$ | async,
    labelSize: labelSize$ | async,
    isWithLabel: isWithLabel$ | async
  }"
>
</ng-container>

<ng-template
  #template
  let-isDisabled="isDisabled"
  let-isSelected="isSelected"
  let-labelSize="labelSize"
  let-isWithLabel="isWithLabel"
>
  <section
    class="pupa-radio-control"
    [tabindex]="tabindex"
    [class.pupa-radio-control_disabled]="isDisabled"
    [class.pupa-radio-control_without-label]="!isWithLabel"
    (keydown.enter)="processClick()"
  >
    <div class="pupa-radio-control-marker-wrapper">
      <div
        class="pupa-radio-control-marker"
        [class.pupa-radio-control-marker_selected]="isSelected"
        [class.pupa-radio-control-marker_disabled]="isDisabled"
      >
        <div class="pupa-radio-control-marker__dot"></div>
      </div>
    </div>
    <div
      class="pupa-radio-control-label"
      [class.pupa-radio-control-label_selected]="isSelected"
      [class.pupa-radio-control-label_disabled]="isDisabled"
      [class.pupa-radio-control-label_small]="labelSize === 'small'"
      [class.pupa-radio-control-label_hidden]="!isWithLabel"
    >
      <ng-content></ng-content>
    </div>
  </section>
</ng-template>
