@use 'functions';
@use 'mixins';

.pupa-radio-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 1rem;
  gap: 2rem;
  padding: 2rem;
  position: relative;
  transition: background-color functions.variable(transition-duration_shorter)
    functions.variable(transition-timing-function_common);

  &:focus-visible {
    outline: none;

    &:not(.pupa-radio-control_disabled) {
      outline: 2px solid functions.semantic-color(lines-accent);
    }
  }

  &:not(.pupa-radio-control_disabled):not(.pupa-radio-control_without-label) {
    @include mixins.hover() {
      background: functions.semantic-color(kind-opacity-hover);
    }
  }

  &_disabled {
    cursor: not-allowed;
  }

  &_without-label {
    height: auto;
    padding: 0;
  }
}

.pupa-radio-control-marker-wrapper {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pupa-radio-control-marker {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: functions.semantic-color(surface-primary);
  border: 1px solid functions.semantic-color(text-secondary);
  transition: background-color functions.variable(transition-duration_shorter)
      functions.variable(transition-timing-function_common),
    transform functions.variable(transition-duration_shorter) functions.variable(transition-timing-function_common);

  &_selected {
    background: functions.semantic-color(kind-primary-normal);
    border: none;
  }

  &:focus-visible:not(.pupa-radio-control-marker_disabled) {
    transform: scale(1.14);
    border: 2px solid functions.semantic-color(lines-accent);
    outline: none;

    &:not(.pupa-radio-control-marker_selected) {
      background: functions.semantic-color(kind-primary-normal, kind-opacity-active);
    }
  }

  &__dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: background-color functions.variable(transition-duration_shorter)
      functions.variable(transition-timing-function_common);
    background: transparent;
    width: 1rem;
    height: 1rem;
  }

  &_selected .pupa-radio-control-marker__dot {
    background: functions.semantic-color(surface-primary);
  }

  &_disabled {
    border-color: functions.semantic-color(text-disabled);

    &.pupa-radio-control-marker_selected {
      background: functions.semantic-color(icons-disabled);
    }
  }
}

.pupa-radio-control-label {
  user-select: none;
  z-index: 2;
  transition: color functions.variable(transition-duration_shorter)
    functions.variable(transition-timing-function_common);

  @include mixins.font-size-xs();

  &_small {
    @include mixins.font-size-xxs();
  }

  &_disabled {
    color: functions.semantic-color(text-disabled);
  }

  &_disabled.pupa-radio-control-label_selected {
    color: functions.semantic-color(text-disabled);
  }

  &_hidden {
    display: none;
  }
}
