@use 'demo/styles/demo-functions' as *;
@use 'demo/styles/demo-variables' as *;
@use 'mixins' as *;

:host {
  min-width: 200px;

  color: color(base-n600);
  background-color: transparent;
  border-left: 1px solid color(base-white-n400);
  @include host-selector-dark-theme() {
    color: color(base-n0);
    background-color: transparent;
    border-left: 1px solid color(base-dark-n400);
  }

  padding: 0 16px 16px 16px;
}
