<div class="base-input-container date time-seconds" [class.fixed-size]="isFixedSize$ | async">
  <pupa-droppable #droppable>
    <pupa-droppable-trigger class="dropdown-trigger">
      <div
        class="input-wrapper"
        [ngClass]="resultClassList$ | async"
        (click)="handleContainerClick($event)"
        (mousedown)="handleContainerStartEvents($event)"
      >
        <pupa-icon
          *ngIf="leftIcon$ | async as leftIcon"
          class="input-icon input-icon_custom"
          [name]="leftIcon"
        ></pupa-icon>

        <!-- NOTE: ngModel is incorrect: use other mask instead -->
        <input
          class="input"
          #inputElement
          type="text"
          [placeholder]="dateTimeMask"
          [mask]="dateTimeMask"
          [attr.disabled]="(isDisabled$ | async) ? true : null"
          (input)="updateValue(inputElement.value)"
          (focus)="emitFocusEvent($event)"
          (blur)="emitBlurEvent($event)"
          [autocomplete]="autocomplete ? 'on' : 'off'"
          [value]="value$ | async"
          [ngModel]="value$ | async"
        />

        <pupa-icon
          class="input-icon input-icon_calendar"
          [name]="rightIconWithCondition$ | async"
          (mouseleave)="handleIconHover($event, false)"
          (mouseenter)="handleIconHover($event, true)"
          (click)="reset()"
        >
        </pupa-icon>

        <pupa-icon
          *ngIf="isInvalid$ | async"
          class="input-icon input-icon_invalid"
          name="m-error"
          [pupaTooltip]="invalidTooltip"
          [tooltipHideOnHover]="invalidTooltipHideOnHover"
          [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
          [tooltipContentTemplate]="invalidTooltipContentTemplate"
          (click)="inputElement.focus()"
        >
        </pupa-icon>
      </div>
    </pupa-droppable-trigger>

    <pupa-droppable-native-content>
      <pupa-date-picker
        *ngIf="droppable.isOpened"
        [withSeconds]="true"
        [selectedDate]="date$ | async"
        [selectionMode]="'date'"
        [isBackDating]="isBackDating$ | async"
        [availableEndDate]="availableEndDate$ | async"
        [hours]="hours$ | async"
        [minutes]="minutes$ | async"
        [seconds]="seconds$ | async"
        (selectedHours)="selectDateTimeHours($event)"
        (selectedMinutes)="selectDateTimeMinutes($event)"
        (selectedSeconds)="selectDateTimeSeconds($event)"
        (click)="handleFocusEvent($event)"
        (date)="selectDate($event)"
        [previewMode]="'simple-time'"
      ></pupa-date-picker>
    </pupa-droppable-native-content>
  </pupa-droppable>
</div>
