<pupa-select class="select" [placeholder]="'Placeholder'" [isMultiSelectionEnabled]="false" [formControl]="control">
  <pupa-select-trigger>
    {{ control.value }}
  </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let index of [1, 2, 3, 4, 5]" value="Option {{ index }}">
        Option {{ index }}
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<pupa-select class="select" [placeholder]="'Placeholder'" [isMultiSelectionEnabled]="false" [formControl]="control">
  <pupa-select-trigger>
    <pupa-tag [clickable]="true" [disabled]="control.disabled">
      <pupa-icon name="app-cube"></pupa-icon>
      {{ control.value }}
      <pupa-tag-delete-button></pupa-tag-delete-button>
    </pupa-tag>
  </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let index of [1, 2, 3, 4, 5]" value="Option {{ index }}">
        <pupa-icon name="app-cube"></pupa-icon>
        <pupa-tag [clickable]="true">Option {{ index }}</pupa-tag>
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<p>disabled option case</p>
<pupa-select
  class="select"
  [placeholder]="'Placeholder'"
  [isMultiSelectionEnabled]="false"
  [formControl]="controlWithIcon"
>
  <pupa-select-trigger>
    {{ controlWithIcon.value }}
  </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let index of [1, 2, 3]" value="Option {{ index }}" [hasCheckbox]="true">
        <pupa-icon name="app-cube"></pupa-icon>
        Option {{ index }}
      </pupa-select-option>
      <pupa-select-option
        *ngFor="let index of [4, 5]"
        value="Option {{ index }}"
        [isDisabled]="true"
        [hasCheckbox]="true"
      >
        <pupa-icon name="app-cube"></pupa-icon>
        Option {{ index }}
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>
