<pupa-theme-wrapper class="pupa-textarea-wrapper">
  <div
    (click)="open()"
    (mousedown)="$event.stopPropagation()"
    class="pupa-textarea-inline"
    [class]="size$ | async"
    [class.pupa-textarea-inline_disabled]="isDisabled$ | async"
    [class.pupa-textarea-inline_invalid]="isInvalid$ | async"
    [class.pupa-textarea-inline_collapsed]="!(isOpened$ | async)"
    #lineHeightSource
    #trigger
  >
    <span class="pupa-textarea-inline__content" [class.pupa-textarea-inline__content_hidden]="isOpened$ | async">
      <span *ngIf="isValueEmpty$ | async; else value" class="pupa-textarea-inline__placeholder">
        {{ placeholder$ | async }}
      </span>
    </span>
  </div>
  <div
    class="pupa-counter"
    [class.pupa-counter_invalid]="isInvalid$ | async"
    [class.pupa-counter_invisible]="isOpened$ | async"
    *ngIf="maxLength$ | async"
  >
    <span *ngIf="isCounterVisible$ | async">{{ counterValue$ | async }}</span
    >&nbsp;
  </div>
</pupa-theme-wrapper>

<ng-template #overlayTextarea>
  <pupa-theme-wrapper
    class="pupa-overlay-container"
    [class.pupa-overlay-container_opened]="isOpened$ | async"
    (mousedown)="$event.stopPropagation()"
    (wheel)="$event.stopPropagation()"
  >
    <div class="pupa-overlay-textarea">
      <label
        class="pupa-textarea"
        [class.pupa-textarea_disabled]="isDisabled$ | async"
        [class.pupa-textarea_invalid]="isInvalid$ | async"
        (mousedown)="processMouseDown($event)"
      >
        <pupa-scrollable #scrollable class="pupa-textarea__scrollable" [style.max-height.px]="maxHeightPx$ | async">
          <div class="pupa-textarea__wrapper" [style.min-height.px]="minHeightPx$ | async">
            <div class="pupa-textarea__pseudo-content">
              <span>{{ value$ | async }}&nbsp;<!-- &nbsp; removes content bouncing --></span>
            </div>
            <textarea
              #textarea
              pupaAutofocus
              class="pupa-textarea__control"
              [value]="value$ | async"
              [placeholder]="placeholder$ | async"
              [autocomplete]="autocomplete ? 'on' : 'off'"
              (focus)="emitFocusEvent($event)"
              (blur)="emitBlurEvent($event)"
              (input)="updateValue(textarea.value)"
              (keydown.enter)="preventEnterKeyEvent($event)"
            >
            </textarea>
          </div>
        </pupa-scrollable>
      </label>

      <pupa-icon class="pupa-close-icon" name="m-collapse" (click)="close()"></pupa-icon>

      <div
        class="pupa-counter counter_overlay"
        [class.pupa-counter_mobile]="isMobile$ | async"
        [class.pupa-counter_invalid]="isInvalid$ | async"
        *ngIf="maxLength$ | async"
      >
        <span *ngIf="isCounterVisible$ | async">{{ counterValue$ | async }}</span
        >&nbsp;
      </div>
    </div>
  </pupa-theme-wrapper>
</ng-template>

<ng-template #value>
  <span>{{ value$ | async }}</span>
</ng-template>
