<h1>Flex panel</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-flex-panel-example-1 *pupaCodeContainerPreviewTemplate></demo-flex-panel-example-1>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div class="content">
          <pupa-flex-panel
            [resizable]="resizable$ | async"
            [thresholdVw]="thresholdVw$ | async"
            (thresholdReached)="showThresholdReached()"
            (sizeChanged)="sizeChanged($event)"
          >
            <pupa-tree-new [controller]="controller" class="tree"></pupa-tree-new>
          </pupa-flex-panel>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="resizable" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>
            Configure the flex panel resizable or not. <br />
            <b>The maximum resize width equal to half user viewport</b> <br />
            flex panel is resizable: <b>{{ resizable$ | async }}</b
            >.
          </ng-container>
          <demo-props-select #resizable$ [options]="resizableOptions"></demo-props-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="thresholdVw" type="number">
          <ng-container *demoExampleViewerPropertyDescription>
            Threshold event trigger edge in: <b>{{ thresholdVw$ | async }}</b> <br />
            Configure threshold event trigger edge in percent of user viewport. <br />
            thresholdReached event was emitted: <b>{{ emitted$ | async }}</b
            >.
          </ng-container>
          <demo-props-select #thresholdVw$ [options]="thresholdVwOptions"></demo-props-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="output" name="sizeChanged" type="number">
          <ng-container *demoExampleViewerPropertyDescription>
            changeSize event triggered when user change sidebar width <br />
            if defaultSize is equal to changeSize value, event does not fire<br />
            changeSize was emitted value: <b>{{ currentSize$ | async }}</b
            >.
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
