<h1>Stepper</h1>

<h2>Basic usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-stepper-example-1 *pupaCodeContainerPreviewTemplate></demo-stepper-example-1>
</pupa-code-container>

<h2>Non destroyable step content</h2>
<pupa-code-container [content]="example2Content">
  <demo-stepper-example-2 *pupaCodeContainerPreviewTemplate></demo-stepper-example-2>
</pupa-code-container>

<h2>Control by router</h2>
<pupa-code-container [content]="example3Content">
  <demo-stepper-example-3 *pupaCodeContainerPreviewTemplate></demo-stepper-example-3>
</pupa-code-container>

<h2>Without default step content</h2>
<pupa-code-container [content]="example4Content">
  <demo-stepper-example-4 *pupaCodeContainerPreviewTemplate></demo-stepper-example-4>
</pupa-code-container>

<h2>Disabled step</h2>
<pupa-code-container [content]="example5Content">
  <demo-stepper-example-5 *pupaCodeContainerPreviewTemplate></demo-stepper-example-5>
</pupa-code-container>
