<div class="layout-drawer" [id]="componentDrawerData.id" [style.zIndex]="componentDrawerData.zIndex">
  <pupa-overlay
    *ngIf="componentDrawerData.enableOverlay"
    [clickable]="componentDrawerData.clickableOverlay"
    (onclick)="processOverlayClick()"
    [isVisible]="isVisible"
  ></pupa-overlay>
  <section
    class="drawer"
    [ngClass]="'drawer_' + componentDrawerData.float"
    [@drawerExpanded]="isVisible | ToString"
    (@drawerExpanded.done)="processAnimationEnd($event)"
  >
    <pupa-close-button
      *ngIf="componentDrawerData.closeButton"
      class="close-button"
      (onclick)="closeDrawer()"
    ></pupa-close-button>
    <div class="wrapper" [class.padding]="componentDrawerData.withPadding">
      <ng-container #container></ng-container>
    </div>
  </section>
</div>
