<pupa-section-container>
  <pupa-section-title>
    <div>Title</div>
  </pupa-section-title>

  <pupa-section-sub-title>
    <div>Sub title</div>
  </pupa-section-sub-title>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi et tempora repellat fugit tempore rem porro,
    voluptas, molestiae itaque, ipsam placeat obcaecati? Quasi hic ullam sunt repellendus voluptas magnam neque ipsam
    animi facilis, voluptate quas nulla eaque dolorum amet? Corrupti cupiditate eos et similique temporibus eum quos
    libero facere, error labore voluptas odio aspernatur porro saepe aut, totam amet reiciendis corporis! Ab nam nisi
    quos! Laborum reprehenderit quis a et, nobis architecto assumenda voluptatem ullam dolores dolor consectetur magni
    cum est possimus quisquam voluptate, harum nesciunt atque cupiditate, dolore optio id! Autem iusto distinctio odit
    ab quaerat corrupti quos modi.
  </div>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi et tempora repellat fugit tempore rem porro,
    voluptas, molestiae itaque, ipsam placeat obcaecati? Quasi hic ullam sunt repellendus voluptas magnam neque ipsam
    animi facilis, voluptate quas nulla eaque dolorum amet? Corrupti cupiditate eos et similique temporibus eum quos
    libero facere, error labore voluptas odio aspernatur porro saepe aut, totam amet reiciendis corporis! Ab nam nisi
    quos! Laborum reprehenderit quis a et, nobis architecto assumenda voluptatem ullam dolores dolor consectetur magni
    cum est possimus quisquam voluptate, harum nesciunt atque cupiditate, dolore optio id! Autem iusto distinctio odit
    ab quaerat corrupti quos modi.
  </div>

  <pupa-section-container>
    <pupa-section-title>
      <h3>Nested section</h3>
    </pupa-section-title>

    <pupa-accordion-group class="accordion-wrapper">
      <pupa-accordion>
        <pupa-accordion-header>
          <pupa-accordion-title>Accordion Title</pupa-accordion-title>
          <pupa-accordion-description>Accordion Description</pupa-accordion-description>
        </pupa-accordion-header>
        <pupa-accordion-body class="accordion-body">
          <pupa-card size="medium" *ngFor="let card of cards">
            <pupa-card-cover>
              <pupa-icon class="icon" name="app-cube"></pupa-icon>
            </pupa-card-cover>
            <pupa-card-header>
              <pupa-card-title>Basic medium card</pupa-card-title>
              <pupa-card-description>It's just a card</pupa-card-description>
            </pupa-card-header>
            <pupa-card-action>
              <pupa-button-icon kind="subtle" icon="app-more"></pupa-button-icon>
            </pupa-card-action>
          </pupa-card>
        </pupa-accordion-body>
      </pupa-accordion>

      <pupa-accordion>
        <pupa-accordion-header>
          <pupa-accordion-title>Accordion Title</pupa-accordion-title>
          <pupa-accordion-description>Accordion Description</pupa-accordion-description>
        </pupa-accordion-header>
        <pupa-accordion-body class="accordion-body">
          <pupa-card size="medium" *ngFor="let card of cards">
            <pupa-card-cover>
              <pupa-icon class="icon" name="app-cube"></pupa-icon>
            </pupa-card-cover>
            <pupa-card-header>
              <pupa-card-title>Basic medium card</pupa-card-title>
              <pupa-card-description>It's just a card</pupa-card-description>
            </pupa-card-header>
            <pupa-card-action>
              <pupa-button-icon kind="subtle" icon="app-chevron-right"></pupa-button-icon>
            </pupa-card-action>
          </pupa-card>
        </pupa-accordion-body>
      </pupa-accordion>

      <pupa-accordion>
        <pupa-accordion-header>
          <pupa-accordion-title>Accordion Title</pupa-accordion-title>
          <pupa-accordion-description>Accordion Description</pupa-accordion-description>
        </pupa-accordion-header>
        <pupa-accordion-body class="accordion-body">
          <pupa-card size="medium" *ngFor="let card of cards">
            <pupa-card-cover>
              <pupa-icon class="icon" name="app-cube"></pupa-icon>
            </pupa-card-cover>
            <pupa-card-header>
              <pupa-card-title>Basic medium card</pupa-card-title>
              <pupa-card-description>It's just a card</pupa-card-description>
            </pupa-card-header>
            <pupa-card-action>
              <pupa-button-icon kind="subtle" icon="app-chevron-right"></pupa-button-icon>
            </pupa-card-action>
          </pupa-card>
        </pupa-accordion-body>
      </pupa-accordion>
    </pupa-accordion-group>
  </pupa-section-container>
</pupa-section-container>
