<pupa-section-container>
  <pupa-section-title>
    <div>Form title</div>
    <pupa-icon name="app-cross"></pupa-icon>
  </pupa-section-title>
  <pupa-input-text></pupa-input-text>
  <pupa-input-text></pupa-input-text>
  <div class="controls-wrapper">
    <pupa-select>
      <pupa-select-trigger> Trigger </pupa-select-trigger>

      <pupa-select-dropdown>
        <pupa-select-options-container>
          <pupa-select-option [value]="'Option 1'">Option 1</pupa-select-option>
        </pupa-select-options-container>
      </pupa-select-dropdown>
    </pupa-select>

    <pupa-select>
      <pupa-select-trigger> Trigger </pupa-select-trigger>

      <pupa-select-dropdown>
        <pupa-select-options-container>
          <pupa-select-option [value]="'Option 1'">Option 1</pupa-select-option>
        </pupa-select-options-container>
      </pupa-select-dropdown>
    </pupa-select>
  </div>
  <pupa-textarea class="textarea" [minRows]="5" [placeholder]="'Placeholder'" [maxLength]="500"></pupa-textarea>
  <div class="controls-wrapper">
    <pupa-button class="wide-button" kind="secondary">Cancel</pupa-button>
    <pupa-button class="wide-button">Confirm</pupa-button>
  </div>
  <pupa-input-text></pupa-input-text>
</pupa-section-container>
