<h1>Paged Virtual Scroll Demo</h1>

<div class="demo-container">
  <pupa-input-text class="search-input" placeholder="search number" [formControl]="searchControl"></pupa-input-text>

  <div class="container">
    <pupa-paged-virtual-scroll-viewport
      [itemSize]="itemSize"
      [totalCount]="totalCount$ | async"
      (changeDataSource)="handleChangeDataSource($event)"
      (firstSliceCount)="handleChangeFirstSliceCount($event)"
      #pagedVirtualScrollViewport
    >
      <ng-container *pupaVirtualFor="let row of rows$ | async; trackByFunction: trackByFunction">
        <ng-container *ngIf="row; else emptyRow">
          <div class="row" [style.height.rem]="itemSize">element {{ row - 1 }}</div>
        </ng-container>
      </ng-container>
    </pupa-paged-virtual-scroll-viewport>
  </div>
</div>

<ng-template #emptyRow>
  <pupa-skeleton class="empty-row" [style.height.rem]="itemSize">
    <pupa-skeleton-group>
      <pupa-skeleton-line></pupa-skeleton-line>
    </pupa-skeleton-group>
  </pupa-skeleton>
</ng-template>
