@use 'mixins' as *;
@use 'functions' as *;

$height_container: 500px;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  width: 80%;
  height: $height_container;
  border: 4px color(neutral-1000) dashed;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color(primary-50);
  font-size: 20px;
  border-bottom: 1px solid color(neutral-500);
  box-sizing: content-box;
}

.empty-row {
  display: flex;
  align-items: center;
}

.search-input {
  margin: 2rem 0;
  width: 80%;
}
