@use 'mixins' as *;
@use 'functions' as *;

.block {
  display: block;
  width: 100px;
  height: 100px;

  @include landscape() {
    border-radius: unset;
    background-color: color(danger-500);
  }

  @include portrait() {
    border-radius: 50%;
    background-color: color(primary-500);
  }
}
