@use 'mixins' as *;
@use 'functions' as *;

.content {
  background-color: semantic-color(surface-primary);
  color: semantic-color(text-primary);
}

.scrollable-box {
  width: 75rem;
  height: 75rem;

  .text-content {
    width: 200%;
  }
}
