@use 'mixins' as *;
@use 'functions' as *;

.content {
  background-color: color(neutral-1);
  color: color(neutral-1000);

  @include host-selector-dark-theme() {
    background-color: color(neutral-1000);
    color: color(neutral-1);
  }
}

.scrollable-box {
  width: 300px;
  height: 300px;

  .text-content {
    width: 200%;
  }
}
