<h1>Scrollable</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-scrollable-example-1 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-1>
    </pupa-code-container>

    <h3 demoAnchor>With virtual scroll</h3>
    <pupa-code-container [content]="example2Content">
      <demo-scrollable-example-2 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Syncing with another scrollable</h3>
    <pupa-code-container [content]="example3Content">
      <demo-scrollable-example-3 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-3>
    </pupa-code-container>

    <h2 demoAnchor>Scrollbar visibility modes</h2>
    <pupa-code-container [content]="example4Content">
      <demo-scrollable-example-4 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-4>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content class="content" [isSticky]="true">
        <pupa-scrollable
          class="scrollable-box"
          [size]="size$ | async"
          [position]="position$ | async"
          [scrollDragMode]="scrollDragMode$ | async"
          [scrollVisibilityMode]="scrollVisibilityMode$ | async"
        >
          <div class="text-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem
            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </pupa-scrollable>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="ScrollbarSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the scrollbar.</ng-container>
          <demo-props-radio-select #size$ [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="position" type="ScrollbarPosition">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the position of the scrollbar.</ng-container>
          <demo-props-radio-select #position$ [options]="positionOptions"></demo-props-radio-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="scrollDragMode" type="Nullable<ScrollDragMode>">
          <ng-container *demoExampleViewerPropertyDescription>Enables scroll on drag on desktop devices.</ng-container>
          <demo-props-select #scrollDragMode$ [options]="scrollDragModeOptions"></demo-props-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="scrollVisibilityMode" type="ScrollVisibilityMode">
          <ng-container *demoExampleViewerPropertyDescription>
            Sets scrollbar visibility mode.
            <div>
              Default:
              <pupa-code-inline>always</pupa-code-inline>
            </div>
          </ng-container>
          <demo-props-radio-select
            #scrollVisibilityMode$
            [options]="scrollVisibilityModeOptions"
          ></demo-props-radio-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="invisibleScrollbars" type="ScrollbarType[]">
          <ng-container *demoExampleViewerPropertyDescription>Hide vertical and/or horizontal scrollbars.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="syncWith" type="ScrollableComponent[]">
          <ng-container *demoExampleViewerPropertyDescription
            >Sync scroll with another scrollable components.
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>Events</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="scrollTopChanged" type="EventEmitter<number>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emits scroll top position.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="scrollLeftChanged" type="EventEmitter<number>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emits scroll left position.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="verticalScrollVisibilityChanged"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emits vertical scroll visibility changed.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="horizontalScrollVisibilityChanged"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emits horizontal scroll visibility changed.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToHorizontalStart"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emits when horizontal scroll starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToHorizontalEnd"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emits when horizontal scroll ends.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToVerticalStart"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emits when vertical scroll starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="scrolledToVerticalEnd" type="EventEmitter<boolean>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emits when vertical scroll ends.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="contentDragStart" type="EventEmitter<void>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emits when content drag starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="contentDragEnd" type="EventEmitter<void>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emits when content drag ends.</ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
