<h1>Scrollable</h1>

<demo-example-viewer>
  <demo-example-viewer-content class="content" [isSticky]="false">
    <pupa-scrollable class="scrollable-box" [size]="size$ | async">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
      the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </pupa-scrollable>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="size" type="ScrollbarSize">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the scrollbar.</ng-container>
      <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h2>Basic usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-scrollable-example-1 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-1>
</pupa-code-container>

<h2>With virtual scroll</h2>
<pupa-code-container [content]="example2Content">
  <demo-scrollable-example-2 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-2>
</pupa-code-container>
