<h1>Scrollable</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h2>Basic usage</h2>
    <pupa-code-container [content]="example1Content">
      <demo-scrollable-example-1 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-1>
    </pupa-code-container>

    <h2>With virtual scroll</h2>
    <pupa-code-container [content]="example2Content">
      <demo-scrollable-example-2 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-2>
    </pupa-code-container>

    <h2>Syncing with another scrollable</h2>
    <pupa-code-container [content]="example3Content">
      <demo-scrollable-example-3 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-3>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content class="content" [isSticky]="false">
        <pupa-scrollable
          class="scrollable-box"
          [size]="size$ | async"
          [position]="position$ | async"
          [scrollDragMode]="scrollDragMode$ | async"
          [scrollDragMode]="'horizontal'"
          [invisibleScrollbars]="(invisibleScrollbars$ | async) || []"
        >
          <div class="text-content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem
            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </pupa-scrollable>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="ScrollbarSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the scrollbar.</ng-container>
          <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="position" type="ScrollbarPosition">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the position of the scrollbar.</ng-container>
          <demo-props-radio-select #position$ direction="row" [options]="positionOptions"></demo-props-radio-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="scrollDragMode" type="Nullable<ScrollDragMode>">
          <ng-container *demoExampleViewerPropertyDescription>Enables scroll on drag on desktop devices.</ng-container>
          <demo-props-radio-select
            #scrollDragMode$
            direction="row"
            [options]="scrollDragModeOptions"
          ></demo-props-radio-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="customStyles" type="InputStyleCustomization[]">
          <ng-container *demoExampleViewerPropertyDescription>Different input styles.</ng-container>
          <demo-props-select
            #invisibleScrollbars$
            [options]="invisibleScrollbarsOptions"
            [isMultiSelectionEnabled]="true"
          ></demo-props-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>Events</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="scrollTopChanged" type="EventEmitter<number>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emit scroll top position.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="scrollLeftChanged" type="EventEmitter<number>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emit scroll left position.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="verticalScrollVisibilityChanged"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emit vertical scroll visibility changed.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="horizontalScrollVisibilityChanged"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emit horizontal scroll visibility changed.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToHorizontalStart"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emit when horizontal scroll starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToHorizontalEnd"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emit when horizontal scroll ends.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property
          name="scrolledToVerticalStart"
          type="EventEmitter<boolean>"
          decoratorName="output"
        >
          <ng-container *demoExampleViewerPropertyDescription>Emit when vertical scroll starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="scrolledToVerticalEnd" type="EventEmitter<boolean>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emit when vertical scroll ends.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="contentDragStart" type="EventEmitter<void>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emit when content drag starts.</ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="contentDragEnd" type="EventEmitter<void>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Emit when content drag ends.</ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
