$fontSizeXXS: 2.5;
$lineHeightXXS: 3;

$fontSizeXS: 2.75;
$lineHeightXS: 4;

$fontSizeS: 3;
$lineHeightS: 4;

$fontSizeM: 3.5;
$lineHeightM: 4;

$fontSizeL: 4.25;
$lineHeightL: 6;

$fontSizeDesktopXL: 5.25;
$lineHeightDesktopXL: 7;
$fontSizeMobileXL: 4.25;
$lineHeightMobileXL: 6;

$fontSizeDesktopXXL: 6;
$lineHeightDesktopXXL: 8;
$fontSizeMobileXXL: 5;
$lineHeightMobileXXL: 7;
