@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  outline: none;
  z-index: 1;
}

.button-group-item {
  min-width: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-align: center;

  border-radius: $controlBorderRadius;

  color: semantic-color(text-secondary);

  &:not(&_disabled):not(&_active) {
    @include hover {
      background-color: semantic-color(kind-neutral-hover);
      color: semantic-color(text-primary);
    }
  }

  &_active {
    background-color: transparent;
    color: semantic-color(text-primary);

    box-shadow: 0 2px 8px color(neutral-1000, alpha-3);
  }

  &_disabled {
    cursor: not-allowed;
    color: semantic-color(text-disabled);
  }

  &_l {
    padding: 2rem 4rem;
  }

  &_m {
    padding: 5px 4rem;
  }

  &_s {
    @include font-size-xxs();
    padding: 1rem 4rem;
  }

  @include ellipsis-text-overflow();
  @include font-preset-caption-xs();
}
