@use 'mixins';
@use 'functions';
@use 'variables';

:host {
  display: block;
  outline: none;
  z-index: 1;
}

.pupa-button-group-item {
  min-width: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-align: center;

  border-radius: variables.$controlBorderRadius;

  color: functions.semantic-color(text-secondary);

  &:not(&_disabled):not(&_active) {
    @include mixins.hover {
      background-color: functions.semantic-color(kind-neutral-hover);
      color: functions.semantic-color(text-primary);
    }
  }

  &_active {
    background-color: transparent;
    color: functions.semantic-color(text-primary);

    box-shadow: 0 0.5rem 2rem functions.color(neutral-1000, alpha-3);
  }

  &_disabled {
    cursor: not-allowed;
    color: functions.semantic-color(text-disabled);
  }

  &_l {
    padding: 2rem 4rem;
  }

  &_m {
    padding: 1.25rem 4rem;
  }

  &_s {
    @include mixins.font-size-xxs();
    padding: 1rem 4rem;
  }

  @include mixins.ellipsis-text-overflow();
  @include mixins.font-preset-caption-xs();
}
