<pupa-select class="select" [placeholder]="'Placeholder'" [isMultiSelectionEnabled]="true" [formControl]="control">
  <pupa-select-trigger-tags class="trigger" [tags]="control.value"></pupa-select-trigger-tags>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let index of [1, 2, 3, 4, 5]" value="Option {{ index }}">
        <pupa-tag [clickable]="true">Option {{ index }}</pupa-tag>
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>
