<h1>Droppable</h1>
<div class="wrapper">
  <textarea class="placeholder"></textarea>

  <pupa-droppable>
    <pupa-droppable-trigger>
      🎄
    </pupa-droppable-trigger>
    <pupa-droppable-content>
      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
      "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию
      размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
      заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили
      публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
      вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто
      используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI
      века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum
      для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул
      в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
      в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
      используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
      является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
      создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не
      только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
      в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
      программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это
      текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на
      латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
      используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять
      веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset
      с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus
      PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в
      печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то
      время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
      распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
      электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в
      60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
      используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
      является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
      создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не
      только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
      в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
      программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
    </pupa-droppable-content>
  </pupa-droppable>

  <pupa-droppable [closeOnContentClick]="false">
    <pupa-droppable-trigger>
      🎈
    </pupa-droppable-trigger>
    <pupa-droppable-content>
      🎄🎄🎄🎄🎄🎄🎄🎄🎄🎄🎄🎄🎄🎄
    </pupa-droppable-content>
  </pupa-droppable>
</div>

<h3>Droppable Legacy</h3>
<div class="container">
  <div class="trigger trigger_big #trigger" #triggerBig>click me</div>
  <pupa-droppable-legacy [anchor]="triggerBig">
    <textarea class="placeholder" [textContent]="'тут может быть что угодно'"></textarea>
  </pupa-droppable-legacy>
  <pupa-icon-button #triggerSmall><ion-icon name="more"></ion-icon></pupa-icon-button>
  <pupa-droppable-legacy [horizontalPosition]="'right'" [anchor]="triggerSmall.nativeElement">
    <textarea class="placeholder" [textContent]="'тут может быть что угодно'"></textarea>
  </pupa-droppable-legacy>
</div>
