<div class="example-container">
  <div class="status-container">
    <pupa-status kind="line">Left marker position</pupa-status>
    <pupa-status kind="dot">Left marker position</pupa-status>
    <pupa-status kind="square">Left marker position</pupa-status>
  </div>

  <div class="status-container">
    <pupa-status kind="line" markerPosition="right">Right marker position</pupa-status>
    <pupa-status kind="dot" markerPosition="right">Right marker position</pupa-status>
    <pupa-status kind="square" markerPosition="right">Right marker position</pupa-status>
  </div>
</div>
