<pupa-scrollable
  #scrollable
  class="button-group"
  [class]="sizeClass$ | async"
  [invisibleScrollbars]="['horizontal', 'vertical']"
>
  <div class="button-group__container" #buttonGroupContainer>
    <div class="button-group__rail-container">
      <div class="button-group__rail button-group-rail">
        <div
          [style.width.px]="railHighlighterWidthPx$ | async"
          [style.transform]="railHighlighterOffsetLeftTransform$ | async"
          class="button-group-rail__highlighter"
        ></div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</pupa-scrollable>
