@use 'mixins' as *;

.controls-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;

  @include xs() {
    align-items: normal;
    justify-content: center;
    flex-direction: column;
  }

  &__block {
    flex: 1;
  }
}

.control-label {
  margin-bottom: 1rem;
  display: block;
}

.controls-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;

  @include lt-md() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xs() {
    grid-template-columns: repeat(1, 1fr);
  }
}
