<h1>Input</h1>

<demo-page>
  <div *demoPageTab="'overview'" class="overview">
    <h4>All inputs & Validation</h4>
    <pupa-code-container [content]="allInputsExampleContent">
      <demo-input-demo-example-all-inputs *pupaCodeContainerPreviewTemplate></demo-input-demo-example-all-inputs>
    </pupa-code-container>

    <h4>Input size</h4>
    <pupa-code-container [content]="sizeExampleContent">
      <demo-input-demo-example-size *pupaCodeContainerPreviewTemplate></demo-input-demo-example-size>
    </pupa-code-container>

    <h4>Patched input</h4>
    <pupa-code-container [content]="isPatchedExampleContent">
      <demo-input-demo-example-is-patched *pupaCodeContainerPreviewTemplate></demo-input-demo-example-is-patched>
    </pupa-code-container>

    <h4>Invalid tooltip</h4>
    <pupa-info-block variant="note">Displayed when hovering over the icon in the input field.</pupa-info-block>
    <pupa-code-container [content]="tooltipExampleContent">
      <demo-input-demo-example-tooltip *pupaCodeContainerPreviewTemplate></demo-input-demo-example-tooltip>
    </pupa-code-container>

    <h4>With reset</h4>
    <pupa-info-block variant="note"
      >Available only for pupa-input-text, pupa-input-number and pupa-input-time</pupa-info-block
    >
    <pupa-code-container [content]="withResetExampleContent">
      <demo-input-demo-example-with-reset *pupaCodeContainerPreviewTemplate></demo-input-demo-example-with-reset>
    </pupa-code-container>

    <h4>Input styles</h4>
    <pupa-code-container [content]="stylesExampleContent">
      <demo-input-demo-example-styles *pupaCodeContainerPreviewTemplate></demo-input-demo-example-styles>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div
          class="controls-list"
          *pupaLet="
            {
              withReset: withReset$ | async,
              isPatched: isPatched$ | async,
              invalidTooltipHideOnHover: invalidTooltipHideOnHover$ | async,
              invalidTooltipDisabled: invalidTooltipDisabled$ | async,
              size: size$ | async
            };
            let withReset = withReset;
            let isPatched = isPatched;
            let invalidTooltipHideOnHover = invalidTooltipHideOnHover;
            let invalidTooltipDisabled = invalidTooltipDisabled;
            let size = size
          "
        >
          <div class="controls-list__block">
            <pupa-label class="control-label" [disabled]="textControl.disabled">pupa-input-text</pupa-label>
            <pupa-input-text
              class="form__control"
              [formControl]="textControl"
              [size]="size"
              [withReset]="withReset"
              [isPatched]="isPatched"
              [placeholder]="placeholderFormControl.value"
              [invalidTooltipContentTemplate]="errorTemplate"
              [invalidTooltipHideOnHover]="invalidTooltipHideOnHover"
              [invalidTooltipDisabled]="invalidTooltipDisabled"
              [invalidTooltip]="tooltipTextFormControl.value"
              [icon]="inputIconFormControl.value"
            ></pupa-input-text>
          </div>

          <div class="controls-list__block">
            <pupa-label class="control-label" [disabled]="timeFormControl.disabled">pupa-input-time</pupa-label>
            <pupa-input-time
              class="form__control form__control_date"
              [formControl]="timeFormControl"
              [size]="size"
              [withReset]="withReset"
              [isPatched]="isPatched"
              [invalidTooltipHideOnHover]="invalidTooltipHideOnHover"
              [invalidTooltipContentTemplate]="errorTemplate"
              [invalidTooltipDisabled]="invalidTooltipDisabled"
              [invalidTooltip]="tooltipTextFormControl.value"
            ></pupa-input-time>
          </div>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-config-item name="Set form control to disabled state">
          <demo-props-form-control-disabled [control]="isDisabledControl"></demo-props-form-control-disabled>
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>formControl.disable()</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>

        <demo-example-viewer-config-item name="Set form control validators">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>formControl.setValidators()</pupa-code-inline>
          </ng-container>
          <demo-props-form-control-validators
            [controlsList]="controlsList"
            [validators]="validators"
            [initialValue]="true"
          ></demo-props-form-control-validators>
        </demo-example-viewer-config-item>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="InputSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the element.</ng-container>
          <demo-props-radio-select #size$ [options]="sizeOptions" direction="row"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="icon" type="string">
          <ng-container *demoExampleViewerPropertyDescription>The icon to display inside the element.</ng-container>
          <pupa-input-text [formControl]="inputIconFormControl" [withReset]="true"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="placeholder" type="string">
          <ng-container *demoExampleViewerPropertyDescription>The placeholder of the element.</ng-container>
          <pupa-input-text [formControl]="placeholderFormControl" [withReset]="true"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="withReset" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is resettable.</ng-container>
          <demo-props-switcher #withReset$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="isPatched" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is patched.</ng-container>
          <demo-props-switcher #isPatched$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-section-label size="medium"
          ><pupa-code-inline>invalidTooltip*</pupa-code-inline> properties are written by analogy with a
          <pupa-code-inline>TooltipDirective</pupa-code-inline></demo-example-viewer-section-label
        >
        <demo-example-viewer-property decoratorName="input" name="invalidTooltip" type="string">
          <ng-container *demoExampleViewerPropertyDescription>Invalid tooltip simple content.</ng-container>
          <pupa-input-text [formControl]="tooltipTextFormControl" [withReset]="true"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="invalidTooltipContentTemplate" type="TemplateRef">
          <ng-container *demoExampleViewerPropertyDescription>Invalid tooltip content template.</ng-container>
          <pupa-textarea [formControl]="tooltipTemplateFormControl"></pupa-textarea>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tooltipHideOnHover" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Hide on invalid tooltip hover.</ng-container>
          <demo-props-switcher #invalidTooltipHideOnHover$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tooltipDisabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the invalid tooltip is disabled.</ng-container>
          <demo-props-switcher #invalidTooltipDisabled$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>

<ng-template #errorTemplate><div [innerHTML]="tooltipTemplateFormControl.value"></div></ng-template>
