<pupa-theme-wrapper [theme]="'Dark'">
  <pupa-modal-layout>
    <pupa-modal-layout-header>
      <pupa-modal-layout-title> Title </pupa-modal-layout-title>
      <pupa-modal-layout-close-button [value]="'🤷'">
        <pupa-button-icon [kind]="'subtle'" [icon]="'app-cross'" [size]="'small'"> </pupa-button-icon>
      </pupa-modal-layout-close-button>
    </pupa-modal-layout-header>

    <pupa-modal-layout-body>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
      <div class="sample-content">sample content</div>
      <div>🎳</div>
    </pupa-modal-layout-body>

    <pupa-modal-layout-footer>
      <pupa-modal-layout-action [value]="null">
        <pupa-button [kind]="'secondary'">Закрыть</pupa-button>
      </pupa-modal-layout-action>
      <pupa-modal-layout-action [value]="'💪🏻'">
        <pupa-button>💪🏻</pupa-button>
      </pupa-modal-layout-action>
    </pupa-modal-layout-footer>
  </pupa-modal-layout>
</pupa-theme-wrapper>
