@use 'mixins' as *;
@use 'functions' as *;
@use '../../styles/calendar-variables.styles' as *;

$border-width: 0.5rem;

.root-wrapper {
  height: $day-size + $border-width * 2;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &_range-empty-space {
    .day-wrapper {
      background-color: semantic-color(surface-action);
      border: $border-width solid semantic-color(surface-action);
    }

    .filler {
      background-color: semantic-color(surface-action);
    }
  }

  &_in-range {
    .day-wrapper {
      background-color: semantic-color(surface-action);
      border: $border-width solid semantic-color(surface-action);
    }
  }

  &_in-range-inside .filler {
    background-color: semantic-color(surface-action);
  }

  &_in-range-first {
    .day-wrapper {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    .filler_right {
      background-color: semantic-color(surface-action);
    }
  }

  &_in-range-last {
    .day-wrapper {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .filler_left {
      background-color: semantic-color(surface-action);
    }
  }
}

.filler {
  height: 100%;
  width: 100%;
  content: '';
}

.day-wrapper {
  box-sizing: content-box;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: $day-size;
  height: $day-size;
  box-sizing: border-box;

  border-radius: 1rem;

  cursor: pointer;

  transition: variable(transition-duration_shortest) variable(transition-timing-function_common);

  @include font-size-s();
  @include font-type-regular();

  @include hover() {
    background: semantic-color(surface-tertiary);
  }

  &:focus-visible {
    border: 1px solid color(primary-600);
    outline: none;
  }

  &_disabled {
    background: semantic-color(surface-primary);
  }

  &_empty {
    background: transparent;
    cursor: default;

    @include hover() {
      background: transparent;
    }
  }

  &_current {
    border: 1px solid semantic-color(kind-neutral-normal);
  }

  &_selected {
    background-color: semantic-color(surface-primary);
    border: 2px solid semantic-color(surface-action);
    box-shadow: 1px 1px 5px color(neutral-1, alpha-5);
  }
}
