<div class="input-wrapper" [ngClass]="resultClassList$ | async" (click)="handleFocusOnContainerClick()">
  <input
    class="input"
    [type]="typeIsText$ | conditionAsync : 'text' : 'password'"
    #inputElement
    [placeholder]="placeholder"
    [attr.disabled]="(isDisabled$ | async) ? true : null"
    (input)="updateValue(inputElement.value)"
    (focus)="emitFocusEvent($event)"
    (blur)="emitBlurEvent($event)"
    [autocomplete]="autocomplete ? 'on' : 'new-password'"
    [value]="value$ | async"
  />

  <div *ngIf="isVisibleDefaultActions$ | async" class="input-default-actions">
    <pupa-button-icon
      *ngIf="isVisibleReset$ | async"
      icon="app-close-square"
      kind="secondary"
      size="m"
      (click)="reset()"
    >
    </pupa-button-icon>

    <pupa-icon-holder
      *ngIf="isInvalid$ | async"
      size="small"
      [withBackground]="false"
      [pupaTooltip]="invalidTooltip"
      [tooltipHideOnHover]="invalidTooltipHideOnHover"
      [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
      [tooltipContentTemplate]="invalidTooltipContentTemplate"
      (click)="inputElement.focus()"
    >
      <pupa-icon class="input-icon_invalid" name="app-error-filled"></pupa-icon>
    </pupa-icon-holder>
  </div>

  <div class="input-actions-separator" *ngIf="isVisibleSeparator$ | async"></div>

  <pupa-button-icon
    *ngIf="!(isDisabled$ | async)"
    kind="secondary"
    size="m"
    [icon]="typeIsText$ | conditionAsync : 'app-eye-closed' : 'app-eye-open'"
    (click)="togglePassword()"
  >
  </pupa-button-icon>
</div>
