/.*/
!/.gitlab/
/.vscode/
/coverage/
/dist/
/node_modules/
*.log
api.ts
.DS_Store
Folder.DotSettings.user
/projects/kit/src/styles/variables/adaptive.variables.scss
/projects/kit/src/styles/maps/colors.map.scss
