include:
  - local: .gitlab/templates/common.template.yml
  - local: .gitlab/templates/deploy-base.template.yml

stages:
  - build
  - check
  - deploy

build:library:
  needs: []
  stage: build
  interruptible: true
  allow_failure: false
  variables:
    CI: 'true'
  script:
    - scripts/build.sh pupakit_build

check:lint:
  needs: []
  stage: check
  interruptible: true
  allow_failure: false
  variables:
    CI: ''
  script:
    - scripts/build.sh pupakit_lint

check:test:
  needs: []
  stage: check
  interruptible: true
  allow_failure: false
  variables:
    CI: ''
  script:
    - scripts/build.sh pupakit_test

deploy:next:
  extends: .deploy-base
  stage: deploy
  interruptible: false
  allow_failure: true
  when: manual
  variables:
    PUBLISH: 'true'
    PKG_VERSION: ${CI_COMMIT_SHORT_SHA}
    PKG_TAG: 'next'

deploy:stable:
  extends: .deploy-base
  stage: deploy
  interruptible: false
  allow_failure: true
  when: manual
  only:
    - master
  variables:
    PUBLISH: 'true'
    PKG_VERSION: ${CI_COMMIT_SHORT_SHA}
    PKG_TAG: 'stable'

pages:
  needs: []
  stage: deploy
  interruptible: true
  allow_failure: true
  variables:
    CI: 'true'
  script:
    - scripts/build.sh pupakit_build-demo
    - scripts/cp-from-image.sh "${DEFAULT_LABELS};service=pupakit_build-demo" dist/demo public
  when: always
  only:
    - master
  artifacts:
    when: always
    paths:
      - public
