!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/node_modules/zlib
*.launch
*.sublime-workspace
.c9/
.classpath
.project
.settings/
.vscode
.vscode/*
/.idea/
/node_modules/*
/coverage/
/dist/*
