all = false
allow-same-version = false
audit = true
audit-level = info
color = always
engine-strict = true
force = false
format-package-lock = true
fund = false
if-present = true
lockfile-version = 3
loglevel = notice
node-options = --max_old_space_size=2048
prefer-online = true
progress = true
registry = https://registry.npmjs.org/
@bimeister:registry = https://git.bimeister.io/api/v4/packages/npm/
save-prefix = ""
shell = bash
strict-ssl = false
