access = restricted
allow-same-version = false
always-auth = false
audit-level = low
audit = true
color = always
engine-strict = true
force = false
node-options = --max_old_space_size=1024
prefer-online = true
progress = true
registry = http://npm.bimeister.com:4873/
shell = bash
strict-ssl = false
