all = false
allow-same-version = false
audit = true
audit-level = info
color = always
engine-strict = true
force = false
format-package-lock = true
fund = false
if-present = true
lockfile-version = 3
loglevel = notice
node-options = --max_old_space_size=2048
prefer-online = true
progress = true
registry = https://nexus.bimeister.io/repository/npm-proxy/
@bimeister:registry = https://nexus.bimeister.io/repository/npm-proxy/
save-prefix = ""
shell = bash
strict-ssl = true
