version: '3.4'

services:
  base_service:
    build:
      context: ./
      dockerfile: ./build/docker/base.dockerfile
      args:
        - NPM_AUTH_TOKEN
    image: ${BASE_IMAGE}

  build_service:
    build:
      context: ./
      dockerfile: ./build/docker/build.dockerfile
      args:
        - BASE_IMAGE
    image: ${BUILD_IMAGE}

  lint_service:
    build:
      context: ./
      dockerfile: ./build/docker/lint.dockerfile
      args:
        - BASE_IMAGE

  test_service:
    build:
      context: ./
      dockerfile: ./build/docker/test.dockerfile
      args:
        - BASE_IMAGE

  deploy_service:
    build:
      context: ./
      dockerfile: ./build/docker/deploy.dockerfile
      args:
        - NPM_AUTH_TOKEN
        - GIT_COMMIT_HASH
        - BUILD_IMAGE

  docs_service:
    build:
      context: ./
      dockerfile: ./build/docker/docs.dockerfile
      labels:
        meistersoft.build.pipeline: ${CI_PIPELINE_IID}
        meistersoft.git.commit: ${GIT_COMMIT}
        meistersoft.git.branch: ${BRANCH_NAME}
        service: docs_service
      args:
        - BASE_IMAGE
    environment:
      - CI_PAGES_URL
