@use 'mixins';
@use 'functions';

@mixin pupa-tag-preset {
  all: unset;
  @include mixins.flex-container(row, center, center);
  @include mixins.no-tap-highlight();
  @include mixins.font-preset-h6();
  @include mixins.transition(background);
}

@mixin pupa-clickable-color-state($state) {
  @include mixins.hover() {
    background-color: functions.semantic-color(kind-#{$state}-hover);
  }

  &:active {
    background-color: functions.semantic-color(kind-#{$state}-active);
  }

  @include mixins.popover-trigger {
    background-color: functions.semantic-color(kind-#{$state}-active);
  }

  @content;
}

@mixin pupa-tag-color-state($state) {
  background-color: functions.semantic-color(kind-#{$state}-normal);

  &.pupa-tag_clickable {
    @include pupa-clickable-color-state($state);
  }
}

@mixin pupa-action-button-color-state($state) {
  background-color: functions.semantic-color(kind-#{$state}-normal);
  border-left: 1px solid functions.semantic-color(lines-opacity);

  @include mixins.host-selector-dark-theme {
    border-left-color: functions.semantic-color(kind-#{$state}-active);
  }

  @include pupa-clickable-color-state($state) {
    &.pupa-active {
      background-color: functions.semantic-color(kind-#{$state}-active);
    }
  }
}

@mixin pupa-disabled-color-state {
  cursor: not-allowed;

  background-color: functions.semantic-color(kind-opacity-normal);
  color: functions.semantic-color(text-disabled);

  @content;
}

@mixin pupa-tag-custom-color-variables {
  --pupa-tag_background-color-default: hsl(300deg 67% 55%);
  --pupa-tag_background-color-hover-default: hsl(300deg 67% 40%);
  --pupa-tag_background-color-active-default: hsl(300deg 67% 25%);
}

@mixin pupa-tag-custom-color-defaults {
  background-color: var(--pupa-tag_background-color, var(--pupa-tag_background-color-default));

  &.pupa-tag_clickable {
    @include mixins.hover() {
      background-color: var(--pupa-tag_background-color-hover, var(--pupa-tag_background-color-hover-default));
    }

    &:active {
      background-color: var(--pupa-tag_background-color-active, var(--pupa-tag_background-color-active-default));
    }
  }
}
