@use 'mixins' as *;
@use 'functions' as *;

@mixin tag-preset {
  all: unset;
  @include flex-container(row, center, center);
  @include no-tap-highlight();
  @include font-preset-h6();
  @include transition(background);
}

@mixin clickable-color-state($state) {
  @include hover() {
    background-color: semantic-color(kind-#{$state}-hover);
  }

  &:active {
    background-color: semantic-color(kind-#{$state}-active);
  }

  @include popover-trigger {
    background-color: semantic-color(kind-#{$state}-active);
  }

  @content;
}

@mixin tag-color-state($state) {
  background-color: semantic-color(kind-#{$state}-normal);

  &.tag_clickable {
    @include clickable-color-state($state);
  }
}

@mixin action-button-color-state($state) {
  background-color: semantic-color(kind-#{$state}-normal);
  border-left: 1px solid semantic-color(lines-opacity);

  @include host-selector-dark-theme {
    border-left-color: semantic-color(kind-#{$state}-active);
  }

  @include clickable-color-state($state) {
    &.active {
      background-color: semantic-color(kind-#{$state}-active);
    }
  }
}

@mixin disabled-color-state {
  cursor: not-allowed;

  background-color: semantic-color(kind-opacity-normal);
  color: semantic-color(text-disabled);

  @content;
}

@mixin tag-custom-color-variables {
  --pupa-tag_background-color-default: hsl(300deg 67% 55%);
  --pupa-tag_background-color-hover-default: hsl(300deg 67% 40%);
  --pupa-tag_background-color-active-default: hsl(300deg 67% 25%);
}

@mixin tag-custom-color-defaults {
  background-color: var(--pupa-tag_background-color, var(--pupa-tag_background-color-default));

  &.tag_clickable {
    @include hover() {
      background-color: var(--pupa-tag_background-color-hover, var(--pupa-tag_background-color-hover-default));
    }

    &:active {
      background-color: var(--pupa-tag_background-color-active, var(--pupa-tag_background-color-active-default));
    }
  }
}
