@use 'functions';
@use './tag-preset.styles';

.pupa-tag {
  &:not(:only-child) {
    border-radius: 1rem 0 0 1rem;
  }

  &:not(.pupa-tag_disabled) {
    &.pupa-tag_clickable {
      cursor: pointer;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 0.5rem functions.semantic-color(lines-accent);
    }

    &.pupa-tag_danger {
      @include tag-preset.pupa-tag-color-state('danger');
    }

    &.pupa-tag_opacity {
      @include tag-preset.pupa-tag-color-state('opacity');

      color: functions.semantic-color(text-primary);
    }

    &.pupa-tag_primary {
      @include tag-preset.pupa-tag-color-state('primary');
    }

    &.pupa-tag_success {
      @include tag-preset.pupa-tag-color-state('success');
    }

    &.pupa-tag_warning {
      @include tag-preset.pupa-tag-color-state('warning');
    }

    &.pupa-tag_custom {
      @include tag-preset.pupa-tag-custom-color-variables();
      @include tag-preset.pupa-tag-custom-color-defaults();
    }

    &.pupa-tag_selected {
      position: relative;
      color: functions.semantic-color(text-primary);
      background-color: functions.semantic-color(kind-primary-normal, alpha-7);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1rem;
        height: 100%;
        border-left: 1rem solid functions.semantic-color(kind-primary-normal);
        border-radius: 1rem;
      }
    }
  }

  &.pupa-tag_disabled {
    @include tag-preset.pupa-disabled-color-state();
  }
}
