<pupa-select class="select" [isMultiSelectionEnabled]="true" [placeholder]="'Placeholder'" [formControl]="control">
  <pupa-select-trigger> Selected: {{ control.value.length }} </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-tree
      #selectTreeComponent
      type="flat"
      [flatDataOrigin]="treeDataOrigin"
      [nodeTemplate]="customNodeTemplate"
      [isLoading]="isLoading$ | async"
    ></pupa-select-tree>

    <pupa-select-dropdown-footer>
      <pupa-button (click)="toggleLoader()">Toggle loader</pupa-button>
    </pupa-select-dropdown-footer>
  </pupa-select-dropdown>
</pupa-select>

<ng-template #customNodeTemplate let-node="node">
  <pupa-tree-node [treeNodeProperties]="selectTreeComponent.treeComponent.getTreeNodeProperties(node) | async">
    {{ node?.name }} (custom template)
  </pupa-tree-node>
</ng-template>
