<ng-container
  *ngIf="!(pupaActionLeftSideContentTemplate | isNullOrUndefined)"
  [ngTemplateOutlet]="pupaActionLeftSideContentTemplate.templateRef"
></ng-container>

<div class="actions-container" [style.max-height.px]="actionsContainerMaxHeight$ | async" #actionsContainer>
  <div
    class="actions-container__action"
    *ngFor="let action of renderActions$ | async; let count = count"
    [class.is-one]="count === 1"
  >
    <ng-container
      [ngTemplateOutlet]="actionTemplate.templateRef"
      [ngTemplateOutletContext]="{ $implicit: action }"
    ></ng-container>

    <pupa-divider
      *ngIf="actionTemplate.pupaActionTemplateIsDividerShown?.(action)"
      orientation="vertical"
      class="actions-container__divider"
    ></pupa-divider>
  </div>
</div>

<ng-container
  *ngIf="actionsOverflowCount$ | async"
  [ngTemplateOutlet]="getActionMoreTriggerTemplateRef()"
  [ngTemplateOutletContext]="{ $implicit: renderDropdownActions$ | async }"
></ng-container>

<ng-container
  *ngIf="!(pupaActionRightSideContentTemplate | isNullOrUndefined)"
  [ngTemplateOutlet]="pupaActionRightSideContentTemplate.templateRef"
></ng-container>
