:host {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.actions-container {
  display: flex;
  justify-content: inherit;
  flex-wrap: wrap;
  flex: 1;
  overflow: hidden;

  &__action {
    display: flex;
    align-items: center;
  }

  &__divider {
    height: 4rem;
    margin: 0 1rem;
  }
}

.is-one {
  max-width: 100%;
}
