:host {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.pupa-actions-container {
  display: flex;
  justify-content: inherit;
  flex-wrap: wrap;
  flex: 1;
  overflow: hidden;
}

.pupa-is-one {
  max-width: 100%;
}
