<div class="button-container">
  <ng-container *ngFor="let horizontalPosition of horizontalConnectionPositions">
    <pupa-button-multi class="button-container__item" [dropdownMenuContent]="dropdownContent">
      {{ horizontalPosition }}
    </pupa-button-multi>
    <pupa-dropdown-menu-content #dropdownContent [horizontalPosition]="horizontalPosition">
      <pupa-dropdown-menu-item>first</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
      <pupa-dropdown-menu-item>second</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </ng-container>
</div>
