@use 'functions' as *;

.button-container {
  display: flex;
  align-items: flex-end;
  margin: 2rem 0;
}

.button-container__item {
  display: inline-block;
  margin: 2rem;
}

.violet-icon {
  --button_icon-color: #b310b3;
}

.green_text {
  --button_text-color: #{semantic-color(kind-success-normal)};
}
