<div class="pupa-option" [class.pupa-option--selected]="active" [class.pupa-option--disabled]="disabled" tabindex="0">
  <div #content class="pupa-option__content">
    <div *ngIf="hasCheckbox">
      <pupa-checkbox
        class="pupa-option__checkbox"
        tabindex="-1"
        [value]="active"
        [disabled]="disabled"
        [hovered]="hovered$ | async"
      >
      </pupa-checkbox>
    </div>
    <div class="pupa-option__content-container">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="pupa-option__actions" (click)="$event.stopPropagation()">
    <ng-container [ngTemplateOutlet]="optionActionsRightDirective?.templateRef"></ng-container>
  </div>
</div>
