<h1>Avatar</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-avatar
      [username]="usernameControl.value"
      [src]="imageSrcControl.value"
      [size]="size$ | async"
      [withBorder]="withBorder$ | async"
      [disabled]="disabled$ | async"
    ></pupa-avatar>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="size" type="AvatarSize">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the element.</ng-container>
      <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="withBorder" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element has a border.</ng-container>
      <demo-props-switcher #withBorder$></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
      <demo-props-switcher #disabled$></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="username" type="string">
      <ng-container *demoExampleViewerPropertyDescription>The string to display inside the element.</ng-container>

      <pupa-input-text
        class="username-input"
        placeholder="Username"
        [formControl]="usernameControl"
        [withReset]="true"
      ></pupa-input-text>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="src" type="string">
      <ng-container *demoExampleViewerPropertyDescription>
        The source of the image displayed inside the element.
      </ng-container>
      <pupa-input-text placeholder="Image Src" [formControl]="imageSrcControl" [withReset]="true"></pupa-input-text>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h2>Сode Example</h2>
<pupa-code [code]="codeExample"></pupa-code>
