<pupa-dnd-host
  (dndMove)="processMoved($event)"
  (dndDrop)="processDropped($event)"
  [sourceType]="sourceType"
  [targetType]="targetType"
  [dndCloneItemsTemplateRef]="templateRef"
>
  <pupa-dnd-indicator
    *ngIf="dndIndicatorTopPx$ | async"
    [topCoordsPx]="dndIndicatorTopPx$ | async"
  ></pupa-dnd-indicator>

  <pupa-option
    *ngFor="let data of dndHostData"
    pupaDndItem
    [dndItemData]="data"
    [dndItemId]="data.itemNumber.toString()"
    [canBeDroppableFor]="canBeDroppableForFunc"
  >
    {{ data.payload }}
  </pupa-option>
</pupa-dnd-host>

<ng-template #templateRef let-items>
  <pupa-dnd-clone-items [dndSourceItems]="items">
    <ng-container *pupaDndCloneItemTemplate="let data">{{ data.payload }}</ng-container>
    <ng-container *pupaDndCloneGroupItemsTemplate="let itemsCount">{{ 'Selected (' + itemsCount + ')' }}</ng-container>
  </pupa-dnd-clone-items>
</ng-template>
