@use 'functions' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-layout {
  width: 400px;
  height: 400px;
}

.dragger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 10000;
}

.sample-content {
  width: 300px;
}
