<h1>Select</h1>

<h2>One selection</h2>

<pupa-info-block variant="info">Most examples are valid for the multi selection case</pupa-info-block>

<h4>Base usage</h4>
<pupa-code-container [content]="example1Content">
  <demo-select-example-1 *pupaCodeContainerPreviewTemplate></demo-select-example-1>
</pupa-code-container>

<h4>Option with icon</h4>
<pupa-code-container [content]="example2Content">
  <demo-select-example-2 *pupaCodeContainerPreviewTemplate></demo-select-example-2>
</pupa-code-container>

<h4>Placeholder visible on hover (default)</h4>
<pupa-code-container [content]="example3Content">
  <demo-select-example-3 *pupaCodeContainerPreviewTemplate></demo-select-example-3>
</pupa-code-container>

<h4>Placeholder standard usage</h4>
<pupa-code-container [content]="example4Content">
  <demo-select-example-4 *pupaCodeContainerPreviewTemplate></demo-select-example-4>
</pupa-code-container>

<h4>Tag option</h4>
<pupa-code-container [content]="example5Content">
  <demo-select-example-5 *pupaCodeContainerPreviewTemplate></demo-select-example-5>
</pupa-code-container>

<h4>Checkbox option</h4>
<pupa-code-container [content]="example6Content">
  <demo-select-example-6 *pupaCodeContainerPreviewTemplate></demo-select-example-6>
</pupa-code-container>

<h4>Disabled</h4>
<pupa-code-container [content]="example7Content">
  <demo-select-example-7 *pupaCodeContainerPreviewTemplate></demo-select-example-7>
</pupa-code-container>

<h2>Multi selection</h2>

<h4>Base usage</h4>
<pupa-code-container [content]="example8Content">
  <demo-select-example-8 *pupaCodeContainerPreviewTemplate></demo-select-example-8>
</pupa-code-container>

<h4>Tags counter case (default)</h4>
<pupa-code-container [content]="example9Content">
  <demo-select-example-9 *pupaCodeContainerPreviewTemplate></demo-select-example-9>
</pupa-code-container>

<h4>Tags counter case (custom tag)</h4>
<pupa-code-container [content]="example10Content">
  <demo-select-example-10 *pupaCodeContainerPreviewTemplate></demo-select-example-10>
</pupa-code-container>

<h2>Structure composition</h2>
<pupa-code-container [content]="example11Content">
  <demo-select-example-11 *pupaCodeContainerPreviewTemplate></demo-select-example-11>
</pupa-code-container>

<h2>Extra cases</h2>

<h4>Custom trigger</h4>
<pupa-code-container [content]="example12Content">
  <demo-select-example-12 *pupaCodeContainerPreviewTemplate></demo-select-example-12>
</pupa-code-container>

<h4>Trigger input for option searching</h4>
<pupa-code-container [content]="example13Content">
  <demo-select-example-13 *pupaCodeContainerPreviewTemplate></demo-select-example-13>
</pupa-code-container>

<h2>Select with tree</h2>

<h4>Base usage</h4>
<pupa-code-container [content]="example14Content">
  <demo-select-example-14 *pupaCodeContainerPreviewTemplate></demo-select-example-14>
</pupa-code-container>

<h4>Custom template</h4>
<pupa-code-container [content]="example15Content">
  <demo-select-example-15 *pupaCodeContainerPreviewTemplate></demo-select-example-15>
</pupa-code-container>

<h2>Other</h2>

<h4>User select example</h4>
<pupa-info-block variant="info">
  <ul>
    <li>Technology is used here: cdkVirtualScroll, PupaSearchFieldComponent, PupaButtonGroupComponent;</li>
    <li>
      Please note that to use the cdkVirtualScroll, you need to set the height of the item
      <pupa-code-inline>pupa-select-options-container</pupa-code-inline>.
    </li>
  </ul>
</pupa-info-block>
<pupa-code-container [content]="example16Content">
  <demo-select-example-16 *pupaCodeContainerPreviewTemplate></demo-select-example-16>
</pupa-code-container>
