<h1>Select</h1>

<h2>Tags container in trigger</h2>
<pupa-code-container [content]="selectDemoTagsContainerExampleContent">
  <demo-select-demo-tags-container-example *pupaCodeContainerPreviewTemplate></demo-select-demo-tags-container-example>
</pupa-code-container>

<h2>One selection</h2>

<h4>Base usage</h4>
<pupa-code-container [content]="example1Content">
  <demo-select-example-1 *pupaCodeContainerPreviewTemplate></demo-select-example-1>
</pupa-code-container>

<h4>Option with icon</h4>
<pupa-code-container [content]="example2Content">
  <demo-select-example-2 *pupaCodeContainerPreviewTemplate></demo-select-example-2>
</pupa-code-container>

<h4>Placeholder visible on hover (default)</h4>
<pupa-code-container [content]="example3Content">
  <demo-select-example-3 *pupaCodeContainerPreviewTemplate></demo-select-example-3>
</pupa-code-container>

<h4>Placeholder standard usage</h4>
<pupa-code-container [content]="example4Content">
  <demo-select-example-4 *pupaCodeContainerPreviewTemplate></demo-select-example-4>
</pupa-code-container>

<h4>Tag option</h4>
<pupa-code-container [content]="example5Content">
  <demo-select-example-5 *pupaCodeContainerPreviewTemplate></demo-select-example-5>
</pupa-code-container>

<h4>Checkbox option</h4>
<pupa-code-container [content]="example6Content">
  <demo-select-example-6 *pupaCodeContainerPreviewTemplate></demo-select-example-6>
</pupa-code-container>

<h4>Disabled</h4>
<pupa-code-container [content]="example7Content">
  <demo-select-example-7 *pupaCodeContainerPreviewTemplate></demo-select-example-7>
</pupa-code-container>

<h2>Multi selection</h2>
<pupa-code-container [content]="example8Content">
  <demo-select-example-8 *pupaCodeContainerPreviewTemplate></demo-select-example-8>
</pupa-code-container>

<h2>Structure composition</h2>
<pupa-code-container [content]="example9Content">
  <demo-select-example-9 *pupaCodeContainerPreviewTemplate></demo-select-example-9>
</pupa-code-container>

<!-- <pupa-select [isMultiSelectionEnabled]="false" [formControl]="control">
  <pupa-select-trigger-input
    [placeholder]="'Введите название отчета'"
    [selectedValuePreview]="selectedValuePreview$ | async"
    (query)="log($event)"
  >
    <pupa-icon-button [size]="'small'" [color]="'light-blue'" class="content-icon">
      <pupa-icon name="md-lock"></pupa-icon>
    </pupa-icon-button>
  </pupa-select-trigger-input>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <ng-container *ngFor="let option of options">
        <pupa-select-option [value]="option.value" #item>
          <div class="name-container" [class.hovered]="(item.isHovered$ | async) || (item.isPicked$ | async)">
            <pupa-icon class="name-container__icon" name="md-lock"></pupa-icon>
            <div class="name-container__name">{{ option.caption }}</div>
          </div>
        </pupa-select-option>
      </ng-container>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 2</h2>
<pupa-select [isMultiSelectionEnabled]="true" [formControl]="chipsFormControl">
  <pupa-select-trigger>
    <pupa-select-chip-item *ngFor="let chip of chipsFormControl.value" [value]="chip">{{ chip }}</pupa-select-chip-item>
  </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option [value]="1">1</pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
        >aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</pupa-select-option
      >
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 3</h2>
<pupa-select [formControl]="formControl">
  <pupa-select-trigger> 123 </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-tabs (selectChange)="processTabsSelect($event)" [initialSelect]="1">
      <pupa-select-tabs-item *ngFor="let item of tabItems" [value]="item.value">{{
        item.caption
      }}</pupa-select-tabs-item>
    </pupa-select-tabs>

    <pupa-select-options-container>
      <pupa-select-option [value]="1">1</pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option [value]="3">3</pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 4</h2>
<pupa-select [formControl]="formControl">
  <pupa-select-trigger> 123 </pupa-select-trigger>

  <pupa-select-dropdown>

    <pupa-select-options-container>
      <pupa-select-option [value]="1">1</pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option [value]="3">3</pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 5</h2>
<pupa-select [isMultiSelectionEnabled]="true" [formControl]="formControl">
  <pupa-select-trigger> 123 </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-search placeholder="Поиск..." (query)="log($event)"></pupa-select-search>

    <pupa-select-options-container>
      <pupa-select-option [value]="1">
        1 fdskj flkjdslk jl jlk jlk jslk jl jlk jsdlk jlkj lj lksj lksjd lkjfdlk kjsdlk jslk j
      </pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option [value]="3">3</pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 6</h2>
<pupa-select [isMultiSelectionEnabled]="true">
  <pupa-select-trigger> 123 </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-search placeholder="Поиск..." (query)="log($event)"></pupa-select-search>
    <pupa-button (click)="toggleLoader()">Toggle loader</pupa-button>
    <pupa-select-tree type="flat" [flatDataOrigin]="treeDataOrigin" [isLoading]="isLoading$ | async"></pupa-select-tree>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 7</h2>
<pupa-select [isMultiSelectionEnabled]="true">
  <pupa-select-trigger> pupa-select-tree with custom template</pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-search placeholder="Поиск..." (query)="log($event)"></pupa-select-search>
    <pupa-button (click)="toggleLoader()">Toggle loader</pupa-button>
    <pupa-select-tree
      type="flat"
      [flatDataOrigin]="treeDataOrigin"
      [isLoading]="isLoading$ | async"
      [nodeTemplate]="customNodeTemplate"
    ></pupa-select-tree>
  </pupa-select-dropdown>
</pupa-select>

<ng-template #customNodeTemplate let-node="node">
  <div class="select-tree-item-custom-template">{{ node?.name }} - BOY NEXT DOOR</div>
</ng-template>

<h2>Example 8</h2>
<pupa-select [formControl]="invalidFormControl">
  <pupa-select-trigger> Invalid Select </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option [value]="1">1</pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option [value]="3">3</pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>

<h2>Example 9</h2>
<div class="horizontal">
  <div class="cell">
    <pupa-select [isMultiSelectionEnabled]="true">
      <pupa-select-trigger-extra-case>
        <pupa-icon name="settings"></pupa-icon>
      </pupa-select-trigger-extra-case>

      <pupa-select-dropdown [width]="'fit-content'">
        <pupa-select-options-container>
          <pupa-select-option-checkbox [value]="1">1 Какой-то текст </pupa-select-option-checkbox>
          <pupa-select-option-checkbox [value]="2" [isDisabled]="true">2</pupa-select-option-checkbox>
          <pupa-select-option-checkbox [value]="3">3</pupa-select-option-checkbox>
        </pupa-select-options-container>
      </pupa-select-dropdown>
    </pupa-select>
  </div>
</div>

<h2>Example 10</h2>
<pupa-select [isMultiSelectionEnabled]="true" [formControl]="chipsFormControl">
  <pupa-select-chips-container>
    <pupa-select-trigger-extra-case>
      asdasdasd
      <pupa-icon name="add"></pupa-icon>
    </pupa-select-trigger-extra-case>
    <pupa-select-chip-item *ngFor="let chip of chipsFormControl.value" [value]="chip">
      {{ chip }}
    </pupa-select-chip-item>
  </pupa-select-chips-container>

  <pupa-select-dropdown [width]="'fit-content'">
    <pupa-select-options-container>
      <pupa-select-option [value]="1">1</pupa-select-option>
      <pupa-select-option [value]="2">2</pupa-select-option>
      <pupa-select-option value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
        >aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</pupa-select-option
      >
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select> -->
