@import 'themes/functions';
@import 'mixins';
@import 'functions';

.container {
  margin: 0;

  padding: 4rem;
  border: 1px solid color(base-dark-n100);
  border-radius: 1px;

  &__preview {
    padding: 4rem;
  }
}

.tab + .tab {
  margin-left: 4rem;
}
