<h1>Scrollable</h1>

<demo-example-viewer>
  <demo-example-viewer-content class="content" [class.dark-theme]="darkMode | async">
    <pupa-scrollable class="scrollable-box" [size]="size | async">
      <div class="text-content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
        only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </pupa-scrollable>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Theme Mode</demo-props-group-label>
    <demo-props-checkbox #darkMode>Dark</demo-props-checkbox>

    <demo-props-group-label>Size</demo-props-group-label>
    <demo-props-radio-select #size [options]="sizeOptions"></demo-props-radio-select>
  </demo-example-viewer-properties>
</demo-example-viewer>

<h2>Basic usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-scrollable-example-1 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-1>
</pupa-code-container>

<h2>With virtual scroll</h2>
<pupa-code-container [content]="example2Content">
  <demo-scrollable-example-2 *pupaCodeContainerPreviewTemplate></demo-scrollable-example-2>
</pupa-code-container>
