@use 'demo/styles/demo-variables' as *;
@use 'mixins' as *;
@use 'utils' as *;

:host {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  box-sizing: border-box;

  width: 100%;
  min-height: 400px;

  background-color: get-map-field($theme-config, [ 'light', 'body', background-color]);
  border: 1px solid get-map-field($theme-config, [ 'light', 'body', border-color]);

  @include host-selector-dark-theme() {
    background-color: get-map-field($theme-config, [ 'dark', 'body', background-color]);
    border: 1px solid get-map-field($theme-config, [ 'dark', 'body', border-color]);
  }

  border-radius: 1px;

  margin: 5rem 0;
}
