@use 'mixins';
@use 'functions';

.pupa-status {
  @include mixins.flex-container($align-items: center);
  gap: 2rem;
  cursor: default;
  @include mixins.font-preset-caption-xs();
  color: functions.semantic-color(text-primary);
  transition: color 0.2s ease;

  text-overflow: inherit;
  overflow: inherit;

  &.pupa-right-marker-position {
    flex-direction: row-reverse;
  }

  &__marker {
    min-width: 1rem;
    width: 1rem;
    border-radius: 25rem;
    transition: all 0.2s ease;

    &_line {
      align-self: stretch;
      width: 1rem;
    }

    &_square {
      min-width: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 0.25rem;
    }

    &_dot {
      height: 1rem;
      border-radius: 50%;
    }
  }

  &__text {
    flex-grow: 1;
    text-overflow: inherit;
    overflow: inherit;
  }

  &_primary .pupa-status__marker {
    background-color: functions.semantic-color(kind-primary-normal);
  }

  &_success .pupa-status__marker {
    background-color: functions.semantic-color(kind-success-normal);
  }

  &_warning .pupa-status__marker {
    background-color: functions.semantic-color(kind-warning-normal);
  }

  &_danger .pupa-status__marker {
    background-color: functions.semantic-color(kind-danger-normal);
  }

  &_custom .pupa-status__marker {
    background-color: var(--status_marker-color);
  }

  &_neutral {
    .pupa-status__marker {
      background-color: functions.semantic-color(lines-dark);
    }
  }

  &.pupa-disabled {
    color: functions.semantic-color(text-disabled);

    .pupa-status__marker {
      background-color: functions.semantic-color(text-disabled);
    }
  }
}
