@use 'mixins' as *;
@use 'functions' as *;

.status {
  @include flex-container($align-items: center);
  gap: 2rem;
  cursor: default;
  @include font-preset-caption-xs();
  color: semantic-color(text-primary);
  transition: color 0.2s ease;

  text-overflow: inherit;
  overflow: inherit;

  &.right-marker-position {
    flex-direction: row-reverse;
  }

  &__marker {
    min-width: 1rem;
    width: 1rem;
    border-radius: 100px;
    transition: all 0.2s ease;

    &_line {
      align-self: stretch;
      width: 1rem;
    }

    &_square {
      min-width: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1px;
    }

    &_dot {
      height: 1rem;
      border-radius: 50%;
    }
  }

  &__text {
    flex-grow: 1;
    text-overflow: inherit;
    overflow: inherit;
  }

  &_primary .status__marker {
    background-color: semantic-color(kind-primary-normal);
  }

  &_success .status__marker {
    background-color: semantic-color(kind-success-normal);
  }

  &_warning .status__marker {
    background-color: semantic-color(kind-warning-normal);
  }

  &_danger .status__marker {
    background-color: semantic-color(kind-danger-normal);
  }

  &_custom .status__marker {
    background-color: var(--status_marker-color);
  }

  &_neutral {
    .status__marker {
      background-color: semantic-color(lines-dark);
    }
  }

  &.disabled {
    color: semantic-color(text-disabled);

    .status__marker {
      background-color: semantic-color(text-disabled);
    }
  }
}
