<div class="content">
  <pupa-option>
    <pupa-option-icon name="app-folder"></pupa-option-icon>
    Option
  </pupa-option>
  <pupa-option [disabled]="true">
    <pupa-option-icon name="app-folder"></pupa-option-icon>
    Disabled option
  </pupa-option>
  <pupa-option [active]="true">
    <pupa-option-icon name="app-folder"></pupa-option-icon>
    Active option
  </pupa-option>
  <pupa-option [hasCheckbox]="true">
    <pupa-option-icon name="app-folder"></pupa-option-icon>
    Option with checkbox
  </pupa-option>
</div>
