<p class="mark">
  Lorem Ipsum is simply dummy text of the printing
  <a pupaLink href="https://google.com" target="_blank">and</a> typesetting industry. Lorem Ipsum has been the
  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen <a pupaLink href="https://google.com" icon="app-search" target="_blank">book</a>.
</p>

<p class="small">
  Lorem Ipsum is simply dummy text of the printing
  <a pupaLink href="https://google.com" target="_blank">and</a> typesetting industry. Lorem Ipsum has been the
  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen <a pupaLink href="https://google.com" icon="app-search" target="_blank">book</a>.
</p>

<p class="medium">
  Lorem Ipsum is simply dummy text of the printing
  <a pupaLink href="https://google.com" target="_blank">and</a> typesetting industry. Lorem Ipsum has been the
  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen <a pupaLink href="https://google.com" icon="app-search" target="_blank">book</a>.
</p>
