@use 'mixins';
@use 'functions';

:host {
  font-size: 4rem;
}

.pupa-avatar {
  @include mixins.flex-container(row, center, center);
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  user-select: none;
  border: 1px solid var(--avatar-border_color, functions.semantic-color(icons-inverse));

  &_default {
    background-color: functions.color(warning-200);

    .pupa-avatar__icon {
      color: functions.semantic-color(text-primary);
    }
  }

  &_disabled {
    background-color: functions.semantic-color(kind-opacity-normal);

    .pupa-avatar__text,
    .pupa-avatar__icon {
      color: functions.semantic-color(text-disabled);
    }
  }

  &__icon-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  &__image-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__icon {
    display: block;
    height: 100%;
    width: 100%;
    color: functions.semantic-color(text-primary);
  }

  &__text {
    @include mixins.flex-container(row, center, center);
    line-height: 3rem;
    white-space: nowrap;
    color: functions.semantic-color(text-primary);
    @include mixins.font-type-regular();
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  &_small {
    width: 1em;
    height: 1em;

    .pupa-avatar__icon-container {
      padding: 0.125em;
    }

    .pupa-avatar__text {
      font-size: 2rem;
    }
  }

  &_medium {
    width: 1.25em;
    height: 1.25em;

    .pupa-avatar__icon-container {
      padding: 0.25em;
    }

    .pupa-avatar__text {
      font-size: 2.5rem;
    }
  }

  &_large {
    width: 1.5em;
    height: 1.5em;

    .pupa-avatar__icon-container {
      padding: 0.25em;
    }

    .pupa-avatar__text {
      font-size: 2.75rem;
    }
  }
}
