<div
  class="pupa-avatar"
  [ngClass]="sizeClass$ | async"
  [style.background-color]="hslBackgroundColor$ | async"
  [class.pupa-avatar_default]="isEmptyBackgroundSeed$ | async"
  [class.pupa-avatar_disabled]="disabled$ | async"
  [ngSwitch]="mode$ | async"
>
  <ng-container *ngSwitchCase="mode.Icon" [ngTemplateOutlet]="iconTemplate"></ng-container>
  <ng-container *ngSwitchCase="mode.Image" [ngTemplateOutlet]="imageTemplate"></ng-container>
  <ng-container *ngSwitchCase="mode.Username" [ngTemplateOutlet]="usernameTemplate"></ng-container>
  <ng-container *ngSwitchDefault [ngTemplateOutlet]="defaultTemplate"></ng-container>
</div>

<ng-template #iconTemplate>
  <div class="pupa-avatar__icon-container">
    <pupa-icon class="pupa-avatar__icon" [name]="iconName$ | async"></pupa-icon>
  </div>
</ng-template>

<ng-template #imageTemplate>
  <div class="pupa-avatar__image-container" [style.background-image]="backgroundImage$ | async"></div>
</ng-template>

<ng-template #usernameTemplate>
  <div class="pupa-avatar__text">{{ initials$ | async }}</div>
</ng-template>

<ng-template #defaultTemplate>
  <div class="pupa-avatar__icon-container">
    <pupa-icon class="pupa-avatar__icon" name="app-user"></pupa-icon>
  </div>
</ng-template>
