@use 'demo-variables' as *;

@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

.container {
  border: 1px solid;
  padding: 4rem 0;
  box-sizing: border-box;
  border-radius: $controlBorderRadius;

  margin: 5rem 0;

  border-color: semantic-color(lines-normal);
}

.tabs {
  padding: 0 4rem;
}

.tabs-item {
  --tabs-item_max-width: none;
}

.tab {
  margin-top: 4rem;
  padding: 0 4rem;
}
