<pupa-tabs-container class="container">
  <div class="tabs">
    <pupa-tabs>
      <pupa-tabs-item class="tabs-item" *ngFor="let tab of tabs$ | async" [name]="tab.name">
        {{ tab.name }}
      </pupa-tabs-item>
    </pupa-tabs>
  </div>

  <pupa-tabs-separator></pupa-tabs-separator>

  <pupa-tabs-content [destroyable]="false">
    <ng-container *ngFor="let tab of tabs$ | async">
      <div class="tab" *pupaTabsItemContentTemplate="tab.name">
        <pupa-code *ngIf="tab.code; else example" [code]="tab.code"></pupa-code>
      </div>
    </ng-container>
  </pupa-tabs-content>
</pupa-tabs-container>

<ng-content></ng-content>

<ng-template #example>
  <ng-container [ngTemplateOutlet]="previewTemplate?.templateRef"></ng-container>
</ng-template>
