@use 'demo-variables' as *;

@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

.container {
  border: 1px solid;
  padding: 4rem 0;
  box-sizing: border-box;
  border-radius: $controlBorderRadius;

  margin: 5rem 0;

  border-color: get-map-field($theme-config, [ 'light', 'body', border-color]);
  @include host-selector-dark-theme() {
    border-color: get-map-field($theme-config, [ 'dark', 'body', border-color]);
  }

  background-color: get-map-field($theme-config, [ 'light', 'body', background-color]);
  @include host-selector-dark-theme() {
    background-color: get-map-field($theme-config, [ 'dark', 'body', background-color]);
  }
}

.tabs {
  padding: 0 4rem;
}

.tab {
  margin-top: 4rem;
  padding: 0 4rem;
}
