<pupa-checkbox [indeterminate]="false" [value]="false">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <div [pupaTooltip] [tooltipContentTemplate]="tooltipTemplate">
    <pupa-checkbox-label>False</pupa-checkbox-label>
    <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
  </div>
</pupa-checkbox>

<pupa-checkbox [indeterminate]="false" [value]="true">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <div [pupaTooltip] [tooltipContentTemplate]="tooltipTemplate">
    <pupa-checkbox-label>True</pupa-checkbox-label>
    <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
  </div>
</pupa-checkbox>

<pupa-checkbox [indeterminate]="true">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <div [pupaTooltip] [tooltipContentTemplate]="tooltipTemplate">
    <pupa-checkbox-label>Indeterminate</pupa-checkbox-label>
    <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
  </div>
</pupa-checkbox>

<pupa-checkbox [disabled]="true" [indeterminate]="false">
  <pupa-checkbox-mark></pupa-checkbox-mark>

  <div [pupaTooltip] [tooltipContentTemplate]="tooltipTemplate">
    <pupa-checkbox-label>Disabled</pupa-checkbox-label>
    <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
  </div>
</pupa-checkbox>

<ng-template #tooltipTemplate>
  <div class="tooltip-content">
    <div>Label</div>
    <div>Hint</div>
  </div>
</ng-template>
