@use 'functions';

.pupa-highlight {
  &_primary {
    background-color: functions.semantic-color(kind-primary-normal);
  }

  &_neutral {
    background-color: functions.semantic-color(kind-neutral-normal);
  }

  &_success {
    background-color: functions.semantic-color(kind-success-normal);
  }

  &_warning {
    background-color: functions.semantic-color(kind-warning-normal);
  }

  &_danger {
    background-color: functions.semantic-color(kind-danger-normal);
  }

  &_entity {
    background-color: functions.semantic-color(highlighter-entity);
  }

  &_search {
    background-color: functions.semantic-color(highlighter-search);
  }
}
