@use 'mixins';
@use 'functions';

/*
  Explore the possibility of excluding the management of external styles
  Originates from https://bimeister.atlassian.net/browse/BIM-14668
*/

@mixin pupa-apply-background() {
  background-color: functions.semantic-color(kind-opacity-normal, alpha-60);
}

.cdk-global-overlay-wrapper,
.cdk-overlay-connected-position-bounding-box {
  z-index: 10000;
}

.pupa-viewport-position-bounding-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pupa-viewport-position-bounding-box,
.pupa-viewport-position-backdrop,
.pupa-viewport-position-overlay {
  /*
  Thus this fields are set by script inside strategy class to proper view in mobile
  they need to be rewritten by class, so way to do so is using !important
  */
  @include mixins.xs() {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.cdk-overlay-dark-backdrop {
  @include pupa-apply-background;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  @include mixins.xs() {
    opacity: 1;
    @include pupa-apply-background;
  }
}

.cdk-overlay-without-backdrop {
  display: none;
  @include mixins.xs() {
    display: block;
    @include pupa-apply-background;
  }
}
