@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

/*
  Explore the possibility of excluding the management of external styles
  Originates from https://bimeister.atlassian.net/browse/BIM-14668
*/

@mixin apply-background() {
  background-color: semantic-color(kind-opacity-normal, alpha-60);
}

.cdk-global-overlay-wrapper,
.cdk-overlay-connected-position-bounding-box {
  z-index: 10000;
}

.cdk-overlay-dark-backdrop {
  @include apply-background;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  @include xs() {
    opacity: 1;
    @include apply-background;
  }
}

.cdk-overlay-without-backdrop {
  display: none;
  @include xs() {
    display: block;
    @include apply-background;
  }
}
