@use 'functions' as *;

.wrapper {
  display: flex;
  align-items: flex-end;
}

.container {
  // max-height: 500px;
  overflow: auto;
}

.trigger {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: lightblue;
  padding: 1rem;
  width: 6rem;
  height: 2rem;
  border: 1px dotted grey;
  cursor: pointer;
  position: relative;
}

.trigger_big {
  width: 22rem;
  height: 6rem;
}

.trigger_small {
  width: 3rem;
  height: 1rem;
}

.placeholder {
  height: 400px;
  width: 300px;
  background: rgba(grey, 0.1);
}

:host {
  .pupa-dropdown__icon_left {
    color: color(success);
  }

  .pupa-dropdown__icon_right {
    color: color(error);
  }
}
