@import 'themes/functions';
@import 'functions.scss';
@import 'mixins.scss';

.tab {
  &__icon {
    font-size: 3.4rem;
    min-width: 3.4rem;
    margin-right: 1rem;
  }
  &__name {
    font-size: 4.5rem;
    font-weight: 500;
  }
}

.tab + .tab {
  margin-left: 4rem;
}
