<div class="button-container">
  <pupa-button class="button-container__item" kind="primary">Primary</pupa-button>
  <pupa-button class="button-container__item" kind="primary-secondary">Primary-Secondary</pupa-button>
  <pupa-button class="button-container__item" kind="primary-subtle">Primary-Subtle</pupa-button>
  <pupa-button class="button-container__item" kind="secondary">Secondary</pupa-button>
  <pupa-button class="button-container__item" kind="warning">Warning</pupa-button>
  <pupa-button class="button-container__item" kind="danger">Danger</pupa-button>
  <pupa-button class="button-container__item" kind="subtle">Subtle</pupa-button>
  <pupa-button class="button-container__item" kind="border">Border</pupa-button>
  <pupa-button class="button-container__item" kind="subtle-danger">Subtle-Danger</pupa-button>
</div>
