@use 'functions' as *;

$max-height_item-container: 75rem;

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.options-container {
  width: 100%;
  height: 100%;

  max-height: $max-height_item-container;
  overflow-y: auto;
}
