@use 'mixins';
@use 'functions';

:host {
  appearance: none;
  text-decoration: none;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  font-family: inherit;

  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;

  .pupa-link-content {
    position: relative;
    white-space: nowrap;

    color: functions.semantic-color(link-normal);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      display: none;
      z-index: 1;

      background-color: functions.semantic-color(link-normal);
    }
  }

  @include mixins.hover {
    .pupa-link-content {
      color: functions.semantic-color(link-hover);

      &::after {
        background-color: functions.semantic-color(link-hover);
        display: block;
      }
    }
  }

  &:active {
    .pupa-link-content {
      color: functions.semantic-color(link-pressed);

      &::after {
        background-color: functions.semantic-color(link-pressed);
      }
    }
  }

  &:visited {
    .pupa-link-content {
      color: functions.semantic-color(link-visited);

      &::after {
        background-color: functions.semantic-color(link-visited);
      }
    }
  }

  &:focus-visible {
    .pupa-link-content {
      .pupa-substrate {
        border-width: 1px;
        border-style: solid;
        border-radius: 0.5rem;

        border-color: functions.semantic-color(lines-accent);
      }
    }
  }
}

.pupa-icon {
  margin-right: 1rem;
  margin-top: -0.25em;
}

.pupa-substrate {
  position: absolute;
  width: calc(100% + 2rem);
  height: calc(100% + 0.5rem);
  top: 0;
  left: -1rem;
  z-index: 2;
}
