<h3 demoAnchor>Simple code</h3>
<pupa-code [code]="simpleCode"></pupa-code>

<h3 demoAnchor>Simple code from fetch file</h3>
<pupa-code-fetch [codeFilePath]="example1TsPath"></pupa-code-fetch>

<h3 demoAnchor>Code container</h3>
<pupa-code-container [isPreviewExist]="false" [content]="example1Content"></pupa-code-container>

<h3 demoAnchor>Code container with Preview</h3>
<pupa-code-container [content]="example1Content">
  <demo-code-example-1 *pupaCodeContainerPreviewTemplate></demo-code-example-1>
</pupa-code-container>
