<h1>Dropdown menu</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-theme-wrapper [theme]="theme$ | async">
      <div class="content">
        <div
          [class.is-open]="dropdown1.opened$ | async"
          pupaDropdown
          [pupaDropdownDisabled]="dropdownMenuDisabled$ | async"
          #dropdown1="pupaDropdown"
        >
          <span>[1] {{ triggerText.value }}</span>
        </div>

        <pupa-dropdown-menu
          *pupaDropdownTemplate="dropdown1; horizontalPosition: horizontalPosition$ | async; let dropdownRef"
          [dropdownRef]="dropdownRef"
        >
          <pupa-dropdown-menu-item>
            <pupa-option-icon name="add-circle"></pupa-option-icon>
            Default item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-item [active]="true">
            <pupa-option-icon name="add"></pupa-option-icon>
            Active item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-item [disabled]="true">
            <pupa-option-icon name="close-circle"></pupa-option-icon>
            Disabled item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
          <pupa-dropdown-menu-item *ngFor="let index of [1, 2, 3, 4, 5, 6]">
            <pupa-option-title>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore iste non nostrum numquam quasi
              repellendus sit? Ducimus, molestiae, voluptatum.
            </pupa-option-title>
          </pupa-dropdown-menu-item>
        </pupa-dropdown-menu>

        <br />

        <div
          [class.is-open]="dropdown2.opened$ | async"
          pupaDropdown
          [pupaDropdownDisabled]="dropdownMenuDisabled$ | async"
          #dropdown2="pupaDropdown"
        >
          <span>[2] {{ triggerText.value }}</span>
        </div>

        <pupa-dropdown-menu
          *pupaDropdownTemplate="dropdown2; horizontalPosition: horizontalPosition$ | async; let dropdownRef"
          [dropdownRef]="dropdownRef"
        >
          <pupa-dropdown-menu-item [disabled]="true">
            <pupa-option-icon name="close-circle"></pupa-option-icon>
            Disabled item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
          <pupa-dropdown-menu-item *ngFor="let index of [1, 2, 3, 4, 5, 6]">
            <div class="text">option {{ index }}</div>
          </pupa-dropdown-menu-item>
        </pupa-dropdown-menu>
      </div>
    </pupa-theme-wrapper>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-config-item name="Set dropdown menu trigger text">
      <pupa-textarea [formControl]="triggerText"></pupa-textarea>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>

  <demo-example-viewer-section-label>DropdownMenuComponent properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property name="dropdownRef" type="DropdownRef" decoratorName="input">
      <ng-container *demoExampleViewerPropertyDescription>
        <div>Sets dropdown ref for auto closing.</div>
      </ng-container>
    </demo-example-viewer-property>
  </demo-example-viewer-section>

  <demo-example-viewer-section-label>DropdownMenuItemComponent properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property name="active" type="boolean" decoratorName="input">
      <ng-container *demoExampleViewerPropertyDescription>
        <div>Sets active state of item</div>
      </ng-container>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="disabled" type="boolean" decoratorName="input">
      <ng-container *demoExampleViewerPropertyDescription>
        <div>Sets disabled state of item</div>
      </ng-container>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="autoClose" type="boolean" decoratorName="input">
      <ng-container *demoExampleViewerPropertyDescription>
        <div>Sets auto closing mode for item</div>
      </ng-container>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h3 demoAnchor>Example usage</h3>
<pupa-code-container [content]="example1Content">
  <demo-dropdown-menu-example-1 *pupaCodeContainerPreviewTemplate></demo-dropdown-menu-example-1>
</pupa-code-container>
