<h1>Dropdown menu</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-theme-wrapper [theme]="theme$ | async">
      <div class="content">
        <div
          [class.is-open]="dropdown.isOpen$ | async"
          [pupaDropdownMenu]="dropdownContent1"
          [dropdownMenuDisabled]="dropdownMenuDisabled$ | async"
          #dropdown="pupaDropdownMenu"
        >
          <span>[1] {{ triggerText.value }}</span>
        </div>

        <pupa-dropdown-menu-content #dropdownContent1 [horizontalPosition]="horizontalPosition$ | async">
          <pupa-dropdown-menu-item>
            <pupa-option-icon name="add-circle"></pupa-option-icon>
            Default item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-item [active]="true">
            <pupa-option-icon name="add"></pupa-option-icon>
            Active item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-item [disabled]="true">
            <pupa-option-icon name="close-circle"></pupa-option-icon>
            Disabled item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
          <pupa-dropdown-menu-item *ngFor="let index of [1, 2, 3, 4, 5, 6]">
            <pupa-option-title>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore iste non nostrum numquam quasi
              repellendus sit? Ducimus, molestiae, voluptatum.
            </pupa-option-title>
          </pupa-dropdown-menu-item>
        </pupa-dropdown-menu-content>

        <br />

        <div
          [class.is-open]="dropdown.isOpen$ | async"
          [pupaDropdownMenu]="dropdownContent2"
          [dropdownMenuDisabled]="dropdownMenuDisabled$ | async"
          #dropdown="pupaDropdownMenu"
        >
          <span>[2] {{ triggerText.value }}</span>
        </div>

        <pupa-dropdown-menu-content #dropdownContent2 [horizontalPosition]="horizontalPosition$ | async">
          <pupa-dropdown-menu-item [disabled]="true">
            <pupa-option-icon name="close-circle"></pupa-option-icon>
            Disabled item
          </pupa-dropdown-menu-item>
          <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
          <pupa-dropdown-menu-item *ngFor="let index of [1, 2, 3, 4, 5, 6]">
            <div class="text">option {{ index }}</div>
          </pupa-dropdown-menu-item>
        </pupa-dropdown-menu-content>
      </div>
    </pupa-theme-wrapper>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-config-item name="Set dropdown menu trigger text">
      <pupa-textarea [formControl]="triggerText"></pupa-textarea>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>

  <demo-example-viewer-section-label>DropdownMenuDirective Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="pupaDropdownMenu" type="DropdownMenuContentComponent">
      <ng-container *demoExampleViewerPropertyDescription>Content component for dropdown menu.</ng-container>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="dropdownMenuDisabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the dropdown menu is disabled.</ng-container>
      <demo-props-switcher #dropdownMenuDisabled$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>

  <demo-example-viewer-section-label>DropdownMenuContentComponent Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="horizontalPosition" type="HorizontalConnectionPos">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the horizontal position of the element.</ng-container>
      <demo-props-radio-select
        #horizontalPosition$
        [options]="horizontalPositionOptions"
        direction="row"
      ></demo-props-radio-select>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h3 demoAnchor>Example usage</h3>
<pupa-code-container [content]="example1Content">
  <demo-dropdown-menu-example-1 *pupaCodeContainerPreviewTemplate></demo-dropdown-menu-example-1>
</pupa-code-container>
