<h1>ButtonMulti</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <p>
      The element combining the default button and the set of options in the dropdown menu. All
      <pupa-code-inline>Button</pupa-code-inline> properties are available for
      <pupa-code-inline>ButtonMulti</pupa-code-inline>.
    </p>

    <h3>Button kind</h3>
    <pupa-code-container [content]="example1Content">
      <demo-button-multi-example-1 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-1>
    </pupa-code-container>

    <h3>Icon button</h3>
    <pupa-code-container [content]="example2Content">
      <demo-button-multi-example-2 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-2>
    </pupa-code-container>

    <h3>Button size</h3>
    <pupa-code-container [content]="example3Content">
      <demo-button-multi-example-3 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-3>
    </pupa-code-container>

    <h3>Extra cases</h3>
    <pupa-code-container [content]="example4Content">
      <demo-button-multi-example-4 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-4>
    </pupa-code-container>

    <h3>Dropdown positions</h3>
    <pupa-code-container [content]="example5Content">
      <demo-button-multi-example-5 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-5>
    </pupa-code-container>

    <h3>Dropdown with disabled item</h3>
    <pupa-code-container [content]="example6Content">
      <demo-button-multi-example-6 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-6>
    </pupa-code-container>

    <h3>Dropdown with plain item</h3>
    <pupa-code-container [content]="example7Content">
      <demo-button-multi-example-7 *pupaCodeContainerPreviewTemplate></demo-button-multi-example-7>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <pupa-button-multi
          [size]="size$ | async"
          [kind]="kind$ | async"
          [disabled]="disabled$ | async"
          [type]="type$ | async"
          [icon]="buttonIconFormControl.value"
          [iconPosition]="iconPosition$ | async"
          [loading]="loading$ | async"
          [active]="active$ | async"
          [expandActive]="expandActive$ | async"
          [dropdownMenuContent]="dropdownContent"
        >
          ButtonMulti
        </pupa-button-multi>
        <pupa-dropdown-menu-content #dropdownContent [horizontalPosition]="horizontalPosition$ | async">
          <pupa-dropdown-menu-item [disabled]="optionDisabled$ | async" [plain]="optionPlain$ | async">
            option
          </pupa-dropdown-menu-item>
        </pupa-dropdown-menu-content>
      </demo-example-viewer-content>

      <demo-example-viewer-section>
        <demo-example-viewer-section-label>PupaButtonMulti Properties</demo-example-viewer-section-label>
        <demo-example-viewer-property decoratorName="input" name="expandActive" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>
            Whether the button's expand button is in active state.
          </ng-container>
          <demo-props-switcher #expandActive$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property
          decoratorName="input"
          name="dropdownMenuContent"
          type="DropdownMenuContentComponent"
        >
          <ng-container *demoExampleViewerPropertyDescription> Content component for dropdown menu. </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-section-label size="medium"
          >Inherited from <pupa-code-inline>Button</pupa-code-inline></demo-example-viewer-section-label
        >
        <demo-example-viewer-property decoratorName="input" name="size" type="ButtonSize">
          <ng-container *demoExampleViewerPropertyDescription>
            <p>Sets the size of the button.</p>
            <p>Default: <pupa-code-inline>'medium'</pupa-code-inline></p>
          </ng-container>
          <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="kind" type="ButtonKind">
          <ng-container *demoExampleViewerPropertyDescription>
            <p>Sets the kind of the button.</p>
            <p>Default: <pupa-code-inline>'primary'</pupa-code-inline></p>
          </ng-container>
          <demo-props-select #kind$ [options]="kindOptions"></demo-props-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="type" type="ButtonType">
          <ng-container *demoExampleViewerPropertyDescription>
            <p>Sets the type of the button.</p>
            <p>Default: <pupa-code-inline>'button'</pupa-code-inline></p>
          </ng-container>
          <demo-props-radio-select #type$ [options]="typeOptions" direction="row"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="icon" type="string">
          <ng-container *demoExampleViewerPropertyDescription>Sets the icon to display inside the button.</ng-container>
          <pupa-input-text [formControl]="buttonIconFormControl"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="iconPosition" type="ButtonIconPosition">
          <ng-container *demoExampleViewerPropertyDescription>
            <p>Sets the position of the icon inside the button.</p>
            <p>Default: <pupa-code-inline>'left'</pupa-code-inline></p>
          </ng-container>
          <demo-props-radio-select
            #iconPosition$
            direction="row"
            [options]="iconPositionOptions"
          ></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the button is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="loading" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the button is in loading state.</ng-container>
          <demo-props-switcher #loading$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="active" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the button is in active state.</ng-container>
          <demo-props-switcher #active$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tabIndex" type="string">
          <ng-container *demoExampleViewerPropertyDescription>Sets index of the button in tabbing order.</ng-container>
          <pupa-input-text [formControl]="tabIndexFormControl"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-section-label>PupaDropdownMenuContent Properties</demo-example-viewer-section-label>
        <demo-example-viewer-property decoratorName="input" name="horizontalPosition" type="HorizontalConnectionPos">
          <ng-container *demoExampleViewerPropertyDescription>Sets position of the dropdown.</ng-container>
          <demo-props-radio-select
            #horizontalPosition$
            [options]="horizontalPositions"
            direction="row"
          ></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-section-label>PupaDropdownMenuItem Properties</demo-example-viewer-section-label>
        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription
            >Whether the dropdown option is in disabled state.</ng-container
          >
          <demo-props-switcher #optionDisabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="plain" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription
            >Whether the dropdown option is in plain state.</ng-container
          >
          <demo-props-switcher #optionPlain$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
