@use 'functions' as *;
$navbar-height: 16rem;

$theme-config: (
  light: (
    body: (
      background-color: color(neutral-1),
      border-color: color(base-white-n300),
      font-color: color(base-dark-n400),
    ),
    navbar: (
      background-color: color(base-white-n400),
      border-color: color(base-white-n300),
      font-color: color(base-dark-n400),
    ),
  ),
  dark: (
    body: (
      background-color: color(neutral-1000),
      border-color: color(base-dark-n400),
      font-color: color(base-white-n400),
    ),
    navbar: (
      background-color: color(base-dark-n500),
      border-color: color(base-dark-n400),
      font-color: color(base-white-n400),
    ),
  ),
);
