@use 'sass:map';
@use 'sass:list';

/*
  return value:
    a list consisting of the $root-list and $to-spread-list expanded in it (like in JS [...arr])

  why use it:
    - allows you to keep the list flat

  example:
    $config: (
      nested-field-1: (
        nested-field-2: (
          nested-field-3: 'very deeply nested value'
        )
      )
    );

    $value: get-map-field($config, [nested-field-1, nested-field-2, nested-field-3]); // 'very deeply nested value'
*/
@function spread-list($root-list, $to-spread-list) {
  $combined-list: $root-list;

  @each $value in $to-spread-list {
    $combined-list: list.append($combined-list, $value);
  }

  @return $combined-list;
}
