@use 'sass:meta';
@use 'mixins' as *;
@use 'functions' as *;
@use 'demo-functions' as *;
@use 'demo-variables' as *;

@mixin bordered-box {
  background-color: semantic-color(surface-primary);
  border: 1px solid semantic-color(borders-border);

  border-radius: 1rem;
}
