/* You can add global styles to this file, and also import other style files */
@use 'functions';
@use 'mixins';

@use './highlightjs.styles.scss';

$tabletWindowWidth: 1281;
$desktopWindowWidth: 1577;
$largeDesktopWindowWidth: 2025;

@include mixins.scrollbar();

html {
  color: functions.color(neutral-1000);
  font-size: 4px;

  @include mixins.light-theme-class-parent() {
    @include mixins.apply-light-theme();
  }

  @include mixins.dark-theme-class-parent() {
    @include mixins.apply-dark-theme();
  }
}

.adaptive {
  @include mixins.width-less-than($tabletWindowWidth) {
    font-size: 5px;
  }

  @include mixins.width-between($desktopWindowWidth, $largeDesktopWindowWidth) {
    font-size: 5px;
  }

  @include mixins.width-more-than($largeDesktopWindowWidth) {
    font-size: 6px;
  }
}

body {
  font-size: 4rem;
  line-height: 6rem;
  @include mixins.font-preset-body-m();
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  position: relative;
}

h1 {
  @include mixins.font-preset-h1;

  margin-top: 10rem;
  margin-bottom: 10rem;
}

h2 {
  @include mixins.font-preset-h2;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

h3 {
  @include mixins.font-preset-h3;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

h4 {
  @include mixins.font-preset-h4;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

h5 {
  @include mixins.font-preset-h5;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

p {
  margin-top: 2rem;
}
