<div class="button-container">
  <pupa-button class="button-container__item" kind="primary">primary</pupa-button>
  <pupa-button class="button-container__item" kind="secondary">secondary</pupa-button>
  <pupa-button class="button-container__item" kind="border">border</pupa-button>
  <pupa-button class="button-container__item" kind="success">success</pupa-button>
  <pupa-button class="button-container__item" kind="warning">warning</pupa-button>
  <pupa-button class="button-container__item" kind="danger">danger</pupa-button>
</div>
