<nav #navRef class="navbar">
  <div class="navbar__menu-toggle left-end">
    <demo-menu-toggle
      [isOpen]="isMenuOpenedControl.valueChanges | async"
      (toggle)="handleToggleNavbar($event)"
    ></demo-menu-toggle>
  </div>

  <div class="navbar__logo-wrapper" routerLink="/">
    <img *ngIf="santaHatIcon" [src]="santaHatIcon" alt="" class="navbar__santa-hat-icon" />
    <img [src]="logoIcon" alt="" class="navbar__logo-icon" />
    <img [src]="logo$ | async" alt="" class="navbar__logo-image" />
  </div>

  <div class="navbar__spacer"></div>
  <div class="navbar__item navbar__status">v.{{ version$ | async }}</div>
  <div class="navbar__line"></div>
  <div class="navbar__item">
    <demo-grid-toggle label="toggle grid"></demo-grid-toggle>
  </div>

  <div class="navbar__icon right-end">
    <demo-theme-toggle></demo-theme-toggle>
  </div>
</nav>
