<div
  class="pupa-table-placeholder-cell"
  [class.pupa-table-placeholder-cell_full-height]="isFullHeightCells"
  *ngFor="let column of columns"
  [style.width.px]="column.widthPx$ | async"
  [attr.data-index]="column.index"
  [attr.data-column-id]="column.definition.id"
  [attr.data-row-id]="row.id"
  [attr.data-row-type]="rowType"
></div>
<div
  *ngIf="isPlaceholderVisible$ | async"
  class="pupa-table-placeholder-cell pupa-table-placeholder-cell-placeholder"
  [class.pupa-table-placeholder-cell_full-height]="isFullHeightCells"
  [attr.data-column-id]="'placeholder'"
  [attr.data-row-id]="row.id"
></div>
