@use 'mixins';
@use 'functions';

:host {
  display: block;
}

.pupa-table-placeholder-cell {
  position: relative;
  height: 1px;
  margin-right: 1px;
  background-color: unset;
  flex-shrink: 0;

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: functions.semantic-color(lines-normal);
    position: absolute;
    right: -1px;
    top: 0;
  }

  @include mixins.host-selector('.pupa-table-placeholder__scrollable-container') {
    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }

  @include mixins.host-selector('.pupa-table-placeholder__pinned-right-container') {
    margin-left: 1px;
    margin-right: 0;

    &::after {
      right: auto;
      left: -1px;
    }
  }

  &_full-height {
    height: 100%;
  }
}

.pupa-table-placeholder-cell-placeholder {
  flex-shrink: 1;
  width: 100%;
  display: none;

  @include mixins.host-selector('.pupa-table-placeholder__scrollable-container') {
    & {
      display: block;
    }
  }
}
