@use 'mixins';
@use 'functions';
@use '../../styles/calendar.styles';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 4rem;
}

.pupa-weekday {
  display: flex;
  width: calendar.$cell-size;
  justify-content: center;

  @include mixins.font-preset-caption-xs();

  color: functions.semantic-color(text-secondary);
}
