<pupa-tag
  [clickable]="true"
  color="primary"
  [pupaDropdown]="dropdownContent"
  [pupaDropdownWidthType]="widthType"
  [pupaDropdownDisabled]="disabled"
  #dropdown="pupaDropdown"
>
  {{ (dropdown.opened$ | async) ? 'CLOSE' : 'OPEN' }}
  <pupa-icon [name]="(dropdown.opened$ | async) ? 'app-chevron-up' : 'app-chevron-down'"></pupa-icon>
</pupa-tag>

<ng-template #dropdownContent>
  <div class="dropdown-container">
    <div class="dropdown-item">
      <div class="dropdown-item__preview">
        <pupa-icon class="dropdown-item__icon" name="ios-image"></pupa-icon>
        <span>image.jpg</span>
      </div>
      <div class="dropdown-item__actions">
        <pupa-button-icon icon="ios-download" kind="subtle"></pupa-button-icon>
        <pupa-button-icon icon="app-trash" kind="subtle"></pupa-button-icon>
      </div>
    </div>
  </div>
</ng-template>
