<div class="trigger-container">
  <pupa-tag
    kind="primary"
    #dropdown="pupaDropdown"
    [clickable]="true"
    [pupaDropdown]="dropdownContent"
    [pupaDropdownWidthType]="widthType"
    [pupaDropdownDisabled]="disabled"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    <pupa-icon [name]="(dropdown.opened$ | async) ? 'app-chevron-up' : 'app-chevron-down'"></pupa-icon>
  </pupa-tag>
</div>

<ng-template #dropdownContent>
  <div>sample content</div>
  <div>🎳</div>
</ng-template>
