@use 'functions';

:host {
  display: block;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

.pupa-tabs {
  &__container {
    width: fit-content;
  }

  &__items {
    display: flex;
  }

  &__rail-container {
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 100%;
    overflow-x: hidden;
  }

  &_grab {
    cursor: grab;
  }

  &_grabbing {
    cursor: grabbing;
  }
}

.pupa-tabs-rail {
  transform: translateX(0);

  &__highlighter {
    width: 0;
    height: 0.5rem;
    background-color: functions.semantic-color(kind-primary-normal);
    transition: 0.25s ease-in-out;
  }
}

.pupa-gradient {
  display: none;
  position: absolute;

  z-index: 9;
  pointer-events: none;

  width: 24rem;
  height: 100%;

  background: linear-gradient(
    270deg,
    functions.semantic-color(surface-primary) 0%,
    functions.semantic-color(surface-primary, alpha-3) 87.96%
  );

  &_left {
    left: 0;

    transform: rotate(-180deg);
  }

  &_right {
    right: 0;
  }

  &_visible {
    display: block;
  }
}
