@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: block;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

.tabs {
  &__container {
    width: fit-content;
  }

  &__items {
    display: flex;
  }

  &__rail-container {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    overflow-x: hidden;
  }

  &_grab {
    cursor: grab;
  }

  &_grabbing {
    cursor: grabbing;
  }
}

.tabs-rail {
  transform: translateX(0);

  &__highlighter {
    width: 0;
    height: 2px;
    background-color: color(primary-700);
    transition: 0.25s ease-in-out;

    @include host-selector-dark-theme() {
      background-color: color(primary-100);
    }
  }
}

.gradient {
  display: none;
  position: absolute;

  z-index: 9;
  pointer-events: none;

  width: 24rem;
  height: 100%;

  background: linear-gradient(270deg, color(neutral-1) 0%, color(neutral-1, alpha-1) 87.96%);
  @include host-selector-dark-theme {
    background: linear-gradient(270deg, color(neutral-1000) 0%, color(neutral-1, alpha-1) 87.96%);
  }

  &_left {
    left: 0;

    transform: rotate(-180deg);
  }

  &_right {
    right: 0;
  }

  &_visible {
    display: block;
  }
}
