<pupa-accordion-group>
  <pupa-accordion [destroyable]="false">
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body>Accordion Body</pupa-accordion-body>
  </pupa-accordion>

  <pupa-accordion [destroyable]="false">
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body>Accordion Body</pupa-accordion-body>
  </pupa-accordion>

  <pupa-accordion [destroyable]="false">
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body>Accordion Body</pupa-accordion-body>
  </pupa-accordion>
</pupa-accordion-group>
