<h1>Drawer</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-button (click)="openDrawer()"> Open drawer</pupa-button>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>DrawerConfig</demo-example-viewer-section-label>
  <demo-example-viewer-section [formGroup]="formGroup">
    <demo-example-viewer-property name="float" type="left' | 'right'">
      <ng-container *demoExampleViewerPropertyDescription>Float.</ng-container>
      <demo-props-radio-select
        formControlName="float"
        [options]="floatOptions"
        direction="row"
      ></demo-props-radio-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="hasBackdrop" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Has backdrop.</ng-container>
      <demo-props-switcher formControlName="hasBackdrop"></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="isBackdropTransparent" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Backdrop transparent.</ng-container>
      <demo-props-switcher formControlName="isBackdropTransparent"></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="closeOnBackdropClick" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Close on backdrop click.</ng-container>
      <demo-props-switcher formControlName="closeOnBackdropClick"></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="hasPadding" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Has padding.</ng-container>
      <demo-props-switcher formControlName="hasPadding"></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="isFullscreen" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Fullscreen mode.</ng-container>
      <demo-props-switcher formControlName="isFullscreen"></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h3 demoAnchor>Basic usage</h3>
<pupa-code-container [content]="example1Content">
  <demo-drawer-trigger-example-1 *pupaCodeContainerPreviewTemplate></demo-drawer-trigger-example-1>
</pupa-code-container>
