<div class="content">
  <pupa-option>
    <div class="option__content">
      <pupa-option-title>Option</pupa-option-title>
      <pupa-option-description>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </pupa-option-description>
    </div>
  </pupa-option>
  <pupa-option [disabled]="true">
    <div class="option__content">
      <pupa-option-title> Disabled option</pupa-option-title>
      <pupa-option-description>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </pupa-option-description>
    </div>
  </pupa-option>
  <pupa-option [active]="true">
    <div class="option__content">
      <pupa-option-title> Active option</pupa-option-title>
      <pupa-option-description>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </pupa-option-description>
    </div>
  </pupa-option>
  <pupa-option [hasCheckbox]="true">
    <div class="option__content">
      <pupa-option-title> Option with checkbox</pupa-option-title>
      <pupa-option-description>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </pupa-option-description>
    </div>
  </pupa-option>
</div>
