@mixin font-type-regular($condensed: false) {
  @if $condensed {
    font-family: 'NotoSansDisplay-Condensed', sans-serif;
  } @else {
    font-family: 'NotoSans', sans-serif;
  }
  font-weight: 400;
}
