@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

.popover-layout {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid semantic-color(kind-neutral-normal);
  border-radius: $controlBorderRadius;
  background: semantic-color(surface-primary, alpha-700);
  color: semantic-color(text-primary);
  box-shadow: 0 1.5rem 1.5rem -1rem color(neutral-1000, alpha-3), 0 5rem 6rem -1rem color(neutral-1000, alpha-5);

  @include blur();

  @include xs {
    height: 100%;
    width: 100%;

    backdrop-filter: none;
    background: semantic-color(surface-primary, alpha-1000);
  }
}
