@use 'functions';
@use 'mixins';
@use 'variables';

.popover-layout {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid functions.semantic-color(kind-neutral-normal);
  border-radius: variables.$controlBorderRadius;
  background: functions.semantic-color(surface-primary, alpha-700);
  color: functions.semantic-color(text-primary);
  box-shadow: 0 1.5rem 1.5rem -1rem functions.color(neutral-1000, alpha-3),
    0 5rem 6rem -1rem functions.color(neutral-1000, alpha-5);

  @include mixins.blur();

  @include mixins.xs {
    height: 100%;
    width: 100%;

    backdrop-filter: none;
    background: functions.semantic-color(surface-primary, alpha-1000);
  }
}
