<h1>Tabs</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-tabs-example-1 *pupaCodeContainerPreviewTemplate></demo-tabs-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Non destroyable tab content</h3>
    <pupa-code-container [content]="example2Content">
      <demo-tabs-example-2 *pupaCodeContainerPreviewTemplate></demo-tabs-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Control by router</h3>
    <pupa-code-container [content]="example3Content">
      <demo-tabs-example-3 *pupaCodeContainerPreviewTemplate></demo-tabs-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Without default tab content</h3>
    <pupa-code-container [content]="example4Content">
      <demo-tabs-example-4 *pupaCodeContainerPreviewTemplate></demo-tabs-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Disabled tab</h3>
    <pupa-code-container [content]="example5Content">
      <demo-tabs-example-5 *pupaCodeContainerPreviewTemplate></demo-tabs-example-5>
    </pupa-code-container>

    <h3 demoAnchor>With separator</h3>
    <pupa-code-container [content]="example6Content">
      <demo-tabs-example-6 *pupaCodeContainerPreviewTemplate></demo-tabs-example-6>
    </pupa-code-container>

    <h3 demoAnchor>Scroll logic</h3>
    <pupa-code-container [content]="example7Content">
      <demo-tabs-example-7 *pupaCodeContainerPreviewTemplate></demo-tabs-example-7>
    </pupa-code-container>

    <h3 demoAnchor>Management of click event</h3>
    <pupa-code-container [content]="example8Content">
      <demo-tabs-example-8 *pupaCodeContainerPreviewTemplate></demo-tabs-example-8>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content class="content">
        <pupa-tabs-container>
          <pupa-tabs>
            <pupa-tabs-item name="tab1" [disabled]="disabled$ | async">Tab 1</pupa-tabs-item>
          </pupa-tabs>
          <pupa-tabs-content>
            <div class="tab" *pupaTabsItemContentTemplate="'tab1'">Tab 1 content</div>
          </pupa-tabs-content>
        </pupa-tabs-container>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>TabsItemComponent properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="name" type="string" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription
            >Set the name of the element for content's match.
          </ng-container>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="disabled" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="active" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription
            >Whether the element is active. First element is active by default.
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>TabsItemComponent events</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="clickEvent" type="EventEmitter<VoidFunction>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription
            >Get click event callback to trigger when needed.
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>TabsContentComponent properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="destroyable" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription> Whether the content is destroyable.</ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>TabsComponent events</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="activeTabNameChange" type="EventEmitter<T>" decoratorName="output">
          <ng-container *demoExampleViewerPropertyDescription>Get active tab's name.</ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
