@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

$adaptive-property: 'max-width';

.breadcrumb {
  @include font-preset-h7();

  padding: 1.5rem 2rem;

  display: block;
  box-sizing: border-box;
  border: 0.5rem solid transparent;
  border-radius: $controlBorderRadius;

  text-decoration: none;
  color: semantic-color(text-secondary);
  cursor: pointer;
  @include ellipsis-text-overflow;

  transition: color variable(transition-duration_shorter) variable(transition-timing-function_common),
    background-color variable(transition-duration_shorter) variable(transition-timing-function_common);

  &:not(.breadcrumb_active) {
    @include hover() {
      background-color: semantic-color(kind-opacity-hover);
      color: semantic-color(text-primary);
    }
  }

  &_active,
  &:active {
    color: semantic-color(text-primary);
    cursor: default;
  }

  &:focus-visible {
    border-color: semantic-color(lines-accent);
    outline: none;
  }

  @include xs() {
    @include font-size-m();
  }

  @include width-between-property(
    $property: $adaptive-property,
    $width-start: $lgBreakPoint,
    $value-start: 160,
    $width-end: $lgBreakPoint,
    $value-end: 220,
    $is-save-width-before: true,
    $is-save-width-after: true,
    $unit: 1px
  );
}
