@use 'mixins';
@use 'functions';
@use 'variables';

$adaptive-property: 'max-width';

.pupa-breadcrumb {
  @include mixins.font-preset-h7();

  padding: 1.5rem 2rem;

  display: block;
  box-sizing: border-box;
  border: 0.5rem solid transparent;
  border-radius: variables.$controlBorderRadius;

  text-decoration: none;
  color: functions.semantic-color(text-secondary);
  cursor: pointer;
  @include mixins.ellipsis-text-overflow;

  transition: color functions.variable(transition-duration_shorter)
      functions.variable(transition-timing-function_common),
    background-color functions.variable(transition-duration_shorter)
      functions.variable(transition-timing-function_common);

  &:not(.pupa-breadcrumb_active) {
    @include mixins.hover() {
      background-color: functions.semantic-color(kind-opacity-hover);
      color: functions.semantic-color(text-primary);
    }
  }

  &_active,
  &:active {
    color: functions.semantic-color(text-primary);
    cursor: default;
  }

  &:focus-visible {
    border-color: functions.semantic-color(lines-accent);
    outline: none;
  }

  @include mixins.xs() {
    @include mixins.font-size-m();
  }

  @include mixins.width-between-property(
    $property: $adaptive-property,
    $width-start: variables.$lgBreakPoint,
    $value-start: 160,
    $width-end: variables.$lgBreakPoint,
    $value-end: 220,
    $is-save-width-before: true,
    $is-save-width-after: true,
    $unit: 1px
  );
}
