<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="dropDownOverlayOrigin$ | async"
  [cdkConnectedOverlayOpen]="isExpanded$ | async"
  [cdkConnectedOverlayWidth]="width ? width : (dropDownTriggerButtonWidthPx$ | async)"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  (attach)="handleAttachOverlay()"
  (detach)="handleDetachOverlay()"
>
  <pupa-theme-wrapper
    class="select-dropdown-wrapper"
    (wheel)="processEventPropagation($event)"
    (mousedown)="processEventPropagation($event)"
    (touchstart)="processEventPropagation($event)"
    (touchmove)="processEventPropagation($event)"
    (touchend)="processEventPropagation($event)"
  >
    <section class="select-dropdown" [@dropdownExpanded]="animationState$ | async">
      <ng-content></ng-content>
    </section>
  </pupa-theme-wrapper>
</ng-template>
