@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

.select-dropdown {
  width: 100%;
  height: 100%;
  border-radius: $containerBorderRadius;
  @include blur(3rem);
  background-color: semantic-color(surface-glass, alpha-700);
  border: 1px solid semantic-color(lines-normal);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 1.5rem -0.5rem color(neutral-1000, alpha-3), 0 3rem 4rem -1rem color(neutral-1000, alpha-5);
}

.select-dropdown-wrapper {
  display: contents;
}
