<pupa-textarea
  [placeholder]="'Medium size (default)'"
  [formControl]="control"
  [minRows]="1"
  [size]="'medium'"
></pupa-textarea>

<pupa-textarea [placeholder]="'Large size'" [formControl]="control" [minRows]="1" [size]="'large'"></pupa-textarea>

<pupa-textarea-inline
  [placeholder]="'Inline medium size (default)'"
  [formControl]="control"
  [minRows]="1"
  [size]="'medium'"
></pupa-textarea-inline>

<pupa-textarea-inline
  [placeholder]="'Inline large size'"
  [formControl]="control"
  [minRows]="1"
  [size]="'large'"
></pupa-textarea-inline>
