@use 'functions' as *;
@use 'mixins' as *;

.alerts-toolbar {
  color: color(neutral-1000);
  background-color: color(neutral-7);

  @include host-selector-dark-theme {
    color: color(neutral-1);
    background-color: color(neutral-1000);
  }

  &__container {
    padding: 2rem 4rem;
  }
}
