@use 'functions';

$largeSize: 12rem;
$mediumSize: 8rem;
$smallSize: 6rem;
$extraSmallSize: 5rem;

@mixin pupa-super-rectangle($size) {
  width: $size;
  height: $size;
  $width: functions.trim($size);
  $height: functions.trim($size);
  $halfWidth: calc($width / 2);
  $halfHeight: calc($height / 2);
  -webkit-mask: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "' enable-background='new 0 0 " + $width + ' ' + $height + "' xml:space='preserve'%3E%3Cpath fill='black' stroke='none' d='M 0," + $halfHeight + ' C 0,0 0,0 ' + $halfWidth + ',0 S ' + $width + ',0 ' + $width + ',' + $halfHeight + ' ' + $width + ',' + $height + ' ' + $halfWidth + ',' + $height + ' 0,' + $height + ' 0,' + $halfHeight + "'%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

@mixin pupa-semantic-colors-rectangle() {
  &.pupa-holder_danger {
    background-color: functions.semantic-color(kind-danger-normal);
  }
  &.pupa-holder_neutral {
    background-color: functions.semantic-color(kind-neutral-normal);
  }
  &.pupa-holder_opacity {
    background-color: functions.semantic-color(kind-opacity-normal);
  }
  &.pupa-holder_primary {
    background-color: functions.semantic-color(kind-primary-normal);
  }
  &.pupa-holder_success {
    background-color: functions.semantic-color(kind-success-normal);
  }
  &.pupa-holder_warning {
    background-color: functions.semantic-color(kind-warning-normal);
  }
  &.pupa-holder_disabled {
    background-color: functions.semantic-color(kind-neutral-disabled);
  }
}

.pupa-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  aspect-ratio: 1;
  color: functions.semantic-color(text-primary);

  background: transparent;

  &_with-background {
    background: functions.semantic-color(kind-neutral-normal);
  }

  &_large {
    height: $largeSize;
    width: $largeSize;
    font-size: 5rem;
  }

  &_medium {
    height: $mediumSize;
    width: $mediumSize;
    font-size: 4rem;
  }

  &_small {
    height: $smallSize;
    width: $smallSize;
    font-size: 3.5rem;
  }

  &_extra-small {
    height: $extraSmallSize;
    width: $extraSmallSize;
    font-size: 2rem;
  }

  &_with-background {
    &.pupa-holder_large {
      $size: $largeSize;
      font-size: 5rem;

      @include pupa-super-rectangle($size);
      @include pupa-semantic-colors-rectangle();
    }

    &.pupa-holder_medium {
      $size: $mediumSize;
      font-size: 4rem;

      @include pupa-super-rectangle($size);
      @include pupa-semantic-colors-rectangle();
    }

    &.pupa-holder_small {
      $size: $smallSize;
      font-size: 3rem;

      @include pupa-super-rectangle($size);
      @include pupa-semantic-colors-rectangle();
    }

    &.pupa-holder_extra-small {
      $size: $extraSmallSize;
      font-size: 2rem;

      @include pupa-super-rectangle($size);
      @include pupa-semantic-colors-rectangle();
    }
  }
}
