<div class="badge-container">
  <div>
    Small size badge:
    <pupa-badge>
      <pupa-badge-marker [size]="'small'">
        <span class="circle"></span>
      </pupa-badge-marker>
      <pupa-avatar></pupa-avatar>
    </pupa-badge>
  </div>
  <div>
    Medium (default) size badge:
    <pupa-badge>
      <pupa-badge-marker [size]="'medium'">
        <pupa-counter [count]="1" color="primary"></pupa-counter>
      </pupa-badge-marker>
      <pupa-icon name="app-notification"></pupa-icon>
    </pupa-badge>
  </div>
</div>
