@use 'functions';

:host {
  display: flex;
  width: fit-content;
  height: auto;
}

.pupa-badge-indicator {
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

  &__circle {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }

  &__new {
    border: 1.6px solid functions.semantic-color(kind-primary-normal);
  }

  &__success {
    background-color: functions.semantic-color(kind-success-normal);
  }

  &__danger {
    background-color: functions.semantic-color(kind-danger-normal);
  }

  &__warning {
    background-color: functions.semantic-color(kind-warning-normal);
  }

  &__loading {
    background-color: functions.semantic-color(kind-primary-normal);
    animation: pupa-pulse 750ms infinite alternate ease-out;
  }
}

@keyframes pupa-pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
