<h1>Selector demo</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-selector [formControl]="formControl">
      <pupa-selector-item *ngFor="let day of daysOfWeek; index as index" [value]="index">
        {{ day }}
      </pupa-selector-item>
    </pupa-selector>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-config-item name="Set form control to disabled state">
      <demo-props-form-control-disabled [control]="formControl"></demo-props-form-control-disabled>
      <ng-container *demoExampleViewerConfigItemDescription>
        Use
        <pupa-code-inline>formControl.disable()</pupa-code-inline>
      </ng-container>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>
</demo-example-viewer>
