<h1>Chip select</h1>
<div class="group">
  <pupa-chip-select
    *ngFor="let i of arr"
    [selectItems]="selectItems"
    [items]="items"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
  <pupa-chip-select
    [selectItems]="[]"
    [items]="items"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
  <pupa-chip-select
    [selectItems]="[]"
    [items]="items"
    [maxWidth]="400"
    [selectOne]="true"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
  <pupa-chip-select
    [selectItems]="[]"
    [items]="[]"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
  <pupa-chip-select
    [selectItems]="[]"
    [items]="[]"
    [readonly]="true"
    [selectOne]="true"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
</div>
<div class="right-side-chip-select">
  <pupa-chip-select
    [selectItems]="[]"
    [items]="items"
    (removedItem)="removedItem($event)"
    (addedItem)="addedItem($event)"
  ></pupa-chip-select>
</div>
