<div class="input-wrapper" [ngClass]="resultClassList$ | async">
  <div class="input-control">
    <pupa-icon-holder size="small" [withBackground]="false">
      <pupa-icon name="app-clock"></pupa-icon>
    </pupa-icon-holder>

    <input
      class="input"
      type="text"
      #inputElement
      [placeholder]="timeMask"
      [attr.disabled]="(isDisabled$ | async) ? true : null"
      (input)="updateValue(inputElement.value)"
      (focus)="emitFocusEvent($event)"
      (blur)="emitBlurEvent($event)"
      [autocomplete]="autocomplete ? 'on' : 'off'"
      [value]="value$ | async"
      [mask]="timeMask"
      [maxLength]="maxLengthInputValue"
      [ngModel]="value$ | async"
    />
  </div>

  <div *ngIf="isVisibleDefaultActions$ | async" class="input-default-actions">
    <pupa-button-icon
      *ngIf="isVisibleReset$ | async"
      icon="app-close-square"
      kind="secondary"
      size="m"
      (click)="reset()"
    >
    </pupa-button-icon>

    <pupa-icon-holder
      *ngIf="isInvalid$ | async"
      size="small"
      [withBackground]="false"
      [pupaTooltip]="invalidTooltip"
      [tooltipHideOnHover]="invalidTooltipHideOnHover"
      [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
      [tooltipContentTemplate]="invalidTooltipContentTemplate"
      (click)="inputElement.focus()"
    >
      <pupa-icon class="input-icon_invalid" name="app-error-filled"></pupa-icon>
    </pupa-icon-holder>
  </div>
</div>
