<div class="input-wrapper" [ngClass]="resultClassList$ | async">
  <pupa-icon *ngIf="leftIcon$ | async as leftIcon" class="input-icon input-icon_custom" [name]="leftIcon"></pupa-icon>

  <input
    class="input"
    type="text"
    #inputElement
    [placeholder]="timeMask"
    [attr.disabled]="(isDisabled$ | async) ? true : null"
    (input)="updateValue(inputElement.value)"
    (focus)="emitFocusEvent($event)"
    (blur)="emitBlurEvent($event)"
    [autocomplete]="autocomplete ? 'on' : 'off'"
    [value]="value$ | async"
    [mask]="timeMask"
    [maxLength]="maxLengthInputValue"
    [ngModel]="value$ | async"
  />

  <pupa-icon
    *ngIf="rightIcon$ | async as rightIcon"
    class="input-icon input-icon_custom"
    [name]="rightIcon"
  ></pupa-icon>

  <pupa-icon
    *ngIf="isVisibleReset$ | async"
    class="input-icon input-icon_reset"
    name="app-close-square"
    (click)="reset()"
  >
  </pupa-icon>

  <pupa-icon
    *ngIf="isInvalid$ | async"
    class="input-icon input-icon_invalid"
    name="app-error-filled"
    [pupaTooltip]="invalidTooltip"
    [tooltipHideOnHover]="invalidTooltipHideOnHover"
    [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
    [tooltipContentTemplate]="invalidTooltipContentTemplate"
    (click)="inputElement.focus()"
  >
  </pupa-icon>
</div>
