<h1>Spinner & loader</h1>

<demo-example-viewer>
  <pupa-tabs-container>
    <pupa-tabs>
      <pupa-tabs-item name="Description and Examples">Description and Examples</pupa-tabs-item>
      <pupa-tabs-item name="Api">Api</pupa-tabs-item>
    </pupa-tabs>

    <pupa-tabs-content>
      <demo-example-viewer-section *pupaTabsItemContentTemplate="'Description and Examples'">
        <h3>Plain spinner</h3>
        <pupa-code-container [content]="plainSpinnerExampleContent">
          <demo-plain-spinner *pupaCodeContainerPreviewTemplate></demo-plain-spinner>
        </pupa-code-container>

        <h3>Bagel spinner</h3>
        <pupa-code-container [content]="bagelSpinnerExampleContent">
          <demo-bagel-spinner *pupaCodeContainerPreviewTemplate></demo-bagel-spinner>
        </pupa-code-container>

        <h3>Loader</h3>
        <pupa-code-container [content]="loaderExampleContent">
          <demo-loader *pupaCodeContainerPreviewTemplate></demo-loader>
        </pupa-code-container>
      </demo-example-viewer-section>

      <demo-example-viewer-section *pupaTabsItemContentTemplate="'Api'">
        <demo-example-viewer-content>
          <pupa-spinner [size]="size + 'px'"></pupa-spinner>
        </demo-example-viewer-content>

        <h3>Properties</h3>
        <demo-example-viewer-property name="size" type="string" decoratorName="input">
          <ng-template demoExampleViewerPropertyDescription> Set width and height of spinner </ng-template>

          <pupa-input-number [(ngModel)]="size"></pupa-input-number>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </pupa-tabs-content>
  </pupa-tabs-container>
</demo-example-viewer>
