<h1>Spinner & loader</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <ng-container [ngSwitch]="type$ | async">
      <ng-container *ngSwitchCase="'spinner'">
        <pupa-spinner [size]="size"></pupa-spinner>
      </ng-container>
      <ng-container *ngSwitchCase="'bagel-spinner'">
        <pupa-bagel-spinner [size]="size"></pupa-bagel-spinner>
      </ng-container>
      <ng-container *ngSwitchCase="'loader'">
        <pupa-loader></pupa-loader>
      </ng-container>
    </ng-container>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-config-item name="Select one of the loader components">
      <demo-props-select #type$ [options]="typeOptions"></demo-props-select>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>
</demo-example-viewer>
