<div class="content">
  <pupa-option>
    <pupa-option-title>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </pupa-option-title>
  </pupa-option>
  <pupa-option [disabled]="true">
    <pupa-option-title>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </pupa-option-title>
  </pupa-option>
  <pupa-option [active]="true">
    <pupa-option-title>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </pupa-option-title>
  </pupa-option>
  <pupa-option [hasCheckbox]="true">
    <pupa-option-title>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </pupa-option-title>
  </pupa-option>
</div>
