@use 'functions' as *;
@use 'mixins' as *;

:host {
  width: 100%;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 12rem;
  padding: 5rem 0;

  @include xs() {
    padding: 5rem 5rem 2rem;
  }
}
