@use 'functions';
@use 'mixins';

:host {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 3.5rem 5rem;
  border-bottom: 1px solid functions.semantic-color(lines-normal);

  @include mixins.xs() {
    flex-direction: column-reverse;
    padding-bottom: 0;
    border-bottom: none;
  }
}

:host-context(.pupa-modal-layout_no-border) {
  :host {
    padding-top: 5rem;
    padding-bottom: 2rem;
    border: none;
  }
}
