<pupa-select class="select" [placeholder]="'Placeholder'" [isMultiSelectionEnabled]="true" [formControl]="control">
  <pupa-select-trigger> Selected: {{ control.value.length }} </pupa-select-trigger>

  <pupa-select-dropdown>
    <pupa-select-options-container>
      <pupa-select-option *ngFor="let index of [1, 2, 3, 4, 5]" value="Option {{ index }}">
        <pupa-icon name="app-cube"></pupa-icon>
        <pupa-tag [clickable]="true"> Option {{ index }}</pupa-tag>
      </pupa-select-option>
    </pupa-select-options-container>
  </pupa-select-dropdown>
</pupa-select>
