@use '../../../styles/demo-variables' as *;

@import 'themes/functions';
@import 'mixins';
@import 'functions';

.content {
  background-color: color(base-n0);
  @include host-selector-dark-theme() {
    background-color: color(base-n600);
  }

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  &__button {
    & + & {
      margin-top: 4rem;
    }
  }
}
