@use 'mixins';
@use 'functions';

.pupa-button {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 8rem;
  border-radius: 1rem;
  box-sizing: border-box;

  @include mixins.no-tap-highlight();

  cursor: pointer;

  @include mixins.font-preset-h6();
  color: functions.semantic-color(text-primary);

  transition: functions.variable(transition-duration_shortest) functions.variable(transition-timing-function_common);

  @include mixins.hover() {
    background-color: functions.semantic-color(kind-primary-hover);
    color: functions.semantic-color(surface-primary);
  }

  &:active {
    background-color: functions.semantic-color(kind-primary-active);
  }

  &_current {
    border: 1px solid functions.semantic-color(kind-primary-active);
  }
}
