.row {
  display: flex;
  justify-content: space-between;
  gap: 6rem;

  .scrollable-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;

    height: 100rem;
  }
}
