<div
  #table
  class="table"
  (mouseover)="processTableMouseEvent($event)"
  (mouseleave)="processTableMouseEvent($event)"
  (click)="processClick($event)"
  *pupaLet="dndRowsSettings$ | async as dndRowsSettings"
>
  <div class="table__header table-header">
    <div class="table-header__pinned-left-container">
      <pupa-table-header-row-container
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="pinnedLeftColumns$ | async"
        class="table-row table-row_header"
        [class.table-row_hovered]="row.isHovered$ | async"
        [style.height.px]="headerRowHeightPx$ | async"
      ></pupa-table-header-row-container>

      <div
        class="table-header__hidden-columns-count table-header__hidden-columns-count_left"
        *ngIf="(leftHiddenColumnsCount$ | async) > 0"
      >
        {{ leftHiddenColumnsCount$ | async | formatCount }}
      </div>
    </div>

    <div class="table-header__scrollable-container" #headerScrollableContainer>
      <pupa-table-header-row-container
        #headerScrollableRowContainer
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="scrollableColumns$ | async"
        class="table-row table-row_header"
        [class.table-row_hovered]="row.isHovered$ | async"
        [style.height.px]="headerRowHeightPx$ | async"
      ></pupa-table-header-row-container>
    </div>

    <div class="table-header__pinned-right-container">
      <div
        class="table-header__hidden-columns-count table-header__hidden-columns-count_right"
        *ngIf="(rightHiddenColumnsCount$ | async) > 0"
      >
        {{ rightHiddenColumnsCount$ | async | formatCount }}
      </div>

      <pupa-table-header-row-container
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="pinnedRightColumns$ | async"
        class="table-row table-row_header"
        [class.table-row_hovered]="row.isHovered$ | async"
        [style.height.px]="headerRowHeightPx$ | async"
      ></pupa-table-header-row-container>
    </div>
  </div>

  <div class="table__body table-body">
    <pupa-dnd-host
      dndHostId="pupa-table"
      [isDraggable]="!(dndRowsSettings | isNullOrUndefined)"
      [dndCloneItemsOffset]="dndRowsSettings?.dndCloneItemsOffset"
      (dndMove)="processDndMove($event)"
      (dndDrop)="processDndDrop($event)"
    >
      <pupa-dnd-indicator
        *ngIf="dndIndicatorTopPxCoords$ | async as topCoordsPx"
        [topCoordsPx]="topCoordsPx"
      ></pupa-dnd-indicator>

      <pupa-scrollable
        #scrollableContainer
        class="table-body__scrollable"
        (verticalScrollVisibilityChanged)="processVerticalScrollBarVisibilityChanges($event)"
        [position]="'external'"
        [hasContentOffset]="false"
      >
        <cdk-virtual-scroll-viewport
          #cdkVirtualScrollViewport
          pupaScrollableContent
          class="table-body__scroll-viewport"
          [itemSize]="bodyRowHeightPx$ | async"
          [minBufferPx]="minBufferPx$ | async"
        >
          <ng-container
            *cdkVirtualFor="let row of virtualScrollDataSource$ | async; trackBy: trackBy$ | async"
          ></ng-container>

          <div class="table-decor">
            <div class="table-placeholder__pinned-left-container table-decor__pinned-left-container">
              <pupa-table-placeholder-row-container
                class="table-row table-row_decor"
                [isFullHeightCells]="true"
                [row]="placeholderRow$ | async"
                [columns]="pinnedLeftColumns$ | async"
              ></pupa-table-placeholder-row-container>
            </div>

            <div class="table-placeholder__scrollable-container table-decor__scrollable-container">
              <pupa-table-placeholder-row-container
                #decorScrollableRowContainer
                class="table-row table-row_decor"
                [isFullHeightCells]="true"
                [row]="placeholderRow$ | async"
                [columns]="scrollableColumns$ | async"
              ></pupa-table-placeholder-row-container>
            </div>

            <div class="table-placeholder__pinned-right-container table-decor__pinned-right-container">
              <pupa-table-placeholder-row-container
                class="table-row table-row_decor"
                [isFullHeightCells]="true"
                [row]="placeholderRow$ | async"
                [columns]="pinnedRightColumns$ | async"
              ></pupa-table-placeholder-row-container>
            </div>
          </div>

          <div class="table-body__scroll-viewport-container">
            <div class="table-body__pinned-left-container">
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: rowTrackByFunction"
                class="table-row"
                [class.table-row_hovered]="row.isHovered$ | async"
                [class.table-row_selected]="row.isSelected$ | async"
                [style.height.px]="bodyRowHeightPx$ | async"
                [row]="row"
                [columns]="pinnedLeftColumns$ | async"
                pupaDndItem
                [dndItemData]="row.data"
                [dndItemId]="row.id"
                [dndItemTemplateRef]="dndRowsSettings?.dndCloneItemTemplate"
                [canBeMoved]="dndRowsSettings?.dndItemCanBeMoved"
                [canBeDroppableFor]="dndRowsSettings?.dndItemCanBeDroppableFor"
              ></pupa-table-body-row-container>
            </div>

            <pupa-scrollable
              class="table-body__scrollable-container"
              #bodyScrollableContainer
              [syncWith]="[placeholderScrollableContainer]"
              (scrollLeftChanged)="processBodyScrollLeftChanges($event)"
              [invisibleScrollbars]="['horizontal']"
            >
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: rowTrackByFunction"
                class="table-row"
                [class.table-row_hovered]="row.isHovered$ | async"
                [class.table-row_selected]="row.isSelected$ | async"
                [style.height.px]="bodyRowHeightPx$ | async"
                [row]="row"
                [columns]="scrollableColumns$ | async"
                pupaDndItem
                [dndItemId]="row.id"
              ></pupa-table-body-row-container>
            </pupa-scrollable>

            <div class="table-body__pinned-right-container">
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: rowTrackByFunction"
                class="table-row"
                [class.table-row_hovered]="row.isHovered$ | async"
                [class.table-row_selected]="row.isSelected$ | async"
                [style.height.px]="bodyRowHeightPx$ | async"
                [row]="row"
                [columns]="pinnedRightColumns$ | async"
                pupaDndItem
                [dndItemId]="row.id"
              ></pupa-table-body-row-container>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </pupa-scrollable>
    </pupa-dnd-host>
  </div>

  <div
    class="table__bottom-scrollbar table-bottom-scrollbar"
    [class.table-bottom-scrollbar_visible]="isHorizontalScrollBarVisible$ | async"
  >
    <div class="table-bottom-scrollbar__pinned-left-container">
      <pupa-table-placeholder-row-container
        class="table-row table-row_placeholder"
        [row]="placeholderRow$ | async"
        [columns]="pinnedLeftColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </div>

    <pupa-scrollable
      #placeholderScrollableContainer
      class="table-bottom-scrollbar__scrollable-container"
      [syncWith]="[bodyScrollableContainer]"
      [hasContentOffset]="false"
      (scrollLeftChanged)="processBodyScrollLeftChanges($event)"
      (horizontalScrollVisibilityChanged)="processHorizontalScrollBarVisibilityChanges($event)"
      [class.table-bottom-scrollbar__scrollable-container_has-left-pinned]="(pinnedLeftColumns$ | async)?.length > 0"
      [class.table-bottom-scrollbar__scrollable-container_has-right-pinned]="(pinnedRightColumns$ | async)?.length > 0"
    >
      <pupa-table-placeholder-row-container
        class="table-row table-row_placeholder"
        [row]="placeholderRow$ | async"
        [columns]="scrollableColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </pupa-scrollable>

    <div class="table-bottom-scrollbar__pinned-right-container">
      <pupa-table-placeholder-row-container
        class="table-row table-row_placeholder"
        [row]="placeholderRow$ | async"
        [columns]="pinnedRightColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </div>
  </div>

  <ng-container *pupaLet="columnDndIndicatorOffsetLeft$ | async as offsetLeft">
    <div class="columns-dnd-indicator" *ngIf="!(offsetLeft | isNullOrUndefined)" [style.left.px]="offsetLeft"></div>
  </ng-container>
</div>

<ng-content></ng-content>

<ng-template #defaultHeaderCellTemplate let-column let-isDndClone="isDndClone">
  <pupa-table-header-cell [column]="column" [isDndClone]="isDndClone">
    {{ column.definition.title ?? '' }}
  </pupa-table-header-cell>
</ng-template>

<ng-template #defaultBodyCellTemplate let-row let-column="column">
  <pupa-table-body-cell *ngIf="!(row.data | isNullOrUndefined); else skeleton" [column]="column">
    {{ row.data[column.definition.modelKey] ?? '' }}
  </pupa-table-body-cell>
</ng-template>

<ng-template #skeleton>
  <pupa-table-skeleton></pupa-table-skeleton>
</ng-template>
