<div
  #table
  class="pupa-table"
  (mouseover)="processTableMouseEvent($event)"
  (mouseleave)="processTableMouseEvent($event)"
  (click)="processClick($event)"
  *pupaLet="dndRowsSettings$ | async as dndRowsSettings"
>
  <div
    class="pupa-table__header pupa-table-header"
    [class.pupa-table-header_with-border-left]="hasLeftBorder"
    [class.pupa-table-header_with-border-right]="hasRightBorder"
  >
    <div
      class="pupa-table-header__pinned-left-container"
      [class.pupa-table-header__pinned-left-container_with-shadow]="hasLeftHiddenColumns$ | async"
    >
      <pupa-table-header-row-container
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="pinnedLeftColumns$ | async"
        class="pupa-table-row pupa-table-row_header"
        [class.pupa-table-row_hovered]="row.isHovered$ | async"
        [style.height.rem]="headerRowHeightRem$ | async"
      ></pupa-table-header-row-container>
    </div>

    <div class="pupa-table-header__scrollable-container" #headerScrollableContainer>
      <div
        class="pupa-table-header__hidden-columns-count pupa-table-header__hidden-columns-count_left"
        *ngIf="hasLeftHiddenColumns$ | async"
      >
        +{{ leftHiddenColumnsCount$ | async | formatCount }}
      </div>

      <pupa-table-header-row-container
        #headerScrollableRowContainer
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="scrollableColumns$ | async"
        class="pupa-table-row pupa-table-row_header"
        [class.pupa-table-row_hovered]="row.isHovered$ | async"
        [style.height.rem]="headerRowHeightRem$ | async"
      ></pupa-table-header-row-container>

      <div
        class="pupa-table-header__hidden-columns-count pupa-table-header__hidden-columns-count_right"
        *ngIf="hasRightHiddenColumns$ | async"
      >
        +{{ rightHiddenColumnsCount$ | async | formatCount }}
      </div>
    </div>

    <div
      class="pupa-table-header__pinned-right-container"
      [class.pupa-table-header__pinned-right-container_with-shadow]="hasRightHiddenColumns$ | async"
    >
      <pupa-table-header-row-container
        *ngIf="headerRow$ | async as row"
        [row]="row"
        [columns]="pinnedRightColumns$ | async"
        class="pupa-table-row pupa-table-row_header"
        [class.pupa-table-row_hovered]="row.isHovered$ | async"
        [style.height.rem]="headerRowHeightRem$ | async"
      ></pupa-table-header-row-container>
    </div>
  </div>

  <div class="pupa-table__body pupa-table-body">
    <pupa-dnd-host
      dndHostId="pupa-table"
      [isDraggable]="!(dndRowsSettings | isNullOrUndefined)"
      [dndCloneItemsTemplateRef]="dndRowsSettings?.dndCloneItemsTemplate"
      (dndMove)="processDndMove($event)"
      (dndDrop)="processDndDrop($event)"
    >
      <pupa-dnd-indicator
        *ngIf="dndIndicatorTopPxCoords$ | async as topCoordsPx"
        [topCoordsPx]="topCoordsPx"
      ></pupa-dnd-indicator>

      <pupa-scrollable
        #scrollableContainer
        class="pupa-table-body__scrollable"
        [class.pupa-table-body__scrollable_with-border-bottom]="isVerticalScrollBarVisible$ | async"
        (verticalScrollVisibilityChanged)="processVerticalScrollBarVisibilityChanges($event)"
        position="external"
      >
        <cdk-virtual-scroll-viewport
          #cdkVirtualScrollViewport
          pupaScrollableContent
          class="pupa-table-body__scroll-viewport"
          [itemSize]="bodyRowHeightPx$ | async"
          [minBufferPx]="minBufferPx$ | async"
        >
          <ng-container
            *cdkVirtualFor="let row of virtualScrollDataSource$ | async; trackBy: trackBy$ | async"
          ></ng-container>

          <div
            class="pupa-table-body__scroll-viewport-container"
            [class.pupa-table-body__scroll-viewport-container_with-border-left]="hasLeftBorder"
            [class.pupa-table-body__scroll-viewport-container_with-border-right]="hasRightBorder"
          >
            <div
              class="pupa-table-body__pinned-left-container"
              [class.pupa-table-body__pinned-left-container_with-shadow]="hasLeftHiddenColumns$ | async"
            >
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: trackBodyRowBy$ | async"
                class="pupa-table-row"
                [class.pupa-table-row_hovered]="row.isHovered$ | async"
                [class.pupa-table-row_selected]="row.isSelected$ | async"
                [class.pupa-table-row_disabled]="row.isDisabled$ | async"
                [style.height.rem]="bodyRowHeightRem$ | async"
                [row]="row"
                [columns]="pinnedLeftColumns$ | async"
                pupaDndItem
                [dndItemData]="row.data"
                [dndItemIdGetter]="getDndItemIdGetter(row.id)"
                [canBeMoved]="dndRowsSettings?.dndItemCanBeMoved"
                [canBeDroppableFor]="dndRowsSettings?.dndItemCanBeDroppableFor"
              ></pupa-table-body-row-container>
            </div>

            <pupa-scrollable
              class="pupa-table-body__scrollable-container"
              #bodyScrollableContainer
              [syncWith]="[placeholderScrollableContainer]"
              (scrollLeftChanged)="processBodyScrollLeftChanges($event)"
              [invisibleScrollbars]="['horizontal']"
            >
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: trackBodyRowBy$ | async"
                class="pupa-table-row"
                [class.pupa-table-row_hovered]="row.isHovered$ | async"
                [class.pupa-table-row_selected]="row.isSelected$ | async"
                [class.pupa-table-row_disabled]="row.isDisabled$ | async"
                [style.height.rem]="bodyRowHeightRem$ | async"
                [row]="row"
                [columns]="scrollableColumns$ | async"
                pupaDndItem
                [dndItemData]="row.data"
                [dndItemIdGetter]="getDndItemIdGetter(row.id)"
              ></pupa-table-body-row-container>
            </pupa-scrollable>

            <div
              class="pupa-table-body__pinned-right-container"
              [class.pupa-table-body__pinned-right-container_with-shadow]="hasRightHiddenColumns$ | async"
            >
              <pupa-table-body-row-container
                *ngFor="let row of rows$ | async; trackBy: trackBodyRowBy$ | async"
                class="pupa-table-row"
                [class.pupa-table-row_hovered]="row.isHovered$ | async"
                [class.pupa-table-row_selected]="row.isSelected$ | async"
                [class.pupa-table-row_disabled]="row.isDisabled$ | async"
                [style.height.rem]="bodyRowHeightRem$ | async"
                [row]="row"
                [columns]="pinnedRightColumns$ | async"
                pupaDndItem
                [dndItemData]="row.data"
                [dndItemIdGetter]="getDndItemIdGetter(row.id)"
              ></pupa-table-body-row-container>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </pupa-scrollable>
    </pupa-dnd-host>
  </div>

  <div
    class="pupa-table__bottom-scrollbar pupa-table-bottom-scrollbar"
    [class.pupa-table-bottom-scrollbar_visible]="isHorizontalScrollBarVisible$ | async"
  >
    <div class="pupa-table-bottom-scrollbar__pinned-left-container">
      <pupa-table-placeholder-row-container
        class="pupa-table-row pupa-table-row_placeholder"
        [class.pupa-table-row_placeholder_without-border]="isVerticalScrollBarVisible$ | async"
        [row]="placeholderRow$ | async"
        [columns]="pinnedLeftColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </div>

    <pupa-scrollable
      #placeholderScrollableContainer
      class="pupa-table-bottom-scrollbar__scrollable-container"
      [syncWith]="[bodyScrollableContainer]"
      (scrollLeftChanged)="processBodyScrollLeftChanges($event)"
      (horizontalScrollVisibilityChanged)="processHorizontalScrollBarVisibilityChanges($event)"
      [class.pupa-table-bottom-scrollbar__scrollable-container_has-left-pinned]="
        (pinnedLeftColumns$ | async)?.length > 0
      "
      [class.pupa-table-bottom-scrollbar__scrollable-container_has-right-pinned]="
        (pinnedRightColumns$ | async)?.length > 0
      "
    >
      <pupa-table-placeholder-row-container
        class="pupa-table-row pupa-table-row_placeholder"
        [class.pupa-table-row_placeholder_without-border]="isVerticalScrollBarVisible$ | async"
        [row]="placeholderRow$ | async"
        [columns]="scrollableColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </pupa-scrollable>

    <div class="pupa-table-bottom-scrollbar__pinned-right-container">
      <pupa-table-placeholder-row-container
        class="pupa-table-row pupa-table-row_placeholder"
        [class.pupa-table-row_placeholder_without-border]="isVerticalScrollBarVisible$ | async"
        [row]="placeholderRow$ | async"
        [columns]="pinnedRightColumns$ | async"
      ></pupa-table-placeholder-row-container>
    </div>
  </div>

  <ng-container *pupaLet="columnDndIndicatorOffsetLeft$ | async as offsetLeft">
    <div
      class="pupa-columns-dnd-indicator"
      *ngIf="!(offsetLeft | isNullOrUndefined)"
      [style.left.px]="offsetLeft"
    ></div>
  </ng-container>
</div>

<ng-content></ng-content>

<ng-template #defaultHeaderCellTemplate let-column let-isDndClone="isDndClone">
  <pupa-table-header-cell [column]="column" [isDndClone]="isDndClone">
    {{ column.definition.title ?? '' }}
  </pupa-table-header-cell>
</ng-template>

<ng-template #defaultBodyCellTemplate let-row let-column="column">
  <pupa-table-body-cell *ngIf="!(row.data | isNullOrUndefined); else skeleton" [column]="column">
    <span
      class="pupa-table__default-body-cell-text"
      [pupaTooltip]="row.data[column.definition.modelKey]"
      tooltipAppearance="truncate"
    >
      {{ row.data[column.definition.modelKey] ?? '' }}
    </span>
  </pupa-table-body-cell>
</ng-template>

<ng-template #skeleton>
  <pupa-table-skeleton></pupa-table-skeleton>
</ng-template>
