@use 'functions';
@use 'mixins';
@use 'variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.pupa-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pupa-table__header {
  flex-shrink: 0;
  display: flex;
}

.pupa-table-header {
  position: relative;
}

.pupa-table-header__pinned-left-container {
  flex-shrink: 0;
  position: relative;
}

.pupa-table-header__scrollable-container {
  width: 100%;
  overflow: hidden;
}

.pupa-table-header__pinned-right-container {
  flex-shrink: 0;
  position: relative;
}

.pupa-table-header__hidden-columns-count {
  position: absolute;
  top: 0;
  background-color: functions.semantic-color(surface-action);
  width: 4rem;
  height: 4rem;
  @include mixins.font-type-medium;
  @include mixins.font-size-xs;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &_left {
    right: 0;
    transform: translate(50%, -50%);
  }

  &_right {
    left: 0;
    transform: translate(-50%, -50%);
  }
}

.pupa-table__body {
  width: 100%;
  height: 100%;
}

.pupa-table-body__scrollable {
  overflow: unset;
}

.pupa-table-decor {
  display: flex;
  height: 16px;
}

.pupa-table-decor__pinned-left-container {
  flex-shrink: 0;
}

.pupa-table-decor__scrollable-container {
  width: 100%;
  overflow: hidden;
}

.pupa-table-decor__pinned-right-container {
  flex-shrink: 0;
}

.pupa-table-body__scroll-viewport {
  display: block;
  width: 100%;
  height: 100%;
}

.pupa-table-body__scroll-viewport-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pupa-table-body__pinned-left-container {
  flex-shrink: 0;
}

.pupa-table-body__scrollable-container {
  width: 100%;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pupa-table-body__pinned-right-container {
  flex-shrink: 0;
}

.pupa-table-row {
  width: fit-content;
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  border-bottom: 1px solid functions.semantic-color(lines-normal);
  background-color: functions.semantic-color(surface-tertiary);

  &_hovered,
  &_selected {
    background-color: functions.semantic-color(kind-neutral-normal);
  }
}

.pupa-table-row_header {
  height: 100%;
  background-color: functions.semantic-color(surface-secondary);
  border-bottom: 1px solid functions.semantic-color(lines-normal);
  border-top: 1px solid functions.semantic-color(lines-normal);

  &_hovered {
    background-color: functions.semantic-color(kind-neutral-hover);
  }
}

.pupa-table-row_decor {
  height: 100%;
  background-color: unset;
}

.pupa-table-row_placeholder {
  height: auto;
}

.pupa-table__bottom-scrollbar {
  flex-shrink: 0;
  overflow: hidden;
}

.pupa-table-bottom-scrollbar {
  display: flex;
  visibility: hidden;
  height: variables.$width_scrollbar;

  &_visible {
    visibility: initial;
  }
}

.pupa-table-bottom-scrollbar__pinned-left-container {
  flex-shrink: 0;
}

.pupa-table-bottom-scrollbar__scrollable-container {
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  &_has-left-pinned {
    border-left: 1px solid functions.semantic-color(lines-normal);
    margin-left: -1px;
  }

  &_has-right-pinned {
    border-right: 1px solid functions.semantic-color(lines-normal);
    margin-right: -1px;
  }
}

.pupa-table-bottom-scrollbar__pinned-right-container {
  flex-shrink: 0;
}

.pupa-table-bottom-scrollbar-row {
  width: fit-content;
  height: 1px;
  display: flex;
}

.pupa-columns-dnd-indicator {
  position: absolute;
  left: 100px;
  top: 0;
  width: 2px;
  height: calc(100% - #{variables.$width_scrollbar});
  background-color: functions.semantic-color(kind-primary-normal);
  z-index: 5;
  pointer-events: none;
}
