@use 'functions';
@use 'mixins';
@use 'variables';

$table-border-width: 1px;
$table-border-color: functions.semantic-color(lines-normal);
$table-border-z-index: 2;

@mixin table-border-left {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $table-border-width;
    height: 100%;
    background-color: $table-border-color;
    z-index: $table-border-z-index;
  }
}

@mixin table-border-right {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: $table-border-width;
    height: 100%;
    background-color: $table-border-color;
    z-index: $table-border-z-index;
  }
}

@mixin pinned-column-shadow {
  box-shadow: 0 0 6rem functions.color(neutral-1000, alpha-7);
}

@mixin pinned-column-shadow-left {
  @include pinned-column-shadow;
  clip-path: inset(0 0 0 -6rem);
}

@mixin pinned-column-shadow-right {
  @include pinned-column-shadow;
  clip-path: inset(0 -6rem 0 0);
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.pupa-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__default-body-cell-text {
    display: block;
    @include mixins.ellipsis-text-overflow;
  }
}

.pupa-table__header {
  flex-shrink: 0;
  display: flex;
}

.pupa-table-header {
  border-top: $table-border-width solid $table-border-color;

  &_with-border-left {
    @include table-border-left;
  }

  &_with-border-right {
    @include table-border-right;
  }
}

.pupa-table-header__pinned-left-container {
  flex-shrink: 0;

  &_with-shadow {
    @include pinned-column-shadow-right;
    z-index: 1;
  }
}

.pupa-table-header__scrollable-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pupa-table-header__pinned-right-container {
  flex-shrink: 0;

  &_with-shadow {
    @include pinned-column-shadow-left;
    z-index: 1;
  }
}

.pupa-table-header__hidden-columns-count {
  position: absolute;
  top: 0;
  background-color: functions.semantic-color(icons-secondary);
  padding: 0 0.75rem;
  @include mixins.font-type-medium;
  @include mixins.font-size-xs;
  color: functions.semantic-color(text-inverse);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &_left {
    left: 0;
    border-bottom-right-radius: 0.75rem;
  }

  &_right {
    right: 0;
    border-bottom-left-radius: 0.75rem;
  }
}

.pupa-table__body {
  width: 100%;
  height: 100%;
}

.pupa-table-body__scrollable {
  position: relative;
  overflow: unset;

  &_with-border-bottom {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $table-border-width;
      background-color: $table-border-color;
      z-index: $table-border-z-index;
    }
  }
}

.pupa-table-body__scroll-viewport {
  display: block;
  width: 100%;
  height: 100%;
}

.pupa-table-body__scroll-viewport-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &_with-border-left {
    @include table-border-left;

    &:before {
      z-index: 3;
    }
  }

  &_with-border-right {
    @include table-border-right;
  }
}

.pupa-table-body__pinned-left-container {
  flex-shrink: 0;

  &_with-shadow {
    @include pinned-column-shadow-right;
    z-index: 2;
  }
}

.pupa-table-body__scrollable-container {
  width: 100%;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pupa-table-body__pinned-right-container {
  flex-shrink: 0;

  &_with-shadow {
    @include pinned-column-shadow-left;
    z-index: 2;
  }
}

.pupa-table-row {
  width: fit-content;
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  border-bottom: 1px solid functions.semantic-color(lines-normal);
  background-color: functions.semantic-color(surface-primary);
  transition: background-color 0.2s ease;

  &_hovered:not(&_disabled) {
    background-color: functions.semantic-color(surface-action);
  }

  &_selected:not(&_disabled) {
    background-color: functions.semantic-color(kind-primary-normal, alpha-6);
  }

  &_disabled {
    background-color: functions.semantic-color(kind-neutral-disabled);
  }
}

.pupa-table-row_header {
  height: 100%;
  background-color: functions.semantic-color(surface-tertiary);
  border-bottom: 1px solid functions.semantic-color(lines-normal);

  &_hovered {
    background-color: functions.semantic-color(surface-action);
  }
}

.pupa-table-row_decor {
  height: 100%;
  background-color: unset;
}

.pupa-table-row_placeholder {
  height: auto;

  &_without-border {
    border: none;
  }
}

.pupa-table__bottom-scrollbar {
  flex-shrink: 0;
  overflow: hidden;
}

.pupa-table-bottom-scrollbar {
  display: flex;
  visibility: hidden;
  height: variables.$width_scrollbar;

  &_visible {
    visibility: initial;
  }
}

.pupa-table-bottom-scrollbar__pinned-left-container {
  flex-shrink: 0;
}

.pupa-table-bottom-scrollbar__scrollable-container {
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  &_has-left-pinned {
    border-left: 1px solid functions.semantic-color(lines-normal);
    margin-left: -1px;
  }

  &_has-right-pinned {
    border-right: 1px solid functions.semantic-color(lines-normal);
    margin-right: -1px;
  }
}

.pupa-table-bottom-scrollbar__pinned-right-container {
  flex-shrink: 0;
}

.pupa-table-bottom-scrollbar-row {
  width: fit-content;
  height: 1px;
  display: flex;
}

.pupa-columns-dnd-indicator {
  position: absolute;
  left: 25rem;
  top: 0;
  width: 0.5rem;
  height: calc(100% - #{variables.$width_scrollbar});
  background-color: functions.semantic-color(kind-primary-normal);
  z-index: 5;
  pointer-events: none;
}
