<button
  class="pupa-button"
  [ngClass]="resultClassList$ | async"
  [type]="type"
  [tabIndex]="tabIndex"
  [attr.disabled]="(disabled$ | async) ? true : null"
>
  <div class="pupa-button__content" focusable="false" [class.pupa-reversed-direction]="isReversedDirection$ | async">
    <ng-container *ngIf="leftIcon$ | async as leftIcon">
      <pupa-icon class="pupa-button__icon" [name]="leftIcon"></pupa-icon>
    </ng-container>

    <div class="pupa-button__content-inner" [class.pupa-hidden]="loading$ | async">
      <ng-content></ng-content>
    </div>

    <ng-container *ngIf="rightIcon$ | async as rightIcon">
      <pupa-icon class="pupa-button__icon" [name]="rightIcon"></pupa-icon>
    </ng-container>
  </div>

  <div class="pupa-button__loading" *ngIf="loading$ | async" focusable="false">
    <pupa-loader [size]="loadingSizeRem$ | async"></pupa-loader>
  </div>
</button>
