@use '../../../../../styles/demo-variables' as *;
@use 'src/styles/mixins' as *;
@use 'utils' as *;

:host {
  max-height: 100%;
}

.sidebar-content {
  height: 100%;
  width: 100%;

  @include lt-md() {
    width: 100vw;
  }

  display: flex;
  position: relative;
  flex-direction: column;

  &__top-section {
    flex-shrink: 0;
    position: relative;

    .search-field-container {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 2rem;
    display: block;
    transform: translate(0%, -50%);
  }

  .links-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }

  .empty-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);
  }

  .subheader {
    font-weight: 300;
    margin-bottom: 8px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.5;

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);
  }

  .side-nav-item {
    font-size: 14px;
    display: block;
    padding: 12px 48px 12px 32px;
    line-height: 1.333;
    text-decoration: none;
    box-sizing: border-box;

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);

    &.active,
    &:hover {
      color: color(base-n700);
      background: color(base-white-n500);
    }
  }
}

#{$darkThemeClass} {
  .sidebar-content {
    background-color: get-map-field($theme-config, [ 'dark', 'body', background-color]);

    .subheader {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);
    }

    .empty-placeholder {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);
    }

    .side-nav-item {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);

      &.active,
      &:hover {
        color: color(base-n0);
        background: color(base-dark-n500);
      }
    }
  }
}
