<h1>Icon button</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-icon-button
      [color]="color | async"
      [size]="size | async"
      [disabled]="disabled | async"
      [active]="active | async"
      [isFloat]="isFloat | async"
      [fixed]="fixed | async"
      [isDisabledContentOpacity]="isDisabledContentOpacity | async"
    >
      <pupa-icon name="add-circle"></pupa-icon>
    </pupa-icon-button>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Size</demo-props-group-label>
    <demo-props-radio-select #size [options]="sizeOptions"></demo-props-radio-select>

    <demo-props-group-label>Color</demo-props-group-label>
    <demo-props-radio-select #color [options]="colorOptions"></demo-props-radio-select>

    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #active>Active</demo-props-checkbox>
    <demo-props-checkbox #disabled>Disabled</demo-props-checkbox>
    <demo-props-checkbox #isFloat>Floating</demo-props-checkbox>
    <demo-props-checkbox #fixed>Fixed</demo-props-checkbox>
    <demo-props-checkbox #isDisabledContentOpacity>Disabled content opacity</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
