<h1>
  Icon button
</h1>
<div class="group">
  <pupa-icon-button
    *ngFor="let combo of combos"
    [color]="combo.color"
    [active]="combo.active"
    [disabled]="combo.disabled"
    [size]="combo.size"
    [isFloat]="combo.isFloat"
    title="color: {{ combo.color }}; active: {{ combo.active }}; disabled: {{ combo.disabled }}; size: {{
      combo.size
    }}; isFloat: {{ combo.isFloat }}"
  >
    <ion-icon name="close-circle"></ion-icon>
  </pupa-icon-button>
</div>

<div class="placeholder"></div>
<pupa-icon-button
  [size]="'large'"
  [color]="'dark'"
  [fixed]="true"
  [title]="'fixed button'"
>
  <ion-icon name="save"></ion-icon>
</pupa-icon-button>
