<div class="wrapper">
  <pupa-badge class="mr">
    <pupa-badge-marker>
      <pupa-counter [count]="1" color="neutral"></pupa-counter>
    </pupa-badge-marker>
    <pupa-badge-content><pupa-icon [name]="'app-notification'"></pupa-icon></pupa-badge-content>
  </pupa-badge>
  <pupa-badge class="mr">
    <pupa-badge-marker>
      <pupa-counter [count]="23" color="active"></pupa-counter>
    </pupa-badge-marker>
    <pupa-badge-content><pupa-icon [name]="'app-notification'"></pupa-icon></pupa-badge-content>
  </pupa-badge>
  <pupa-badge class="mr">
    <pupa-badge-marker>
      <pupa-counter [count]="7000000" color="alert"></pupa-counter>
    </pupa-badge-marker>
    <pupa-badge-content><pupa-icon [name]="'app-notification'"></pupa-icon></pupa-badge-content>
  </pupa-badge>
  <pupa-badge>
    <pupa-badge-marker>
      <pupa-counter [count]="456" color="negative"></pupa-counter>
    </pupa-badge-marker>
    <pupa-badge-content><pupa-icon [name]="'app-notification'"></pupa-icon></pupa-badge-content>
  </pupa-badge>
</div>
