@use 'mixins';

@use 'functions';
@use 'variables';

$layout_border-size: 1px;

:host {
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: 0 6rem 12rem -3rem functions.color(neutral-1000, alpha-6);
}

:host-context(.pupa-drawer-container_full-screen) .pupa-drawer-layout {
  border-radius: 0;
  box-shadow: none;
}

.pupa-drawer-layout {
  border-radius: variables.$controlBorderRadius;

  color: functions.semantic-color(text-primary);
  background-color: functions.semantic-color(surface-secondary);
  border: $layout_border-size solid functions.semantic-color(kind-neutral-normal);

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &_with-shadow {
    box-shadow: 0 1rem 6rem functions.color(neutral-1000, alpha-4);

    @include mixins.host-selector-dark-theme() {
      box-shadow: none;
    }
  }

  @include mixins.xs() {
    border-radius: 1rem 1rem 0 0;
  }
}
