@use 'mixins' as *;

@use 'functions' as *;
@use 'variables' as *;

$layout_border-size: 1px;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

:host-context(.drawer-container_full-screen) .drawer-layout {
  border-radius: 0;
  box-shadow: none;
}

.drawer-layout {
  border-radius: $controlBorderRadius;

  color: semantic-color(text-primary);
  background-color: semantic-color(surface-secondary);
  border: $layout_border-size solid semantic-color(kind-neutral-normal);

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &_with-shadow {
    box-shadow: 0 4px 24px color(neutral-1000, alpha-4);

    @include host-selector-dark-theme() {
      box-shadow: none;
    }
  }

  @include xs() {
    border-radius: 1rem 1rem 0 0;
  }
}
