<h1>Floating Card Demo</h1>

<demo-example-viewer>
  <pupa-tabs-container>
    <pupa-tabs>
      <pupa-tabs-item name="Description and Examples">Description and Examples</pupa-tabs-item>
      <pupa-tabs-item name="Api">Api</pupa-tabs-item>
    </pupa-tabs>

    <pupa-tabs-content>
      <demo-example-viewer-section *pupaTabsItemContentTemplate="'Description and Examples'">
        <h2>Usage example</h2>
        <pupa-code-container [content]="floatingCardExampleContent">
          <demo-floating-card-example *pupaCodeContainerPreviewTemplate></demo-floating-card-example>
        </pupa-code-container>

        <h2>With custom reset type</h2>
        <pupa-code-container [content]="floatingCardWithCustomResetTypeExample">
          <pupa-demo-floating-card-with-custom-reset-type-example *pupaCodeContainerPreviewTemplate></pupa-demo-floating-card-with-custom-reset-type-example>
        </pupa-code-container>
      </demo-example-viewer-section>
    </pupa-tabs-content>
  </pupa-tabs-container>
</demo-example-viewer>
