<h1>Floating Card Demo</h1>

<demo-example-viewer>
  <pupa-tabs-container>
    <pupa-tabs>
      <pupa-tabs-item name="Description and Examples">Description and Examples</pupa-tabs-item>
      <pupa-tabs-item name="Api">Api</pupa-tabs-item>
    </pupa-tabs>

    <pupa-tabs-content>
      <demo-example-viewer-section *pupaTabsItemContentTemplate="'Description and Examples'">
        <h3 demoAnchor>Usage example</h3>
        <pupa-code-container [content]="floatingCardExampleContent">
          <demo-floating-card-example *pupaCodeContainerPreviewTemplate></demo-floating-card-example>
        </pupa-code-container>

        <h3 demoAnchor>With custom reset type</h3>
        <pupa-code-container [content]="floatingCardWithCustomResetTypeExample">
          <pupa-demo-floating-card-with-custom-reset-type-example
            *pupaCodeContainerPreviewTemplate
          ></pupa-demo-floating-card-with-custom-reset-type-example>
        </pupa-code-container>
      </demo-example-viewer-section>

      <demo-example-viewer-section *pupaTabsItemContentTemplate="'Api'">
        <demo-example-viewer-content>
          <div class="floating-card-demo__api-card">
            <pupa-floating-card [ratio]="ratio.value">
              <pupa-button size="large">Some button</pupa-button>
            </pupa-floating-card>
          </div>
        </demo-example-viewer-content>

        <h3 demoAnchor>Properties</h3>
        <demo-example-viewer-property name="ratio" decoratorName="input" type="number">
          <ng-template demoExampleViewerPropertyDescription>Angle factor.</ng-template>
          <pupa-input-number [formControl]="ratio"></pupa-input-number>
        </demo-example-viewer-property>
        <demo-example-viewer-property name="resetType" decoratorName="input" type="'onMouseLeave' | 'custom'">
          <ng-template demoExampleViewerPropertyDescription
            >Change reset floating behavior. <b>Default</b>: onMouseLeave.</ng-template
          >
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </pupa-tabs-content>
  </pupa-tabs-container>
</demo-example-viewer>
