@use 'mixins';

:host {
  display: contents;
}

.pupa-drawer-close-button {
  display: none;

  &_mobile {
    @include mixins.xs() {
      display: block;
    }
  }

  &_desktop {
    @include mixins.gt-xs() {
      display: block;
    }
  }

  &_all {
    display: block;
  }
}
