<div class="button-container">
  <ng-container *ngFor="let size of sizes">
    <pupa-button-multi
      class="button-container__item"
      icon="app-folder"
      [size]="size"
      [dropdownMenuContent]="dropdownContent"
    >
      primary {{ size }}
    </pupa-button-multi>
    <pupa-dropdown-menu-content #dropdownContent>
      <pupa-dropdown-menu-item>first</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
      <pupa-dropdown-menu-item>second</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </ng-container>
</div>
