<pupa-calendar-header>
  <h4 class="header-content">
    {{ headerTitle$ | async }}
  </h4>
</pupa-calendar-header>

<div class="scroller-wrapper">
  <cdk-virtual-scroll-viewport pupaScrollableContent class="scroller" [itemSize]="rowHeightPx">
    <div class="scroller__row" *cdkVirtualFor="let yearsRow of yearsTable; templateCacheSize: 10">
      <pupa-calendar-selector-button
        *ngFor="let year of yearsRow"
        [isCurrent]="year === currentYear"
        (click)="selectYear(year)"
      >
        {{ year }}
      </pupa-calendar-selector-button>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
