<div class="container">
  <pupa-card *ngFor="let card of largeCards" [disabled]="card.disabled" [clickable]="card.clickable" [size]="card.size">
    <pupa-card-cover>
      <pupa-icon class="icon" name="app-cube"></pupa-icon>
    </pupa-card-cover>
    <pupa-card-header>
      <pupa-card-title>{{ card.title }}</pupa-card-title>
      <pupa-card-description>{{ card.description }}</pupa-card-description>
    </pupa-card-header>
    <pupa-card-action>
      <pupa-button-icon kind="subtle" icon="app-more" [disabled]="card.disabled"></pupa-button-icon>
    </pupa-card-action>
  </pupa-card>
</div>
