@use 'functions';

:host {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.pupa-calendar {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 75rem;
  background: functions.semantic-color(surface-primary);
}

.pupa-calendar-time-picker {
  width: 43rem;
  border: 1px solid functions.semantic-color(lines-normal);
  border-width: 0 0 0 1px;
}
