<h1>Adaptive</h1>
<demo-page>
  <div *demoPageTab="'overview'">
    <pupa-callout>
      The purpose of this page is to demonstrate the capabilities of all the mixins in the
      <pupa-code-inline>adaptive.scss</pupa-code-inline>
      file. Each of these mixins is applied under conditions that match the resolution of the window. To demonstrate the
      performance of examples, resize the window.
    </pupa-callout>

    <h3 demoAnchor>Mixins</h3>

    <h4 demoAnchor anchorName="Basic-mixins">Basic mixins that adjust adaptive display.</h4>

    <ul>
      <li>
        <pupa-code-inline>@mixin width-between($min-width, $max-width)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin height-between($min-height, $max-height)</pupa-code-inline>
      </li>
    </ul>

    <p>Styles are only applied within the specified bounds.</p>
    <p>
      Below is an example when a square is displayed for all window widths, except for widths lying in the interval
      <pupa-code-inline>[1500, 1599]</pupa-code-inline>
      .
    </p>
    <p>
      Also, the block will turn red if the height of the window is in the interval
      <pupa-code-inline>[800, 899]</pupa-code-inline>
      .
    </p>
    <pupa-code-container [content]="example1Content">
      <demo-adaptive-example-1 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-1>
    </pupa-code-container>

    <h4 demoAnchor anchorName="Width-Height-Less-Greater">
      Styles are applied if the width/height is less than/greater than the specified value.
    </h4>
    <ul>
      <li>
        <pupa-code-inline> @mixin width-less-than($width)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline> @mixin height-less-than($height)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline> @mixin width-more-than($width)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin height-more-than($height)</pupa-code-inline>
      </li>
    </ul>
    <p>In the example below:</p>
    <ul>
      <li>The square will become a circle if the window width is less than 900;</li>
      <li>The block will become 2 times larger if the window width is greater than (or equal to) 1500;</li>
      <li>The block will turn red if the window height is less than 900;</li>
      <li>The block will take on a gradient fill if the window height is greater than (or equal to) 1000;</li>
    </ul>
    <pupa-code-container [content]="example2Content">
      <demo-adaptive-example-2 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-2>
    </pupa-code-container>

    <h4 demoAnchor anchorName="Device-orientation">These are mixins that help catch device orientation.</h4>
    <ul>
      <li>
        <pupa-code-inline>@mixin portrait()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin landscape()</pupa-code-inline>
      </li>
    </ul>
    <p>
      In the example below in landscape orientation the box is a red square, and for vertical orientation it is a blue
      circle.
    </p>
    <pupa-code-container [content]="example3Content">
      <demo-adaptive-example-3 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-3>
    </pupa-code-container>

    <br />
    <h3 demoAnchor>Grid Mixins</h3>
    <p>Examples of using mixins built on a grid will be given below.</p>
    <pupa-callout>
      Active breakpoint is set as a class for the tag
      <pupa-code-inline>html</pupa-code-inline>
      . The grid can be enabled via
      <pupa-code-inline>toggle grid</pupa-code-inline>
      .
    </pupa-callout>

    <h4 demoAnchor anchorName="Specified-breakpoint">
      For each of these mixins, styles will be applied only to the specified breakpoint.
    </h4>
    <ul>
      <li>
        <pupa-code-inline>@mixin xs()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin sm()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin md()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin xlg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin xl()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin xxl()</pupa-code-inline>
      </li>
    </ul>

    <p>In the example below:</p>
    <ul>
      <li>For <b>xs</b>&nbsp;—&nbsp;the block is red</li>
      <li>For <b>sm</b>&nbsp;—&nbsp;the block is yellow</li>
      <li>For <b>md</b>&nbsp;—&nbsp;the block is blue</li>
      <li>For <b>lg</b>&nbsp;—&nbsp;the block is green</li>
      <li>For <b>xlg</b>&nbsp;—&nbsp;the block is transparent, the border is red</li>
      <li>For <b>xl</b>&nbsp;—&nbsp;the block is transparent, the border is yellow</li>
      <li>For <b>xxl</b>&nbsp;—&nbsp;the block is transparent, the border is green</li>
    </ul>

    <pupa-code-container [content]="example4Content">
      <demo-adaptive-example-4 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-4>
    </pupa-code-container>

    <h4 demoAnchor anchorName="Less-shorthand">
      The names of this set of mixins are shorthand for the name
      <pupa-code-inline>less than {{ '${' }}breakpoint{{ '}' }}</pupa-code-inline>
      .
    </h4>
    <ul>
      <li>
        <pupa-code-inline>@mixin lt-sm()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lt-md()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lt-lg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lt-xlg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lt-xl()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin lt-xxl()</pupa-code-inline>
      </li>
    </ul>

    <p>
      In other words styles will be applied for all resolutions of the smaller breakpoint specified in the name of the
      mixin. <b>Not including the breakpoint itself</b>. Based on this, it is worth noting that the mixin
      <pupa-code-inline>lt-sm()</pupa-code-inline>
      is equivalent to the mixin
      <pupa-code-inline>xs()</pupa-code-inline>
      . Let's bring an example of using only one mixin from this set. In the example below, the square will become a
      circle for all breakpoints smaller than <b>xlg</b>.
    </p>

    <p>
      Such mixins should be used for more precise adjustment of adaptability. Case study: there is a drover fixed width.
      But we want its width to be
      <pupa-code-inline>100vw</pupa-code-inline>
      for all breakpoints less than <b>lg</b>, to have correct representation for mobile/tablet devices.
    </p>

    <pupa-code-container [content]="example5Content">
      <demo-adaptive-example-5 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-5>
    </pupa-code-container>

    <h4 demoAnchor anchorName="Greater-shorthand">
      The names of this set of mixins are shorthand for the name
      <pupa-code-inline>greater than {{ '${' }}breakpoint{{ '}' }}</pupa-code-inline>
      .
    </h4>
    <ul>
      <li>
        <pupa-code-inline>@mixin gt-sm()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin gt-md()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin gt-lg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin gt-xlg()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin gt-xl()</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin gt-xxl()</pupa-code-inline>
      </li>
    </ul>

    <p>
      In other words the styles will be applied to all resolutions of the large breakpoint specified in the mixin name.
      <b>Not including the breakpoint itself</b>. In the example below, the square will become a circle for all
      breakpoints greater than <b>lg</b>.
    </p>

    <pupa-code-container [content]="example6Content">
      <demo-adaptive-example-6 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-6>
    </pupa-code-container>

    <p><b>Use only for top-level layout, i.e. only for layout of the skeleton of the page itself.</b></p>

    <h4 demoAnchor anchorName="No-nested-content">These mixins are without nested content.</h4>

    <ul>
      <li>
        <pupa-code-inline>@mixin grid-size($xs, $sm, $md, $lg, $xlg, $xl, $xxl, $property: 'width')</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline
          >@mixin grid-offset($xs, $sm, $md, $lg, $xlg, $xl, $xxl, $property: 'margin-left')
        </pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin grid-container-offset($property: 'padding-left')</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin grid-container()</pupa-code-inline>
      </li>
    </ul>

    <p>
      The mixin
      <pupa-code-inline>grid-size</pupa-code-inline>
      sets how many columns an element occupies in each breakpoint. The last argument is the property being passed. It
      can be customized as needed. The default is
      <pupa-code-inline>width</pupa-code-inline>
      .
    </p>

    <p>
      The mixin
      <pupa-code-inline>grid-offset</pupa-code-inline>
      sets how many columns the element should indent by every breakpoint. The last argument is the property being
      passed. It can be customized as needed. The default is
      <pupa-code-inline>margin-left</pupa-code-inline>
      .
    </p>

    <p>
      The mixin
      <pupa-code-inline>grid-container-offset</pupa-code-inline>
      sets the padding of the container from the edge of the page. The indent itself is taken from the agreed config.
      The last argument is the property being passed. It can be customized as needed. The default is
      <pupa-code-inline>padding-left</pupa-code-inline>
      .
    </p>

    <p>
      The mixin
      <pupa-code-inline>grid-container</pupa-code-inline>
      is collection mixin for convenience. It sets indents from the edge of the page from the config to the left and
      right (through a mixin
      <pupa-code-inline>grid-container-offset</pupa-code-inline>
      with properties
      <pupa-code-inline>padding-left</pupa-code-inline>
      and
      <pupa-code-inline>padding-right</pupa-code-inline>
      respectively). It adds flex positioning and more base styles for the container.
    </p>

    <p>
      The entire PupaKit design system is adapted through these mixins. For example, for the menu (sidebar) the rule is
      specified: how many columns it captures at each breakpoint. The main content adheres to rules that deviate from
      the truth sidebar. Display the grid to see it.
    </p>

    <pupa-code-container [isPreviewExist]="false" [content]="example7Content"></pupa-code-container>

    <h3 demoAnchor>CSS locks</h3>

    <h4 demoAnchor anchorName="CSS-gateway-math">
      These are special mixins and functions that allow you to apply css gateway math to scale up proportionately.
    </h4>

    <ul>
      <li>
        <pupa-code-inline>@function calc-between-width(...)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@function calc-between-height(...)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin width-between-property(...)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@mixin height-between-property(...)</pupa-code-inline>
      </li>
    </ul>

    <p>
      The functions
      <pupa-code-inline>calc-between-width(...)</pupa-code-inline>
      and
      <pupa-code-inline>calc-between-height(...)</pupa-code-inline>
      They calculate the proportional dimension in pixels. Its can be set to any property that supports pixel
      dimensions. The math in them looks like this way:
    </p>

    <pupa-code-fetch [codeFilePath]="example8CalcBetweenScssPath"></pupa-code-fetch>

    <p>
      The mixins
      <pupa-code-inline>width-between-property(...)</pupa-code-inline>
      and
      <pupa-code-inline>height-between-property(...)</pupa-code-inline>
      internally use the functions above and assign the value of the passed property. These mixins have checkboxes
      <pupa-code-inline>$is-save-width-before</pupa-code-inline>
      and
      <pupa-code-inline>$is-save-width-after</pupa-code-inline>
      , that allow you to save the set value after outside the specified interval.
    </p>
    <p>
      In the example below, there are 6 blocks containing text. The first 3 respond to window width changes, the last 3
      to height change. In each of these cases, the first block reacts only in the specified interval. The 2nd block
      keeps value after the interval. The 3rd block stores the value after the interval.
    </p>

    <pupa-code-container [content]="example8Content">
      <demo-adaptive-example-8 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-8>
    </pupa-code-container>

    <h4 demoAnchor anchorName="Grid-Size-Offset-helpers">
      These functions are helper for mixins
      <pupa-code-inline>grid-size</pupa-code-inline>
      and
      <pupa-code-inline>grid-offset</pupa-code-inline>
      .
    </h4>

    <ul>
      <li>
        <pupa-code-inline>@function grid-column($columnsCount, $gutter, $breakpointWidth)</pupa-code-inline>
      </li>
      <li>
        <pupa-code-inline>@function grid-column-offset($columnCount, $gutter, $breakpointWidth)</pupa-code-inline>
      </li>
    </ul>

    <p>
      They calculate the size/padding of the container at each breakpoint depending on the number of columns and
      padding.
    </p>

    <h3 demoAnchor>Other</h3>
    <ul>
      <li>
        <pupa-code-inline>@mixin hover()</pupa-code-inline>
      </li>
    </ul>

    <p>
      We have a mouse on desktop resolutions. So there is a hover state. The state when the mouse was pointed at the
      element. Certain styles can be hung on this state. Hover states also skip on mobile devices, even under the
      logical condition that there is no mouse there. Hover-state blinks just before the
      <pupa-code-inline>tap</pupa-code-inline>
      on the element, which looks "not good". You can use the
      <pupa-code-inline>hover()</pupa-code-inline>
      mixin to avoid this. It will only enable the hover style at resolutions where there is actually a hover.
    </p>

    <p>
      In the example below, when we hover over a block, it will turn red. But on mobile devices, no matter how we click
      on block hover state will not slip. The second block uses the usual
      <pupa-code-inline>:hover</pupa-code-inline>
      to show the result. When you click on it on a mobile device, you can see the hover state.
    </p>

    <pupa-callout>Turn on mobile display mode in <b>DevTools</b> to see it.</pupa-callout>

    <pupa-code-container [content]="example9Content">
      <demo-adaptive-example-9 *pupaCodeContainerPreviewTemplate></demo-adaptive-example-9>
    </pupa-code-container>

    <h3 demoAnchor>TypeScript</h3>

    <p>
      Everything is clear with styles. We can track any state of the window and make our own styles depending on these
      restrictions through mixins. But sometimes you need to catch the window state in ts. You can use
      <pupa-code-inline>ClientUiStateHandlerService</pupa-code-inline>
      for this purpose in PupaKit. You can find all the necessary information in the stream
      <pupa-code-inline>uiState$</pupa-code-inline>
      , including the active breakpoint.
    </p>

    <h3 demoAnchor>Touch Events</h3>

    <p>
      The click event on mobile devices is much longer than the tap event. For these purposes, the library
      <b>hammer.js</b> was added to improve the interface response in PupaKit. You can improve the response using
      <pupa-code-inline>(tap)</pupa-code-inline>
      . On desktop devices
      <pupa-code-inline>(tap)</pupa-code-inline>
      will work like
      <pupa-code-inline>(click)</pupa-code-inline>
      . You can find more detailed information about different touch events in this library.
    </p>
  </div>
</demo-page>
