<h1>Table</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>
    <!-- <pupa-code-container [content]="example1Content">
      <demo-table-example-1 *pupaCodeContainerPreviewTemplate></demo-table-example-1>
    </pupa-code-container> -->

    <!-- <h3 demoAnchor>Sortable, draggable and resizable columns</h3>
    <pupa-code-container [content]="example2Content">
      <demo-table-example-2 *pupaCodeContainerPreviewTemplate></demo-table-example-2>
    </pupa-code-container> -->

    <!-- <h3 demoAnchor>Columns fixed position</h3>
    <pupa-code-container [content]="example3Content">
      <demo-table-example-3 *pupaCodeContainerPreviewTemplate></demo-table-example-3>
    </pupa-code-container> -->

    <!-- <h3 demoAnchor>Custom templates</h3>
    <pupa-code-container [content]="example4Content">
      <demo-table-example-4 *pupaCodeContainerPreviewTemplate></demo-table-example-4>
    </pupa-code-container> -->

    <!-- <h3 demoAnchor>Adaptive</h3>
    <pupa-code-container [content]="example5Content">
      <demo-table-example-5 *pupaCodeContainerPreviewTemplate></demo-table-example-5>
    </pupa-code-container>

    <h3 demoAnchor>Controller actions and events</h3>
    <pupa-code-container [content]="example6Content">
      <demo-table-example-6 *pupaCodeContainerPreviewTemplate></demo-table-example-6>
    </pupa-code-container>

    <h3 demoAnchor>Requests to backend</h3>
    <pupa-code-container [content]="example7Content">
      <demo-table-example-7 *pupaCodeContainerPreviewTemplate></demo-table-example-7>
    </pupa-code-container>

    <h3 demoAnchor>Requests to backend with TablePagedDataProducer</h3>
    <pupa-code-container [content]="example8Content">
      <demo-table-example-8 *pupaCodeContainerPreviewTemplate></demo-table-example-8>
    </pupa-code-container>

    <h3 demoAnchor>Auto column sizes</h3>
    <pupa-code-container [content]="example9Content">
      <demo-table-example-9 *pupaCodeContainerPreviewTemplate></demo-table-example-9>
    </pupa-code-container>

    <h3 demoAnchor>Draggable rows</h3>
    <pupa-code-container [content]="example10Content">
      <demo-table-example-10 *pupaCodeContainerPreviewTemplate></demo-table-example-10>
    </pupa-code-container> -->

    <h3 demoAnchor>Tree Table</h3>
    <pupa-code-container [content]="example11Content">
      <demo-table-example-11 *pupaCodeContainerPreviewTemplate></demo-table-example-11>
    </pupa-code-container>
  </div>
</demo-page>
