<h1>Textarea</h1>

<h3 demoAnchor>Basic usage</h3>

<h3 demoAnchor>Simple configuration</h3>
<pupa-code-container [content]="example1Content">
  <demo-textarea-example-1 *pupaCodeContainerPreviewTemplate></demo-textarea-example-1>
</pupa-code-container>

<h3 demoAnchor>Disabled</h3>
<pupa-code-container [content]="example2Content">
  <demo-textarea-example-2 *pupaCodeContainerPreviewTemplate></demo-textarea-example-2>
</pupa-code-container>

<h3 demoAnchor>Counter case</h3>
<pupa-code-container [content]="example3Content">
  <demo-textarea-example-3 *pupaCodeContainerPreviewTemplate></demo-textarea-example-3>
</pupa-code-container>

<h3 demoAnchor>Validation case</h3>
<pupa-info-block variant="info">Using isPatched option for show validation on init</pupa-info-block>
<pupa-code-container [content]="example4Content">
  <demo-textarea-example-4 *pupaCodeContainerPreviewTemplate></demo-textarea-example-4>
</pupa-code-container>

<h3 demoAnchor>Autosize usage</h3>
<h3 demoAnchor>Autosize case from 5 to 10 rows</h3>
<pupa-code-container [content]="example5Content">
  <demo-textarea-example-5 *pupaCodeContainerPreviewTemplate></demo-textarea-example-5>
</pupa-code-container>

<h3 demoAnchor>Counter visibility</h3>
<pupa-code-container [content]="example6Content">
  <demo-textarea-example-6 *pupaCodeContainerPreviewTemplate></demo-textarea-example-6>
</pupa-code-container>

<h3 demoAnchor>Enter key prevented mode</h3>
<pupa-code-container [content]="example7Content">
  <demo-textarea-example-7 *pupaCodeContainerPreviewTemplate></demo-textarea-example-7>
</pupa-code-container>

<h3 demoAnchor>Size</h3>
<pupa-code-container [content]="example8Content">
  <demo-textarea-example-8 *pupaCodeContainerPreviewTemplate></demo-textarea-example-8>
</pupa-code-container>
