<h1>Textarea</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>

    <h3 demoAnchor>Simple configuration</h3>
    <pupa-code-container [content]="example1Content">
      <demo-textarea-example-1 *pupaCodeContainerPreviewTemplate></demo-textarea-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Disabled</h3>
    <pupa-code-container [content]="example2Content">
      <demo-textarea-example-2 *pupaCodeContainerPreviewTemplate></demo-textarea-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Counter case</h3>
    <pupa-code-container [content]="example3Content">
      <demo-textarea-example-3 *pupaCodeContainerPreviewTemplate></demo-textarea-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Validation case</h3>
    <pupa-callout variant="info">Using isPatched option for show validation on init</pupa-callout>
    <pupa-code-container [content]="example4Content">
      <demo-textarea-example-4 *pupaCodeContainerPreviewTemplate></demo-textarea-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Autosize usage</h3>
    <h3 demoAnchor>Autosize case from 5 to 10 rows</h3>
    <pupa-code-container [content]="example5Content">
      <demo-textarea-example-5 *pupaCodeContainerPreviewTemplate></demo-textarea-example-5>
    </pupa-code-container>

    <h3 demoAnchor>Counter visibility</h3>
    <pupa-code-container [content]="example6Content">
      <demo-textarea-example-6 *pupaCodeContainerPreviewTemplate></demo-textarea-example-6>
    </pupa-code-container>

    <h3 demoAnchor>Enter key prevented mode</h3>
    <pupa-code-container [content]="example7Content">
      <demo-textarea-example-7 *pupaCodeContainerPreviewTemplate></demo-textarea-example-7>
    </pupa-code-container>

    <h3 demoAnchor>Size</h3>
    <pupa-code-container [content]="example8Content">
      <demo-textarea-example-8 *pupaCodeContainerPreviewTemplate></demo-textarea-example-8>
    </pupa-code-container>

    <h3 demoAnchor>Invalid tooltip</h3>
    <pupa-code-container [content]="example9Content">
      <demo-textarea-example-9 *pupaCodeContainerPreviewTemplate></demo-textarea-example-9>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div
          class="controls-list"
          *pupaLet="
            {
              isPatched: isPatched$ | async,
              size: size$ | async,
              counterVisibility: counterVisibility$ | async,
              isEnterKeyPrevented: isEnterKeyPrevented$ | async,
              invalidTooltipHideOnHover: invalidTooltipHideOnHover$ | async,
              invalidTooltipDisabled: invalidTooltipDisabled$ | async,
            };
            let isPatched = isPatched;
            let size = size;
            let counterVisibility = counterVisibility;
            let isEnterKeyPrevented = isEnterKeyPrevented;
            let invalidTooltipHideOnHover = invalidTooltipHideOnHover;
            let invalidTooltipDisabled = invalidTooltipDisabled;
          "
        >
          <div class="controls-list__block">
            <pupa-label class="control-label" [disabled]="textAreaFormControl.disabled">pupa-textarea</pupa-label>
            <pupa-textarea
              class="textarea"
              [size]="size"
              [isPatched]="isPatched"
              [counterVisibility]="counterVisibility"
              [formControl]="textAreaFormControl"
              [maxLength]="maxLengthFormControl.value"
              [placeholder]="placeholderFormControl.value"
              [minRows]="minRowsFormControl.value"
              [maxRows]="maxRowsFormControl.value"
              [enterKeyPrevented]="isEnterKeyPrevented"
              [invalidTooltipHideOnHover]="invalidTooltipHideOnHover"
              [invalidTooltipContentTemplate]="(isInvalidTooltipContentTemplateEnabled$ | async) && errorTemplate"
              [invalidTooltipDisabled]="invalidTooltipDisabled"
              [invalidTooltip]="tooltipTextFormControl.value"
            ></pupa-textarea>
          </div>
          <div class="controls-list__block">
            <pupa-label class="control-label" [disabled]="textAreaInlineFormControl.disabled">
              pupa-textarea-inline
            </pupa-label>
            <pupa-textarea-inline
              class="textarea"
              [size]="size"
              [isPatched]="isPatched"
              [counterVisibility]="counterVisibility"
              [formControl]="textAreaInlineFormControl"
              [placeholder]="placeholderFormControl.value"
              [maxLength]="maxLengthFormControl.value"
              [minRows]="minRowsFormControl.value"
              [maxRows]="maxRowsFormControl.value"
              [enterKeyPrevented]="isEnterKeyPrevented"
              [invalidTooltipHideOnHover]="invalidTooltipHideOnHover"
              [invalidTooltipContentTemplate]="(isInvalidTooltipContentTemplateEnabled$ | async) && errorTemplate"
              [invalidTooltipDisabled]="invalidTooltipDisabled"
              [invalidTooltip]="tooltipTextFormControl.value"
            ></pupa-textarea-inline>
          </div>
        </div>
      </demo-example-viewer-content>
      <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-config-item name="Set form control to disabled state">
          <demo-props-form-control-disabled [control]="isDisabledFormControl"></demo-props-form-control-disabled>
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>formControl.disable()</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>
        <demo-example-viewer-config-item name="Set form control validators">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>formControl.setValidators()</pupa-code-inline>
          </ng-container>
          <demo-props-form-control-validators
            [controlsList]="controlsList"
            [validators]="validators$ | async"
            [initialValue]="true"
          ></demo-props-form-control-validators>
        </demo-example-viewer-config-item>
      </demo-example-viewer-section>
      <demo-example-viewer-section-label>Common textarea properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="TextareaSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the element.</ng-container>
          <demo-props-radio-select #size$ [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="counterVisibility" type="TextareaCounterVisibility">
          <ng-container *demoExampleViewerPropertyDescription>
            Sets the visibility of the number of characters.
          </ng-container>
          <demo-props-radio-select #counterVisibility$ [options]="counterVisibilityOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="maxLength" type="number">
          <ng-container *demoExampleViewerPropertyDescription>Sets the maximum number of characters.</ng-container>
          <pupa-input-text [formControl]="maxLengthFormControl"></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="placeholder" type="string">
          <ng-container *demoExampleViewerPropertyDescription>The placeholder of the element.</ng-container>
          <pupa-input-text [formControl]="placeholderFormControl" [withReset]="true"></pupa-input-text>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="minRows" type="number">
          <ng-container *demoExampleViewerPropertyDescription>The placeholder of the element.</ng-container>
          <pupa-input-number [formControl]="minRowsFormControl" [withReset]="false"></pupa-input-number>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="maxRows" type="number">
          <ng-container *demoExampleViewerPropertyDescription>The placeholder of the element.</ng-container>
          <pupa-input-number [formControl]="maxRowsFormControl" [withReset]="false"></pupa-input-number>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="isPatched" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is patched.</ng-container>
          <demo-props-switcher #isPatched$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="enterKeyPrevented" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>
            Prevents the enter key from triggering a form submission or any other default action.
          </ng-container>
          <demo-props-switcher #isEnterKeyPrevented$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section>
        <demo-example-viewer-section-label size="medium">
          <pupa-code-inline>invalidTooltip*</pupa-code-inline>
          properties are written by analogy with a
          <pupa-code-inline>TooltipDirective</pupa-code-inline>
        </demo-example-viewer-section-label>
        <pupa-callout>
          <ul>
            <li>
              The tooltip is only visible when input is in INVALID state. To trigger invalid state use
              <pupa-code-inline>setValidators</pupa-code-inline>
              or
              <pupa-code-inline>isPatched</pupa-code-inline>
              switchers.
            </li>
            <li>
              Please note that only one tooltip input value can be applied at the time -
              <pupa-code-inline>invalidTooltip</pupa-code-inline>
              or
              <pupa-code-inline>invalidTooltipContentTemplate</pupa-code-inline>
              . If you submit simple content and a template to the directive at the same time, the display will take
              precedence over the template. Please use switcher to disable
              <pupa-code-inline>invalidTooltipContentTemplate</pupa-code-inline>
              before entering simple tooltip text.
            </li>
          </ul>
        </pupa-callout>
        <demo-example-viewer-property decoratorName="input" name="invalidTooltip" type="string">
          <ng-container *demoExampleViewerPropertyDescription>Invalid tooltip simple content.</ng-container>
          <pupa-input-text
            placeholder="Type tooltip text here"
            [formControl]="tooltipTextFormControl"
            [withReset]="true"
          ></pupa-input-text>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="invalidTooltipContentTemplate" type="TemplateRef">
          <ng-container *demoExampleViewerPropertyDescription>Invalid tooltip content template.</ng-container>
          <pupa-textarea [formControl]="tooltipTemplateFormControl"></pupa-textarea>
          <br />
          <demo-props-switcher #isInvalidTooltipContentTemplateEnabled$ [initialValue]="true"></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tooltipHideOnHover" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Hide on invalid tooltip hover.</ng-container>
          <demo-props-switcher #invalidTooltipHideOnHover$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tooltipDisabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the invalid tooltip is disabled.</ng-container>
          <demo-props-switcher #invalidTooltipDisabled$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>

<ng-template #errorTemplate>
  <div [innerHTML]="tooltipTemplateFormControl.value"></div>
</ng-template>
