<h1>Dropdown menu</h1>
<div
  class="wrapper"
  style="
    position: relative;
    left: 200px;
    top: 200px;

    width: 500px;
    height: 500px;
  "
>
  <pupa-dropdown-menu>
    <pupa-dropdown-menu-trigger>
      <div style="border-radius: 100%; background-color: red; width: 20px; height: 20px;"></div>
    </pupa-dropdown-menu-trigger>
    <pupa-dropdown-menu-content>
      <pupa-dropdown-menu-item>💁 Delete</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-item>👌 Add</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-item>🎍 Open in new tab</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </pupa-dropdown-menu>
</div>
