@use 'functions';

.pupa-droppable-content {
  padding: 1rem 0;
  border-radius: 1rem;
  max-width: 125rem;
  max-height: 70rem;
  overflow: auto;
  box-shadow: functions.variable(box-shadow_hover);
  background: functions.semantic-color(surface-primary);
  overflow-x: hidden;

  &.pupa-width-by-trigger {
    max-width: none;
  }

  &.pupa-width-fit-content {
    width: fit-content;
  }
}
