<div class="badge-container">
  <pupa-badge class="badge-container__item">
    <pupa-button icon="app-filter" kind="secondary">Filters</pupa-button>
    <pupa-badge-marker-block><pupa-counter color="primary" [count]="999"></pupa-counter></pupa-badge-marker-block>
  </pupa-badge>
  <pupa-badge class="badge-container__item">
    <pupa-button-icon icon="app-filter" kind="warning"></pupa-button-icon>
    <pupa-badge-marker-block><pupa-counter color="primary" [count]="99"></pupa-counter></pupa-badge-marker-block>
  </pupa-badge>
  <pupa-badge class="badge-container__item">
    <pupa-button-round icon="app-filter"></pupa-button-round>
    <pupa-badge-marker-block><pupa-counter color="danger" [count]="9"></pupa-counter></pupa-badge-marker-block>
  </pupa-badge>
</div>
