<pupa-button-group-container>
  <pupa-button-group>
    <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button 1 </pupa-button-group-item>

    <pupa-button-group-item class="pupa-button-group-item" name="button-2"> Button 2 </pupa-button-group-item>

    <pupa-button-group-item class="pupa-button-group-item" name="button-3"> Button 3 </pupa-button-group-item>

    <pupa-button-group-item class="pupa-button-group-item" name="button-4"> Button 4 </pupa-button-group-item>

    <pupa-button-group-item class="pupa-button-group-item" name="button-5"> Button 5 </pupa-button-group-item>
  </pupa-button-group>

  <pupa-button-group-content>
    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-1'">
      Button 1 content <input value="1" />
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-2'">
      Button 2 content <input value="2" />
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-3'">
      Button 3 content <input value="3" />
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-4'">
      Button 4 content <input value="4" />
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-5'">
      Button 5 content <input value="5" />
    </div>
  </pupa-button-group-content>
</pupa-button-group-container>
