@use '../../styles/calendar.styles';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  height: calendar.$row-height;
}
