@use 'mixins' as *;
@use 'functions' as *;

$drawer_padding: 8px;

@mixin heightContainer($vh) {
  height: vh($vh);
  width: 100vw;
  padding: 0;
  bottom: 0;
}

.drawer-container {
  width: fit-content;
  height: 100%;
  background: transparent;
  position: fixed;
  box-sizing: border-box;
  max-height: vh(100);

  &_with-padding {
    padding: $drawer_padding;
  }

  @include lt-sm() {
    @include heightContainer(90);
  }

  &_full-screen {
    width: 100vw;
    height: vh(100);
    padding: 0;
    margin: 0;
  }

  &_middle-position {
    @include heightContainer(50);
  }
}
