@import 'themes/functions';
@import 'mixins';
@import 'functions';

.tooltip-content {
  min-width: newRems(20);
  display: flex;
  flex-direction: column;
  font-size: newRems(1.75);
  line-height: newRems(2.25);
  color: color(white);
}
