@import 'themes/functions';
@import 'mixins';
@import 'functions';

.tooltip-content {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: color(white);
}
