<h1>Checkbox</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-checkbox [indeterminate]="indeterminate | async" [inversion]="inversion | async" [formControl]="control">
      <pupa-checkbox-mark> </pupa-checkbox-mark>
      <pupa-tooltip [disabled]="isNeedDisableTooltip$ | async" [hideOnTooltipHover]="true">
        <pupa-tooltip-trigger>
          <pupa-checkbox-label>{{ label }}</pupa-checkbox-label>
          <pupa-checkbox-hint>{{ hint }}</pupa-checkbox-hint>
        </pupa-tooltip-trigger>
        <pupa-tooltip-content>
          <div class="tooltip-content">
            <div>{{ label }}</div>
            <div>{{ hint }}</div>
          </div>
        </pupa-tooltip-content>
      </pupa-tooltip>
    </pupa-checkbox>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox class="indeterminate-props" #indeterminate>Indeterminate</demo-props-checkbox>
    <demo-props-checkbox class="disabled-props" #disabled>Disabled</demo-props-checkbox>
    <demo-props-checkbox class="inversion-props" #inversion>Inversion</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
