@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: block;
  width: 100%;
  color: semantic-color(text-secondary);
}

.modal-layout-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  box-sizing: border-box;
  border-top: 1px solid semantic-color(lines-normal);
  @include font-type-regular;
  @include font-size-xs(true);

  &_with-actions {
    padding: 5rem;
  }
}

:host-context(.modal-layout_no-border) {
  .modal-layout-footer {
    border-top: none;

    &_with-actions {
      padding-top: 2.5rem;
    }
  }
}
