@use 'functions';
@use 'mixins';

:host {
  display: block;
  width: 100%;
  color: functions.semantic-color(text-secondary);
}

.pupa-modal-layout-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  box-sizing: border-box;
  border-top: 1px solid functions.semantic-color(lines-normal);
  @include mixins.font-type-regular;
  @include mixins.font-size-xs(true);

  &_with-actions {
    padding: 5rem;
  }
}

:host-context(.pupa-modal-layout_no-border) {
  .pupa-modal-layout-footer {
    border-top: none;

    &_with-actions {
      padding-top: 2.5rem;
    }
  }
}
