@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: block;
  width: 100%;

  @include xs() {
    border-top: 1px solid semantic-color(lines-normal);
  }
  color: semantic-color(surface-secondary);
}

.modal-layout-footer {
  display: flex;
  column-gap: 2rem;
  box-sizing: border-box;
  padding-top: 2rem;
  @include font-type-regular;
  @include font-size-xs(true);

  &_with-actions {
    padding-top: 4rem;
    @include xs() {
      padding: 3rem 5rem;
    }
  }
}
