@use 'mixins' as *;
@use 'demo/styles/functions' as *;
@use 'demo/styles/variables' as *;

:host {
  display: block;
  user-select: none;
}

input {
  margin: 8px;
}

label {
  @include host-selector-dark-theme() {
    color: get-map-field($theme-config, [dark, body, font-color]);
  }
  color: get-map-field($theme-config, [light, body, font-color]);
}
