@use 'sass:map';

@import 'src/styles/functions';
@import 'src/styles/mixins';

$menu-toggle-size: 28px;
$strip-height: 3px;

@mixin apply-background() {
  background: color(base-dark-n400);

  @include host-selector-dark-theme() {
    background: color(base-white-n400);
  }
}

:host {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  user-select: none;
}

.menu-toggle {
  @include gt-md() {
    cursor: pointer;
  }

  background: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;

  padding: 0;
  width: $menu-toggle_size;
  height: $menu-toggle_size;
  box-shadow: none;
  border: none;

  font-size: 0;
  text-indent: -9999px;

  &:focus {
    outline: none;
  }

  &__strips {
    $top: calc((#{$menu-toggle-size} - #{$strip-height}) / 2);
    $pseudo-strips-position-diff: calc(-#{$menu-toggle-size} / 2 + 2 * #{$strip-height});

    display: block;
    position: absolute;
    top: $top;
    left: 0px;
    right: 0px;
    height: $strip-height;

    @include apply-background();

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $strip-height;
      content: '';

      @include apply-background();
    }

    &::before {
      top: $pseudo-strips-position-diff;
    }

    &::after {
      bottom: $pseudo-strips-position-diff;
    }
  }
}
