@import 'functions';
@import '~src/styles/variables';
@import '~src/styles/mixins';
@import '~src/styles/functions';

.index {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  overflow: auto;
  border-right: 1px solid $color_grey-ivory;
}

main {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.index-item {
  display: block;
  padding: rems(0.5);
  text-transform: capitalize;

  &.active {
    background: rgba($color_grey-ivory, 0.1);
  }
}
