@import './../../src/styles/themes/functions.scss';
@import './../../src/styles/mixins.scss';
@import './../../src/styles/functions.scss';

.index {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  overflow: auto;
  border-right: 1px solid color(grey-ivory);
  box-sizing: border-box;
}

main {
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100vh;
  overflow: auto;
  @include scrollbar;
}

.index-item {
  display: block;
  padding: rems(0.5);
  text-transform: capitalize;

  &.active {
    background: rgba(color(grey-ivory-rgb), 0.1);
  }
}

@include scrollbar;
