@import './../../src/styles/themes/functions.scss';
@import './../../src/styles/mixins.scss';
@import './../../src/styles/functions.scss';

@include scrollbar();

.layout-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
  width: 300px;
  color: #616161;
  box-shadow: 5px 0 19px 0 #d3d3d35e;
  overflow: auto;

  .subheader {
    font-weight: 300;
    color: #212121bf;
    margin-bottom: 8px;
    padding-left: 24px;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .navigation-item {
    color: inherit;
    font-size: 0.875rem;
    letter-spacing: 0.033em;
    display: block;
    padding: 12px 48px 12px 32px;
    line-height: 1.333;
    text-decoration: none;
    box-sizing: border-box;

    &.active,
    &:hover {
      color: #212121;
      background: #f5f5f5;
    }
  }
}

.content-wrapper {
  flex: 1;
  padding: 0 32px;
  overflow: auto;
}

.content {
  min-width: 700px;
  max-width: 1000px;
}
