<pupa-layout>
  <div class="group">
    <pupa-input
      *ngFor="let combo of inputCombos"
      [placeholder]="combo.placeholder"
      [size]="combo.size"
      [disabled]="combo.disabled"
      [formControl]="sampleFormControl"
      [valid]="sampleFormControl.valid"
    ></pupa-input>
  </div>
  <div class="group">
    <pupa-button
      *ngFor="let combo of buttonCombos"
      [type]="combo.type"
      [size]="combo.size"
      [color]="combo.color"
      [disabled]="combo.disabled"
    >
      Sample button
    </pupa-button>
  </div>
</pupa-layout>
