<pupa-layout>
  <ng-container [ngTemplateOutlet]="inputs"></ng-container>
  <ng-container [ngTemplateOutlet]="buttons"></ng-container>
</pupa-layout>

<ng-template #inputs>
  <div class="inline">
    <pupa-input
      *ngFor="let combo of getCombos(inputPropertyValues)"
      [placeholder]="combo.placeholder"
      [size]="combo.size"
      [value]="combo.value"
      [valid]="combo.valid"
      (valueChange)="log($event)"
    ></pupa-input>
  </div>
</ng-template>

<ng-template #buttons>
  <div class="inline">
    <pupa-button
      *ngFor="let combo of getCombos(buttonPropertyValues)"
      (onclick)="log('clicked')"
      [type]="combo.type"
      [size]="combo.size"
      [color]="combo.color"
      [disabled]="combo.disabled"
    >
      Sample button
    </pupa-button>
  </div>
</ng-template>
