@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

:host {
  display: block;
  min-height: 8rem;
}

@mixin round-out {
  width: 1rem;
  height: 1rem;
  mask-image: url('./../../../../assets/round-mask.svg');
  mask-size: 1rem 1rem;
  mask-repeat: no-repeat;
}

.tree-node {
  @include flex-container(row, center);
  min-width: 48.5rem;
  height: 100%;
  background-color: color(neutral-1);
  cursor: pointer;
  @include no-tap-highlight();
  overflow: clip;
  position: relative;

  &__selection {
    position: sticky;
    align-self: stretch;
    left: 0;
    width: 0.5rem;
    min-width: 0.5rem;
    opacity: 0;
    border-top-left-radius: 9rem 16rem;
    border-bottom-left-radius: 9rem 16rem;
    background-color: semantic-color(kind-primary-normal);
  }

  &__left {
    @include flex-container(row, center);
    overflow: hidden;
    padding: 1rem 0 1rem 1.5rem;
    margin-right: -4rem;
  }

  &__right {
    @include flex-container(row);
    position: sticky;
    right: 0;
    align-self: stretch;
    margin-left: auto;

    &-gradient {
      height: 100%;
      width: 5rem;
      background: linear-gradient(90deg, color(neutral-1, alpha-1) 0%, color(neutral-1) 100%);
    }

    &-container {
      @include flex-container(row, center, flex-end);
      position: relative;
      z-index: 2;
      width: fit-content;
      height: 100%;
      background: color(neutral-1);
      padding-right: 2rem;
    }
  }

  &__arrow-container {
    @include flex-container(row, center, center);
    min-width: 9rem;
    height: 6rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  &__without-children {
    color: color(neutral-60);
  }

  &__text {
    @include font-preset-caption-xs();

    color: color(neutral-1000);
    white-space: nowrap;
    padding-right: 4rem;
  }

  &__left-mask,
  &__right-mask {
    position: sticky;
    align-self: stretch;
    @include flex-container(column, flex-start, space-between);
  }

  &__left-mask {
    left: 0;
    z-index: 1;
    margin-right: -1rem;
  }

  &__right-mask {
    right: 0;
    margin-left: -1rem;
  }

  &__left-top-round-out,
  &__left-bottom-round-out,
  &__right-top-round-out,
  &__right-bottom-round-out {
    @include round-out;
    background-color: color(neutral-1);
  }

  &__left-bottom-round-out {
    transform: rotate(270deg);
  }

  &__right-top-round-out {
    transform: rotate(90deg);
  }

  &__right-bottom-round-out {
    transform: rotate(180deg);
  }

  @include hover {
    background-color: semantic-color(kind-neutral-hover);

    .tree-node__right-container {
      background-color: semantic-color(kind-neutral-hover);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-6, alpha-1) 0%, color(neutral-6) 100%);
    }
  }

  &:active {
    background-color: color(neutral-7);

    .tree-node__right-container {
      background-color: color(neutral-7);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-7, alpha-1) 0%, color(neutral-7) 100%);
    }
  }

  &:focus {
    border: 2px solid color(primary-500);
  }

  &--dragover {
    border: 1px solid color(primary-500);
  }

  &--selected {
    background-color: color(neutral-4);

    .tree-node__selection {
      opacity: 1;
      background-color: semantic-color(kind-primary-normal);
    }

    .tree-node__right-container {
      background-color: color(neutral-4);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-4, alpha-1) 0%, color(neutral-4) 100%);
    }
  }

  &--disabled {
    &.tree-node {
      cursor: not-allowed;
      background-color: color(neutral-1);

      .tree-node__right-container {
        background-color: color(neutral-1);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-1, alpha-1) 0%, color(neutral-1) 100%);
      }

      .tree-node__text {
        color: color(neutral-60);
      }

      &--selected {
        background-color: color(neutral-4);

        .tree-node__selection {
          background-color: semantic-color(kind-primary-normal);
          opacity: 1;
        }

        .tree-node__right-container {
          background-color: color(neutral-4);
        }

        .tree-node__right-gradient {
          background: linear-gradient(90deg, color(neutral-4, alpha-1) 0%, color(neutral-4) 100%);
        }
      }
    }
  }

  &--expanded {
    .tree-node__text {
      @include font-preset-h6();
    }
  }

  &--hovered {
    background-color: semantic-color(kind-neutral-hover);

    .tree-node__right-container {
      background-color: semantic-color(kind-neutral-hover);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-6, alpha-1) 0%, color(neutral-6) 100%);
    }
  }

  @include host-selector-dark-theme() {
    background-color: color(neutral-1000);

    &__right-container,
    &__left-top-round-out,
    &__left-bottom-round-out,
    &__right-top-round-out,
    &__right-bottom-round-out {
      background-color: color(neutral-1000);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-1000, alpha-1) 0%, color(neutral-1000) 100%);
    }

    &__text {
      color: color(neutral-1);
    }

    @include hover {
      background-color: color(neutral-600);

      .tree-node__right-container {
        background-color: color(neutral-600);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-600, alpha-1) 0%, color(neutral-600) 100%);
      }
    }

    &:active {
      background-color: color(neutral-700);

      .tree-node__right-container {
        background-color: color(neutral-700);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-700, alpha-1) 0%, color(neutral-700) 100%);
      }
    }

    &--selected {
      background-color: color(neutral-500);

      .tree-node__selection {
        background-color: color(primary-40);
      }

      .tree-node__right-container {
        background-color: color(neutral-500);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-500, alpha-1) 0%, color(neutral-500) 100%);
      }
    }

    &.tree-node--disabled {
      background-color: color(neutral-1000);

      .tree-node__right-container {
        background-color: color(neutral-1000);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-1000, alpha-1) 0%, color(neutral-1000) 100%);
      }

      .tree-node__text {
        color: color(neutral-60);
      }

      &.tree-node--selected {
        background-color: color(neutral-500);

        .tree-node__right-container {
          background-color: color(neutral-500);
        }

        .tree-node__right-gradient {
          background: linear-gradient(90deg, color(neutral-500, alpha-1) 0%, color(neutral-500) 100%);
        }

        .tree-node__text {
          color: color(neutral-60);
        }
      }
    }
  }
}
