<div
  class="pupa-tree-node"
  [class.pupa-tree-node--selected]="isSelected"
  [class.pupa-tree-node--disabled]="treeNodeProperties.isDisabled"
  [class.pupa-tree-node--expanded]="treeNodeProperties.isExpanded"
  [class.pupa-tree-node--hovered]="treeNodeProperties.forceHover"
>
  <div class="pupa-tree-node__left-mask">
    <div class="pupa-tree-node__left-top-round-out"></div>
    <div class="pupa-tree-node__left-bottom-round-out"></div>
  </div>
  <div class="pupa-tree-node__selection"></div>
  <div class="pupa-tree-node__left">
    <div [style.margin-left]="arrowOffset" class="pupa-tree-node__arrow-container">
      <ng-container *ngIf="treeNodeProperties.isDirectory">
        <pupa-button-icon
          (click)="expand($event)"
          *ngIf="treeNodeProperties.hasChildren"
          [icon]="arrowIcon"
          [disabled]="treeNodeProperties.isDisabled"
          [loading]="treeNodeProperties.isLoading"
          size="m"
          kind="secondary"
        ></pupa-button-icon>
        <pupa-icon
          *ngIf="!treeNodeProperties.hasChildren"
          class="pupa-tree-node__without-children"
          name="app-indicator-filled"
        ></pupa-icon>
      </ng-container>
    </div>
    <div class="pupa-tree-node__text">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="pupa-tree-node__right">
    <div class="pupa-tree-node__right-gradient"></div>
    <div
      *ngIf="treeNodeActionsTemplate?.isDisplayed$ | async"
      (click)="$event.stopPropagation()"
      class="pupa-tree-node__right-container"
    >
      <ng-container [ngTemplateOutlet]="treeNodeActionsTemplate?.templateRef"></ng-container>
    </div>
  </div>
  <div class="pupa-tree-node__right-mask">
    <div class="pupa-tree-node__right-top-round-out"></div>
    <div class="pupa-tree-node__right-bottom-round-out"></div>
  </div>
</div>
