@use 'functions';
@use 'mixins';
@use 'variables';

:host {
  display: block;
  min-height: 8rem;
}

@mixin round-out {
  width: 1rem;
  height: 1rem;
  mask-image: url('./../../../../assets/round-mask.svg');
  mask-size: 1rem 1rem;
  mask-repeat: no-repeat;
}

.pupa-tree-node {
  @include mixins.flex-container(row, center);
  min-width: 48.5rem;
  height: 100%;
  background-color: functions.semantic-color(surface-primary);
  cursor: pointer;
  @include mixins.no-tap-highlight();
  overflow: clip;
  position: relative;

  &__selection {
    position: sticky;
    align-self: stretch;
    left: 0;
    width: 0.5rem;
    min-width: 0.5rem;
    opacity: 0;
    border-top-left-radius: 9rem 16rem;
    border-bottom-left-radius: 9rem 16rem;
    background-color: functions.semantic-color(kind-primary-normal);
  }

  &__left {
    @include mixins.flex-container(row, center);
    overflow: hidden;
    padding: 1rem 0 1rem 1.5rem;
    margin-right: -4rem;
  }

  &__right {
    @include mixins.flex-container(row);
    position: sticky;
    right: 0;
    align-self: stretch;
    margin-left: auto;

    &-gradient {
      height: 100%;
      width: 5rem;
      background: linear-gradient(
        90deg,
        functions.semantic-color(surface-primary, alpha-1) 0%,
        functions.semantic-color(surface-primary) 100%
      );
    }

    &-container {
      @include mixins.flex-container(row, center, flex-end);
      position: relative;
      z-index: 2;
      width: fit-content;
      height: 100%;
      background: functions.semantic-color(surface-primary);
      padding-right: 2rem;
    }
  }

  &__arrow-container {
    @include mixins.flex-container(row, center, center);
    min-width: 9rem;
    height: 6rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  &__without-children {
    color: functions.semantic-color(icons-disabled);
  }

  &__text {
    @include mixins.font-preset-caption-xs();

    color: functions.semantic-color(text-primary);
    white-space: nowrap;
    padding-right: 4rem;
  }

  &__left-mask,
  &__right-mask {
    position: sticky;
    align-self: stretch;
    @include mixins.flex-container(column, flex-start, space-between);
  }

  &__left-mask {
    left: 0;
    z-index: 1;
    margin-right: -1rem;
  }

  &__right-mask {
    right: 0;
    margin-left: -1rem;
  }

  &__left-top-round-out,
  &__left-bottom-round-out,
  &__right-top-round-out,
  &__right-bottom-round-out {
    @include round-out;
    background-color: functions.semantic-color(surface-primary);
  }

  &__left-bottom-round-out {
    transform: rotate(270deg);
  }

  &__right-top-round-out {
    transform: rotate(90deg);
  }

  &__right-bottom-round-out {
    transform: rotate(180deg);
  }

  @include mixins.hover {
    background-color: functions.semantic-color(kind-neutral-hover);

    .pupa-tree-node__right-container {
      background-color: functions.semantic-color(kind-neutral-hover);
    }

    .pupa-tree-node__right-gradient {
      background: linear-gradient(
        90deg,
        functions.semantic-color(kind-neutral-hover, alpha-1) 0%,
        functions.semantic-color(kind-neutral-hover) 100%
      );
    }

    &:active {
      background-color: functions.semantic-color(kind-neutral-pressed);

      .pupa-tree-node__right-container {
        background-color: functions.semantic-color(kind-neutral-pressed);
      }

      .pupa-tree-node__right-gradient {
        background: linear-gradient(
          90deg,
          functions.semantic-color(kind-neutral-pressed, alpha-1) 0%,
          functions.semantic-color(kind-neutral-pressed) 100%
        );
      }
    }
  }

  &:focus {
    border: 2px solid functions.semantic-color(lines-accent);
  }

  &--dragover {
    border: 1px solid functions.semantic-color(lines-accent);
  }

  &--selected {
    background-color: functions.semantic-color(kind-neutral-selected);

    .pupa-tree-node__selection {
      opacity: 1;
      background-color: functions.semantic-color(kind-primary-normal);
    }

    .pupa-tree-node__right-container {
      background-color: functions.semantic-color(kind-neutral-selected);
    }

    .pupa-tree-node__right-gradient {
      background: linear-gradient(
        90deg,
        functions.semantic-color(kind-neutral-selected, alpha-1) 0%,
        functions.semantic-color(kind-neutral-selected) 100%
      );
    }
  }

  &--disabled {
    &.pupa-tree-node {
      cursor: not-allowed;
      background-color: functions.semantic-color(surface-primary);

      .pupa-tree-node__right-container {
        background-color: functions.semantic-color(surface-primary);
      }

      .pupa-tree-node__right-gradient {
        background: linear-gradient(
          90deg,
          functions.semantic-color(surface-primary, alpha-1) 0%,
          functions.semantic-color(surface-primary) 100%
        );
      }

      .pupa-tree-node__text {
        color: functions.semantic-color(text-disabled);
      }

      &--selected {
        background-color: functions.semantic-color(kind-neutral-selected);

        .pupa-tree-node__selection {
          background-color: functions.semantic-color(kind-primary-normal);
          opacity: 1;
        }

        .pupa-tree-node__right-container {
          background-color: functions.semantic-color(kind-neutral-selected);
        }

        .pupa-tree-node__right-gradient {
          background: linear-gradient(
            90deg,
            functions.semantic-color(kind-neutral-selected, alpha-1) 0%,
            functions.semantic-color(kind-neutral-selected) 100%
          );
        }
      }
    }
  }

  &--expanded {
    .pupa-tree-node__text {
      @include mixins.font-preset-h6();
    }
  }

  &--hovered {
    background-color: functions.semantic-color(kind-neutral-hover);

    .pupa-tree-node__right-container {
      background-color: functions.semantic-color(kind-neutral-hover);
    }

    .pupa-tree-node__right-gradient {
      background: linear-gradient(
        90deg,
        functions.semantic-color(kind-neutral-hover, alpha-1) 0%,
        functions.semantic-color(kind-neutral-hover) 100%
      );
    }
  }
}
