@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

:host {
  display: block;
  min-height: 8rem;
  overflow: hidden;
}

.tree-node {
  @include flex-container(row, center);
  min-width: 48.5rem;
  height: 100%;
  background-color: color(neutral-1);
  border-radius: $controlBorderRadius;
  cursor: pointer;
  @include no-tap-highlight();
  position: relative;
  overflow: hidden;

  &__left {
    @include flex-container(row, center);
    overflow: hidden;
    padding: 1rem 0 1rem 1.5rem;
    margin-right: -4rem;
  }

  &__right {
    @include flex-container(row);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    padding-left: 4rem;

    &-gradient {
      height: 100%;
      width: 5rem;
      background: linear-gradient(90deg, color(neutral-1, alpha-1) 0%, color(neutral-1) 100%);
    }

    &-container {
      @include flex-container(row, center, flex-end);
      position: relative;
      z-index: 2;
      width: fit-content;
      padding-right: 2rem;
      background: color(neutral-1);
    }
  }

  &__arrow-container {
    @include flex-container(row, center, center);
    min-width: 9rem;
    height: 6rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  &__without-children {
    color: color(neutral-60);
  }

  &__content {
    @include font-preset-caption-xs();
    color: color(neutral-1000);
    white-space: nowrap;
    padding-right: 4rem;
  }

  @include hover {
    background-color: color(neutral-6);

    .tree-node__right-container {
      background-color: color(neutral-6);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-6, alpha-1) -95%, color(neutral-6) 70%);
    }
  }

  &:active {
    background-color: color(neutral-7);

    .tree-node__right-container {
      background-color: color(neutral-7);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-7, alpha-1) -95%, color(neutral-7) 70%);
    }
  }

  &:focus {
    border: 2px solid color(primary-500);
  }

  &--dragover {
    border: 1px solid color(primary-500);
  }

  &--selected {
    position: relative;
    background-color: semantic-color(kind-neutral-selected);
    border-radius: $controlBorderRadius;
    overflow: hidden;
    background-color: color(neutral-4);

    .tree-node__right-container {
      background-color: color(neutral-4);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-4, alpha-1) -95%, color(neutral-4) 70%);
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      content: '';
      width: 0.5rem;
      background-color: semantic-color(kind-primary-normal);
      pointer-events: none;
    }
  }

  &--disabled {
    &.tree-node {
      cursor: not-allowed;
      background-color: color(neutral-1);

      .tree-node__right-container {
        background-color: color(neutral-1);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-1, alpha-1) -95%, color(neutral-1) 70%);
      }

      .tree-node__content {
        color: color(neutral-60);
      }

      &--selected {
        background-color: color(neutral-4);

        .tree-node__right-container {
          background-color: color(neutral-4);
        }

        .tree-node__right-gradient {
          background: linear-gradient(90deg, color(neutral-4, alpha-1) -95%, color(neutral-4) 70%);
        }
      }
    }
  }

  &--expanded {
    .tree-node__content {
      @include font-preset-h6();
    }
  }

  &--hovered {
    background-color: color(neutral-6);

    .tree-node__right-container {
      background-color: color(neutral-6);
    }

    .tree-node__right-gradient {
      background: linear-gradient(90deg, color(neutral-6, alpha-1) -95%, color(neutral-6) 70%);
    }
  }

  @include host-selector-dark-theme() {
    background-color: color(neutral-1000);

    &__right-gradient {
      background: linear-gradient(90deg, color(neutral-1000, alpha-1) -95%, color(neutral-1000) 70%);
    }

    &__right-container {
      background-color: color(neutral-1000);
    }

    &__content {
      color: color(neutral-1);
    }

    @include hover {
      background-color: color(neutral-600);

      .tree-node__right-container {
        background-color: color(neutral-600);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-600, alpha-1) -95%, color(neutral-600) 70%);
      }
    }

    &:active {
      background-color: color(neutral-700);

      .tree-node__right-container {
        background-color: color(neutral-700);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-700, alpha-1) -95%, color(neutral-700) 70%);
      }
    }

    &--selected {
      background-color: color(neutral-500);

      .tree-node__right-container {
        background-color: color(neutral-500);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-500, alpha-1) -95%, color(neutral-500) 70%);
      }
    }

    &.tree-node--disabled {
      background-color: color(neutral-1000);

      .tree-node__right-container {
        background-color: color(neutral-1000);
      }

      .tree-node__right-gradient {
        background: linear-gradient(90deg, color(neutral-1000, alpha-1) -95%, color(neutral-1000) 70%);
      }

      .tree-node__content {
        color: color(neutral-60);
      }

      &.tree-node--selected {
        background-color: color(neutral-500);

        .tree-node__right-container {
          background-color: color(neutral-500);
        }

        .tree-node__right-gradient {
          background: linear-gradient(90deg, color(neutral-500, alpha-1) -95%, color(neutral-500) 70%);
        }

        .tree-node__content {
          color: color(neutral-60);
        }
      }
    }
  }
}
