@use './input.styles';

$width_time: 29rem;
$width_time-seconds: 33rem;
$width_date: 37rem;
$width_date-time: 45rem;
$width_date-seconds: 50rem;

$width_date-range: 60rem;

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.pupa-base-input-container {
  &.pupa-time.pupa-fixed-size {
    width: $width_time;

    &.pupa-time-seconds {
      width: $width_time-seconds;
    }
  }

  &.pupa-date.pupa-fixed-size {
    width: $width_date;

    &.pupa-time {
      width: $width_date-time;
    }

    &.pupa-time-seconds {
      width: $width_date-seconds;
    }
  }

  &.pupa-date-range.pupa-fixed-size {
    width: $width_date-range;
  }

  .input {
    &:focus:not(.input_disabled)::placeholder {
      color: semantic-color(text-secondary);
    }

    &:not(:focus)::placeholder {
      font-size: 0;
    }
  }
}
