@use 'functions' as *;

:host {
  display: block;
}


.table-body-tree-cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__indent {
    margin-left: calc(var(--tree-level)*1rem);
    padding-left: 3rem;
  }

  &__expander {
    &_hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__marker {
    width: 5rem;
    height: 5rem;
    flex: 0 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}