<div class="pupa-selection" *ngIf="displayedMonth$ | async as displayedMonth">
  <pupa-button (click)="setQuickSelectModeMonth()" kind="secondary">
    {{ displayedMonth.month }}
  </pupa-button>

  <pupa-button (click)="setQuickSelectModeYear()" kind="secondary">
    {{ displayedMonth.year }}
  </pupa-button>
</div>

<div class="pupa-navigation">
  <pupa-button-icon size="m" kind="secondary" icon="app-chevron-down" (click)="scrollToNextMonth()"></pupa-button-icon>

  <pupa-button-icon size="m" kind="secondary" icon="ios-radio-button-off" (click)="resetScroll()"></pupa-button-icon>

  <pupa-button-icon
    size="m"
    kind="secondary"
    icon="app-chevron-up"
    (click)="scrollToPreviousMonth()"
  ></pupa-button-icon>
</div>
