<h1>Search field</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <div class="search-wrapper">
      <ng-container [ngSwitch]="collapsible | async">
        <ng-container *ngSwitchCase="true">
          <div class="header-placeholder">
            <div class="header-placeholder-content"></div>
          </div>

          <pupa-search-field
            [formControl]="formControl"
            placeholder="Поиск"
            [collapsible]="true"
            [collapseDirection]="collapseDirection | async"
          >
          </pupa-search-field>
        </ng-container>

        <ng-container *ngSwitchCase="false">
          <pupa-search-field [formControl]="formControl" placeholder="Поиск" [collapsible]="false"> </pupa-search-field>
        </ng-container>
      </ng-container>
    </div>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Settings</demo-props-group-label>
    <demo-props-form-control-disabled [control]="disabledControl"></demo-props-form-control-disabled>
    <demo-props-checkbox #collapsible>Collapsible</demo-props-checkbox>
    <demo-props-group-label>Collapse direction</demo-props-group-label>
    <demo-props-radio-select #collapseDirection [options]="collapseDirectionOptions"></demo-props-radio-select>
  </demo-example-viewer-properties>
</demo-example-viewer>

<h2>Usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-search-field-example-1 *pupaCodeContainerPreviewTemplate></demo-search-field-example-1>
</pupa-code-container>
