<div class="pupa-scrollable">
  <div class="pupa-scrollbars">
    <div #verticalScrollbar class="pupa-scrollbar pupa-scrollbar_vertical pupa-scrollbar_vertical_{{ position }}">
      <div
        class="pupa-scrollbar__thumb-container pupa-thumb-container"
        [class.pupa-thumb-container_grabbing]="isVerticalThumbGrabbing$ | async"
        [class.pupa-thumb-container_scrolling]="isContentScrolling$ | async"
        [class.pupa-thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
        #verticalScrollbarThumb
      >
        <div class="pupa-scrollbar__thumb pupa-thumb"></div>
      </div>
      <div class="pupa-scrollbar__line pupa-line pupa-line__vertical"></div>
    </div>
    <div #horizontalScrollbar class="pupa-scrollbar pupa-scrollbar_horizontal pupa-scrollbar_horizontal_{{ position }}">
      <div
        class="pupa-scrollbar__thumb-container pupa-thumb-container"
        [class.pupa-thumb-container_grabbing]="isHorizontalThumbGrabbing$ | async"
        [class.pupa-thumb-container_scrolling]="isContentScrolling$ | async"
        [class.pupa-thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
        #horizontalScrollbarThumb
      >
        <div class="pupa-scrollbar__thumb pupa-thumb"></div>
      </div>
      <div class="pupa-scrollbar__line pupa-line pupa-line__horizontal"></div>
    </div>
  </div>

  <div #content class="pupa-scrollable__content">
    <ng-content></ng-content>
  </div>
</div>
