<div class="pupa-scrollable">
  <div class="pupa-scrollbars">
    <div #verticalScrollbar class="pupa-scrollbar pupa-scrollbar_vertical pupa-scrollbar_vertical_{{ position }}">
      <div class="pupa-scrollbar__wrapper">
        <div
          class="pupa-scrollbar__thumb-container thumb-container"
          [class.thumb-container_grabbing]="isVerticalThumbGrabbing$ | async"
          [class.thumb-container_scrolling]="isContentScrolling$ | async"
          [class.thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
          #verticalScrollbarThumb
        >
          <div class="pupa-scrollbar__thumb thumb thumb__vertical"></div>
        </div>
        <div class="pupa-scrollbar__line line line__vertical"></div>
      </div>
    </div>
    <div #horizontalScrollbar class="pupa-scrollbar pupa-scrollbar_horizontal pupa-scrollbar_horizontal_{{ position }}">
      <div class="pupa-scrollbar__wrapper">
        <div
          class="pupa-scrollbar__thumb-container thumb-container"
          [class.thumb-container_grabbing]="isHorizontalThumbGrabbing$ | async"
          [class.thumb-container_scrolling]="isContentScrolling$ | async"
          [class.thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
          #horizontalScrollbarThumb
        >
          <div class="pupa-scrollbar__thumb thumb thumb__horizontal"></div>
        </div>
        <div class="pupa-scrollbar__line line line__horizontal"></div>
      </div>
    </div>
  </div>

  <div
    #content
    class="pupa-scrollable__content"
    [class.pupa-scrollable_with-horizontal]="(hasHorizontalScrollbar$ | async) && hasContentOffset"
    [class.pupa-scrollable_with-vertical]="(hasVerticalScrollbar$ | async) && hasContentOffset"
  >
    <ng-content></ng-content>
  </div>
</div>
