@use 'mixins' as *;
@use 'variables' as *;
@use 'functions' as *;
@use 'sass:math';

$width_scrollbar-half: math.div($width_scrollbar, 2);

$width_scrollbar-thumb-large: 5px;
$width_scrollbar_border: 1px;
// $width_scrollbar-thumb-small: 3px;

$padding_scrollbar-thumb-container: math.div(
  ($width_scrollbar - $width_scrollbar-thumb-large - $width_scrollbar_border),
  2
);

$color_light: 'neutral-6';
$color_dark: 'neutral-600';

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.pupa-scrollable {
  width: 100%;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
  position: relative;

  &__content {
    display: var(--pupa-scrollable-content_display, block);
    flex-direction: var(--pupa-scrollable-content_flex-direction, row);
    padding: var(--pupa-scrollable-content_padding, initial);
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    box-sizing: border-box;

    @include invisible-scrollbars;
  }
}

.pupa-scrollbar {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;

  &__thumb-container {
    position: absolute;
  }

  &_vertical {
    width: $width_scrollbar;
    height: 100%;
    right: 0;
    bottom: 0;
    display: none;
    border: 1px solid transparent;

    &_visible {
      display: block;
    }

    &_with-horizontal {
      height: calc(100% - #{$width_scrollbar-half});
      bottom: $width_scrollbar-half;
    }
  }

  &_horizontal {
    width: 100%;
    height: $width_scrollbar;
    right: 0;
    bottom: 0;
    display: none;

    &_visible {
      display: block;
    }

    &_with-vertical {
      width: calc(100% - #{$width_scrollbar-half});
      right: $width_scrollbar-half;
    }
  }
}

.thumb-container {
  position: absolute;
  left: 1rem;
  height: 100%;
  width: 5px;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: color(#{$color_light}, alpha-700);

  @include supports-backdrop-blur {
    background-color: color(#{$color_light});
  }

  @include host-selector-dark-theme {
    background-color: color(#{$color_dark}, alpha-700);

    @include supports-backdrop-blur {
      background-color: color(#{$color_dark}, alpha-40);
    }
  }

  &:hover {
    left: 0;
    width: 11px;
    border: none;
  }

  &_grabbing {
    cursor: grabbing;
    left: 0px;
    width: 11px;
    border: none;
    background-color: color(#{$color_dark}, alpha-700);
    box-sizing: border-box;

    @include host-selector-dark-theme {
      background-color: color(#{$color_light}, alpha-700);
    }
  }

  // width: 100%;
  // height: 100%;
  // box-sizing: border-box;

  &:not(.thumb-container_grabbing) {
    cursor: pointer;
  }

  // &_large {
  //   padding: $padding_scrollbar-thumb-container-large;

  //   .thumb {
  //     border-radius: 2.5px;
  //   }
  // }

  // &_small {
  //   padding: $padding_scrollbar-thumb-container-small;

  //   .thumb {
  //     border-radius: 1.5px;
  //   }
  // }

  &_visible-onscroll {
    &:not(.thumb-container_scrolling) {
      .thumb {
        transition: background-color 200ms ease-in;
        background-color: transparent;
        backdrop-filter: none;
      }
    }
  }

  &:not(.thumb-container_grabbing):hover {
    .thumb {
      padding: 0.5px;
      transform: translate(-0.5px, -0.5px);
      background-color: semantic-color(lines-opacity);
    }
  }
}

// .thumb {
//   width: 100%;
//   height: 100%;
//   backdrop-filter: blur(4px);
//   box-sizing: content-box;
//   background-color: semantic-color(lines-opacity);
// }

.track {
  position: absolute;
  left: 6px;
  top: 0;
  width: 1px;
  height: 100%;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: color(#{$color_light}, alpha-700);
  pointer-events: auto;
  cursor: pointer;

  @include host-selector-dark-theme {
    background-color: color(#{$color_dark}, alpha-700);

    // @include supports-backdrop-blur {
    //   background-color: color(#{$color_dark}, alpha-40);
    // }
  }
}
