<div class="pupa-scrollable">
  <div class="pupa-scrollbars">
    <div #verticalScrollbar class="pupa-scrollbar pupa-scrollbar_vertical pupa-scrollbar_vertical_external">
      <div class="pupa-scrollbar__track track"></div>
      <div
        class="pupa-scrollbar__thumb-container thumb-container"
        [class.thumb-container_grabbing]="isVerticalThumbGrabbing$ | async"
        [class.thumb-container_scrolling]="isContentScrolling$ | async"
        [class.thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
        #verticalScrollbarThumb
      >
        <div class="pupa-scrollbar__thumb thumb"></div>
      </div>
    </div>
    <div #horizontalScrollbar class="pupa-scrollbar pupa-scrollbar_horizontal pupa-scrollbar_horizontal_external">
      <div class="pupa-scrollbar__track track"></div>
      <div
        class="pupa-scrollbar__thumb-container thumb-container"
        [class.thumb-container_grabbing]="isHorizontalThumbGrabbing$ | async"
        [class.thumb-container_scrolling]="isContentScrolling$ | async"
        [class.thumb-container_visible-onscroll]="isScrollbarVisibleOnScroll$ | async"
        #horizontalScrollbarThumb
      >
        <div class="pupa-scrollbar__thumb thumb"></div>
      </div>
    </div>
  </div>

  <div #content class="pupa-scrollable__content">
    <ng-content></ng-content>
  </div>
</div>
