@import 'themes/functions';
@import 'functions';

:host {
  display: block;
  width: px(400);
  height: px(400);
  position: relative;
}

.dragger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: px(10);
}

.sample-content {
  width: 300px;
}

.placeholder {
  width: 100%;
  height: px(800);
  background: color(black);
}
