<pupa-calendar-header>
  <pupa-calendar-control-panel></pupa-calendar-control-panel>
  <pupa-calendar-week-panel></pupa-calendar-week-panel>
</pupa-calendar-header>

<pupa-calendar-scroller></pupa-calendar-scroller>

<ng-container [ngSwitch]="quickSelectMode$ | async">
  <pupa-calendar-month-selector
    (select)="handleMonthSelect($event)"
    *ngSwitchCase="quickSelectMode.Month"
    [@quickSelectorAnimation]
  ></pupa-calendar-month-selector>

  <pupa-calendar-year-selector
    (select)="handleYearSelect($event)"
    *ngSwitchCase="quickSelectMode.Year"
    [@quickSelectorAnimation]
  ></pupa-calendar-year-selector>
</ng-container>
