@use 'functions' as *;

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  overflow: hidden;

  height: 100%;
  width: 100%;
  background: semantic-color(surface-primary);
}
