@use 'functions';
@use 'mixins';

:host {
  @include mixins.flex-container(column, flex-start);
  width: 100%;
  box-sizing: border-box;
  gap: 4rem;
  padding: 4rem;
  border: 1px solid functions.semantic-color(kind-neutral-pressed);
  border-radius: 2rem;
}
