<div class="indicator-container">
  <pupa-badge-indicator class="indicator-container__item" state="progress"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="complete"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="error"></pupa-badge-indicator>
</div>
<div>
  Badge with indicator example:
  <pupa-badge>
    <pupa-icon name="app-cube"></pupa-icon>
    <pupa-badge-marker [size]="'small'">
      <pupa-badge-indicator state="progress"></pupa-badge-indicator>
    </pupa-badge-marker>
  </pupa-badge>
</div>
