<h1>Typography</h1>

<div class="items">
  <h2 class="items__column-header" *ngFor="let screenSize of screenSizes">
    {{ screenSize }}
  </h2>

  <ng-container *ngFor="let fontSize of fontSizes; let isLast = last">
    <ng-container *ngFor="let fontType of fontTypes">
      <div [class]="[fontType, fontSize]" *ngFor="let screenSize of screenSizes">
        {{ fontSize }} {{ fontType }}
      </div>
    </ng-container>

    <div class="items__delimiter" *ngIf="!isLast"></div>
  </ng-container>
</div>
