<div class="tooltip" [@tooltipShow]>
  <div class="tooltip__animation-container" [style.transform]="styleTransform$ | async">
    <div class="tooltip__content-container">
      <div class="tooltip__content">
        <ng-container *ngIf="tooltipContentTemplate$ | async as tooltipContentTemplate; else simpleTooltipContent">
          <ng-container [ngTemplateOutlet]="tooltipContentTemplate"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #simpleTooltipContent>
  <span *ngIf="tooltipContent$ | async as tooltipContent; else emptyTooltipContent">
    {{ tooltipContent }}
  </span>
</ng-template>

<ng-template #emptyTooltipContent> Looks like you forgot to give the tooltip content </ng-template>
