@use 'functions';
@use 'mixins';
@use 'variables';

$tooltip_max-text-lines-count: 13;

.pupa-tooltip {
  position: relative;
  display: flex;
  justify-content: center;

  &__animation-container {
    transition: 0.15s;
  }

  &__content-container {
    background-color: functions.semantic-color(text-primary, alpha-700);

    @include mixins.supports-backdrop-blur {
      background-color: functions.semantic-color(text-primary, alpha-700);
    }

    @include mixins.blur(5px);

    border-radius: variables.$controlBorderRadius;
    box-sizing: border-box;
    padding: 1rem 2rem;
    color: functions.semantic-color(text-inverse);

    @include mixins.font-type-regular();
    @include mixins.font-size-xs($paragraph: true);

    line-height: 4.5rem;
    max-width: 126rem;
    max-height: 64rem;
    overflow: auto;
  }

  &__content {
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-line;
    -webkit-line-clamp: $tooltip_max-text-lines-count;
    -webkit-box-orient: vertical;
  }
}
