@use 'mixins';
@use 'functions';

:host {
  display: flex;
}

.pupa-separator {
  @include mixins.font-size-xxs();

  cursor: default;
  color: functions.semantic-color(text-secondary);

  @include mixins.xs() {
    @include mixins.font-size-xs();
    transform: translateY(1px);
  }
}
