@use 'mixins' as *;
@use 'functions' as *;

:host {
  display: flex;
}

.separator {
  @include font-size-xxs();

  cursor: default;
  color: semantic-color(text-secondary);

  @include xs() {
    @include font-size-xs();
    transform: translateY(1px);
  }
}
