<h1>Checkbox</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-checkbox [indeterminate]="indeterminate$ | async" [formControl]="control" [disabled]="disabled$ | async">
      <pupa-checkbox-mark></pupa-checkbox-mark>
      <div [pupaTooltip] [tooltipContentTemplate]="tooltipTemplate" [tooltipDisabled]="isNeedDisableTooltip$ | async">
        <pupa-checkbox-label>{{ label }}</pupa-checkbox-label>
        <pupa-checkbox-hint>{{ hint }}</pupa-checkbox-hint>
      </div>
    </pupa-checkbox>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="indeterminate" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is indeterminate.</ng-container>
      <demo-props-switcher #indeterminate$></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
      <demo-props-switcher #disabled$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<h2>Basic usage of Checkbox</h2>
<pupa-code-container [content]="checkboxExampleCode">
  <demo-checkbox-demo-example *pupaCodeContainerPreviewTemplate></demo-checkbox-demo-example>
</pupa-code-container>

<ng-template #tooltipTemplate>
  <div class="tooltip-content">
    <div>{{ label }}</div>
    <div>{{ hint }}</div>
  </div>
</ng-template>
