<h1>Checkbox</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3>Simple usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-checkbox-example-1 *pupaCodeContainerPreviewTemplate></demo-checkbox-example-1>
    </pupa-code-container>

    <h3>Label size</h3>
    <pupa-code-container [content]="example2Content">
      <demo-checkbox-example-2 *pupaCodeContainerPreviewTemplate></demo-checkbox-example-2>
    </pupa-code-container>

    <h3>Direction</h3>
    <pupa-code-container [content]="example3Content">
      <demo-checkbox-example-3 *pupaCodeContainerPreviewTemplate></demo-checkbox-example-3>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div class="content">
          <pupa-checkbox
            [indeterminate]="indeterminate$ | async"
            [formControl]="control"
            [disabled]="disabled$ | async"
            [error]="error$ | async"
            [value]="value$ | async"
            [size]="labelSize$ | async"
          >
            {{ label }}
          </pupa-checkbox>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="indeterminate" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is indeterminate.</ng-container>
          <demo-props-switcher #indeterminate$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="error" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is errored.</ng-container>
          <demo-props-switcher #error$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="value" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Checkbox value</ng-container>
          <demo-props-switcher #value$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="labelSize" type="small | medium">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the label size of the checkbox.</ng-container>
          <demo-props-select #labelSize$ [options]="labelSizeOptions"></demo-props-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
