@import './functions.scss';
@import './adaptive.scss';

$fontSizeMark: 12;
$lineHeightMark: 14;
$lineHeightMarkParagraph: 16;

$fontSizeSmall: 14;
$lineHeightSmall: 16;
$lineHeightSmallParagraph: 20;

$fontSizeMedium: 16;
$lineHeightMedium: 20;
$lineHeightMediumParagraph: 24;

$fontSizeLargeDesktop: 20;
$fontSizeLargeMobile: 16;
$lineHeightLargeDesktop: 24;
$lineHeightLargeMobile: 20;
$lineHeightLargeParagraphDesktop: 28;
$lineHeightLargeParagraphMobile: 24;

$fontSizeHeaderDesktop: 24;
$fontSizeHeaderMobile: 20;
$lineHeightHeaderDesktop: 28;
$lineHeightHeaderMobile: 24;
$lineHeightHeaderParagraphDesktop: 36;
$lineHeightHeaderParagraphMobile: 28;

/* Font family */

@mixin font-type-caption {
  font-family: 'PT Root UI', sans-serif;
  font-weight: 400;
}

@mixin font-type-paragraph {
  font-family: 'PT Root UI', sans-serif;
  font-weight: 400;
}

@mixin font-type-point {
  font-family: 'PT Root UI', sans-serif;
  font-weight: 500;
}

/* Font size */

@mixin font-size-mark($paragraph: false) {
  font-size: $fontSizeMark * 1px;
  line-height: if($paragraph, $lineHeightMarkParagraph * 1px, $lineHeightMark * 1px);
}

@mixin font-size-small($paragraph: false) {
  font-size: $fontSizeSmall * 1px;
  line-height: if($paragraph, $lineHeightSmallParagraph * 1px, $lineHeightSmall * 1px);
}

@mixin font-size-medium($paragraph: false) {
  font-size: $fontSizeMedium * 1px;
  line-height: if($paragraph, $lineHeightMediumParagraph * 1px, $lineHeightMedium * 1px);
}

@mixin font-size-large($paragraph: false) {
  @include width-between-property(
    'font-size',
    $smBreakPoint,
    $fontSizeLargeMobile,
    $mdBreakPoint,
    $fontSizeLargeDesktop,
    true,
    true
  );

  @include width-between-property(
    'line-height',
    $smBreakPoint,
    if($paragraph, $lineHeightLargeParagraphMobile, $lineHeightLargeMobile),
    $mdBreakPoint,
    if($paragraph, $lineHeightLargeParagraphDesktop, $lineHeightLargeDesktop),
    true,
    true
  );
}

@mixin font-size-header($paragraph: false) {
  @include width-between-property(
    'font-size',
    $smBreakPoint,
    $fontSizeHeaderMobile,
    $mdBreakPoint,
    $fontSizeHeaderDesktop,
    true,
    true
  );

  @include width-between-property(
    'line-height',
    $smBreakPoint,
    if($paragraph, $lineHeightHeaderParagraphMobile, $lineHeightHeaderMobile),
    $mdBreakPoint,
    if($paragraph, $lineHeightHeaderParagraphDesktop, $lineHeightHeaderDesktop),
    true,
    true
  );
}
