

@font-face {
  font-family: 'efframedium';
  src: url('/assets/fonts/Effra-web/effra_medium-webfont.eot');
  src: url('/assets/fonts/Effra-web/effra_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Effra-web/effra_medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/Effra-web/effra_medium-webfont.woff') format('woff'),
  url('/assets/fonts/Effra-web/effra_medium-webfont.ttf') format('truetype'),
  url('/assets/fonts/Effra-web/effra_medium-webfont.svg#efframedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'effraregular';
  src: url('/assets/fonts/Effra-web/effra_regular-webfont.eot');
  src: url('/assets/fonts/Effra-web/effra_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Effra-web/effra_regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/Effra-web/effra_regular-webfont.woff') format('woff'),
  url('/assets/fonts/Effra-web/effra_regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/Effra-web/effra_regular-webfont.svg#effraregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'effrabold';
  src: url('/assets/fonts/Effra-web/effra_bold-webfont.eot');
  src: url('/assets/fonts/Effra-web/effra_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Effra-web/effra_bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/Effra-web/effra_bold-webfont.woff') format('woff'),
  url('/assets/fonts/Effra-web/effra_bold-webfont.ttf') format('truetype'),
  url('/assets/fonts/Effra-web/effra_bold-webfont.svg#effrabold') format('svg');
  font-weight: normal;
  font-style: normal;

}
