@import 'themes/functions';
@import './functions.scss';
@import './mixins.scss';

$ag-border-color: null;
$ag-row-height: null;
$ag-header-height: null;
$ag-row-border-width: null;
$ag-hover-color: null;
$ag-font-family: null;
$ag-font-size: null;
$ag-font-weight: null;
$ag-foreground-color: null;
$ag-header-background-color: null;
$ag-header-cell-moving-background-color: null;
$ag-odd-row-background-color: null;

/* default theme variables reset */
$header-height: 48px; /* rems(3) */
$header-background-color: color(white);
$row-height: 40px; /* rems(2.5) */
$row-border-width: 1px 0 1px 0;
$hover-color: color(light);
$border-color: color(light);
$font-family: 'effraregular', sans-serif;
$font-size: 14px; /* rems(0.875) */
$font-weight: normal;
$foreground-color: color(text);
$odd-row-background-color: transparent;
$header-cell-moving-background-color: color(light);

@import 'ag-grid-community/src/styles/ag-grid.scss';
@import 'ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham';

/* additional customization */
@mixin ionic-icon-font {
  font-family: 'ionicons';
  font-weight: normal;
}

.pupagrid {
  .ag-root {
    border: none;
    @include scrollbar;
  }

  .ag-root-wrapper {
    border: none;
  }

  .ag-header-container {
    width: 100%;
  }

  .ag-pinned-left-cols-container,
  .ag-pinned-left-header {
    transition: box-shadow 160ms ease-in;
    box-shadow: none;
    border: unset;
    z-index: 1;
  }

  .ag-shadow-overlay {
    box-shadow: 0 px(10) px(24) 0 rgba(0, 0, 0, 0.1);
  }

  .ag-pinned-left-header .ag-header-cell:last-of-type::after {
    display: none;
  }

  .ag-center-cols-container {
    width: 100%;
    min-width: 100%;
  }

  .ag-header {
    background-color: color(white);
    color: color(main-dark);
    font-weight: normal;
  }

  .ag-header-cell-text {
    color: color(main-dark);
    font-size: variable(font-size_base-text);
    font-weight: normal;
  }

  .ag-cell {
    font-weight: normal;
  }

  .ag-cell-label-container {
    height: 100%;
  }

  .ag-cell-wrapper {
    align-items: unset;
  }

  .ag-icon-desc,
  .ag-icon-asc,
  .ag-icon-none {
    color: color(grey-apple);
    font-size: rems(1);
    line-height: 1;
    @include ionic-icon-font;

    &::before {
      content: '\f280';
      padding: 0 1px 0 0;
    }

    &::after {
      content: '\f286';
    }
  }

  .ag-icon-desc::before,
  .ag-icon-asc::after {
    color: color(active);
  }

  .ag-header-cell-sorted-desc,
  .ag-header-cell-sorted-asc {
    color: color(active);
  }

  .ag-cell,
  .ag-cell-focus {
    border: none !important;
  }

  .ag-horizontal-left-spacer,
  .ag-horizontal-right-spacer {
    overflow: hidden;
    border: 0;
  }

  &.pupagrid-theme-default {
    .datagrid {
      border: none;
    }

    .ag-row {
      border-top: px(1) solid color(light);
    }

    .ag-row-selected {
      background: color(light);
    }
  }

  &.pupagrid-theme-boxed {
    box-sizing: border-box;
    padding: 0 px(2);

    .datagrid {
      border: none;
    }

    .ag-header {
      background-color: color(white);
      padding: 0 px(10);
      border-bottom: 0;
    }

    .ag-pinned-right-header {
      border: none;
    }

    .ag-header-cell::after,
    .ag-header-group-cell::after {
      border: none;
    }

    .ag-header-row {
      height: 100% !important;
      display: flex;
      align-items: center;
    }

    .ag-pinned-left-header,
    .ag-pinned-right-header {
      position: relative;
    }

    .ag-header-cell {
      padding: 0;
      height: auto;
    }

    .ag-header-cell-text {
      color: color(grey-light);
      padding-right: px(3);
    }

    .ag-row {
      border-radius: rems(0.5);
      border: none;
      border-bottom: px(2) solid color(white);
      box-sizing: border-box;
      background: color(white);
    }

    .ag-row-focus,
    .ag-row-hover,
    .ag-row-selected {
      background: color(light);
    }

    .ag-row-selected {
      &.ag-row-hover {
        background: color(cadet-blue-light);
      }
    }

    .ag-cell {
      padding: px(5) px(9);
      box-sizing: border-box;
      overflow: hidden;
      line-height: 1;
      display: flex;
      align-items: center;
    }
  }

  &.pupagrid-theme-borderless-even-colored,
  &.pupagrid-theme-borderless {
    @extend .pupagrid-theme-default;

    .ag-header,
    .ag-row {
      border-top: 0;
      border-bottom: calc(1px) solid color(light);
    }

    .ag-header-cell::after {
      display: none;
    }

    .ag-pinned-right-header {
      border: 0;
    }
  }

  &.pupagrid-theme-borderless-even-colored {
    .ag-row-even {
      background: color(light);
    }

    .ag-row-focus,
    .ag-row-hover,
    .ag-row-selected {
      background: color(cadet-blue-light);
    }
  }
}
