@import 'functions';
@import 'variables';
@import 'mixins';

// default theme variables reset
$header-height: 48px; // rems(3)
$header-background-color: $color_white;
$row-height: 40px; // rems(2.5)
$row-border-width: 1px 0 1px 0;
$hover-color: $color_light-blue;
$border-color: $color_light-blue;
$font-family: 'effraregular', sans-serif;
$font-size: 14px; // rems(0.875)
$font-weight: normal;
$foreground-color: $color_grey-text;
$odd-row-background-color: transparent;
$header-cell-moving-background-color: $color_light-blue;

@import 'ag-grid-community/src/styles/ag-grid.scss';
@import 'ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham';

// additional customization
@mixin ionic-icon-font {
  font-family: 'ionicons';
  font-weight: normal;
}

.pupagrid {
  .ag-root {
    border: none;
    @include scrollbar;
  }

  .ag-header-container {
    width: 100%;
  }

  .ag-center-cols-container {
    width: 100%;
    min-width: 100%;
  }

  .ag-header {
    color: $color_main-dark;
    font-weight: normal;
  }

  .ag-header-cell-text {
    color: $color_main-dark;
    font-size: $font-size_base-text;
    font-weight: normal;
  }

  .ag-cell {
    font-weight: normal;
  }

  .ag-cell-label-container {
    height: 100%;
  }

  .ag-icon-desc,
  .ag-icon-asc,
  .ag-icon-none {
    color: $color_grey-apple;
    font-size: rems(1);
    line-height: 1;
    @include ionic-icon-font;

    &::before {
      content: '\f280';
      padding: 0 1px 0 0;
    }
    &::after {
      content: '\f286';
    }
  }
  .ag-icon-desc::before,
  .ag-icon-asc::after {
    color: $color_active-blue;
  }

  .ag-header-cell-sorted-desc,
  .ag-header-cell-sorted-asc {
    color: $color_active-blue;
  }

  .ag-cell,
  .ag-cell-focus {
    border: none !important;
  }

  &.pupagrid-theme-default {
    .datagrid {
      border: none;
    }

    .ag-row {
      border-top: px(1) solid $color_light-blue;
    }

    .ag-row-selected {
      background: $color_light-blue;
    }
  }

  &.pupagrid-theme-boxed {
    box-sizing: border-box;
    padding: 0 px(2);

    .datagrid {
      border: none;
    }

    .ag-header {
      padding: px(12) px(10);
      border-bottom: 0;
    }

    .ag-header-row {
      height: 100% !important;
      display: flex;
      align-items: center;
    }

    .ag-pinned-left-header,
    .ag-pinned-right-header {
      position: relative;
    }

    .ag-header-cell {
      padding: 0;
      height: auto;
    }

    .ag-header-cell-text {
      color: $color_grey-light;
      padding-right: px(3);
    }

    .ag-row {
      border-radius: rems(0.5);
      border-bottom: px(2) solid $color_white;
      box-sizing: border-box;
      background: $color_white;
    }

    .ag-row-focus,
    .ag-row-hover,
    .ag-row-selected {
      background: $color_light-blue;
    }

    .ag-row-selected {
      &.ag-row-hover {
        background: $color_cadet-blue-light;
      }
    }

    .ag-cell {
      padding: px(5) px(9);
      box-sizing: border-box;
      overflow: hidden;
      line-height: 1;
      display: flex;
      align-items: center;
    }
  }
}
