@import 'themes/functions';
@import './functions.scss';
@import './adaptive.scss';
@import './font-mixins.scss';
@import './variables.scss';

@mixin regular {
  @include font-type-caption();
}

@mixin medium {
  @include font-type-point();
}

@mixin bold {
  @include font-type-point();
}

@mixin flex-container($flex-direction: row, $align-items: normal, $justify-content: normal, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin inline-flex-container($flex-direction: row, $align-items: normal, $justify-content: normal, $flex-wrap: nowrap) {
  display: inline-flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin transition(
  $transition-property: all,
  $transition-duration: variable(transition-duration_common),
  $transition-timing-function: variable(transition-timing-function_common)
) {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  transition-property: $transition-property;
}

@mixin icon-size($size: variable(font-size_root)) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: 1;
}

@mixin pupa-label($horizontal: false) {
  box-sizing: border-box;
  @if $horizontal {
    padding: 0 0;
  } @else {
    padding: 0 0 1rem;
  }
  @include regular();
  color: color(text);
  font-size: 4rem;
  line-height: 1.13;
  font-weight: normal;
  font-style: normal;
}

@mixin dropdown {
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 1rem 0;
  border-radius: 1rem;
  max-height: 70rem;
  overflow: auto;
  box-shadow: variable(box-shadow_hover);
  background: color(white);
  z-index: 400;
  flex-direction: column;
  font-size: variable(font-size_base-text);
  transition: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-7.5rem);

  &_open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.15s, transform 0.15s;
    transform: translateY(0);
  }
}

@mixin ellipsis-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * @deprecated
 */
@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 2.5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(color('base-white-n275-rgb'), 0.5);

    @include host-selector-dark-theme {
      background-color: rgba(color('base-dark-n275-rgb'), 0.4);
    }
  }
}

/**
 * @deprecated
 */
@mixin scrollbar-small {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4.5px solid transparent;
    border-radius: 1.5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(color('base-white-n275-rgb'), 0.5);

    @include host-selector-dark-theme {
      background-color: rgba(color('base-dark-n275-rgb'), 0.4);
    }
  }
}

@mixin debug() {
  background-color: rgba(#{color(error-rgb)}, 0.33) !important;
}

@mixin host-selector($selector) {
  :host-context(#{$selector}) & {
    @content;
  }
}

@mixin host-selector-dark-theme {
  @include host-selector(#{$darkThemeClass}) {
    @content;
  }
}

@mixin dark-theme-class-parent {
  #{$darkThemeClass} & {
    @content;
  }
}

@mixin invisible-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin supports-backdrop-blur {
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    @content;
  }
}
