@import './variables.scss';

@mixin regular {
  font-family: 'effraregular', sans-serif;
}

@mixin medium {
  font-family: 'efframedium', sans-serif;
}

@mixin bold {
  font-family: 'effrabold', sans-serif;
}

@mixin flex-container($flex-direction: row, $align-items: normal, $justify-content: normal, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin inline-flex-container($flex-direction: row, $align-items: normal, $justify-content: normal, $flex-wrap: nowrap) {
  display: inline-flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin transition(
  $transition-property: all,
  $transition-duration: $transition-duration_common,
  $transition-timing-function: $transition-timing-function_common
) {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  transition-property: $transition-property;
}

@mixin icon-size($size: $font-size_root) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: 1;
}

@mixin pupa-label($horizontal: false) {
  box-sizing: border-box;
  @if $horizontal {
    padding: 0 0;
  } @else {
    padding: 0 0 rems(0.25);
  }
  @include regular();
  color: $color_text;
  font-size: rems(1);
  line-height: 1.13;
  font-weight: normal;
  font-style: normal;
}

@mixin dropdown {
  position: absolute;
  top: rems(0.25);
  left: 0;
  padding: rems(0.25) 0;
  border-radius: rems(0.25);
  max-height: rems(17.5);
  overflow: auto;
  box-shadow: $box-shadow_hover;
  background: $color_white;
  z-index: 400;
  flex-direction: column;
  font-size: $font-size_base-text;
  transition: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-#{rems(1.875)});

  &_open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.15s, transform 0.15s;
    transform: translateY(0);
  }
}

@mixin ellipsis-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    height: rems(1);
    width: rems(1);
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: rems(0.25) solid transparent;
    border-radius: rems(0.5);
  }

  ::-webkit-scrollbar-track {
    background-color: $color_light;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color_active;
  }
}

@mixin scrollbar-small {
  ::-webkit-scrollbar {
    height: rems(0.5);
    width: rems(0.5);
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: rems(0.125) solid transparent;
    border-radius: rems(0.25);
  }

  ::-webkit-scrollbar-track {
    background-color: $color_light;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color_active;
  }
}
