@import 'variables';
@import 'mixins';
@import 'functions';

.pupa-radio {
  display: block;
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;

  &:checked {
  }
}

.pupa-radio__circle {
  height: rems(1);
  width: rems(1);
  box-sizing: border-box;
  border-radius: rems(0.5);
  border: 1px solid $color_grey-ivory;
  cursor: pointer;
  margin-right: rems(0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupa-radio__dot {
  width: rems(0.625);
  height: rems(0.625);
  border-radius: rems(0.5);
  background: $color_active-blue;
  opacity: 0;
  &_checked {
    opacity: 1;
  }
}
