@import '~@angular/cdk/overlay-prebuilt.css';

@import './functions.scss';
@import './font-faces.scss';
@import './mixins.scss';
@import './grid-styles.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

label {
  @include pupa-label;
}

label.horizontal {
  @include pupa-label(true);
}

.input_container,
.input_container_medium {
  display: block;
  width: 57.925rem;
}

.input_container_small {
  display: block;
  width: 33.25rem;
}

.icon-inner svg {
  display: block;
  width: 100%;
  height: 100%;
}

.chip-content {
  display: flex;
  width: fit-content;
  align-items: center;
  max-width: inherit;
  &__text {
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
    max-width: inherit;
    min-width: 0;
    @include ellipsis-text-overflow;
  }
  &__delete-button {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-right: 2rem;
    height: 5rem;
    width: 5rem;
  }
  &__avatar {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 1rem;
    height: 4rem;
    width: 4rem;
  }
  &__icon-container {
    display: inline-flex;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 2rem;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
  }
}

/*
  Explore the possibility of excluding the management of external styles
  Originates from https://bimeister.atlassian.net/browse/BIM-14668
*/
.cdk-global-overlay-wrapper,
.cdk-overlay-connected-position-bounding-box {
  z-index: 10000;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(color(base-n600-rgb), 0.94);
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  @include xs() {
    opacity: 1;
    background-color: rgba(color(base-n600-rgb), 0.94);
  }
}

.cdk-overlay-without-backdrop {
  display: none;
  @include xs() {
    display: block;
    background-color: rgba(color(base-n600-rgb), 0.94);
  }
}

.invisible-scrollbars {
  @include invisible-scrollbars;
}
