@import '~@angular/cdk/overlay-prebuilt.css';

@import './functions.scss';
@import './font-faces.scss';
@import './mixins.scss';
@import './grid-styles.scss';

label {
  @include pupa-label;
}

label.horizontal {
  @include pupa-label(true);
}

.input_container,
.input_container_medium {
  display: block;
  width: rems(14.48125);
}

.input_container_small {
  display: block;
  width: rems(8.3125);
}
