// colors
$color_main-blue: #0a0d65;
$color_active-blue: #161ba6;
$color_light-blue: #eef6ff;
$color_success: #00c902;
$color_alert: #ffc009;
$color_error: #ff0000;
$color_grey-text: #202020;
$color_grey-light: #797979;
$color_grey-ivory: #a6a6a6;
$color_grey-apple: #d2d2d2;

// font-size
$font-size_root: 16px;
$font-size_base-text: 0.875rem;
$font-size_h1: 2rem;
$font-size_h2: 1.5rem;
$font-size_h3: 1.3125rem;
$font-size_h4: 1.125rem;
$font-size_h5: 0.875rem;

// line-height
$line-height_base-text: 1.125rem;
$line-height_h1: 2.25rem;
$line-height_h2: 1.625rem;
$line-height_h3: 1.75rem;
$line-height_h4: 1.75rem;
$line-height_h5: 1rem;

// padding
$padding_body: 0;

// margin
$margin_body: 0;
