$darkThemeClass: '.dark-theme';
$width_scrollbar: 12px;
$input_light_styles: (
  input: (
    color: color(base-n600),
    caret-color: color(base-n600),
    background-color: color(base-white-n500),
    placeholder: (
      color: color(base-n600)
    )
  ),
  hover: (
    background-color: color(base-white-n400)
  ),
  disabled: (
    color: color(base-white-n250),
    background-color: color(base-white-n500),
    placeholder: (
      color: color(base-white-n250)
    )
  ),
  invalid: (
    border-color: color(red-n400)
  ),
  focus: (
    background-color: color(base-n0),
    border-color: color(base-white-n275),
    placeholder: (
      color: color(base-white-n275)
    )
  ),
  active: (
    background-color: color(base-white-n300)
  )
);
$input_dark_styles: (
  input: (
    color: color(base-n0),
    caret-color: color(base-n0),
    background-color: color(base-dark-n500),
    placeholder: (
      color: color(base-n0)
    )
  ),
  hover: (
    background-color: color(base-dark-n400)
  ),
  disabled: (
    color: color(base-dark-n250),
    background-color: color(base-dark-n500),
    placeholder: (
      color: color(base-dark-n250)
    )
  ),
  invalid: (
    border-color: color(red-n400)
  ),
  focus: (
    background-color: color(base-n600),
    border-color: color(base-dark-n275),
    placeholder: (
      color: color(base-dark-n275)
    )
  ),
  active: (
    background-color: color(base-dark-n300)
  )
);
