<div class="container">
  <pupa-button-group-container>
    <pupa-button-group size="l">
      <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button 1 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-2"> Button 2 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-3">
        Button with very long name
      </pupa-button-group-item>
    </pupa-button-group>
  </pupa-button-group-container>

  <pupa-button-group-container>
    <pupa-button-group size="m">
      <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button 1 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-2"> Button 2 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-3">
        Button with very long name
      </pupa-button-group-item>
    </pupa-button-group>
  </pupa-button-group-container>

  <pupa-button-group-container>
    <pupa-button-group size="s">
      <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button 1 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-2"> Button 2 </pupa-button-group-item>
      <pupa-button-group-item class="pupa-button-group-item" name="button-3">
        Button with very long name
      </pupa-button-group-item>
    </pupa-button-group>
  </pupa-button-group-container>
</div>
