@use 'mixins';
@use 'functions';

.pupa-drawer-layout-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 2rem 5rem;

  @include mixins.xs() {
    padding: 2rem 3rem;
  }

  &_type-top {
    margin-bottom: 2rem;

    @include mixins.xs() {
      box-shadow: 0 -1px 0 0 functions.semantic-color(kind-neutral-normal) inset;
    }
  }
}
