@use 'functions';
@use 'mixins';

:host {
  height: 7rem;
  padding: 0.5rem 3rem;
  border-bottom: 1px solid functions.semantic-color(kind-neutral-normal);
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include mixins.xs {
    height: 14rem;
    padding: 4rem 5rem;
  }
}
