<div class="container">
  <pupa-scrollable>
    <pupa-option (click)="close()">
      <pupa-option-icon name="app-plus"></pupa-option-icon>
      <pupa-option-title>New</pupa-option-title>
    </pupa-option>

    <pupa-option (click)="close()">
      <pupa-option-icon name="app-save"></pupa-option-icon>
      <pupa-option-title>Save</pupa-option-title>
    </pupa-option>

    <pupa-option (click)="close()">
      <pupa-option-icon name="app-info"></pupa-option-icon>
      <pupa-option-title>About</pupa-option-title>
    </pupa-option>

    <pupa-option (click)="close()">
      <pupa-option-icon name="app-close"></pupa-option-icon>
      <pupa-option-title>Exit</pupa-option-title>
    </pupa-option>
  </pupa-scrollable>
</div>
