<h1>Infinity Scroller</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Basic usage</h3>

    <h4 demoAnchor>Scrolling from bottom to top</h4>
    <pupa-code-container [content]="example1Content">
      <demo-infinity-scroller-example-1 *pupaCodeContainerPreviewTemplate></demo-infinity-scroller-example-1>
    </pupa-code-container>

    <h4 demoAnchor>Scrolling from top to bottom</h4>
    <pupa-code-container [content]="example2Content">
      <demo-infinity-scroller-example-2 *pupaCodeContainerPreviewTemplate></demo-infinity-scroller-example-2>
    </pupa-code-container>

    <h4 demoAnchor>Scrolling with buffer</h4>
    <pupa-code-container [content]="example3Content">
      <demo-infinity-scroller-example-3 *pupaCodeContainerPreviewTemplate></demo-infinity-scroller-example-3>
    </pupa-code-container>

    <h4>Scroll to index</h4>
    <pupa-code-container [content]="example4Content">
      <demo-infinity-scroller-example-4 *pupaCodeContainerPreviewTemplate></demo-infinity-scroller-example-4>
    </pupa-code-container>
  </div>
</demo-page>
