@use 'mixins' as *;

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;

  &__error {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    animation: glitch 2s steps(100) infinite;

    @include width-between-property(
      $property: 'font-size',
      $width-start: $xsBreakPoint,
      $value-start: 40 * 4,
      $width-end: $mdBreakPoint,
      $value-end: 70 * 4,
      $is-save-width-before: false,
      $is-save-width-after: true
    );
  }

  &__text {
    margin-top: 0;
    @include font-size-large();
    @include font-type-caption();
  }

  &__action {
    margin: 0 10px;
  }
}

$r: rgba(255, 0, 0, 1);
$g: rgba(0, 255, 0, 1);
$b: rgba(0, 0, 255, 1);
$px: 0;
$px2: 0;

@mixin mini-glitch($c1, $c2, $coeff, $start, $end) {
  $interval: $end - $start;
  @for $i from $start through $end {
    #{$i * 1%} {
      @if $i < $start + ($interval/2) {
        $px: $px + $coeff;
        $px2: -$px;
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      } @else {
        $px: $px - 1;
        $px2: -$px;
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;
  $px2: 0;
}

@mixin big-glitch($c1, $c2, $distance, $start, $end) {
  @for $i from $start through $end {
    #{$i * 1%} {
      @if $i == $end {
        text-shadow: 0 0 0 $c1, 0 0 0 $c2;
      } @else {
        $px: $distance;
        $px2: -$px;
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;
  $px2: 0;
}

@keyframes glitch {
  @include mini-glitch($r, $b, 1, 0, 10);
  @include mini-glitch($r, $g, 0.5, 11, 20);
  @include mini-glitch($b, $g, 0.7, 21, 40);

  @include big-glitch($b, $g, 50, 41, 42);

  @include mini-glitch($r, $g, 0.5, 43, 50);
  @include mini-glitch($r, $b, 1, 51, 60);

  @include big-glitch($r, $g, 30, 61, 62);

  @include mini-glitch($r, $b, 0.5, 63, 70);

  @include big-glitch($r, $b, 70, 71, 72);

  @include mini-glitch($r, $b, 1, 73, 80);
  @include mini-glitch($r, $g, 0.5, 81, 90);

  @include big-glitch($g, $b, 60, 91, 92);

  @include mini-glitch($b, $g, 0.7, 92, 100);
}
