<h1>Switcher</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h4>Basic usage</h4>
    <pupa-code-container [content]="example1Content">
      <demo-switcher-example-1 *pupaCodeContainerPreviewTemplate></demo-switcher-example-1>
    </pupa-code-container>
    <pupa-info-block variant="info" class="switcher-demo__info-block">
      We don't recommend using control and value at the same time. Using of control is preferable.
    </pupa-info-block>

    <h4>Sizes</h4>
    <pupa-code-container [content]="example2Content">
      <demo-switcher-example-2 *pupaCodeContainerPreviewTemplate></demo-switcher-example-2>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <div class="row">
          <pupa-switcher [disabled]="disabled$ | async" [size]="size$ | async" [value]="value$ | async"></pupa-switcher>
          <span class="label">Switcher example</span>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="SwitcherSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the element.</ng-container>
          <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="disabled" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="value" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Switcher value</ng-container>
          <demo-props-switcher #value$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
