<h1>Chip</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-chip
      [color]="color$ | async"
      [isDisabled]="isDisabled$ | async"
      [pupaTooltip]="'Chip'"
      [tooltipDisabled]="isDisabled$ | async"
    >
      <div class="chip-content">
        <div class="chip-content__text">Chip</div>
      </div>
    </pupa-chip>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="color" type="ChipColors">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the color of the element.</ng-container>
      <demo-props-radio-select #color$ [options]="colorOptions" direction="row"></demo-props-radio-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="isDisabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
      <demo-props-switcher #isDisabled$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>
