@use 'demo-variables' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  position: relative;
  height: 100%;
}

.side-nav {
  margin-top: $navbar-height;

  border-right: 1px solid semantic-color(lines-normal);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  height: calc(100% - #{$navbar-height});
  z-index: 11;

  width: 80rem;

  @include lt-md() {
    display: none;
  }
}

.content-wrapper {
  flex: 1;
  @include grid-container-offset('padding-left');
  @include grid-container-offset('padding-right');

  background-color: semantic-color(surface-primary);
  color: semantic-color(text-primary);
}

.content {
  box-sizing: border-box;
  padding: 25rem 0 16rem 0;
  margin-left: 80rem;
  min-height: calc(#{vh(100)});

  @include lt-md() {
    margin: 0;
  }
}

.inside-content {
  margin: 0 35rem;

  display: flex;
  flex-direction: column;

  @include lt-xl() {
    margin: 0 20rem;
  }

  @include lt-lg() {
    margin: 0 10rem;
  }

  @include lt-md() {
    margin: 0;
  }
}
