<h1>Modal window</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Simple usage</h3>
    <pupa-code-container [content]="example1Content">
      <pupa-modal-demo-example-1-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-1-helper>
    </pupa-code-container>

    <h3 demoAnchor>No Actions, No Title, No Backdrop</h3>
    <pupa-code-container [content]="example2Content">
      <pupa-modal-demo-example-2-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-2-helper>
    </pupa-code-container>

    <h3 demoAnchor>No Footer, With Scroll, Transparent Backdrop, No Close on Backdrop</h3>
    <pupa-code-container [content]="example3Content">
      <pupa-modal-demo-example-3-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-3-helper>
    </pupa-code-container>

    <h3 demoAnchor>Fullscreen</h3>
    <pupa-code-container [content]="example4Content">
      <pupa-modal-demo-example-4-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-4-helper>
    </pupa-code-container>

    <h3 demoAnchor>Predefined height XS</h3>
    <pupa-code-container [content]="example5Content">
      <pupa-modal-demo-example-5-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-5-helper>
    </pupa-code-container>

    <h3 demoAnchor>With borders, with flexible buttons</h3>
    <pupa-code-container [content]="example6Content">
      <pupa-modal-demo-example-6-helper *pupaCodeContainerPreviewTemplate></pupa-modal-demo-example-6-helper>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <pupa-button (click)="openModal()"> Open Modal</pupa-button>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>ModalConfig</demo-example-viewer-section-label>
      <demo-example-viewer-section [formGroup]="formGroup">
        <demo-example-viewer-property name="hasBackdrop" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Has backdrop.</ng-container>
          <demo-props-switcher formControlName="hasBackdrop"></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="isBackdropTransparent" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Backdrop transparent.</ng-container>
          <demo-props-switcher formControlName="isBackdropTransparent"></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="closeOnBackdropClick" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Close on backdrop click.</ng-container>
          <demo-props-switcher formControlName="closeOnBackdropClick"></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="isFullscreen" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Fullscreen mode.</ng-container>
          <demo-props-switcher formControlName="isFullscreen"></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="height" type="string">
          <ng-container *demoExampleViewerPropertyDescription>Predefined height</ng-container>
          <demo-props-radio-select
            formControlName="height"
            direction="row"
            [options]="sizeOptions"
          ></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="hasBorder" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Has border.</ng-container>
          <demo-props-switcher formControlName="hasBorder"></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
