@use 'functions';
@use 'mixins';

:host {
  display: block;
  width: 100%;
  flex-shrink: 0;
}

.pupa-header {
  font-size: 3rem;
  line-height: 4rem;
  @include mixins.font-type-regular();
  color: functions.semantic-color(text-primary);
  padding: 2rem 2rem 0;
}
