<h1>Radio buttons</h1>
<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Simple usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-radio-button-example-1 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Label size</h3>
    <pupa-code-container [content]="example2Content">
      <demo-radio-button-example-2 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Direction</h3>
    <pupa-code-container [content]="example3Content">
      <demo-radio-button-example-3 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Disabled</h3>
    <pupa-code-container [content]="example4Content">
      <demo-radio-button-example-4 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Without Label</h3>
    <pupa-code-container [content]="example5Content">
      <demo-radio-button-example-5 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-5>
    </pupa-code-container>

    <h3 demoAnchor>Radio image</h3>
    <pupa-code-container [content]="example6Content">
      <demo-radio-button-example-6 *pupaCodeContainerPreviewTemplate></demo-radio-button-example-6>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer class="viewer">
      <demo-example-viewer-content>
        <pupa-radio-group
          class="radio-group"
          [formControl]="formControl"
          [size]="labelSize$ | async"
          [disabled]="disabled$ | async"
        >
          <pupa-radio-control [value]="1"> Option 1</pupa-radio-control>

          <pupa-radio-control [value]="2"> Option 2</pupa-radio-control>

          <pupa-radio-control [value]="3"> Option 3</pupa-radio-control>
        </pupa-radio-group>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties [Radio group]</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="labelSize" type="small | medium">
          <ng-container *demoExampleViewerPropertyDescription
            >Adjusts the label size of the radio control.
          </ng-container>
          <demo-props-select #labelSize$ [options]="labelSizeOptions"></demo-props-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the radio group is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>Properties [Radio control]</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="value" type="any">
          <ng-container *demoExampleViewerPropertyDescription>Set the value for radio control.</ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="tabindex" type="number">
          <ng-container *demoExampleViewerPropertyDescription>Set the tab index for radio control.</ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="withLabel" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription
            >Set style without label for radio control. Default value is true.
          </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>
            Indicates whether the radio option is disabled. Default is 'false'
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-content class="viewer-content">
        <pupa-radio-group
          class="radio-group"
          [formControl]="formControl"
          [size]="labelSize$ | async"
          [disabled]="disabled$ | async"
        >
          <pupa-radio-image-control class="radio-control" [value]="1">
            <span>Option 1</span>

            <pupa-icon class="icon" *pupaRadioIcon [name]="'app-help-filled'"></pupa-icon>

            <img class="image" *pupaRadioImage alt="" [src]="'assets/radio-image.svg'" />
          </pupa-radio-image-control>

          <pupa-radio-image-control class="radio-control" [value]="2">
            <span>Option 2</span>

            <pupa-icon class="icon" *pupaRadioIcon [name]="'app-help-filled'"></pupa-icon>

            <img class="image" *pupaRadioImage alt="" [src]="'assets/radio-image.svg'" />
          </pupa-radio-image-control>
        </pupa-radio-group>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties [Radio image control]</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-config-item name="If you want to add any icon near with label">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use directive
            <pupa-code-inline>*pupaRadioIcon</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>

        <demo-example-viewer-config-item name="If you want to add any image">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use directive
            <pupa-code-inline>*pupaRadioImage</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
