@font-face {
  font-family: 'ionicons';
  src: url('/assets/fonts/ionicons/ionicons.eot');
  src: url('/assets/fonts/ionicons/ionicons.woff2') format('woff2'),
    url('/assets/fonts/ionicons/ionicons.woff') format('woff'),
    url('/assets/fonts/ionicons/ionicons.ttf') format('truetype'),
    url('/assets/fonts/ionicons/ionicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans/NotoSans_Light.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/NotoSans_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans/NotoSans_Regular.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/NotoSans_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans/NotoSans_Medium.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/NotoSans_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans/NotoSans_Semibold.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/NotoSans_Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/assets/fonts/NotoSans/NotoSans_Bold.woff2') format('woff2'),
    url('/assets/fonts/NotoSans/NotoSans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansDisplay-Condensed';
  src: url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Light.woff2') format('woff2'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Light.woff') format('woff'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansDisplay-Condensed';
  src: url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Regular.woff2') format('woff2'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Regular.woff') format('woff'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansDisplay-Condensed';
  src: url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Medium.woff2') format('woff2'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Medium.woff') format('woff'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Medium.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansDisplay-Condensed';
  src: url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Semibold.woff2') format('woff2'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Semibold.woff') format('woff'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansDisplay-Condensed';
  src: url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Bold.woff2') format('woff2'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Bold.woff') format('woff'),
    url('/assets/fonts/NotoSansDisplay-Condensed/NotoSansDisplay-Condensed_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
