<h1>Select</h1>
<div class="container">
  <textarea class="placeholder"></textarea>
  <form [formGroup]="form">
    <pupa-select class="mb" formControlName="select" [items]="items"></pupa-select>
    <pupa-select class="mb" formControlName="select" [items]="items" [disabled]="true"></pupa-select>

    <div class="small-container mb">
      <pupa-select formControlName="select" [items]="items"></pupa-select>
    </div>
    <div class="small-container mb">
      <pupa-select [value]="'Lorem'" [items]="items"></pupa-select>
    </div>
  </form>

  <form [formGroup]="form2">
    <pupa-select class="mb" formControlName="select" [items]="items"></pupa-select>
  </form>
</div>
