<h1>Select</h1>
<div class="container">
  <textarea class="placeholder"></textarea>

  <pupa-select [formControl]="formControl">
    <pupa-select-button> 123 </pupa-select-button>

    <pupa-select-dropdown>
      <!-- <pupa-select-search></pupa-select-search> -->

      <pupa-select-items-container>
        <pupa-select-item [value]="1">1</pupa-select-item>
        <pupa-select-item [value]="2">2</pupa-select-item>
        <pupa-select-item [value]="3">3</pupa-select-item>
      </pupa-select-items-container>
    </pupa-select-dropdown>
  </pupa-select>

  <pupa-select [isMultiSelectionEnabled]="true" [formControl]="formControl">
    <pupa-select-button> 123 </pupa-select-button>

    <pupa-select-dropdown>
      <pupa-select-search placeholder="Поиск..." (query)="log($event)"></pupa-select-search>

      <pupa-select-items-container>
        <pupa-select-item [value]="1">
          1 fdskj flkjdslk jl jlk jlk jslk jl jlk jsdlk jlkj lj lksj lksjd lkjfdlk kjsdlk jslk j
        </pupa-select-item>
        <pupa-select-item [value]="2">2</pupa-select-item>
        <pupa-select-item [value]="3">3</pupa-select-item>
      </pupa-select-items-container>
    </pupa-select-dropdown>
  </pupa-select>

  <pupa-select [isMultiSelectionEnabled]="true">
    <pupa-select-button> 123 </pupa-select-button>

    <pupa-select-dropdown>
      <pupa-select-search placeholder="Поиск..." (query)="log($event)"></pupa-select-search>
      <pupa-button (click)="toggleLoader()">Toggle loader</pupa-button>
      <pupa-select-tree
        type="flat"
        [flatDataOrigin]="treeDataOrigin"
        [isLoading]="isLoading$ | async"
      ></pupa-select-tree>
    </pupa-select-dropdown>
  </pupa-select>

  <pupa-select [formControl]="invalidFormControl">
    <pupa-select-button> Invalid Select </pupa-select-button>

    <pupa-select-dropdown>
      <pupa-select-items-container>
        <pupa-select-item [value]="1">1</pupa-select-item>
        <pupa-select-item [value]="2">2</pupa-select-item>
        <pupa-select-item [value]="3">3</pupa-select-item>
      </pupa-select-items-container>
    </pupa-select-dropdown>
  </pupa-select>
</div>
