@import 'themes/functions';
@import 'mixins';
@import 'functions';

.placeholder {
  height: 400px;
  width: 300px;
  background: rgba(grey, 0.1);
}

.small-container {
  width: 100px;
}

.mb {
  margin-bottom: 1rem;
}

.horizontal {
  display: flex;
  justify-content: flex-start;
}

.cell {
  width: 50px;
}

.name-container {
  display: flex;
  width: 100%;
  padding: px(2) 0;

  &__name {
    font-size: px(14);
    margin-left: px(5);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__icon {
    flex: none;
    font-size: px(14);
    color: color(pale-blue);
  }

  &.hovered {
    .name-container__icon {
      color: color(white);
    }
  }
}

.content-icon {
  padding-right: rems(0.25);
}
