<pupa-info-block type="info">Info block</pupa-info-block>
<pupa-info-block type="note">Note block</pupa-info-block>
<pupa-info-block type="success">Success block</pupa-info-block>
<pupa-info-block type="warning">Warning block</pupa-info-block>
<pupa-info-block type="error">Error block</pupa-info-block>
<pupa-info-block
  >Lorem ipsum dolor sit, amet consectetur <code>adipisicing elit</code>. Eius quibusdam, id
  <strong>accusantium alias</strong> sit ipsam eum numquam quam <em>dolorem</em> ducimus labore neque, perspiciatis
  corporis asperiores consequuntur porro voluptatum aut praesentium.</pupa-info-block
>
