<h1>Button & Button Icon & Button Round</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <div class="content">
      <pupa-button
        [size]="size$ | async"
        [kind]="kind$ | async"
        [disabled]="disabled$ | async"
        [icon]="buttonIconFormControl.value"
        [iconPosition]="iconPosition$ | async"
        [loading]="loading$ | async"
        [active]="active$ | async"
      >
        Button Name
      </pupa-button>

      <pupa-button-icon
        [size]="size$ | async"
        [kind]="kind$ | async"
        [disabled]="disabled$ | async"
        [icon]="buttonIconFormControl.value"
        [loading]="loading$ | async"
        [active]="active$ | async"
      >
      </pupa-button-icon>

      <pupa-button-round
        [disabled]="disabled$ | async"
        [icon]="buttonIconFormControl.value"
        [loading]="loading$ | async"
        [active]="active$ | async"
      >
      </pupa-button-round>
    </div>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="size" type="ButtonSize">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the button.</ng-container>
      <demo-props-radio-select #size$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="kind" type="ButtonKind">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the kind of the button.</ng-container>
      <demo-props-select #kind$ [options]="kindOptions"></demo-props-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="icon" type="string">
      <ng-container *demoExampleViewerPropertyDescription>The icon to display inside the element.</ng-container>
      <pupa-input-text [formControl]="buttonIconFormControl"></pupa-input-text>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="iconPosition" type="ButtonIconPosition">
      <ng-container *demoExampleViewerPropertyDescription>Adjusts the position of the icon.</ng-container>
      <demo-props-radio-select #iconPosition$ direction="row" [options]="iconPositionOptions"></demo-props-radio-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
      <demo-props-switcher #disabled$></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="loading" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is in loading state.</ng-container>
      <demo-props-switcher #loading$></demo-props-switcher>
    </demo-example-viewer-property>

    <demo-example-viewer-property decoratorName="input" name="active" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the element is in active state.</ng-container>
      <demo-props-switcher #active$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>

  <demo-example-viewer-property name="someProperty" type="ElementRef<unknown>">
    <ng-container *demoExampleViewerPropertyDescription>Some property description with element ref</ng-container>
  </demo-example-viewer-property>
</demo-example-viewer>
