@import 'themes/functions';
@import 'mixins';
@import 'functions';

.tag-demo {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.content {
  background-color: color(base-n0);

  &.dark-theme {
    background-color: color(base-n600);
  }
}
