<h1>Tag</h1>

<demo-example-viewer class="tag-demo">
  <demo-example-viewer-content class="content" [class.dark-theme]="darkModeTag | async">
    <div class="tag-demo__wrapper">
      <pupa-tag [disabled]="disabled | async" [clickable]="clickable | async"> Tag </pupa-tag>
      <pupa-tag [disabled]="disabled | async" [clickable]="clickable | async">
        <pupa-icon name="app-apps"></pupa-icon> Tag
      </pupa-tag>
      <pupa-tag [disabled]="disabled | async" [clickable]="clickable | async">
        <pupa-avatar></pupa-avatar> Tag
      </pupa-tag>
    </div>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Theme Mode</demo-props-group-label>
    <demo-props-checkbox #darkModeTag>Dark</demo-props-checkbox>

    <demo-props-group-label>Disabled</demo-props-group-label>
    <demo-props-checkbox #disabled>Disabled</demo-props-checkbox>

    <demo-props-group-label>Clickable</demo-props-group-label>
    <demo-props-checkbox #clickable>Clickable</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>

<h1>Color Tag</h1>

<demo-example-viewer class="color-tag-demo">
  <demo-example-viewer-content class="content" [class.dark-theme]="darkModeColorTag | async">
    <div class="tag-demo__wrapper">
      <pupa-color-tag color="red">Lupa</pupa-color-tag>
      <pupa-color-tag color="green">Pupa</pupa-color-tag>
      <pupa-color-tag color="primary">Dupa</pupa-color-tag>
      <pupa-color-tag color="yellow">Zupa</pupa-color-tag>
    </div>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Theme Mode</demo-props-group-label>
    <demo-props-checkbox #darkModeColorTag>Dark</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>

<h2>Basic usage of Tag</h2>
<pupa-code-container [content]="example1Content">
  <demo-tag-example-1></demo-tag-example-1>
</pupa-code-container>

<h2>Basic usage of Color Tag</h2>
<pupa-code-container [content]="example2Content">
  <demo-tag-example-2></demo-tag-example-2>
</pupa-code-container>
