@use 'mixins';
@use 'functions';
@use '../../styles/calendar.styles';

:host {
  display: block;
  width: calendar.$day-size;
  height: calendar.$day-size;
  aspect-ratio: 1 / 1;
}

.pupa-day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: transparent;
  background-color: transparent;

  border-radius: calendar.$day-border-radius;

  cursor: pointer;

  transition: functions.variable(transition-duration_shortest) functions.variable(transition-timing-function_common);

  @include mixins.font-preset-caption-xs();

  @include mixins.hover() {
    background-color: functions.semantic-color(kind-neutral-hover);
  }

  &:active {
    background-color: functions.semantic-color(kind-neutral-pressed);
  }

  &:focus-visible {
    border: 1px solid functions.semantic-color(lines-accent);
    outline: none;
  }
}

.pupa-day_current {
  border: 1px solid functions.semantic-color(kind-primary-normal);
}

.pupa-day_selected {
  background-color: functions.semantic-color(kind-primary-normal);
  color: functions.semantic-color(text-inverse);

  @include mixins.font-preset-h6();

  @include mixins.hover() {
    background-color: functions.semantic-color(kind-primary-hover);
  }

  &:active {
    background-color: functions.semantic-color(kind-primary-pressed);
  }
}

.pupa-day_disabled {
  color: functions.semantic-color(text-disabled);
  background-color: transparent;

  @include mixins.hover() {
    background-color: transparent;
  }
}

.pupa-day_empty {
  cursor: default;

  background-color: transparent;
  color: transparent;
  border: none;

  @include mixins.hover() {
    border: none;
    background-color: transparent;
  }
}
