@use 'mixins' as *;
@use 'functions' as *;
@use '../../styles/calendar.styles' as *;

:host {
  display: block;
  width: $day-size;
  height: $day-size;
  aspect-ratio: 1 / 1;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: transparent;
  background-color: transparent;

  border-radius: $day-border-radius;

  cursor: pointer;

  transition: variable(transition-duration_shortest) variable(transition-timing-function_common);

  @include font-preset-caption-xs();

  @include hover() {
    background-color: semantic-color(kind-neutral-hover);
  }

  &:active {
    background-color: semantic-color(kind-neutral-pressed);
  }

  &:focus-visible {
    border: 1px solid semantic-color(lines-accent);
    outline: none;
  }
}

.day_current {
  border: 1px solid semantic-color(kind-primary-normal);
}

.day_selected {
  background-color: semantic-color(kind-primary-normal);
  color: semantic-color(text-inverse);

  @include font-preset-h6();

  @include hover() {
    background-color: semantic-color(kind-primary-hover);
  }

  &:active {
    background-color: semantic-color(kind-primary-pressed);
  }
}

.day_disabled {
  color: semantic-color(text-disabled);
  background-color: transparent;

  @include hover() {
    background-color: transparent;
  }
}

.day_empty {
  cursor: default;

  background-color: transparent;
  color: transparent;
  border: none;

  @include hover() {
    border: none;
    background-color: transparent;
  }
}
