@use 'mixins' as *;

:host {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;

  @include xs() {
    justify-content: center;
  }
}

.calendar {
  display: block;
  height: 79rem;
  width: 79rem;
}
