@import 'mixins';

$height_container: px(500);

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.demo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  width: 80%;
  height: $height_container;
  border: px(4) #000 dashed;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color(light);
  font-size: px(20);
  border-bottom: px(1) solid color(main);
  box-sizing: content-box;
}

.empty-row {
  display: flex;
  align-items: center;
}
