<h1>Search field</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <ng-container [ngSwitch]="expandable | async">
      <ng-container *ngSwitchCase="true">
        <div class="search-wrapper">
          <div class="header-placeholder">
            <div class="header-placeholder-content"></div>
          </div>

          <pupa-search-field placeholder="Поиск" [expandable]="true" [kind]="kind | async"></pupa-search-field>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <pupa-search-field placeholder="Поиск" [expandable]="false" [kind]="kind | async"></pupa-search-field>
      </ng-container>
    </ng-container>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Kind</demo-props-group-label>
    <demo-props-radio-select #kind [options]="kindOptions"></demo-props-radio-select>

    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #expandable>Expandable</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
