<h1>Avatar</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Avatar without parameters</h3>
    <pupa-code-container [content]="example1Content">
      <demo-avatar-example-1 *pupaCodeContainerPreviewTemplate></demo-avatar-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Avatar with name</h3>
    <pupa-code-container [content]="example2Content">
      <demo-avatar-example-2 *pupaCodeContainerPreviewTemplate></demo-avatar-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Avatar of different sizes</h3>
    <pupa-code-container [content]="example3Content">
      <demo-avatar-example-3 *pupaCodeContainerPreviewTemplate></demo-avatar-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Avatar border</h3>
    <pupa-code-container [content]="example4Content">
      <demo-avatar-example-4 *pupaCodeContainerPreviewTemplate></demo-avatar-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Disabled avatar</h3>
    <pupa-code-container [content]="example5Content">
      <demo-avatar-example-5 *pupaCodeContainerPreviewTemplate></demo-avatar-example-5>
    </pupa-code-container>

    <h3 demoAnchor>Uploading an avatar image</h3>
    <pupa-code-container [content]="example6Content">
      <demo-avatar-example-6 *pupaCodeContainerPreviewTemplate></demo-avatar-example-6>
    </pupa-code-container>

    <h3 demoAnchor>Avatar with icon</h3>
    <pupa-code-container [content]="example7Content">
      <demo-avatar-example-7 *pupaCodeContainerPreviewTemplate></demo-avatar-example-7>
    </pupa-code-container>

    <h3 demoAnchor>Avatar background seed</h3>
    <pupa-code-container [content]="exampleBackgroundSeedContent">
      <demo-avatar-background-seed-example *pupaCodeContainerPreviewTemplate></demo-avatar-background-seed-example>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer-content>
      <pupa-avatar
        [username]="avatarForm.get('name').value"
        [iconName]="avatarForm.get('iconName').value"
        [src]="avatarForm.get('src').value"
        [backgroundSeed]="avatarForm.get('backgroundSeed').value"
        [disabled]="disabled$ | async"
        [size]="sizeOptions$ | async"
      ></pupa-avatar>
    </demo-example-viewer-content>

    <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
    <demo-example-viewer-section [formGroup]="avatarForm">
      <demo-example-viewer-property decoratorName="input" name="username" type="string">
        <ng-container *demoExampleViewerPropertyDescription>The string to display inside the element.</ng-container>
        <pupa-input-text formControlName="name"></pupa-input-text>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="iconName" type="string">
        <ng-container *demoExampleViewerPropertyDescription>
          The name of the icon displayed inside the element.
        </ng-container>
        <pupa-input-text formControlName="iconName"></pupa-input-text>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="src" type="string">
        <ng-container *demoExampleViewerPropertyDescription>
          The source of the image displayed inside the element.
        </ng-container>
        <pupa-input-text formControlName="src"></pupa-input-text>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="backgroundSeed" type="string">
        <ng-container *demoExampleViewerPropertyDescription>Element background seed.</ng-container>
        <pupa-input-text formControlName="backgroundSeed"></pupa-input-text>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="size" type="AvatarSize">
        <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the element.</ng-container>
        <demo-props-radio-select #sizeOptions$ [options]="sizeOptions"></demo-props-radio-select>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
        <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
        <demo-props-switcher #disabled$></demo-props-switcher>
      </demo-example-viewer-property>
    </demo-example-viewer-section>
  </div>
</demo-page>
