<div
  #stepperItem
  class="stepper-item"
  [class.stepper-item_disabled]="disabled"
  [class.stepper-item_grabbing]="isContentDragging$ | async"
  (tap)="setAsActive()"
>
  <pupa-stepper-counter
    [disabled]="disabled"
    [active]="isActive$ | async"
    [stepCount]="counter$ | async"
  ></pupa-stepper-counter>
  <div class="stepper-item__title-wrapper">
    <div class="stepper-item__title">
      <ng-content></ng-content>
      <div></div>
    </div>
  </div>
</div>
<div class="step-line" *ngIf="!(isLastStepperItem$ | async)"></div>
