@use 'mixins';
@use 'functions';

:host {
  display: flex;
  outline: none;
  flex-shrink: 0;
  align-items: center;
  flex-grow: 1;

  &:last-child {
    flex-grow: 0;
  }
}

.pupa-stepper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  padding: 1.5rem 2rem;

  min-width: 1rem;
  max-width: 42rem;

  border-radius: 1rem;
  gap: 3rem;

  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;

  &__title-wrapper {
    height: 7rem;
    max-height: 7rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    vertical-align: middle;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    max-width: 66rem;
    overflow: hidden;
    white-space: break-spaces;

    @include mixins.font-preset-h6;
  }

  color: functions.semantic-color(text-primary);

  &_grabbing {
    cursor: grabbing;
  }

  &:not(&_disabled) {
    @include mixins.hover {
      background: functions.semantic-color(kind-neutral-hover);
    }
  }

  &_disabled {
    cursor: not-allowed;
    color: functions.semantic-color(text-disabled);
  }
}

.pupa-step-line {
  display: flex;
  min-width: 16rem;
  margin: 0 3rem 0;
  flex-grow: 1;
  border-top: 1.5px dashed functions.semantic-color(kind-neutral-normal);
  height: 0;
}
