<pupa-accordion-group>
  <pupa-accordion>
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body class="accordion-body">
      <pupa-card size="medium" *ngFor="let card of cards">
        <pupa-card-cover>
          <pupa-icon class="icon" name="app-cube"></pupa-icon>
        </pupa-card-cover>
        <pupa-card-header>
          <pupa-card-title>Basic medium card</pupa-card-title>
          <pupa-card-description>It's just a card</pupa-card-description>
        </pupa-card-header>
        <pupa-card-action>
          <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
        </pupa-card-action>
      </pupa-card>
    </pupa-accordion-body>
  </pupa-accordion>

  <pupa-accordion>
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body class="accordion-body">
      <pupa-card size="medium" *ngFor="let card of cards">
        <pupa-card-cover>
          <pupa-icon class="icon" name="app-cube"></pupa-icon>
        </pupa-card-cover>
        <pupa-card-header>
          <pupa-card-title>Basic medium card</pupa-card-title>
          <pupa-card-description>It's just a card</pupa-card-description>
        </pupa-card-header>
        <pupa-card-action>
          <pupa-button-icon kind="secondary" icon="app-chevron-right"></pupa-button-icon>
        </pupa-card-action>
      </pupa-card>
    </pupa-accordion-body>
  </pupa-accordion>

  <pupa-accordion>
    <pupa-accordion-header>
      <pupa-accordion-title>Accordion Title</pupa-accordion-title>
      <pupa-accordion-description>Accordion Description</pupa-accordion-description>
    </pupa-accordion-header>
    <pupa-accordion-body class="accordion-body">
      <pupa-card size="medium" *ngFor="let card of cards">
        <pupa-card-cover>
          <pupa-icon class="icon" name="app-cube"></pupa-icon>
        </pupa-card-cover>
        <pupa-card-header>
          <pupa-card-title>Basic medium card</pupa-card-title>
          <pupa-card-description>It's just a card</pupa-card-description>
        </pupa-card-header>
        <pupa-card-action>
          <pupa-button-icon kind="secondary" icon="app-chevron-right"></pupa-button-icon>
        </pupa-card-action>
      </pupa-card>
    </pupa-accordion-body>
  </pupa-accordion>
</pupa-accordion-group>
