@use 'mixins' as *;
@use 'functions' as *;

:host {
  display: block;
}

.label {
  width: inherit;
  max-width: inherit;
  @include flex-container(row, center, flex-start);
  height: 3.5rem;
  gap: 1.5rem;

  &__icon {
    flex-shrink: 0;
    color: semantic-color(icons-primary);
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: inherit;

    &.reversed-direction {
      flex-direction: row-reverse;
    }

    &-inner {
      flex-shrink: 1;
      color: semantic-color(text-primary);
      @include font-preset-h6();
      @include ellipsis-text-overflow;
    }
  }

  &_large .label__content-inner {
    @include font-size-m();
  }

  &_medium .label__content-inner {
    @include font-size-xs();
  }

  &_small .label__content-inner {
    @include font-size-xxs();
  }

  &_disabled {
    .label__icon,
    .label__content-inner {
      color: color(neutral-50);
    }
  }

  @include host-selector-dark-theme() {
    &_disabled {
      .label__icon,
      .label__content-inner {
        color: color(neutral-60);
      }
    }
  }
}
