@use 'mixins';
@use 'functions';

:host {
  display: block;
}

.pupa-label {
  width: inherit;
  max-width: inherit;
  @include mixins.flex-container(row, center, flex-start);
  height: 3.5rem;
  gap: 1.5rem;

  &__icon {
    flex-shrink: 0;
    color: functions.semantic-color(icons-primary);
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;

    &.pupa-reversed-direction {
      flex-direction: row-reverse;
    }

    &-inner {
      flex-shrink: 1;
      color: functions.semantic-color(text-primary);
      @include mixins.font-preset-h6();
      @include mixins.ellipsis-text-overflow;
    }
  }

  &_large .pupa-label__content-inner {
    @include mixins.font-size-m();
  }

  &_medium .pupa-label__content-inner {
    @include mixins.font-size-xs();
  }

  &_small .pupa-label__content-inner {
    @include mixins.font-size-xxs();
  }

  &_disabled {
    .pupa-label__icon,
    .pupa-label__content-inner {
      color: functions.semantic-color(text-disabled);
    }
  }
}
