<h1>Selector demo</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-selector [formControl]="formControl">
      <pupa-selector-item *ngFor="let day of daysOfWeek; index as index" [value]="index">
        {{ day }}
      </pupa-selector-item>
    </pupa-selector>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-form-control-disabled [control]="formControl"></demo-props-form-control-disabled>
  </demo-example-viewer-properties>
</demo-example-viewer>
