<div class="multiselect-list-container">
  <h1>Form Control</h1>
  <pupa-multiselection-list class="multiselect-list" [formControl]="formControl">
    <pupa-multiselection-list-item
      class="selection-item"
      [class.selected]="isSelectedInFormControl(value)"
      *ngFor="let value of values"
      [value]="value"
    >
      <div>[custom-content] {{ value }}</div>
    </pupa-multiselection-list-item>
  </pupa-multiselection-list>
  {{ formControl.value | json }}
</div>

<div class="multiselect-list-container">
  <h1>[value] / (change)</h1>
  <pupa-multiselection-list class="multiselect-list" [value]="controlValue" (change)="changeHandler($event)">
    <pupa-multiselection-list-item
      class="selection-item"
      [class.selected]="isSelected(value)"
      *ngFor="let value of values"
      [value]="value"
    >
      <div>[custom-content] {{ value }}</div>
    </pupa-multiselection-list-item>
  </pupa-multiselection-list>
  {{ output | json }}
</div>
