<h1>
  Chip
</h1>
<div class="group">
  <div class="chip-wrap">
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip><span>Sample chip</span></pupa-chip>
    <pupa-chip class="disable"><span>Sample chip</span></pupa-chip>
  </div>
  <div class="chip-wrap">
    <pupa-chip>
      <span>
        Sample chip text, text, text, text, text, text, text, text, text, text, text, text, text, text
      </span>
    </pupa-chip>
  </div>
</div>
