<h1>
  Chip
</h1>
<div class="group">
  <div class="chip-wrap">
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
    <pupa-chip>Sample chip</pupa-chip>
  </div>
  <div>
    <pupa-chip
      >Sample chip text, text, text, text, text, text, text, text, text, text, text, text, text, text</pupa-chip
    >
  </div>
</div>
