<h1>Breadcrumbs</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Mechanic of usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-breadcrumbs-example-1 *pupaCodeContainerPreviewTemplate></demo-breadcrumbs-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Custom template usage</h3>
    <pupa-code-container [content]="example2Content">
      <demo-breadcrumbs-example-2 *pupaCodeContainerPreviewTemplate></demo-breadcrumbs-example-2>
    </pupa-code-container>

    <h3 demoAnchor>One breadcrumb case usage</h3>
    <pupa-code-container [content]="example3Content">
      <demo-breadcrumbs-example-3 *pupaCodeContainerPreviewTemplate></demo-breadcrumbs-example-3>
    </pupa-code-container>
  </div>
</demo-page>
