@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: block;
  width: 100%;
  flex-shrink: 0;
}

.footer {
  font-size: 3rem;
  line-height: 4rem;
  @include font-type-regular();
  color: semantic-color(text-primary);
  @include blur(3rem);
  background-color: semantic-color(surface-action);
  padding: 2rem;
}
