@use 'functions';
@use 'mixins';

:host {
  display: block;
  width: 100%;
  flex-shrink: 0;
}

.pupa-footer {
  font-size: 3rem;
  line-height: 4rem;
  @include mixins.font-type-regular();
  color: functions.semantic-color(text-primary);
  @include mixins.blur(3rem);
  background-color: functions.semantic-color(surface-action);
  padding: 2rem;
}
