<div class="switcher-container">
  <label class="switcher-label" for="destroyable">destroyable</label>
  <demo-props-switcher id="destroyable" [formControl]="destroyable"></demo-props-switcher>
</div>

<pupa-button-group-container class="pupa-button-group-container">
  <pupa-button-group>
    <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button1 </pupa-button-group-item>
    <pupa-button-group-item class="pupa-button-group-item" name="button-2"> Button2 </pupa-button-group-item>
    <pupa-button-group-item class="pupa-button-group-item" name="button-3"> Button3 </pupa-button-group-item>
  </pupa-button-group>

  <pupa-button-group-content [destroyable]="destroyable.value">
    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-1'">
      <pupa-timer-round [seconds]="20"></pupa-timer-round>
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-2'">
      <pupa-timer-round [seconds]="40"></pupa-timer-round>
    </div>

    <div class="button-group-content-item" *pupaButtonGroupItemContentTemplate="'button-3'">
      <pupa-timer-round [seconds]="60"></pupa-timer-round>
    </div>
  </pupa-button-group-content>
</pupa-button-group-container>
