@use 'mixins' as *;
@use 'functions' as *;

.drawer-separator {
  height: 1px;
  box-sizing: border-box;

  &_body {
    margin-left: -6rem;
    margin-right: -6rem;

    @include xs() {
      margin-left: -5rem;
      margin-right: -5rem;
    }
  }

  background-color: color(neutral-5);
  @include host-selector-dark-theme {
    background-color: color(neutral-500);
  }
}
