@use 'mixins';
@use 'functions';

.pupa-drawer-separator {
  height: 1px;
  box-sizing: border-box;

  &_body {
    margin-left: -6rem;
    margin-right: -6rem;

    @include mixins.xs() {
      margin-left: -5rem;
      margin-right: -5rem;
    }
  }

  background-color: functions.semantic-color(kind-neutral-normal);
}
