<pupa-select-trigger-tags [tags]="tags">
  <pupa-tag class="tag" [clickable]="true" [size]="'small'" *pupaSelectTriggerTagTemplate="let tag">
    <pupa-icon class="tag__icon" name="app-cube"></pupa-icon>
    <span class="tag__name">{{ tag }}</span>
    <pupa-pupa-tag-delete-button class="tag__delete"></pupa-pupa-tag-delete-button>
  </pupa-tag>
</pupa-select-trigger-tags>

<!-- <pupa-select-tags-button [tags]="tags">  // T

  <pupa-tag class="tag" [clickable]="true" [size]="'small'" *pupaSelectTagTemplate="let tag">
    <pupa-icon class="tag__icon" name="app-cube"></pupa-icon>
    <span class="tag__name">{{ tag }}</span>
    <pupa-pupa-tag-delete-button class="tag__delete"></pupa-pupa-tag-delete-button>
  </pupa-tag>

</pupa-select-tags-button> -->
