@use 'functions';

$width_time-seconds: 27.5rem;
$width_time: 18.5rem;

.pupa-container {
  display: flex;
}

.pupa-calendar {
  flex: 1;
  border-right: 1px solid functions.color(primary-50);
}

.pupa-time {
  height: inherit;
  width: $width_time;
  display: flex;
  justify-content: center;

  &.pupa-seconds {
    width: $width_time-seconds;
  }
}
