@use 'functions' as *;
@use '../../date-picker.style.scss';

$width_time-seconds: 110px;
$width_time: 74px;

.container {
  display: flex;
}

.calendar {
  flex: 1;
  border-right: 1px solid color(primary-50);
}

.time {
  height: inherit;
  width: $width_time;
  display: flex;
  justify-content: center;

  &.seconds {
    width: $width_time-seconds;
  }
}
