@use 'mixins';
@use 'functions';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.pupa-table-body-cell {
  box-sizing: border-box;
  padding: 4rem 3rem;
  @include mixins.font-preset-caption-s;
  color: functions.semantic-color(text-primary);
  line-height: 17px;

  display: flex;
  align-items: center;
  height: inherit;

  &_clickable {
    &:hover {
      color: functions.semantic-color(kind-primary-normal);
      cursor: pointer;

      @include mixins.host-selector('.pupa-table-row_selected') {
        border-color: functions.semantic-color(kind-primary-normal);
      }
    }
  }

  &_current-draggable {
    opacity: 0.5;
  }

  &__content {
    display: block;
    width: 100%;
    @include mixins.ellipsis-text-overflow;
  }

  @include mixins.xs() {
    padding: 6px 4rem 6px 3rem;
  }
}
