<div class="button-container">
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="primary"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="primary-secondary"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="primary-subtle"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="secondary"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="warning"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="danger"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="subtle"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="border"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-cube" kind="danger-subtle"></pupa-button-icon>
</div>
