<h1>Tooltip</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-tooltip [closeOnContentClick]="true" #tooltip>
      <pupa-tooltip-trigger>
        <pupa-icon-button color="transparent" size="small-to-medium" [active]="tooltip.isActive$ | async">
          <pupa-icon class="icon" name="ios-checkmark-circle"></pupa-icon>
        </pupa-icon-button>
      </pupa-tooltip-trigger>
      <pupa-tooltip-content> 🎈🎈🎈🎈🎈🎈🎈🎈🎈🎈🎈 </pupa-tooltip-content>
    </pupa-tooltip>
  </demo-example-viewer-content>
</demo-example-viewer>
