@use 'mixins';
@use 'functions';

:host {
  display: block;
}

.pupa-body-cell {
  position: relative;
  display: block;
  background-color: functions.semantic-color(surface-tertiary);
  margin-right: 1px;
  box-sizing: border-box;
  flex-shrink: 0;

  &.pupa-row-hovered {
    background-color: functions.semantic-color(kind-neutral-hover);
  }

  &.pupa-row-selected {
    background-color: functions.semantic-color(kind-neutral-active);
  }

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% + 1px);
    background-color: functions.semantic-color(lines-normal);
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 2;
  }

  @include mixins.host-selector('.pupa-table-body__scrollable-container') {
    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }

  @include mixins.host-selector('.pupa-table-body__pinned-right-container') {
    margin-left: 1px;
    margin-right: 0;

    &::after {
      right: auto;
      left: -1px;
    }
  }

  &.pupa-row-hovered {
    &::after {
      background-color: functions.semantic-color(lines-normal);
    }
  }
}

.pupa-body-cell-placeholder {
  flex-shrink: 1;
  width: 100%;
  display: none;

  @include mixins.host-selector('.pupa-table-body__scrollable-container') {
    & {
      display: block;
    }
  }
}
