<pupa-modal-layout>
  <pupa-modal-layout-header>
    <pupa-modal-layout-title> Demo Demo Demo Demo Demo Demo Demo Demo Demo Demo </pupa-modal-layout-title>
  </pupa-modal-layout-header>

  <pupa-modal-layout-body>
    <div class="sample-content">sample content</div>
    🎳
  </pupa-modal-layout-body>

  <pupa-modal-layout-footer>
    <pupa-modal-layout-action [value]="null">
      <pupa-button [kind]="'secondary'">Закрыть</pupa-button>
    </pupa-modal-layout-action>
    <pupa-modal-layout-action [value]="'💪🏻'">
      <pupa-button>💪🏻</pupa-button>
    </pupa-modal-layout-action>
  </pupa-modal-layout-footer>
</pupa-modal-layout>
