<section class="pupa-tree">
  <div class="pupa-tree__loader" *ngIf="isLoading$ | async">
    <pupa-loader size="10rem"></pupa-loader>
  </div>

  <pupa-scrollable [invisibleScrollbars]="['vertical', 'horizontal']" class="pupa-skeleton-scrollable">
    <cdk-virtual-scroll-viewport
      pupaScrollableContent
      #skeletonViewPort
      [itemSize]="treeItemSizePx$ | async"
      class="pupa-viewport pupa-viewport_skeleton"
    >
      <pupa-skeleton>
        <pupa-skeleton-group *cdkVirtualFor="let item of data$ | async">
          <pupa-tree-node-skeleton [level]="item.level"></pupa-tree-node-skeleton>
        </pupa-skeleton-group>
      </pupa-skeleton>
    </cdk-virtual-scroll-viewport>
  </pupa-scrollable>

  <pupa-scrollable>
    <cdk-virtual-scroll-viewport
      pupaScrollableContent
      #viewPort
      class="pupa-viewport"
      [itemSize]="treeItemSizePx$ | async"
      [maxBufferPx]="bufferPx$ | async"
      [minBufferPx]="bufferPx$ | async"
      (scroll)="onScroll()"
    >
      <ng-container *cdkVirtualFor="let treeItem of data$ | async"></ng-container>
      <cdk-tree
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        [trackBy]="trackBy$ | async"
        (mouseleave)="mouseLeave()"
        class="pupa-scrollable-box__container"
      >
        <cdk-tree-node
          *cdkTreeNodeDef="let node; when: isElement"
          (mousedown)="mouseDown(node, $event)"
          (mouseenter)="mouseEnter(node)"
        >
          <ng-container
            [ngTemplateOutlet]="treeItemTemplate?.templateRef || defaultTemplate"
            [ngTemplateOutletContext]="{
              $implicit: node
            }"
          ></ng-container>
        </cdk-tree-node>

        <cdk-tree-node
          *cdkTreeNodeDef="let node; when: hasNoChild"
          (mousedown)="mouseDown(node, $event)"
          (mouseenter)="mouseEnter(node)"
        >
          <ng-container
            [ngTemplateOutlet]="treeItemTemplate?.templateRef || defaultTemplate"
            [ngTemplateOutletContext]="{
              $implicit: node
            }"
          ></ng-container>
        </cdk-tree-node>

        <cdk-tree-node
          *cdkTreeNodeDef="let node; when: hasChild"
          (mousedown)="mouseDown(node, $event)"
          (mouseenter)="mouseEnter(node)"
        >
          <ng-container
            [ngTemplateOutlet]="treeItemTemplate?.templateRef || defaultTemplate"
            [ngTemplateOutletContext]="{
              $implicit: node
            }"
          ></ng-container>
        </cdk-tree-node>
      </cdk-tree>
    </cdk-virtual-scroll-viewport>
  </pupa-scrollable>

  <ng-container *ngIf="dragAndDropMeta$ | async as dragAndDropMeta">
    <ng-container
      [ngTemplateOutlet]="dragTreeItemTemplate"
      [ngTemplateOutletContext]="{
        treeItem: dragAndDropMeta.dragTreeItem,
        top: dragAndDropMeta.dragTreeItemTop,
        left: dragAndDropMeta.dragTreeItemLeft,
        width: dragAndDropMeta.dragTreeItemWidth,
        isVisible: dragAndDropMeta.dragTreeItemIsDisplayed
      }"
    ></ng-container>
  </ng-container>
</section>

<ng-template
  let-left="left"
  let-width="width"
  let-top="top"
  let-treeItem="treeItem"
  let-isVisible="isVisible"
  #dragTreeItemTemplate
>
  <div *ngIf="isVisible" class="pupa-draggable" [style.left.px]="left" [style.top.px]="top" [style.width.px]="width">
    <ng-container
      [ngTemplateOutlet]="treeItemTemplate?.templateRef || defaultTemplate"
      [ngTemplateOutletContext]="{
        $implicit: treeItem
      }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #defaultTemplate let-node>
  <pupa-tree-node (click)="click(node)" [treeNodeProperties]="getTreeNodeProperties(node) | async">{{
    node?.name
  }}</pupa-tree-node>
</ng-template>

<ng-content></ng-content>
