@use 'functions' as *;
@use 'mixins' as *;

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;

  --pupa-scrollable-content_padding: 2rem 3rem 3rem 2rem;
}

.tree {
  position: relative;
  height: 100%;
  width: auto;
  user-select: none;

  &__loader {
    width: 100%;
    height: 100%;
    background-color: color(neutral-1, alpha-500);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(neutral-500);
  }
}

.viewport {
  height: 100%;
  background-color: color(neutral-1);

  &_skeleton {
    width: 100%;
    pointer-events: none;
  }

  @include host-selector-dark-theme() {
    background-color: color(neutral-1000);
  }
}

.skeleton-scrollable {
  top: 0;
  left: 0;
  position: absolute;
}

.draggable {
  position: absolute;
  pointer-events: none;
  box-shadow: variable(box-shadow_hover);
  z-index: 2;
}
