@use 'functions';
@use 'mixins';

:host {
  display: block;
  max-width: 100%;
}

.pupa-alerts-container {
  display: flex;
  max-width: inherit;
  max-height: functions.vh(100);
  flex-direction: column;
}

.pupa-toolbar {
  flex: 0 0 auto;
}

.pupa-scroll-container {
  flex: 0 1 auto;
  overflow-y: auto;
  @include mixins.invisible-scrollbars;
}

.pupa-alerts {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  padding-bottom: 2rem;
}
