.infinite-scroller {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--pupa-infinity-scroller-item_gap);
  }

  &__item {
    display: contents;
  }

  &__top,
  &__bottom {
    border: 1px solid black;
    width: 100%;
    height: 10px;
    min-height: 10px;
  }
}
