<div class="button-multi" type="submit" #mainContainer>
  <button
    [disabled]="(disabled$ | async) ? true : null"
    [ngClass]="resultClassList$ | async"
    [tabIndex]="tabIndex"
    class="button"
  >
    <div [class.reversed-direction]="isReversedDirection$ | async" class="button__content" focusable="false">
      <ng-container *ngIf="leftIcon$ | async as leftIcon">
        <pupa-icon [class.hidden]="loading$ | async" [name]="leftIcon" class="button__icon"></pupa-icon>
      </ng-container>

      <div [class.hidden]="loading$ | async" class="button__content-inner">
        <ng-content></ng-content>
      </div>

      <ng-container *ngIf="rightIcon$ | async as rightIcon">
        <pupa-icon class="button__icon" [name]="rightIcon"></pupa-icon>
      </ng-container>
    </div>
    <div *ngIf="loading$ | async" class="button__loading" focusable="false">
      <pupa-loader [size]="'16px'"></pupa-loader>
    </div>
  </button>
  <button
    (click)="$event.stopPropagation()"
    [disabled]="(disabled$ | async) ? true : null"
    [ngClass]="resultClassListExpand$ | async"
    [class.button_active]="isMenuOpened$ | async"
    [tabIndex]="tabIndex"
    pupaDropdown
    [pupaDropdownDisabled]="disabled$ | async"
    [pupaDropdownRealTriggerElement]="mainContainer"
    class="button-multi_menu-button button"
  >
    <pupa-icon [name]="'ios-arrow-down'" class="button__icon" focusable="false"></pupa-icon>
  </button>
</div>
