@use './../../button.styles';
@use 'functions';
@use 'sass:math';

$borderWidth: 0.5rem;

.pupa-button-multi {
  display: flex;

  .pupa-reversed-direction {
    display: flex;
    flex-direction: row-reverse;
  }

  .pupa-button__icon {
    transform-origin: 50% 50%;
    transition: transform functions.variable(transition-duration_shorter)
      functions.variable(transition-timing-function_common);
  }

  .pupa-button_active {
    .pupa-button__icon {
      transform: rotate(180deg);
    }
  }

  .pupa-button:not(.pupa-button-multi_menu-button) {
    border-right: none;
  }
}

.pupa-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  // imitate right border on focus
  &:focus-visible:not(:disabled) {
    + .pupa-button-multi_menu-button::after {
      background-color: functions.semantic-color(lines-accent);
    }
  }
}

.pupa-button-multi_menu-button {
  position: relative;

  &:not(.pupa-button_border) {
    border-left: 0.25rem solid functions.color(neutral-1000, alpha-7);
  }

  border-left: 0.25rem solid functions.semantic-color(lines-opacity);

  &::after {
    position: absolute;
    top: 0;
    height: 100%;
    width: $borderWidth;
    content: '';
  }

  &::after {
    left: #{math.div(-$borderWidth, 2)};
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &.pupa-button_xl {
    width: 10rem;
    padding: 3rem;
    border-radius: 0 button.$buttonLargeBorderRadius button.$buttonLargeBorderRadius 0;
  }

  &.pupa-button_l {
    width: 8rem;
    padding: 2rem;
    border-radius: 0 button.$buttonLargeBorderRadius button.$buttonLargeBorderRadius 0;
  }

  &.pupa-button_m {
    width: 6rem;
    padding: 1.5rem;
    border-radius: 0 button.$buttonMediumBorderRadius button.$buttonMediumBorderRadius 0;
  }

  &.pupa-button_s {
    width: 5rem;
    padding: 1rem;
    border-radius: 0 button.$buttonMediumBorderRadius button.$buttonMediumBorderRadius 0;
    line-height: 3rem;
  }

  &.pupa-button_xs {
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0 button.$buttonSmallBorderRadius button.$buttonSmallBorderRadius 0;
  }
}
