@use 'functions' as *;

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 0;
}

.violet-icon {
  --button_icon-color: #b310b3;
}

.green_text {
  --button_text-color: #{semantic-color(kind-success-normal)};
}
