<div class="button-container">
  <pupa-button class="button-container__item" size="extra-small">Extra-Small</pupa-button>
  <pupa-button-icon class="button-container__item" icon="app-cube" size="extra-small"></pupa-button-icon>
  <pupa-button class="button-container__item" size="extra-small" kind="secondary">Extra-Small Secondary</pupa-button>
</div>
<div class="button-container">
  <pupa-button class="button-container__item" size="small">Small</pupa-button>
  <pupa-button-icon class="button-container__item" icon="app-cube" size="small"></pupa-button-icon>
  <pupa-button class="button-container__item" size="small" kind="secondary">Small Secondary</pupa-button>
</div>
<div class="button-container">
  <pupa-button class="button-container__item" size="medium">Medium</pupa-button>
  <pupa-button-icon class="button-container__item" icon="app-cube" size="medium"></pupa-button-icon>
  <pupa-button class="button-container__item" size="medium" kind="secondary">Medium Secondary</pupa-button>
</div>
<div class="button-container">
  <pupa-button class="button-container__item" size="large">Large</pupa-button>
  <pupa-button-icon class="button-container__item" icon="app-cube" size="large"></pupa-button-icon>
  <pupa-button class="button-container__item" size="large" kind="secondary">Large Secondary</pupa-button>
</div>
