<h1>Card</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <p>
      <pupa-code-inline>pupa-card</pupa-code-inline>
      is a flexible container component.
    </p>
    <p>It can be used alone, but it also provides several common pre-styled card sections:</p>
    <ul>
      <li>
        <pupa-code-inline>pupa-card-container</pupa-code-inline>
        - container for card content used inside
        <pupa-code-inline>pupa-card</pupa-code-inline>
        but can be used alone
      </li>
      <li>
        <pupa-code-inline>pupa-card-cover</pupa-code-inline>
        - container for icon/image or any other content
      </li>
      <li>
        <pupa-code-inline>pupa-card-header</pupa-code-inline>
        - container for card header content
      </li>
      <li>
        <pupa-code-inline>pupa-card-title</pupa-code-inline>
        - container for card title
      </li>
      <li>
        <pupa-code-inline>pupa-card-description</pupa-code-inline>
        - container for card description
      </li>
      <li>
        <pupa-code-inline>pupa-card-action</pupa-code-inline>
        - container for action button
      </li>
    </ul>
    <p>All these sections are optional.</p>

    <h3 demoAnchor>Large card</h3>
    <pupa-code-container [content]="example1Content">
      <demo-card-example-1 *pupaCodeContainerPreviewTemplate></demo-card-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Medium card</h3>
    <pupa-code-container [content]="example2Content">
      <demo-card-example-2 *pupaCodeContainerPreviewTemplate></demo-card-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Extra cases</h3>
    <pupa-code-container [content]="example3Content">
      <demo-card-example-3 *pupaCodeContainerPreviewTemplate></demo-card-example-3>
    </pupa-code-container>

    <h2 demoAnchor>
      Custom card without
      <pupa-code-inline>pupa-card</pupa-code-inline>
    </h2>
    <pupa-code-container [content]="example4Content">
      <demo-card-example-4 *pupaCodeContainerPreviewTemplate></demo-card-example-4>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <pupa-card
          [disabled]="disabled$ | async"
          [clickable]="clickable$ | async"
          [selected]="selected$ | async"
          [size]="size$ | async"
          [tabIndex]="tabIndexFormControl.value"
        >
          <pupa-card-cover>
            <pupa-icon-holder [size]="size$ | async">
              <pupa-icon name="app-cube"></pupa-icon>
            </pupa-icon-holder>
          </pupa-card-cover>
          <pupa-card-header>
            <pupa-card-title [maxRows]="maxRows$ | async"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </pupa-card-title>
            <pupa-card-description>Description</pupa-card-description>
          </pupa-card-header>
          <pupa-card-action>
            <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
          </pupa-card-action>
        </pupa-card>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>PupaCard Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="size" type="CardSize">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the size of the card.</ng-container>
          <demo-props-radio-select #size$ [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the card is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="clickable" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the card is clickable.</ng-container>
          <demo-props-switcher #clickable$></demo-props-switcher>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="selected" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the card is selected.</ng-container>
          <demo-props-switcher #selected$></demo-props-switcher>
        </demo-example-viewer-property>
        <demo-example-viewer-property decoratorName="input" name="tabIndex" type="number">
          <ng-container *demoExampleViewerPropertyDescription>Set the tab index for clickable card.</ng-container>
          <pupa-input-number [formControl]="tabIndexFormControl"></pupa-input-number>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>PupaCardTitle Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="maxRows" type="number | 'auto'">
          <ng-container *demoExampleViewerPropertyDescription>
            Truncates title at a specific number of rows (
            <pupa-code-inline>'auto'</pupa-code-inline>
            - without truncating).
          </ng-container>
          <pupa-input-text [formControl]="maxRowsFormControl"></pupa-input-text>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
