<pupa-section-container class="section-container">
  <pupa-section-title class="section-container__title">
    <div>Title</div>
  </pupa-section-title>

  <pupa-section-sub-title class="section-container__subtitle">
    <div>Sub title</div>
  </pupa-section-sub-title>

  <div class="section-container__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis vero cum, velit voluptatem culpa quis natus
    quidem laborum amet dicta ad, quas, a illo sit soluta iste veniam illum ipsa.
  </div>

  <div class="section-container__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis vero cum, velit voluptatem culpa quis natus
    quidem laborum amet dicta ad, quas, a illo sit soluta iste veniam illum ipsa.
  </div>

  <div class="section-container__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis vero cum, velit voluptatem culpa quis natus
    quidem laborum amet dicta ad, quas, a illo sit soluta iste veniam illum ipsa.
  </div>
</pupa-section-container>
