<pupa-drawer-layout>
  <pupa-tabs-container>
    <pupa-drawer-layout-header>
      <pupa-drawer-layout-header-row type="top">
        <pupa-drawer-layout-header-content type="left">
          <pupa-drawer-close-button visibleOn="mobile"></pupa-drawer-close-button>
        </pupa-drawer-layout-header-content>

        <pupa-drawer-layout-header-content type="right">
          <pupa-drawer-button-icon icon="app-time"></pupa-drawer-button-icon>
          <pupa-drawer-button-icon icon="app-link" pupaTooltip="Copy path"></pupa-drawer-button-icon>
          <pupa-drawer-expand-button></pupa-drawer-expand-button>
          <pupa-drawer-button-icon icon="app-more"></pupa-drawer-button-icon>
          <pupa-drawer-close-button visibleOn="desktop"></pupa-drawer-close-button>
        </pupa-drawer-layout-header-content>
      </pupa-drawer-layout-header-row>

      <pupa-drawer-layout-header-row>
        <pupa-drawer-title> Title </pupa-drawer-title>

        <pupa-drawer-layout-header-content>
          <pupa-button>Button</pupa-button>
          <pupa-button>Button</pupa-button>
        </pupa-drawer-layout-header-content>
      </pupa-drawer-layout-header-row>

      <pupa-drawer-layout-header-tabs>
        <pupa-tabs>
          <pupa-tabs-item *ngFor="let tab of tabs" [name]="tab.name">{{ tab.title }}</pupa-tabs-item>
        </pupa-tabs>
      </pupa-drawer-layout-header-tabs>
    </pupa-drawer-layout-header>

    <pupa-drawer-layout-body>
      <pupa-tabs-content>
        <ng-container *ngFor="let tab of tabs">
          <div *pupaTabsItemContentTemplate="tab.name">Some content here!</div>
        </ng-container>
      </pupa-tabs-content>
    </pupa-drawer-layout-body>

    <pupa-drawer-layout-footer>
      <pupa-drawer-layout-action value="dungeon">
        <pupa-button kind="secondary">Action</pupa-button>
      </pupa-drawer-layout-action>
      <pupa-drawer-layout-action value="boy next door">
        <pupa-button>Action</pupa-button>
      </pupa-drawer-layout-action>
    </pupa-drawer-layout-footer>
  </pupa-tabs-container>
</pupa-drawer-layout>
