@use 'functions' as *;
@use 'mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.tooltip-demo {
  &__info-block {
    margin-top: 5rem;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;

  &__block {
    max-width: 60rem;
    border: 1px dashed semantic-color(lines-normal);

    padding: 2rem;
    margin-bottom: 4rem;
  }

  &__item {
    @include ellipsis-text-overflow;
  }

  &__other-item {
    width: fit-content;
    margin-bottom: 4rem;
  }
}
