<h1>Tooltip</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h3 demoAnchor>Simple usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-tooltip-example-1 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-1>
    </pupa-code-container>

    <pupa-code-container [content]="example5Content">
      <demo-tooltip-example-5 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-5>
    </pupa-code-container>

    <h3 demoAnchor>Tooltip with custom template</h3>
    <pupa-code-container [content]="example2Content">
      <demo-tooltip-example-2 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Tooltip with opened state</h3>
    <pupa-code-container [content]="example3Content">
      <demo-tooltip-example-3 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-3>
    </pupa-code-container>

    <pupa-callout variant="info" class="tooltip-demo__info-block">
      <ul>
        <li>
          If you submit simple content and a template to the directive at the same time, the display will take
          precedence over the template.
        </li>
        <li>Tooltips are not shown on touch devices.</li>
        <li>
          If you don't want to show the tooltip under any conditions, then the directive has an boolean input
          <pupa-code-inline>tooltipDisabled</pupa-code-inline>
          .
        </li>
      </ul>
    </pupa-callout>

    <h3 demoAnchor>Tooltip with delay</h3>
    <pupa-code-container [content]="example4Content">
      <demo-tooltip-example-4 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Multiline tooltip (max width)</h3>
    <pupa-code-container [content]="example6Content">
      <demo-tooltip-example-6 *pupaCodeContainerPreviewTemplate></demo-tooltip-example-6>
    </pupa-code-container>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer-content>
      <div class="container">
        <pupa-button-icon
          #tooltip="pupaTooltip"
          [pupaTooltip]="'Tooltip simple content here!'"
          [icon]="'app-notification'"
          [tooltipContentTemplate]="(tooltipContent$ | async) ? customTooltipTemplate : ''"
          [tooltipHideOnHover]="tooltipHideOnHover$ | async"
          [tooltipDisabled]="disabledControl$ | async"
          [active]="tooltip.isOpened$ | async"
        >
        </pupa-button-icon>

        <div class="text-container">
          <div class="text-container__block">
            <div
              class="text-container__item"
              [pupaTooltip]="'Text that will be truncated because it wont fit in the width'"
              [tooltipAppearance]="tooltipAppearance$ | async"
            >
              Text that will be truncated because it won't fit in the width
            </div>
          </div>
          <div
            class="text-container__other-item"
            [pupaTooltip]="'Text that wont be trimmed because it will fit in the width'"
            [tooltipAppearance]="tooltipAppearance$ | async"
          >
            Text that won't be trimmed because it will fit in the width
          </div>
        </div>
      </div>
    </demo-example-viewer-content>

    <demo-example-viewer-section>
      <demo-example-viewer-config-item name="Tooltip content text">
        <pupa-textarea [formControl]="contentControl"></pupa-textarea>
      </demo-example-viewer-config-item>
    </demo-example-viewer-section>

    <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
    <demo-example-viewer-section>
      <demo-example-viewer-property decoratorName="input" name="pupaTooltip" type="string">
        <ng-container *demoExampleViewerPropertyDescription>Tooltip simple content.</ng-container>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="tooltipContentTemplate" type="TemplateRef">
        <ng-container *demoExampleViewerPropertyDescription>Tooltip content template.</ng-container>
        <demo-props-switcher #tooltipContent$></demo-props-switcher>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="tooltipHideOnHover" type="boolean">
        <ng-container *demoExampleViewerPropertyDescription>Hide On Tooltip Hover</ng-container>
        <demo-props-switcher #tooltipHideOnHover$></demo-props-switcher>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="tooltipDisabled" type="boolean">
        <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
        <demo-props-switcher #disabledControl$></demo-props-switcher>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="tooltipAppearance" type="TooltipAppearance">
        <ng-container *demoExampleViewerPropertyDescription>
          Display the tooltip depending on whether the context is truncated or not. By default it is always displayed.
        </ng-container>
        <demo-props-select #tooltipAppearance$ [options]="tooltipAppearanceOptions"></demo-props-select>
      </demo-example-viewer-property>

      <demo-example-viewer-property decoratorName="input" name="tooltipDelayMs" type="number">
        <ng-container *demoExampleViewerPropertyDescription
          >Time in ms to delay the opening of the tooltip</ng-container
        >
      </demo-example-viewer-property>
    </demo-example-viewer-section>
  </div>

  <ng-template #customTooltipTemplate>
    <div [innerHtml]="getSanitizedHtml()"></div>
  </ng-template>
</demo-page>
