@use 'mixins' as *;
@use 'functions' as *;

.tag-demo {
  min-height: fit-content;

  &__wrapper {
    @include flex-container(row, center);

    width: 100%;
    display: flex;
    padding: 1rem 0rem;
    gap: 6rem;
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;
  }
}
