<h1>Tag</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <p><pupa-code-inline>pupa-tag</pupa-code-inline> is a configurable tag component.</p>
    <p>There are range of components that are used as content to build and configure the tag itself:</p>
    <ul>
      <li><pupa-code-inline>pupa-tag-text</pupa-code-inline> - a wrapper to truncate long text.</li>
      <li><pupa-code-inline>pupa-tag-action-button</pupa-code-inline> - customized button at left.</li>
    </ul>
    <p><pupa-code-inline>pupa-tag-inline</pupa-code-inline> - the tag component that makes the content inline.</p>
    <ul>
      <li>
        <pupa-code-inline>&lt;div pupaTagInline&gt;</pupa-code-inline> - you can also use component as tag attribute.
      </li>
    </ul>
    <pupa-info-block variant="warning">
      The content inside <pupa-code-inline>pupa-tag-inline</pupa-code-inline> can be anything, but we recommend using it
      with text.
    </pupa-info-block>

    <h3 demoAnchor>Basic tags</h3>
    <pupa-code-container [content]="example1Content">
      <demo-tag-example-1 *pupaCodeContainerPreviewTemplate></demo-tag-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Clickable tags</h3>
    <pupa-code-container [content]="example2Content">
      <demo-tag-example-2 *pupaCodeContainerPreviewTemplate></demo-tag-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Tags with action button</h3>
    <pupa-code-container [content]="example3Content">
      <demo-tag-example-3 *pupaCodeContainerPreviewTemplate></demo-tag-example-3>
    </pupa-code-container>

    <h3 demoAnchor>Disabled tags</h3>
    <pupa-code-container [content]="example4Content">
      <demo-tag-example-4 *pupaCodeContainerPreviewTemplate></demo-tag-example-4>
    </pupa-code-container>

    <h3 demoAnchor>Extra cases</h3>
    <pupa-code-container [content]="example5Content">
      <demo-tag-example-5 *pupaCodeContainerPreviewTemplate></demo-tag-example-5>
    </pupa-code-container>

    <h2 demoAnchor>Special cases</h2>

    <h3 demoAnchor>Tag as select</h3>
    <pupa-code-container [content]="example6Content">
      <demo-tag-example-6 *pupaCodeContainerPreviewTemplate></demo-tag-example-6>
    </pupa-code-container>

    <h3 demoAnchor>Tag with dropdown</h3>
    <pupa-code-container [content]="example7Content">
      <demo-tag-example-7 *pupaCodeContainerPreviewTemplate></demo-tag-example-7>
    </pupa-code-container>

    <h3 demoAnchor>Tag with popover</h3>
    <pupa-code-container [content]="example8Content">
      <demo-tag-example-8 *pupaCodeContainerPreviewTemplate></demo-tag-example-8>
    </pupa-code-container>

    <h3 demoAnchor>Tag inline</h3>
    <pupa-code-container [content]="example9Content">
      <demo-tag-example-9 *pupaCodeContainerPreviewTemplate></demo-tag-example-9>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer class="tag-demo">
      <demo-example-viewer-content class="tag-demo__content">
        <div class="tag-demo__wrapper">
          <pupa-tag [kind]="kind$ | async" [disabled]="disabled$ | async" [clickable]="clickable$ | async">
            Tag
            <pupa-tag-action-button *pupaTagActionButtonTemplate>
              <pupa-icon [name]="'app-cube'"></pupa-icon>
            </pupa-tag-action-button>
          </pupa-tag>
        </div>

        <div class="tag-demo__wrapper">
          <pupa-tag-inline [kind]="kind$ | async" [disabled]="disabled$ | async" [clickable]="clickable$ | async">
            Inline tag content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis in adipisci alias sit
            cupiditate quas tempora reprehenderit ut beatae reiciendis.
          </pupa-tag-inline>
        </div>
      </demo-example-viewer-content>

      <demo-example-viewer-section>
        <demo-example-viewer-config-item name="Add an action button">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>pupa-tag-action-button</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>
      </demo-example-viewer-section>

      <demo-example-viewer-section>
        <demo-example-viewer-config-item name="If tag has a fixed width text inside will be truncated">
          <ng-container *demoExampleViewerConfigItemDescription>
            Use
            <pupa-code-inline>pupa-tag-text</pupa-code-inline>
          </ng-container>
        </demo-example-viewer-config-item>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="kind" type="TagKind">
          <ng-container *demoExampleViewerPropertyDescription>Adjusts the kind of the tag.</ng-container>
          <demo-props-select #kind$ [options]="colorOptions"></demo-props-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="disabled" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is disabled.</ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property decoratorName="input" name="clickable" type="boolean">
          <ng-container *demoExampleViewerPropertyDescription>Whether the element is clickable.</ng-container>
          <demo-props-switcher #clickable$></demo-props-switcher>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
