@import 'mixins';

:host {
  display: block;
}

.colors-demo {
  &__list {
    box-sizing: border-box;
    padding-top: 4rem;
    gap: 4rem;
    @include flex-container(row);
    flex-wrap: wrap;
  }
  &__item {
    box-sizing: border-box;
    padding: 4rem;
    border-radius: 2rem;
    color: color(base-n0);
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 0 2rem 1px rgba(color(base-dark-n250-rgb), 0.2);
    @include grid-size($xs: 4, $sm: 4, $md: 4, $lg: 4, $xlg: 4, $xl: 4, $xxl: 2);
    @include flex-container(row, center);
    @include font-type-point;
    @include font-size-large;
    &_inverted {
      color: color(base-n600);
    }
  }
  &__item:hover {
    transform: scale(1.05);
  }
}
