<demo-example-viewer>
  <div>Column</div>
  <demo-example-viewer-content>
    <div class="column">
      <pupa-checkbox [value]="true"> One </pupa-checkbox>
      <pupa-checkbox [value]="true"> Two </pupa-checkbox>
      <pupa-checkbox [value]="true"> Three </pupa-checkbox>
    </div>
  </demo-example-viewer-content>

  <div>Row</div>
  <demo-example-viewer-content>
    <div class="row">
      <pupa-checkbox class="checkbox-row" [value]="true"> One </pupa-checkbox>
      <pupa-checkbox class="checkbox-row" [value]="true"> Two </pupa-checkbox>
      <pupa-checkbox class="checkbox-row" [value]="true"> Three </pupa-checkbox>
    </div>
  </demo-example-viewer-content>
</demo-example-viewer>
