<div class="property">
  <div class="property__info">
    <div class="property__declaration">
      <ng-container *ngIf="isMobile$ | async; else declaration" [ngTemplateOutlet]="declarationMobile"></ng-container>
    </div>
    <div class="property__description" *ngIf="descriptionDirective?.templateRef as template">
      <ng-container [ngTemplateOutlet]="template"></ng-container>
    </div>
  </div>

  <div class="property__control">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #declaration>
  <pupa-code-inline>
    <ng-container *ngIf="decoratorName">
      <ng-container [ngTemplateOutlet]="decoratorText"></ng-container>
    </ng-container>
    <ng-container [ngTemplateOutlet]="fieldText"></ng-container>
  </pupa-code-inline>
</ng-template>

<ng-template #declarationMobile>
  <div *ngIf="decoratorName">
    <pupa-code-inline>
      <ng-container [ngTemplateOutlet]="decoratorText"></ng-container>
    </pupa-code-inline>
  </div>
  <div>
    <pupa-code-inline>
      <ng-container [ngTemplateOutlet]="fieldText"></ng-container>
    </pupa-code-inline>
  </div>
</ng-template>

<ng-template #decoratorText>
  @<span class="property__decorator-name">{{decoratorName}}()</span>
</ng-template>

<ng-template #fieldText> {{name}}:&nbsp;{{type ?? 'unknown'}} </ng-template>
