<div class="example-container">
  <div class="cases-container">
    <pupa-card>
      <pupa-card-cover>
        <img [src]="logoIcon" class="icon" />
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>PupaKit</pupa-card-title>
        <pupa-card-description>The best design system</pupa-card-description>
      </pupa-card-header>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-avatar size="large" username="John Galt"></pupa-avatar>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>Who is John Galt?</pupa-card-title>
        <pupa-card-description>Atlas Shrugged</pupa-card-description>
      </pupa-card-header>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-icon-holder>
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>Card without actions</pupa-card-title>
        <pupa-card-description>All card elements are optional</pupa-card-description>
      </pupa-card-header>
    </pupa-card>

    <pupa-card>
      <pupa-card-header>
        <pupa-card-title>Card without cover</pupa-card-title>
        <pupa-card-description>All card elements are optional</pupa-card-description>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-icon-holder>
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>Card without description</pupa-card-title>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-icon-holder>
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-description>Card without title</pupa-card-description>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-icon-holder>
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card>
      <pupa-card-cover>
        <pupa-icon-holder>
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
    </pupa-card>

    <pupa-card>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card>
      <div>custom content 🐴🐴</div>
    </pupa-card>
  </div>

  <div class="cases-container">
    <pupa-card size="medium">
      <pupa-card-cover>
        <pupa-icon-holder size="medium">
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>Card without actions</pupa-card-title>
        <pupa-card-description>All card elements are optional</pupa-card-description>
      </pupa-card-header>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-header>
        <pupa-card-title>Card without cover</pupa-card-title>
        <pupa-card-description>All card elements are optional</pupa-card-description>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-cover>
        <pupa-icon-holder size="medium">
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-title>Card without description</pupa-card-title>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-cover>
        <pupa-icon-holder size="medium">
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-header>
        <pupa-card-description>Card without title</pupa-card-description>
      </pupa-card-header>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-cover>
        <pupa-icon-holder size="medium">
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-cover>
        <pupa-icon-holder size="medium">
          <pupa-icon name="app-cube"></pupa-icon>
        </pupa-icon-holder>
      </pupa-card-cover>
    </pupa-card>

    <pupa-card size="medium">
      <pupa-card-action>
        <pupa-button-icon kind="secondary" icon="app-more"></pupa-button-icon>
      </pupa-card-action>
    </pupa-card>

    <pupa-card size="medium">
      <div>custom content 🐴🐴</div>
    </pupa-card>
  </div>
</div>
