<pupa-tag-inline>
  <div>
    <div>Lorem ipsum dolor sit amet.</div>
    <div>
      Lorem, ipsum dolor.
      <div>
        Lorem
        <div>ipsum dolor</div>
        sit amet.
      </div>
    </div>
  </div>
  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam minima earum iusto optio, ea omnis.</span>
</pupa-tag-inline>

<div pupaTagInline kind="primary">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est, accusantium necessitatibus quis tempora quibusdam.
</div>
