@use 'mixins';
@use 'functions';

.pupa-drawer-layout-footer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 4rem 6rem;
  box-sizing: border-box;

  box-shadow: 0 0.25rem 0 0 inset functions.semantic-color(kind-neutral-normal);

  @include mixins.xs() {
    padding: 2rem 5rem;
  }
}
