@use 'functions' as *;

@mixin modalWindowHeight() {
  &[height='xs'] {
    max-height: vh(48);
  }

  &[height='s'] {
    max-height: vh(72);
  }

  &[height='m'] {
    max-height: vh(84);
  }

  &[height='l'] {
    max-height: vh(96);
  }
}
