@use 'functions';

@mixin pupaModalWindowHeight() {
  &[height='xs'] {
    max-height: functions.vh(48);
  }

  &[height='s'] {
    max-height: functions.vh(72);
  }

  &[height='m'] {
    max-height: functions.vh(84);
  }

  &[height='l'] {
    max-height: functions.vh(96);
  }
}
