@use 'mixins' as *;
@use 'functions' as *;

.code-inline {
  transition: background-color variable(transition-duration_shorter) variable(transition-timing-function_common);

  background: color(base-white-n300);
  color: color(base-n600);

  vertical-align: middle;

  margin: 5rem 0;

  padding: 1rem 2rem;
  @include font-size-m();
  border-radius: 1rem;

  @include host-selector-dark-theme() {
    background: color(base-dark-n300);
    color: color(base-n0);
  }
}
