@use 'mixins' as *;
@use 'projects/demo/src/styles/demo-mixins' as *;

.section-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  @include bordered-box();

  @include xs() {
    flex-direction: column;
    align-items: start;
    gap: 4rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__control {
    max-width: 80rem;

    @include xs() {
      width: 100%;
      max-width: 100%;
    }
  }
}
