@use 'demo-variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

.button-group-content-item {
  border: 1px solid get-map-field($theme-config, [ 'light', 'body', border-color]);
  @include host-selector-dark-theme() {
    border-color: get-map-field($theme-config, [ 'dark', 'body', border-color]);
  }
  margin-top: 4rem;
  padding: 2rem;
}
