<pupa-button-group-container class="pupa-button-group-container">
  <pupa-button-group>
    <pupa-button-group-item class="pupa-button-group-item" name="button-1"> Button1 </pupa-button-group-item>
    <pupa-button-group-item class="pupa-button-group-item" name="button-2" [isActive]="true">
      Button2
    </pupa-button-group-item>
    <pupa-button-group-item class="pupa-button-group-item" name="button-3"> Button3 </pupa-button-group-item>
  </pupa-button-group>
</pupa-button-group-container>
