@use 'functions';
@use 'mixins';

:host {
  display: block;
  width: 100%;
  min-width: 50rem;
  max-width: 150rem;
}

.pupa-toast-layout {
  display: flex;
  width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  gap: 3rem;

  background-color: functions.semantic-color(surface-secondary);
  color: functions.semantic-color(text-primary);

  @include mixins.supports-backdrop-blur {
    background-color: functions.semantic-color(surface-secondary, alpha-400);
  }
}

.pupa-toast-layout__color {
  flex-shrink: 0;
  width: 0.75rem;
  margin: 1rem 0 1rem 1rem;
}

.pupa-toast-layout__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  min-height: 6rem;
  margin: 2.5rem 3rem 2.5rem 0;

  @include mixins.font-size-m;
  @include mixins.font-type-regular;
}

.pupa-toast-layout_info {
  .pupa-toast-layout__color {
    background-color: functions.semantic-color(kind-primary-normal);
  }
}

.pupa-toast-layout_warning {
  .pupa-toast-layout__color {
    background-color: functions.semantic-color(kind-warning-normal);
  }
}

.pupa-toast-layout_success {
  .pupa-toast-layout__color {
    background-color: functions.semantic-color(kind-success-normal);
  }
}

.pupa-toast-layout_danger {
  .pupa-toast-layout__color {
    background-color: functions.semantic-color(kind-danger-normal);
  }
}
