<h4>Always</h4>
<pupa-textarea class="textarea" [placeholder]="'Placeholder'" [formControl]="control" [maxLength]="100"></pupa-textarea>
<pupa-textarea-inline
  class="textarea"
  [placeholder]="'Placeholder'"
  [formControl]="control"
  [maxLength]="100"
></pupa-textarea-inline>

<h4>On focus</h4>
<pupa-textarea
  class="textarea"
  [placeholder]="'Placeholder'"
  [formControl]="control"
  [maxLength]="100"
  [counterVisibility]="'onfocus'"
></pupa-textarea>
<pupa-textarea-inline
  class="textarea"
  [placeholder]="'Placeholder'"
  [formControl]="control"
  [maxLength]="100"
  [counterVisibility]="'onfocus'"
></pupa-textarea-inline>

<h4>On filled</h4>
<pupa-textarea
  class="textarea"
  [placeholder]="'Placeholder'"
  [formControl]="control"
  [maxLength]="100"
  [counterVisibility]="'filled'"
></pupa-textarea>
<pupa-textarea-inline
  class="textarea"
  [placeholder]="'Placeholder'"
  [formControl]="control"
  [maxLength]="100"
  [counterVisibility]="'filled'"
></pupa-textarea-inline>
