<div
  class="pupa-callout"
  [ngClass]="'pupa-callout_' + kind"
  [class.pupa-callout_collapsed]="isCollapsed$ | async"
  [class.pupa-callout_has-header]="hasHeader$ | async"
>
  <div class="pupa-icon">
    <pupa-icon [name]="icons.get(kind)"></pupa-icon>
  </div>
  <div>
    <div class="pupa-callout__header">
      <ng-content select="pupa-callout-header"></ng-content>
    </div>
    <div class="pupa-callout__content">
      <ng-content></ng-content>
    </div>
  </div>
  <ng-content select="pupa-callout-actions"></ng-content>
</div>
