@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
}

.callout {
  @include flex-container(row, flex-start, space-between);
  border-radius: $controlBorderRadius;
  padding: 2rem;
  margin-bottom: 3rem;

  .icon {
    font-size: 5rem;
    line-height: 4rem;
    margin-right: 2rem;
  }

  &_info {
    background: semantic-color(kind-primary-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-primary-normal);
    }
  }

  &_success {
    background: semantic-color(kind-success-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-success-normal);
    }
  }

  &_warning {
    background: semantic-color(kind-warning-normal, alpha-6);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-warning-normal);
    }
  }

  &_danger {
    background: semantic-color(kind-danger-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-danger-normal);
    }
  }

  &__container {
    display: flex;
  }
}
