@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
}

.callout {
  @include flex-container(row, flex-start, flex-start);
  color: semantic-color(text-primary);
  border-radius: $controlBorderRadius;
  padding: 3rem;

  .icon {
    font-size: 4rem;
    line-height: 3rem;
    margin-right: 2rem;
  }

  &__content {
    @include font-preset-body-s;
    overflow: hidden;
  }

  &_collapsed:not(&_has-header) &__content {
    @include line-clamp(1);
  }

  &_collapsed.callout_has-header &__content {
    display: none;
  }

  &:not(&_collapsed).callout_has-header &__header {
    margin-bottom: 1rem;
  }

  &_info {
    background: semantic-color(kind-primary-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-primary-normal);
    }
  }

  &_success {
    background: semantic-color(kind-success-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-success-normal);
    }
  }

  &_warning {
    background: semantic-color(kind-warning-normal, alpha-6);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-warning-normal);
    }
  }

  &_danger {
    background: semantic-color(kind-danger-normal, alpha-5);
    color: semantic-color(text-primary);

    .icon {
      color: semantic-color(kind-danger-normal);
    }
  }
}
