@use 'mixins';
@use 'functions';
@use 'variables';

:host {
  display: block;
}

.pupa-callout {
  @include mixins.flex-container(row, flex-start, flex-start);
  color: functions.semantic-color(text-primary);
  border-radius: variables.$controlBorderRadius;
  padding: 3rem;
  gap: 2rem;

  .pupa-icon {
    font-size: 4rem;
    line-height: 3rem;
  }

  &__content {
    @include mixins.font-preset-body-s;
    overflow: hidden;
  }

  &_collapsed:not(&_has-header) &__content {
    @include mixins.line-clamp(1);
  }

  &_collapsed.pupa-callout_has-header &__content {
    display: none;
  }

  &:not(&_collapsed).pupa-callout_has-header &__header {
    margin-bottom: 1rem;
  }

  &_info {
    background: functions.semantic-color(kind-primary-normal, alpha-5);
    color: functions.semantic-color(text-primary);

    .pupa-icon {
      color: functions.semantic-color(kind-primary-normal);
    }
  }

  &_success {
    background: functions.semantic-color(kind-success-normal, alpha-5);
    color: functions.semantic-color(text-primary);

    .pupa-icon {
      color: functions.semantic-color(kind-success-normal);
    }
  }

  &_warning {
    background: functions.semantic-color(kind-warning-normal, alpha-6);
    color: functions.semantic-color(text-primary);

    .pupa-icon {
      color: functions.semantic-color(kind-warning-normal);
    }
  }

  &_danger {
    background: functions.semantic-color(kind-danger-normal, alpha-5);
    color: functions.semantic-color(text-primary);

    .pupa-icon {
      color: functions.semantic-color(kind-danger-normal);
    }
  }
}
