<button
  [disabled]="(disabled$ | async) ? true : null"
  [ngClass]="resultClassList$ | async"
  [tabIndex]="tabIndex"
  [type]="type"
  class="pupa-button pupa-button_primary"
>
  <div class="pupa-button__content" focusable="false">
    <pupa-icon
      *ngIf="icon$ | async"
      [class.pupa-hidden]="loading$ | async"
      [name]="icon$ | async"
      class="pupa-button__icon"
    ></pupa-icon>
  </div>

  <div *ngIf="loading$ | async" class="pupa-button__loading" focusable="false">
    <pupa-loader size="6rem"></pupa-loader>
  </div>
</button>
