<pupa-form-layout>
  <pupa-form-element>
    <pupa-label>Element 1</pupa-label>
    <pupa-input-text></pupa-input-text>
  </pupa-form-element>

  <pupa-form-element>
    <pupa-label>Element 2</pupa-label>
    <pupa-input-text></pupa-input-text>
  </pupa-form-element>

  <pupa-form-elements-group>
    <pupa-form-element>
      <pupa-label>Element 3</pupa-label>
      <pupa-input-text></pupa-input-text>
    </pupa-form-element>

    <pupa-form-element>
      <pupa-label>Element 4</pupa-label>
      <pupa-input-text></pupa-input-text>
    </pupa-form-element>
  </pupa-form-elements-group>

  <pupa-form-elements-group>
    <pupa-form-element>
      <pupa-label>Element 5</pupa-label>
      <pupa-input-text></pupa-input-text>
    </pupa-form-element>

    <pupa-form-element>
      <pupa-label>Element 6</pupa-label>
      <pupa-input-text></pupa-input-text>
    </pupa-form-element>

    <pupa-form-element>
      <pupa-label>Element 7</pupa-label>
      <pupa-input-text></pupa-input-text>
    </pupa-form-element>
  </pupa-form-elements-group>
</pupa-form-layout>
