@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: block;
  flex: 1;

  @include font-type-medium;
  @include font-size-l;

  color: color(neutral-1000);

  @include host-selector-dark-theme {
    color: color(neutral-1);
  }
}

.content-wrapper {
  @include line-clamp(3);
}
