@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: flex;
  align-items: center;
  flex: 1;
  color: semantic-color(text-primary);
  @include font-preset-h3;
}

.content-wrapper {
  @include line-clamp(3);
  word-break: break-all;
}
