@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: flex;
  align-items: center;
  flex: 1;

  @include font-type-medium;
  @include font-size-l;

  color: semantic-color(text-primary);
}

.content-wrapper {
  @include line-clamp(3);
}
