<h1>Dropdown</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <p>
      <pupa-code-inline>pupaDropdown</pupa-code-inline>
      is used to create a dropdown with custom template
    </p>

    <h3 demoAnchor>Basic usage</h3>
    <pupa-code-container [content]="example1Content">
      <demo-dropdown-example-1 *pupaCodeContainerPreviewTemplate></demo-dropdown-example-1>
    </pupa-code-container>

    <h3 demoAnchor>Opening a dropdown by coordinates</h3>
    <pupa-code-container [content]="example2Content">
      <demo-dropdown-example-2 *pupaCodeContainerPreviewTemplate></demo-dropdown-example-2>
    </pupa-code-container>

    <h3 demoAnchor>Opening a dropdown as context menu</h3>
    <pupa-code-container [content]="example3Content">
      <demo-dropdown-example-3 *pupaCodeContainerPreviewTemplate></demo-dropdown-example-3>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <demo-dropdown-example-1
          [disabled]="disabled$ | async"
          [widthType]="widthType$ | async"
          [horizontalPosition]="horizontalPosition$ | async"
          [verticalPosition]="verticalPosition$ | async"
        ></demo-dropdown-example-1>
      </demo-example-viewer-content>
      <demo-example-viewer-section-label>pupaDropdown Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="pupaDropdownDisabled" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets dropdown disabled state.</div>
          </ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="pupaDropdownRealTriggerElement" type="HTMLElement" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets real trigger element sizes.</div>
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>*pupaDropdownTemplate Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="pupaDropdownTemplate" type="DropdownHost" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets dropdown trigger host.</div>
          </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property
          name="pupaDropdownTemplateWidthType"
          type="DropdownWidthType"
          decoratorName="input"
        >
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets width of dropdown.</div>
          </ng-container>
          <demo-props-radio-select #widthType$ [options]="widthTypeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property
          name="pupaDropdownTemplateHorizontalPosition"
          type="HorizontalConnectionPos"
          decoratorName="input"
        >
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets horizontal position of dropdown.</div>
          </ng-container>
          <demo-props-radio-select #horizontalPosition$ [options]="horizontalPositionOptions"></demo-props-radio-select>
        </demo-example-viewer-property>

        <demo-example-viewer-property
          name="pupaDropdownTemplateHorizontalPosition"
          type="VerticalConnectionPos"
          decoratorName="input"
        >
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets vertical position of dropdown.</div>
          </ng-container>
          <demo-props-radio-select #verticalPosition$ [options]="verticalPositionOptions"></demo-props-radio-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
