<h1>Dropdown</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <p><pupa-code-inline>pupaDropdown</pupa-code-inline> is used to create a dropdown with custom template</p>

    <h3>Basic usage</h3>
    <pupa-code-container [content]="example1Content">
      <div class="trigger-container" *pupaCodeContainerPreviewTemplate>
        <pupa-tag kind="primary" #dropdown="pupaDropdown" [clickable]="true" [pupaDropdown]="dropdownContent">
          {{ (dropdown.opened$ | async) ? 'close' : 'open' }}
          <pupa-icon [name]="(dropdown.opened$ | async) ? 'app-chevron-up' : 'app-chevron-down'"></pupa-icon>
        </pupa-tag>
      </div>

      <ng-template #dropdownContent>
        <div>sample content</div>
        <div>🎳</div>
      </ng-template>
    </pupa-code-container>
  </div>
  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content>
        <demo-dropdown-example-1
          [disabled]="disabled$ | async"
          [widthType]="widthType$ | async"
        ></demo-dropdown-example-1>
      </demo-example-viewer-content>
      <demo-example-viewer-section-label>pupaDropdown Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="pupaDropdown" type="TemplateRef<unknown>" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Dropdown content template.</div>
          </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="pupaDropdownDisabled" type="boolean" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets dropdown disabled state.</div>
          </ng-container>
          <demo-props-switcher #disabled$></demo-props-switcher>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="pupaDropdownWidthType" type="PupaDropdownWidthType" decoratorName="input">
          <ng-container *demoExampleViewerPropertyDescription>
            <div>Sets dropdown width.</div>
          </ng-container>
          <demo-props-radio-select #widthType$ direction="row" [options]="sizeOptions"></demo-props-radio-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>
</demo-page>
