@use 'demo-variables' as *;
@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  height: 100%;
}

.sidebar-content {
  height: 100%;
  width: 100%;
  background-color: semantic-color(surface-primary);
  color: semantic-color(text-primary);

  @include lt-md() {
    width: 100vw;
  }

  display: flex;
  position: relative;
  flex-direction: column;

  &__top-section {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;

    .search-field-container {
      @include grid-container-offset('padding-left');
      @include grid-container-offset('padding-right');
      padding-top: 4rem;
      padding-bottom: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
    }
  }

  &__close {
    flex-shrink: 0;
    display: block;
    @include grid-container-offset('padding-right');
  }

  .scrollable-content {
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
  }

  .links-container {
    height: 100%;
    overflow: hidden;
  }

  .empty-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    color: semantic-color(text-primary);
  }

  .subheader {
    display: inline-block;
    margin-bottom: 2rem;

    @include font-preset-h3;

    @include grid-container-offset('padding-left');
    @include grid-container-offset('padding-right');

    color: semantic-color(text-primary);

    margin-top: 6rem;
  }

  .side-nav-item {
    display: block;
    padding: 3rem 0;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    @include grid-container-offset('padding-left');
    @include grid-container-offset('padding-right');

    @include font-preset-caption-m;

    color: semantic-color(text-primary);

    transition: color variable(transition-duration_shorter) variable(transition-timing-function_common),
      background-color variable(transition-duration_shorter) variable(transition-timing-function_common);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      content: '';
      width: 0.5rem;
      pointer-events: none;
      background-color: semantic-color(kind-primary-normal);
      opacity: 0;
    }

    &:hover {
      background: semantic-color(surface-action);
    }

    &.active {
      background: semantic-color(surface-action);
      &::before {
        opacity: 1;
      }
    }
  }
}
