@import 'mixins';

.block {
  display: block;
  width: 100px;
  height: 100px;

  @include landscape() {
    border-radius: unset;
    background-color: color(red-n500);
  }

  @include portrait() {
    border-radius: 50%;
    background-color: color(primary-n500);
  }
}
