<pupa-calendar-header>
  <div class="pupa-header-content">
    <h4 class="pupa-header-title">
      {{ headerTitle$ | async }}
    </h4>

    <div class="pupa-year-label">{{ currentYearInScroll$ | async }}</div>
  </div>
</pupa-calendar-header>

<div class="pupa-scroller-wrapper">
  <cdk-virtual-scroll-viewport
    *pupaLet="monthNameByIndex$ | async as monthNameByIndex"
    pupaScrollableContent
    class="pupa-scroller"
    [itemSize]="itemHeight$ | async"
  >
    <div
      class="pupa-scroller__item"
      *cdkVirtualFor="let _ of yearsIndexes; templateCacheSize: 10; let isLast = last; let yearIndex = index"
    >
      <div class="pupa-scroller__divider"></div>

      <div class="pupa-year-table">
        <div class="pupa-year-table__month" *ngFor="let __ of monthsIndexes; let month = index">
          <pupa-calendar-selector-button
            [isCurrent]="{ year: startYear + yearIndex, month } | isCurrentCalendarMonth"
            (click)="selectMonth(startYear + yearIndex, month)"
          >
            {{ monthNameByIndex[month] }}
          </pupa-calendar-selector-button>
        </div>
      </div>

      <ng-container *ngIf="!isLast">
        <div class="pupa-scroller__divider"></div>
        <div class="pupa-year-label">{{ yearIndex + startYear + 1 }}</div>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
