@use 'mixins' as *;
@use 'functions' as *;

$normal-shadow-color: rgba(33, 33, 33, 0.08);
$hover-shadow-color: rgba(33, 33, 33, 0.1);
$disabled-shadow-color: rgba(33, 33, 33, 0.05);

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  border-radius: 4px;
  border: 2px solid transparent;
  box-shadow: 2px 3px 8px $normal-shadow-color;
  outline: none;

  background-color: semantic-color(surface-secondary);
  color: color(neutral-1000);

  &_disabled {
    color: color(neutral-50);
    box-shadow: 0 1px 7px $disabled-shadow-color;
  }

  &:not(.container_disabled) {
    @include hover() {
      box-shadow: 2px 3px 10px $hover-shadow-color;

      @include host-selector-dark-theme() {
        background: color(neutral-400);
      }
    }
  }

  &_clickable:not(.container_disabled) {
    cursor: pointer;

    &:not(.container_selected) {
      &:focus {
        border: 2px solid semantic-color(lines-accent);
      }
    }
  }

  &_selected:not(.container_disabled) {
    &::before {
      display: block;
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: semantic-color(kind-primary-normal);
      border-radius: 4px 0 0 4px;
    }
  }

  @include host-selector-dark-theme() {
    background: color(neutral-800);
    color: color(neutral-1);

    &_disabled {
      color: color(neutral-60);
    }
  }
}
