<h1>Toasts</h1>

<demo-page>
  <div *demoPageTab="'overview'">
    <h2 demoAnchor>Usage</h2>

    <h3 demoAnchor>Basic usage</h3>
    <pupa-code-container [content]="basicExampleContent">
      <demo-basic-example *pupaCodeContainerPreviewTemplate></demo-basic-example>
    </pupa-code-container>

    <h3 demoAnchor>Template rendering</h3>
    <pupa-code-container [content]="templateRenderingExampleContent">
      <demo-template-rendering-example *pupaCodeContainerPreviewTemplate></demo-template-rendering-example>
    </pupa-code-container>

    <h2 demoAnchor>Customization</h2>

    <h3 demoAnchor>Custom component rendering</h3>
    <p>
      Also you can render your own component. Extend it from
      <pupa-code-inline>ToastComponentBase</pupa-code-inline> and pass to the
      <pupa-code-inline>open</pupa-code-inline> method. Toast data type and return data type will be calculated
      automatically.
    </p>

    <h3 demoAnchor>Animations for your own component</h3>
    <p>
      You can use default animation or set your own animation. Use
      <pupa-code-inline>ToastComponentBase.animations</pupa-code-inline> or write animation like in the example.
    </p>
    <pupa-code filePath="toasts-demo/examples/animation.example.txt"> </pupa-code>
    <p>and use animation in html</p>
    <pupa-code filePath="toasts-demo/examples/animation-usage.example.txt"> </pupa-code>
  </div>

  <div *demoPageTab="'api'">
    <demo-example-viewer>
      <demo-example-viewer-content *ngIf="type$ | async as type">
        <pupa-theme-wrapper [theme]="reversedTheme$ | async">
          <pupa-toast-layout [type]="type">
            {{ type | titlecase }}
          </pupa-toast-layout>
        </pupa-theme-wrapper>
      </demo-example-viewer-content>

      <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property decoratorName="input" name="type" type="ToastType">
          <ng-container *demoExampleViewerPropertyDescription>
            <p>Type of the toast</p>
          </ng-container>
          <demo-props-select #type$ [options]="typeOptions"></demo-props-select>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>ToastsService</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property
          name="open<TComponent>(config: ToastConfig<TComponent, TData>)"
          type="OpenedToast<TReturn>"
        >
          <ng-container *demoExampleViewerPropertyDescription>
            TData and TReturn are automatically calculated from the passed component.
          </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="setTheme(theme: Theme)" type="void">
          <ng-container *demoExampleViewerPropertyDescription> Method for switch toasts theme. </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>

      <demo-example-viewer-section-label>ToastConfig&#60;TComponent, TData&#62;</demo-example-viewer-section-label>
      <demo-example-viewer-section>
        <demo-example-viewer-property name="component?" type="ComponentType<C>">
          <ng-container *demoExampleViewerPropertyDescription> Component to render as toast. </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="data" type="TData">
          <ng-container *demoExampleViewerPropertyDescription> Params for opened component. </ng-container>
        </demo-example-viewer-property>

        <demo-example-viewer-property name="injector?" type="Injector">
          <ng-container *demoExampleViewerPropertyDescription>
            Injector for accessing component to outer data.
          </ng-container>
        </demo-example-viewer-property>
      </demo-example-viewer-section>
    </demo-example-viewer>
  </div>

  <div *demoPageTab="'setup'">
    <p>Set default theme in root component</p>
    <pupa-code filePath="toasts-demo/examples/default-theme.example.txt"> </pupa-code>
  </div>
</demo-page>
