<h1>Dropdown</h1>
<textarea class="placeholder" (mousedown)="onMousedown()"></textarea>
<div class="container">
  <pupa-droppable>
    <pupa-droppable-trigger>
      <div class="trigger">click me</div>
    </pupa-droppable-trigger>
    <pupa-droppable-content>
      <pupa-dropdown [items]="items"></pupa-dropdown>
    </pupa-droppable-content>
  </pupa-droppable>

  <pupa-droppable>
    <pupa-droppable-trigger>
      <div class="trigger trigger_big">click me</div>
    </pupa-droppable-trigger>
    <pupa-droppable-content>
      <pupa-dropdown [items]="items"></pupa-dropdown>
    </pupa-droppable-content>
  </pupa-droppable>
</div>
