<h1>Vertical Tabs</h1>

<demo-example-viewer>
  <demo-example-viewer-content [isSticky]="false">
    <div class="container">
      <pupa-vertical-tabs
        (selectedTabValues)="handleTabSelection($event)"
        [isMultiSelectionEnabled]="isMultiSelectionEnabled$ | async"
      >
        <pupa-vertical-tabs-item
          *ngFor="let check of checks"
          [isActive]="tabIsActive(check.id, activeValues$ | async)"
          [value]="check.id"
        >
          <ng-container [ngTemplateOutlet]="checkTemplate" [ngTemplateOutletContext]="{ check: check }"></ng-container>
        </pupa-vertical-tabs-item>
      </pupa-vertical-tabs>
    </div>
  </demo-example-viewer-content>
  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="isMultiSelectionEnabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the multi selection is enabled.</ng-container>
      <demo-props-switcher #isMultiSelectionEnabled$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>

<ng-template #checkTemplate let-check="check">
  <div class="check">
    <h3 class="check__title" [title]="check?.name">
      {{ check?.name }}
    </h3>

    <div class="check__switcher">
      <pupa-switcher [value]="check?.isEnabled" (click)="$event.stopPropagation()"></pupa-switcher>
    </div>

    <div class="check__author check__metadata">
      <pupa-icon class="check__icon" name="person"></pupa-icon>

      {{ check?.createdBy }}
    </div>

    <div class="check__days check__metadata">
      <pupa-icon class="check__icon" name="time"></pupa-icon>
      {{ check?.isEnabled }}
    </div>

    <div class="check__passed check__metadata">
      <pupa-icon class="check__icon" name="list-box"></pupa-icon>

      Чек-листов: {{ check?.attachedCheckLists }}
    </div>

    <div class="check__passed check__metadata">
      <pupa-icon class="check__icon" name="checkmark-circle"></pupa-icon>

      Пройдено раз: {{ check?.timesPassed }}
    </div>
  </div>
</ng-template>
