@import 'functions.scss';
@import 'functions.scss';
@import 'mixins.scss';

.container {
  height: 700px;
  width: 320px;
}

.check {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  user-select: none;

  &__title {
    overflow: hidden;
    max-width: calc(100% - 24px);
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }

  &__switcher {
    width: fit-content;
  }

  &__metadata {
    &:not(:last-child) {
      margin: 0 0 6px 0;
    }
    &:first-of-type {
      margin-top: 8px;
    }
  }

  &__author,
  &__days,
  &__passed {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    justify-content: flex-start;
  }

  &__icon {
    color: color(active);
    margin: 0 2rem 0 0;
  }
}

.add-button {
  display: block;
  margin-top: 4rem;
}
