@use 'mixins';
@use 'functions';

@use './../../select-trigger.style.scss';

.pupa-trigger {
  &__button-icons-container {
    margin-right: 1rem;
  }

  &__close-button {
    padding-left: 2rem;
  }

  &__input-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    height: 100%;
    flex: 1;

    box-sizing: border-box;

    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;

    font-size: 3rem;
    line-height: 4rem;

    @include mixins.font-preset-caption-xs();

    position: relative;

    text-overflow: ellipsis;
    overflow: hidden;

    color: functions.semantic-color(text-primary);

    &::placeholder {
      color: functions.semantic-color(text-disabled);
      width: 100%;
      text-align: left;
      align-self: center;
    }
  }
}
