<div class="tag-container">
  <pupa-tag [clickable]="true">Default</pupa-tag>
  <pupa-tag [clickable]="true" color="primary">Primary Bold</pupa-tag>
  <pupa-tag [clickable]="true" color="green">Green Bold</pupa-tag>
  <pupa-tag [clickable]="true" color="red">Red Bold</pupa-tag>
  <pupa-tag [clickable]="true" color="yellow">Yellow Bold</pupa-tag>
</div>
<div class="tag-container">
  <pupa-tag [clickable]="true" color="primary" [bold]="false">Primary Normal</pupa-tag>
  <pupa-tag [clickable]="true" color="green" [bold]="false">Green Normal</pupa-tag>
  <pupa-tag [clickable]="true" color="red" [bold]="false">Red Normal</pupa-tag>
  <pupa-tag [clickable]="true" color="yellow" [bold]="false">Yellow Normal</pupa-tag>
</div>
