@use 'mixins';
@use 'functions';

:host {
  width: 100%;
  overflow: hidden;
}

.pupa-drawer-title {
  font-size: 5rem;
  line-height: 6rem;

  padding: 1rem;
  margin-bottom: 0;

  @include mixins.ellipsis-text-overflow;

  @include mixins.xs() {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }

  @include mixins.font-type-medium();
  color: functions.semantic-color(text-primary);

  @include mixins.flex-container(row, center, space-between);
}
