@use 'mixins' as *;
@use 'functions' as *;

:host {
  width: 100%;
  overflow: hidden;
}

.drawer-title {
  font-size: 5rem;
  line-height: 6rem;

  padding: 1rem;
  margin-bottom: 0;

  @include ellipsis-text-overflow;

  @include xs() {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }

  @include font-type-medium();
  color: semantic-color(text-primary);

  @include flex-container(row, center, space-between);
}
