<div class="loader-old">
  <div
    class="loader-old__line loader-old__line_left"
    [@lineAppeared]="isLeftLineVisible$ | async"
    (@lineAppeared.start)="switchRectangleState($event, isBottomRectangleVisible$, 400)"
  >
    <svg height="100%" viewBox="0 0 2 79" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m63.4050633 96.2101507v79.6096743"
        style="
          stroke: #ff602b;
          stroke-width: 0.9;
          fill: none;
          stroke-dasharray: 3 2;
          stroke-linecap: round;
          stroke-linejoin: round;
        "
        transform="translate(-62 -96)"
      />
    </svg>
  </div>
  <div
    class="loader-old__line loader-old__line_center"
    [@lineAppeared]="isCenterLineVisible$ | async"
    (@lineAppeared.done)="switchLineState($event, isRightLineVisible$)"
  >
    <svg height="100%" viewBox="0 0 2 79" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m63.4050633 96.2101507v79.6096743"
        style="
          stroke: #ff602b;
          stroke-width: 0.9;
          fill: none;
          stroke-dasharray: 3 2;
          stroke-linecap: round;
          stroke-linejoin: round;
        "
        transform="translate(-62 -96)"
      />
    </svg>
  </div>
  <div
    class="loader-old__line loader-old__line_right"
    [@lineAppeared]="isRightLineVisible$ | async"
    (@lineAppeared.start)="switchLineState($event, isLeftLineVisible$, 350)"
    (@lineAppeared.done)="switchRectangleState($event, isTopRectangleVisible$)"
  >
    <svg height="100%" viewBox="0 0 2 79" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m63.4050633 96.2101507v79.6096743"
        style="
          stroke: #ff602b;
          stroke-width: 0.9;
          fill: none;
          stroke-dasharray: 3 2;
          stroke-linecap: round;
          stroke-linejoin: round;
        "
        transform="translate(-62 -96)"
      />
    </svg>
  </div>
  <div class="loader-old__rectangle loader-old__rectangle_top" [@rectangleAppeared]="isTopRectangleVisible$ | async">
    <svg height="100%" viewBox="0 0 125 65" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m18.64727 18.1512875 65.2351888 22.40698 22.4069802 65.2351885-67.5355463-20.1066223z"
        fill="#004560"
        fill-rule="evenodd"
        transform="matrix(.70710678 -.70710678 .70710678 .70710678 -25.524527 31.323084)"
      />
    </svg>
  </div>
  <div
    class="loader-old__rectangle loader-old__rectangle_bottom"
    [@rectangleAppeared]="isBottomRectangleVisible$ | async"
    (@rectangleAppeared.done)="hideAllElements($event, 1000)"
  >
    <svg height="100%" viewBox="0 0 125 65" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m18.64727 18.1512875 65.2351888 22.40698 22.4069802 65.2351885-67.5355463-20.1066223z"
        fill="#004560"
        fill-rule="evenodd"
        transform="matrix(.70710678 -.70710678 .70710678 .70710678 -25.524527 31.323084)"
      />
    </svg>
  </div>
</div>
