@use 'functions';
@use 'mixins';

:host {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 1rem;

  @include mixins.font-type-regular();

  background: functions.semantic-color(surface-action);
}
