@use 'functions' as *;

.highlight {
  &_primary {
    background-color: semantic-color(kind-primary-normal);
  }
  &_neutral {
    background-color: semantic-color(kind-neutral-normal);
  }
  &_success {
    background-color: semantic-color(kind-success-normal);
  }
  &_warning {
    background-color: semantic-color(kind-warning-normal);
  }
  &_danger {
    background-color: semantic-color(kind-danger-normal);
  }
}
