<div
  [@show]="{
    value: animationState$ | async,
    params: {
      openAnimationDurationMs: this.openAnimationDurationMs,
      closeAnimationDurationMs: this.closeAnimationDurationMs
    }
  }"
>
  <pupa-toast-layout [type]="type">
    <div class="pupa-content">
      <pupa-timer-round *ngIf="hasTimer" [seconds]="autoCloseTimeSeconds" class="pupa-timer"></pupa-timer-round>
      <span>{{ bodyText }}</span>
    </div>
    <button pupaLink *ngIf="actionText" (click)="processActionClick()">{{ actionText }}</button>
  </pupa-toast-layout>
</div>
