@use 'mixins';

:host {
  display: block;
  width: 129rem;

  @include mixins.xs {
    width: 100%;
  }
}

.pupa-content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.pupa-timer {
  align-self: stretch;
}
