@use 'mixins' as *;
@use './../../select-trigger.style.scss';

:host {
  width: 100%;
  @include flex-container(row, center);
}

.trigger {
  &__text {
    align-items: center;
  }
}

.tags-container {
  @include flex-container(row, flex-start, flex-start, wrap);
  flex: 1;
  align-self: flex-start;
  width: 100%;
  overflow: hidden;
}

.tags-counter {
  flex: none;
  margin-left: 1rem;
}

.tag {
  max-width: min(170px, calc(var(--tags-container-width-px) - 1rem));

  &.is-one {
    max-width: 100%;
  }
}

.default-tag {
  max-width: inherit;
}
