@use 'mixins';
@use './../../select-trigger.style.scss';

:host {
  width: 100%;
  @include mixins.flex-container(row, center);
}

.pupa-trigger {
  &__text {
    align-items: center;
  }
}

.pupa-tags-container {
  @include mixins.flex-container(row, flex-start, flex-start, wrap);
  flex: 1;
  align-self: flex-start;
  width: 100%;
  overflow: hidden;
}

.pupa-tags-counter {
  flex: none;
  margin-left: 1rem;
}

.pupa-tag {
  max-width: min(42.5rem, calc(var(--tags-container-width-px) - 1rem));

  &.pupa-is-one {
    max-width: 100%;
  }
}

.pupa-default-tag {
  max-width: inherit;
}
