<button
  type="button"
  class="pupa-trigger"
  [class]="size$ | async"
  [class.pupa-trigger_active]="isExpanded$ | async"
  [class.pupa-trigger_disabled]="isDisabled$ | async"
  [class.pupa-trigger_invalid]="isInvalid$ | async"
  [class.pupa-trigger_inline]="inline$ | async"
  [style.--tags-container-width-px]="(tagsContainerWidthPx$ | async) + 'px'"
  (click)="processButtonClick()"
  (mousedown)="processTriggerTouch()"
  (touchstart)="processTriggerTouch()"
  cdkOverlayOrigin
  #overlayOrigin="cdkOverlayOrigin"
  #button
>
  <div class="pupa-trigger__text" [style.paddingRight.px]="rightPaddingPx$ | async">
    <ng-container *ngIf="triggerValueIsVisible$ | async; else placeholder">
      <div class="pupa-tags-container" #tagsContainer [style.gap.px]="tagsContainerGap">
        <div
          class="pupa-tag"
          *ngFor="let tag of renderTags$ | async; let count = count"
          [class.pupa-is-one]="count === 1"
        >
          <ng-container
            [ngTemplateOutlet]="getSelectTriggerTagTemplateRef()"
            [ngTemplateOutletContext]="{ $implicit: tag }"
          ></ng-container>
        </div>
      </div>

      <div class="pupa-tags-counter" *ngIf="this.tagsOverflowCount$ | async as tagsOverflowCount">
        <pupa-tag [clickable]="true" [disabled]="isDisabled$ | async">
          +{{ tagsOverflowCount | formatCount }}
        </pupa-tag>
      </div>
    </ng-container>
  </div>

  <div
    class="pupa-trigger__rotate-icon"
    [class.pupa-expanded]="(isExpanded$ | async) && (isExpandable$ | async)"
    (click)="toggleDropdown($event)"
  >
    <pupa-icon [name]="expandedIcon$ | async"></pupa-icon>
  </div>
</button>

<div class="pupa-icons">
  <pupa-icon
    *ngIf="isVisibleReset$ | async"
    class="pupa-icons__icon pupa-icons__icon-reset"
    name="app-close-square"
    (click)="reset()"
  >
  </pupa-icon>

  <pupa-icon
    *ngIf="isInvalid$ | async"
    class="pupa-icons__icon pupa-icons__icon-invalid"
    name="app-error-filled"
    [pupaTooltip]="invalidTooltip$ | async"
    [tooltipHideOnHover]="invalidTooltipHideOnHover$ | async"
    [tooltipDisabled]="isInvalidTooltipDisabled$ | async"
    [tooltipContentTemplate]="invalidTooltipContentTemplate$ | async"
    (click)="button.click()"
  >
  </pupa-icon>
</div>

<ng-template #placeholder>
  <div class="pupa-placeholder">
    {{ placeholder$ | async }}
  </div>
</ng-template>

<ng-template #defaultTemplate let-tag>
  <pupa-tag class="pupa-default-tag" [clickable]="true" [disabled]="isDisabled$ | async">
    <pupa-tag-text>{{ tag }}</pupa-tag-text>
  </pupa-tag>
</ng-template>
