@use 'mixins' as *;

.example-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-wrapper {
  height: 8rem;
  width: 100%;
  position: relative;

  @include gt-xs() {
    width: 50%;
  }
}
