@use 'sass:meta';
@use 'mixins' as *;
@use 'functions' as *;
@use 'demo-functions' as *;
@forward 'bordered-box.mixin';

/*
  why use it:
    - 1 line instead of 4 lines
    - no duplication

  before use:
    color: get-map-field($theme-config, [light, body, font-color]);
    @include host-selector-dark-theme() {
      color: get-map-field($theme-config, [dark, body, font-color]);
    }

  after use:
    @include apply-theme-dependent-property(color, $theme-config, [body, font-color]);
*/
@mixin apply-theme-dependent-property($property-name, $theme-config, $path-to-property) {
  #{$property-name}: get-map-field($theme-config, spread-list([light], $path-to-property));

  @include host-selector-dark-theme() {
    #{$property-name}: get-map-field($theme-config, spread-list([dark], $path-to-property));
  }
}

@mixin no-tap-highlight() {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  user-select: none;
}
