/* You can add global styles to this file, and also import other style files */
@import '~src/styles/styles';

html {
  font-size: $font-size_root;
  @include regular();
  color: $color_grey-text;
}

body {
  padding: $padding_body;
  margin: 0;
}

h1 {
  font-size: $font-size_h1;
  line-height: $line-height_h1;
  @include bold();
  font-style: normal;
}

h2 {
  font-size: $font-size_h2;
  line-height: $line-height_h2;
  @include medium();
  font-style: normal;
}

h3 {
  font-size: $font-size_h3;
  line-height: $line-height_h3;
  @include medium();
  font-style: normal;
}

h4 {
  font-size: $font-size_h4;
  line-height: $line-height_h4;
  @include regular();
  font-style: normal;
}

h4 {
  font-size: $font-size_h5;
  line-height: $line-height_h5;
  @include regular();
  font-style: normal;
}

span,
p,
td {
  font-size: $font-size_base-text;
  line-height: $line-height_base-text;
  @include regular();
  font-style: normal;
}
