/* You can add global styles to this file, and also import other style files */
@import '~src/styles/themes/functions';
@import '~src/styles/styles';
@import '~src/styles/themes/blue-theme/pupa-blue-theme.scss';
@import '~highlight.js/styles/github.css';
@import './highlightjs.styles.scss';

@include scrollbar();

html {
  color: color(base-n600);
  font-size: 4px;
}

body {
  font-size: 4rem;
  line-height: 6rem;
  @include regular();
  padding: variable(padding_body);
  margin: 0;
  overscroll-behavior: none;
  position: relative;
}

h1 {
  font-size: 9rem;
  line-height: 10rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 10rem;
  margin-bottom: 10rem;
}

h2 {
  font-size: 7rem;
  line-height: 8rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

h4 {
  font-size: 21px;
  line-height: 6rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

h4 {
  font-size: 19px;
  line-height: 6rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

h5 {
  font-size: 18px;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;

  margin-top: 5rem;
  margin-bottom: 4rem;
}

p {
  margin-top: 2rem;
}
