/* You can add global styles to this file, and also import other style files */
@import '~src/styles/themes/functions';
@import '~src/styles/styles';
@import '~src/styles/themes/blue-theme/pupa-blue-theme.scss';

html {
  font-size: variable(font-size_root);
  @include regular();
  color: color(text);
}

body {
  padding: variable(padding_body);
  margin: 0;
}

h1 {
  font-size: variable(font-size_h1);
  line-height: variable(line-height_h1);
  @include bold();
  font-style: normal;
}

h2 {
  font-size: variable(font-size_h2);
  line-height: variable(line-height_h2);
  @include medium();
  font-style: normal;
}

h3 {
  font-size: variable(font-size_h3);
  line-height: variable(line-height_h3);
  @include medium();
  font-style: normal;
}

h4 {
  font-size: variable(font-size_h4);
  line-height: variable(line-height_h4);
  @include regular();
  font-style: normal;
}

h4 {
  font-size: variable(font-size_h5);
  line-height: variable(line-height_h5);
  @include regular();
  font-style: normal;
}

span,
p,
td {
  font-size: variable(font-size_base-text);
  line-height: variable(line-height_base-text);
  @include regular();
  font-style: normal;
}
