@use 'functions' as *;
@use 'mixins' as *;
@use 'variables' as *;

:host {
  width: 100%;
}

.accordion {
  border-radius: $controlBorderRadius;

  &_normal#{&}_expanded {
    background-color: semantic-color(surface-tertiary);
  }

  &_border-bottom#{&}_expanded {
    .accordion-header {
      border-radius: 1rem;
      background-color: semantic-color(kind-neutral-hover);
    }
  }

  &_border-bottom {
    &:not(:hover) {
      border-radius: 0;
      box-shadow: 0 1px 0 0 semantic-color(lines-normal);
    }
  }

  &_normal {
    @include hover() {
      .accordion-header {
        background-color: semantic-color(kind-opacity-hover);
      }
    }
  }

  &_border {
    border: 1px solid semantic-color(lines-normal);
  }
}

$width_arrow-icon: 14px;

.accordion-header {
  display: flex;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: $controlBorderRadius;
  cursor: pointer;
  gap: 4rem;

  &_expanded {
    border-radius: $controlBorderRadius $controlBorderRadius 0 0;
  }

  &_expanded.accordion-header_sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  &__content {
    flex: 1;
    @include ellipsis-text-overflow();
  }

  &__action {
    display: flex;
    align-items: center;
  }
}
