@use 'mixins';
@use 'functions';
@use 'variables';

:host {
  display: block;
  width: 100%;
}

.pupa-dropdown-container {
  border-radius: variables.$controlBorderRadius;
  border: 1px solid functions.semantic-color(kind-neutral-normal);
  background-color: functions.semantic-color(surface-primary, alpha-700);
  color: functions.semantic-color(text-primary);
  box-sizing: border-box;

  filter: drop-shadow(0 3.5rem 6rem functions.color(neutral-1000, alpha-3));

  @include mixins.blur();

  overflow: hidden;
  margin: 2rem 0 0;
}
