<pupa-chip-tabs
  class="tabs-container__tabs"
  (latestClickedTabIndex)="logLatestClickedTabIndex($event)"
  (selectedTabIndexes)="logSelectedTabsIndexes($event)"
>
  <pupa-chip-tabs-item class="tabs-container__tab" [isActive]="true">
    Свойства
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab">
    Интерфейсы
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab">
    Классы
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab">
    Структуры
  </pupa-chip-tabs-item>
</pupa-chip-tabs>
