<pupa-chip-tabs class="tabs-container__tabs">
  <pupa-chip-tabs-item class="tabs-container__tab" [routerLink]="'#0'" [isActive]="true">
    Свойства
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab" [routerLink]="'#1'">
    Интерфейсы
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab" [routerLink]="'#2'">
    Классы
  </pupa-chip-tabs-item>
  <pupa-chip-tabs-item class="tabs-container__tab" [routerLink]="'#3'">
    Структуры
  </pupa-chip-tabs-item>
</pupa-chip-tabs>
