@use 'demo-variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

.group {
  flex-wrap: nowrap;
}

.switcher {
  display: flex;

  &__label {
    margin-left: 2rem;

    @include host-selector-dark-theme() {
      color: get-map-field($theme-config, [dark, body, font-color]);
    }
    color: get-map-field($theme-config, [light, body, font-color]);
  }
}
