<h1>Date + Time Pickers</h1>

<div class="group">
  <div class="column">
    <div class="switcher">
      <pupa-switcher [formControl]="useIsBackDatingControl" [id]="'formControl'"></pupa-switcher>
      <label class="switcher__label" for="formControl">use back dating</label>
    </div>
    <div class="switcher">
      <pupa-switcher [formControl]="useAvailableEndDateControl" [id]="'formControl'"></pupa-switcher>
      <label class="switcher__label" for="formControl">use available end date</label>
    </div>

    <h3>Time Picker</h3>
    <h5>pupa-time-picker</h5>
    <pupa-time-picker [withSeconds]="true"></pupa-time-picker>
    <h3>Date Picker</h3>
    <h5>pupa-date-picker - simple</h5>
    <pupa-date-picker [previewMode]="'simple'"></pupa-date-picker>
    <h5>pupa-date-picker - simple-time with seconds</h5>
    <pupa-date-picker [previewMode]="'simple-time'" [withSeconds]="true"></pupa-date-picker>
    <h5>pupa-date-picker - simple-time</h5>
    <pupa-date-picker [previewMode]="'simple-time'"></pupa-date-picker>
    <h5>pupa-date-picker - double</h5>
    <pupa-date-picker [previewMode]="'double'"></pupa-date-picker>
    <h5>Validation</h5>
    <p>Back Dating is not available</p>
    <pupa-date-picker [previewMode]="'simple'" [isBackDating]="useIsBackDatingControl.value"></pupa-date-picker>
    <p>Available End Date (5 days after current)</p>
    <pupa-date-picker
      [previewMode]="'simple'"
      [availableEndDate]="useAvailableEndDateControl.value ? availableEndDate : infinity"
    ></pupa-date-picker>
    <p>Back Dating is not available and Available End Date</p>
    <pupa-date-picker
      [previewMode]="'simple'"
      [isBackDating]="useIsBackDatingControl.value"
      [availableEndDate]="useAvailableEndDateControl.value ? availableEndDate : infinity"
    ></pupa-date-picker>
  </div>
</div>
