@use 'demo-variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

.group {
  flex-wrap: nowrap;
}

.switcher {
  display: flex;

  &__label {
    margin-left: 2rem;

    color: semantic-color(text-primary);
  }
}
