<h1>Checkbox</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-checkbox [value]="true" [disabled]="disabled | async" [indeterminate]="indeterminate | async">
      Sample text
    </pupa-checkbox>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #indeterminate>Indeterminate</demo-props-checkbox>
    <demo-props-checkbox #disabled>Disabled</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
