@use 'mixins' as *;
@use 'functions' as *;
@use '../../styles/calendar.styles' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 4rem;
}

.weekday {
  display: flex;
  width: $cell-size;
  justify-content: center;

  @include font-preset-caption-xs();

  color: semantic-color(text-secondary);
}
