@use 'mixins' as *;
@use 'functions' as *;
@use '../../styles/calendar-variables.styles' as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 6rem;
}

.item {
  display: flex;
  width: $day-size;
  justify-content: center;
  @include font-size-s();
  @include font-type-regular();
  color: semantic-color(text-secondary);
}
