<div class="button-container">
  <ng-container *ngFor="let iconPosition of ['left', 'right']">
    <pupa-button-multi
      [iconPosition]="iconPosition"
      class="button-container__item"
      icon="app-folder"
      [dropdownMenuContent]="dropdownContent"
    >
      Icon on the {{ iconPosition }}
    </pupa-button-multi>
    <pupa-dropdown-menu-content #dropdownContent>
      <pupa-dropdown-menu-item>first</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
      <pupa-dropdown-menu-item>second</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </ng-container>
</div>

<div class="button-container">
  <ng-container>
    <pupa-button-multi
      class="button-container__item"
      [active]="true"
      [dropdownMenuContent]="dropdownContentForActiveButton"
      >Button active
    </pupa-button-multi>
    <pupa-dropdown-menu-content #dropdownContentForActiveButton>
      <pupa-dropdown-menu-item>first</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
      <pupa-dropdown-menu-item>second</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </ng-container>

  <ng-container>
    <pupa-button-multi
      class="button-container__item"
      [pupaTooltip]="'Tooltip text'"
      [dropdownMenuContent]="dropdownContentForButtonWithTooltip"
    >
      With tooltip
    </pupa-button-multi>
    <pupa-dropdown-menu-content #dropdownContentForButtonWithTooltip>
      <pupa-dropdown-menu-item>first</pupa-dropdown-menu-item>
      <pupa-dropdown-menu-separator></pupa-dropdown-menu-separator>
      <pupa-dropdown-menu-item>second</pupa-dropdown-menu-item>
    </pupa-dropdown-menu-content>
  </ng-container>
</div>
