@import 'src/styles/functions';
@import 'src/styles/mixins';

.theme-toggle {
  cursor: pointer;
  color: color(base-dark-n400);

  appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  user-select: none;

  @include host-selector-dark-theme() {
    color: color(base-white-n400);
  }
}
