<pupa-checkbox [indeterminate]="false" [value]="false">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <pupa-tooltip>
    <pupa-tooltip-trigger>
      <pupa-checkbox-label>False</pupa-checkbox-label>
      <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
    </pupa-tooltip-trigger>
    <pupa-tooltip-content>
      <div class="tooltip-content">
        <div>Label</div>
        <div>Hint</div>
      </div>
    </pupa-tooltip-content>
  </pupa-tooltip>
</pupa-checkbox>

<pupa-checkbox [indeterminate]="false" [value]="true">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <pupa-tooltip>
    <pupa-tooltip-trigger>
      <pupa-checkbox-label>True</pupa-checkbox-label>
      <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
    </pupa-tooltip-trigger>
    <pupa-tooltip-content>
      <div class="tooltip-content">
        <div>Label</div>
        <div>Hint</div>
      </div>
    </pupa-tooltip-content>
  </pupa-tooltip>
</pupa-checkbox>

<pupa-checkbox [indeterminate]="true">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <pupa-tooltip>
    <pupa-tooltip-trigger>
      <pupa-checkbox-label>Indeterminate</pupa-checkbox-label>
      <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
    </pupa-tooltip-trigger>
    <pupa-tooltip-content>
      <div class="tooltip-content">
        <div>Label</div>
        <div>Hint</div>
      </div>
    </pupa-tooltip-content>
  </pupa-tooltip>
</pupa-checkbox>

<pupa-checkbox [disabled]="true" [indeterminate]="false">
  <pupa-checkbox-mark></pupa-checkbox-mark>
  <pupa-tooltip>
    <pupa-tooltip-trigger>
      <pupa-checkbox-label>Disabled</pupa-checkbox-label>
      <pupa-checkbox-hint>Hint</pupa-checkbox-hint>
    </pupa-tooltip-trigger>
    <pupa-tooltip-content>
      <div class="tooltip-content">
        <div>Label</div>
        <div>Hint</div>
      </div>
    </pupa-tooltip-content>
  </pupa-tooltip>
</pupa-checkbox>
