<h1>Button & Button Icon & Button Round</h1>

<demo-example-viewer>
  <demo-example-viewer-content class="content" [class.dark-theme]="darkMode | async">
    <pupa-button
      class="content__button"
      [size]="size | async"
      [kind]="kind | async"
      [disabled]="disabled | async"
      [icon]="'app-notification'"
      [iconPosition]="iconPosition | async"
      [loading]="loading | async"
      [active]="active | async"
    >
      Button Name
    </pupa-button>

    <pupa-button-icon
      class="content__button"
      [size]="size | async"
      [kind]="kind | async"
      [disabled]="disabled | async"
      [icon]="'app-notification'"
      [loading]="loading | async"
      [active]="active | async"
    >
    </pupa-button-icon>
  </demo-example-viewer-content>

  <demo-example-viewer-properties>
    <demo-props-group-label>Theme Mode</demo-props-group-label>
    <demo-props-checkbox #darkMode>Dark</demo-props-checkbox>

    <demo-props-group-label>Size</demo-props-group-label>
    <demo-props-radio-select #size [options]="sizeOptions"></demo-props-radio-select>

    <demo-props-group-label>Kind</demo-props-group-label>
    <demo-props-radio-select #kind [options]="kindOptions"></demo-props-radio-select>

    <demo-props-group-label>Icon</demo-props-group-label>
    <demo-props-radio-select #iconPosition [options]="iconPositionOptions"></demo-props-radio-select>

    <demo-props-group-label>Force state</demo-props-group-label>
    <demo-props-checkbox #active>Active</demo-props-checkbox>

    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox #disabled>Disabled</demo-props-checkbox>
    <demo-props-checkbox #loading>Loading</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
