<h1>Button</h1>
<div class="group">
  <pupa-button
    *ngFor="let combo of combos"
    [type]="combo.type"
    [size]="combo.size"
    [icon]="combo.icon"
    [color]="combo.color"
    [disabled]="combo.disabled"
    [loader]="isLoaderVisible$ | async"
    title="type: {{ combo.type }}; size: {{ combo.size }};  color: {{ combo.color }}; disabled: {{ combo.disabled }}"
    (click)="testDefaultClick($event)"
    (onclick)="showLoader(); testOnClick($event)"
  >
    Sample button
  </pupa-button>
</div>
