<h3>Simple</h3>
<pupa-checkbox [indeterminate]="false" [value]="true"> Simple </pupa-checkbox>
<pupa-checkbox [value]="true" [disabled]="true"> Simple checked disabled </pupa-checkbox>
<pupa-checkbox [value]="false" [disabled]="true"> Simple disabled </pupa-checkbox>

<h3>Indeterminate</h3>
<pupa-checkbox [indeterminate]="true"> Indeterminate </pupa-checkbox>
<pupa-checkbox [indeterminate]="true" [disabled]="true"> Indeterminate disabled </pupa-checkbox>

<h3>Error</h3>
<pupa-checkbox [error]="true" [value]="true"> Error</pupa-checkbox>
<pupa-checkbox [error]="true" [indeterminate]="true"> Error indeterminate</pupa-checkbox>

<h3>Without label</h3>
<pupa-checkbox class="checkbox_without-label" [value]="true"> </pupa-checkbox>
