@use 'mixins';
@use 'functions';

:host {
  display: flex;
  width: 100%;
}

.pupa-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  width: 100%;
  height: 8rem;
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;

  padding: 2rem;

  &:not(.pupa-checkbox_disabled):not(.pupa-checkbox_without-label) {
    @include mixins.hover() {
      background: functions.semantic-color(kind-neutral-hover);

      &:active {
        background: functions.semantic-color(kind-neutral-pressed);
      }
    }
  }

  &:focus-visible:not(.pupa-checkbox_disabled) {
    outline: 2px solid functions.semantic-color(lines-accent);
  }

  &_without-label {
    height: auto;
    padding: 0;
  }

  &_disabled {
    cursor: not-allowed;

    &:focus-visible {
      outline: none;
    }
  }
}

.pupa-checkbox {
  @include mixins.hover() {
    :not(.pupa-checkbox__marker:focus-visible):not(.pupa-checkbox__marker_error):not(
        .pupa-checkbox__marker_disabled
      ).pupa-checkbox__marker {
      background: functions.semantic-color(kind-primary-normal, alpha-7);
      border: 1px solid functions.semantic-color(lines-accent);

      &_checked {
        background: functions.semantic-color(kind-primary-normal);
        border: none;
      }
    }

    :not(.pupa-checkbox__marker:focus-visible):not(.pupa-checkbox__marker_disabled).pupa-checkbox__marker_error {
      background: functions.semantic-color(kind-danger-normal, alpha-7);

      &:not(.pupa-checkbox__marker_checked) {
        border: 1px solid functions.semantic-color(kind-danger-normal);
      }

      &.pupa-checkbox__marker_checked {
        background: functions.semantic-color(kind-danger-hover);
        border: none;
      }
    }
  }
}

.pupa-checkbox__marker {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid functions.semantic-color(icons-secondary);
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &_checked {
    background: functions.semantic-color(kind-primary-normal);
    border: none;
  }

  &:focus-visible:not(.pupa-checkbox__marker_disabled) {
    outline: 2px solid functions.semantic-color(lines-accent);
    border: none;

    &:not(.pupa-checkbox__marker_checked) {
      background: functions.semantic-color(kind-primary-normal, alpha-7);
    }

    &.pupa-checkbox__marker_error {
      background: functions.semantic-color(kind-danger-normal, alpha-7);

      &.pupa-checkbox__marker_checked {
        border: none;
        outline: 2px solid functions.semantic-color(lines-accent);
        outline-offset: 1px;
        background: functions.semantic-color(kind-danger-normal);
      }
    }
  }

  &_error {
    border: 1px solid functions.semantic-color(kind-danger-normal);

    &.pupa-checkbox__marker_checked {
      background: functions.semantic-color(kind-danger-normal);
    }
  }

  &_disabled {
    border: 1px solid functions.semantic-color(icons-disabled);

    .pupa-checkbox__marker-icon {
      color: functions.semantic-color(text-disabled);
    }
  }

  &_checked.pupa-checkbox__marker_disabled {
    border: none;
    background: functions.semantic-color(kind-primary-disabled);
  }

  &_disabled:focus-visible {
    outline: none;
  }

  &_hovered:not(&_disabled) {
    background: functions.semantic-color(kind-primary-normal, alpha-7);
    border: 1px solid functions.semantic-color(link-visited);

    &.pupa-checkbox__marker_checked {
      background: functions.semantic-color(link-visited);
      border: none;
    }
  }
}

.pupa-checkbox__label {
  @include mixins.ellipsis-text-overflow;

  @include mixins.font-size-xs();
  line-height: 1.2;

  &_small {
    @include mixins.font-size-xxs();
  }

  &_hidden {
    display: none;
  }

  &_disabled {
    color: functions.semantic-color(icons-disabled);
  }
}

.pupa-checkbox__marker-icon {
  display: flex;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  color: functions.semantic-color(surface-primary);
}
