<ng-container
  [ngTemplateOutlet]="template"
  [ngTemplateOutletContext]="{
    disabled: disabled$ | async,
    hovered: hovered$ | async,
    withLabel: withLabel$ | async,
    value: value$ | async,
    indeterminate: indeterminate$ | async,
    error: error$ | async,
    size: size$ | async,
    checkboxTabindex: checkboxTabindex$ | async,
    checkboxMarkerTabindex: checkboxMarkerTabindex$ | async,
    checkBoxDataMeta: checkBoxDataMeta$ | async
  }"
>
</ng-container>

<ng-template
  #template
  let-disabled="disabled"
  let-withLabel="withLabel"
  let-value="value"
  let-indeterminate="indeterminate"
  let-error="error"
  let-size="size"
  let-checkboxTabindex="checkboxTabindex"
  let-checkboxMarkerTabindex="checkboxMarkerTabindex"
  let-checkBoxDataMeta="checkBoxDataMeta"
>
  <div
    class="pupa-checkbox"
    [attr.data-meta]="checkBoxDataMeta"
    (click)="changeValue()"
    [class.pupa-checkbox_disabled]="disabled"
    [class.pupa-checkbox_without-label]="!withLabel"
    [tabindex]="checkboxTabindex"
    (keydown.enter)="changeValue()"
  >
    <div
      class="pupa-checkbox__marker"
      [class.pupa-checkbox__marker_checked]="value || indeterminate"
      [class.pupa-checkbox__marker_disabled]="disabled"
      [class.pupa-checkbox__marker_error]="error"
      [class.pupa-checkbox__marker_hovered]="hovered"
      [tabindex]="checkboxMarkerTabindex"
    >
      <pupa-icon
        class="pupa-checkbox__marker-icon"
        *ngIf="!indeterminate && value"
        name="app-exceptions-check-10"
      ></pupa-icon>
      <pupa-icon class="pupa-checkbox__marker-icon" *ngIf="indeterminate" name="app-checkbox-minus"></pupa-icon>
    </div>

    <div
      #contentLabelWrapper
      class="pupa-checkbox__label"
      [class.pupa-checkbox__label_disabled]="disabled"
      [class.pupa-checkbox__label_hidden]="!(withLabel$ | async)"
    >
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
