<div class="example-container">
  <pupa-accordion-group>
    <pupa-accordion [kind]="'normal'">
      <span class="example-container__title">Normal</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
    <pupa-accordion [kind]="'normal'">
      <span class="example-container__title">Normal</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
  </pupa-accordion-group>

  <pupa-accordion-group>
    <pupa-accordion [kind]="'border'">
      <span class="example-container__title">Border</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
    <pupa-accordion [kind]="'border'">
      <span class="example-container__title">Border</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
  </pupa-accordion-group>

  <pupa-accordion-group>
    <pupa-accordion [kind]="'border-bottom'">
      <span class="example-container__title">Border Bottom</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
    <pupa-accordion [kind]="'border-bottom'">
      <span class="example-container__title">Border Bottom</span>
      <pupa-accordion-body>Accordion Body</pupa-accordion-body>
    </pupa-accordion>
  </pupa-accordion-group>
</div>
