@use 'mixins';

.pupa-badge {
  position: absolute;
  left: calc(100% - 2px);
  @include mixins.ellipsis-text-overflow;

  &__small {
    width: 2rem;
    height: 2rem;
    top: -0.75rem;
    right: -0.75rem;
    left: auto;
  }

  &__medium {
    height: 4rem;
    max-width: 9rem;
    top: -4rem;
  }
}
