<div class="input-wrapper" [ngClass]="resultClassList$ | async" (click)="handleFocusOnContainerClick()">
  <div class="input-control">
    <ng-container [ngTemplateOutlet]="inputActionsLeftDirective?.templateRef"></ng-container>

    <input
      class="input"
      type="text"
      #inputElement
      [placeholder]="placeholder"
      [attr.disabled]="(isDisabled$ | async) ? true : null"
      (input)="updateValue(inputElement.value)"
      (focus)="emitFocusEvent($event)"
      (blur)="emitBlurEvent($event)"
      [autocomplete]="autocomplete ? 'on' : 'off'"
      [value]="value$ | async"
      [attr.minlength]="minLength"
      [attr.maxlength]="maxLength"
    />
  </div>

  <div *ngIf="isVisibleDefaultActions$ | async" class="input-default-actions">
    <pupa-button-icon
      *ngIf="isVisibleReset$ | async"
      icon="app-close-square"
      kind="secondary"
      size="m"
      (click)="reset()"
    >
    </pupa-button-icon>

    <pupa-icon-holder
      *ngIf="isInvalid$ | async"
      size="small"
      [withBackground]="false"
      [pupaTooltip]="invalidTooltip"
      [tooltipHideOnHover]="invalidTooltipHideOnHover"
      [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
      [tooltipContentTemplate]="invalidTooltipContentTemplate"
      (click)="inputElement.focus()"
    >
      <pupa-icon class="input-icon_invalid" name="app-error-filled"></pupa-icon>
    </pupa-icon-holder>
  </div>

  <div class="input-actions-separator" *ngIf="isVisibleSeparator$ | async"></div>

  <ng-container [ngTemplateOutlet]="inputActionsRightDirective?.templateRef"></ng-container>
</div>
