@use 'functions';
@use 'mixins';

:host {
  display: block;
  width: 100%;
}

.pupa-alert-layout {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  gap: 3rem;
  position: relative;

  color: functions.semantic-color(text-primary);
  background: functions.semantic-color(surface-glass);
  @include mixins.blur(3rem);
  border: 1px solid functions.semantic-color(lines-normal);
}

.pupa-alert-layout__color {
  flex-shrink: 0;
  width: 3px;
  margin: 1rem 0 1rem 1rem;
}

.pupa-alert-layout__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 34px;
}

.pupa-alert-layout_with-header {
  .pupa-alert-layout__content {
    margin-right: 5rem;
  }
}

.pupa-alert-layout_info {
  .pupa-alert-layout__color {
    background-color: functions.semantic-color(kind-primary-normal);
  }
}

.pupa-alert-layout_warning {
  .pupa-alert-layout__color {
    background-color: functions.semantic-color(kind-warning-normal);
  }
}

.pupa-alert-layout_success {
  .pupa-alert-layout__color {
    background-color: functions.semantic-color(kind-success-normal);
  }
}

.pupa-alert-layout_danger {
  .pupa-alert-layout__color {
    background-color: functions.semantic-color(kind-danger-normal);
  }
}
