@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

$adaptive-property: 'max-width';

.trigger {
  @include font-preset-h7();

  padding: 1.5rem 2rem;

  display: block;
  border: 0.5rem solid transparent;
  border-radius: $controlBorderRadius;

  text-decoration: none;
  color: semantic-color(text-secondary);
  cursor: pointer;
  @include ellipsis-text-overflow;

  transition: color variable(transition-duration_shorter) variable(transition-timing-function_common),
    background-color variable(transition-duration_shorter) variable(transition-timing-function_common);

  &:not(.trigger_active) {
    @include hover() {
      background-color: semantic-color(kind-opacity-hover);
      color: semantic-color(text-primary);
    }
  }

  &_active,
  &:active {
    background-color: semantic-color(kind-opacity-hover);
    color: semantic-color(text-primary);
  }

  &:focus-visible {
    border-color: semantic-color(lines-accent);
    outline: none;
  }

  @include xs() {
    @include font-size-m();
  }
}
