<h1>Text area</h1>

<h2>Basic usage</h2>

<h3>Simple configuration</h3>
<pupa-code-container [content]="example1Content">
  <demo-textarea-example-1 *pupaCodeContainerPreviewTemplate></demo-textarea-example-1>
</pupa-code-container>

<h3>Disabled</h3>
<pupa-code-container [content]="example2Content">
  <demo-textarea-example-2 *pupaCodeContainerPreviewTemplate></demo-textarea-example-2>
</pupa-code-container>

<h3>Counter case</h3>
<pupa-code-container [content]="example3Content">
  <demo-textarea-example-3 *pupaCodeContainerPreviewTemplate></demo-textarea-example-3>
</pupa-code-container>

<h3>Validation case</h3>
<pupa-info-block variant="info">Using isPatched option for show validation on init</pupa-info-block>
<pupa-code-container [content]="example4Content">
  <demo-textarea-example-4 *pupaCodeContainerPreviewTemplate></demo-textarea-example-4>
</pupa-code-container>

<h2>Autosize usage</h2>
<h3>Autosize case from 5 to 10 rows</h3>
<pupa-code-container [content]="example5Content">
  <demo-textarea-example-5 *pupaCodeContainerPreviewTemplate></demo-textarea-example-5>
</pupa-code-container>
