@import 'mixins';

.block {
  width: px(100);
  height: px(100);
  background-color: color(primary-n500);

  @include width-between($min-width: 1500, $max-width: 1600) {
    border-radius: 50%;
  }

  @include height-between($min-height: 800, $max-height: 900) {
    background-color: color(red-n550);
  }
}
