@use 'mixins' as *;
@use 'functions' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select {
  width: 80rem;
  margin-bottom: 3rem;
}

.virtual-scroll-viewport {
  position: relative;
  width: 100%;
  height: 100%;
}

.user {
  display: flex;
  align-items: center;

  &__avatar {
    flex: none;
    margin-right: 2rem;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__name {
    @include ellipsis-text-overflow;
  }

  &__login {
    color: color(neutral-300);
    @include ellipsis-text-overflow;

    @include dark-theme-class-parent() {
      color: color(base-dark-n100);
    }
  }
}

.header {
  &__search {
    margin-bottom: 4rem;
  }
}

.footer {
  display: flex;
  align-items: center;

  &__option {
    margin-left: 1rem;
  }
}

.group-container {
  height: auto;
}

.button-group {
  &__item {
    flex: 1;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  color: color(base-dark-n250);
}

.scrollable {
  max-height: inherit;
}
