<div class="pupa-timer" [class.pupa-timer_active]="isActive$ | async">
  <svg class="pupa-timer__svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g class="pupa-timer__circle">
      <circle class="pupa-timer__path-elapsed" cx="12" cy="12" r="11" />
      <path
        #timerPath
        class="pupa-timer__path-remaining"
        d="
          M 12, 12
          m -11, 0
          a 11,11 0 1,0 22,0
          a 11,11 0 1,0 -22,0
        "
      ></path>
    </g>
  </svg>
  <span class="pupa-timer__label" [class.pupa-timer__label_small]="isSmallLabel$ | async">
    {{ displaySeconds$ | async }}
  </span>
</div>
