<pupa-modal-layout class="modal-layout">
  <pupa-modal-layout-header>
    <pupa-modal-layout-title> Modal window </pupa-modal-layout-title>
  </pupa-modal-layout-header>

  <pupa-modal-layout-body> Any content can be here </pupa-modal-layout-body>

  <pupa-modal-layout-footer>
    <pupa-modal-layout-action [value]="null">
      <pupa-button kind="secondary">Cancel</pupa-button>
    </pupa-modal-layout-action>
    <pupa-modal-layout-action [value]="'close'">
      <pupa-button>Close</pupa-button>
    </pupa-modal-layout-action>
  </pupa-modal-layout-footer>
</pupa-modal-layout>
