<h1>Tooltip</h1>

<demo-example-viewer class="tooltip-demo">
  <demo-example-viewer-content>
    <pupa-button-icon
      [pupaTooltip]="'Tooltip simple content here!'"
      [icon]="'app-notification'"
      [pupaTooltip]
      #tooltip="pupaTooltip"
      [tooltipContentTemplate]="customTooltipTemplate"
      [tooltipHideOnHover]="hideOnTooltipHoverControl.value"
      [tooltipDisabled]="disabledControl.value"
      [active]="tooltip.isOpened$ | async"
    >
    </pupa-button-icon>
  </demo-example-viewer-content>

  <demo-example-viewer-properties class="tooltip-demo__viewer-properties">
    <demo-props-group-label>Properties</demo-props-group-label>
    <demo-props-checkbox class="tooltip-demo__hide-on-tooltip-hover-checkbox" [formControl]="hideOnTooltipHoverControl"
      >Hide On Tooltip Hover</demo-props-checkbox
    >
    <demo-props-checkbox class="tooltip-demo__disabled-checkbox" [formControl]="disabledControl"
      >Disabled</demo-props-checkbox
    >

    <demo-props-group-label>Content</demo-props-group-label>
    <pupa-textarea [formControl]="contentControl"> </pupa-textarea>
  </demo-example-viewer-properties>
</demo-example-viewer>

<h2>Simple usage</h2>
<pupa-code-container [content]="example1Content">
  <demo-tooltip-example-1></demo-tooltip-example-1>
</pupa-code-container>

<h2>Tooltip with custom template</h2>
<pupa-code-container [content]="example2Content">
  <demo-tooltip-example-2></demo-tooltip-example-2>
</pupa-code-container>

<h2>Tooltip with opened state</h2>
<pupa-code-container [content]="example3Content">
  <demo-tooltip-example-3></demo-tooltip-example-3>
</pupa-code-container>

<ng-template #customTooltipTemplate>
  <div [innerHtml]="getSanitizedHtml()"></div>
</ng-template>

<pupa-info-block variant="info" class="tooltip-demo__info-block">
  <ul>
    <li>
      If you submit simple content and a template to the directive at the same time, the display will take precedence
      over the template.
    </li>
    <li>Tooltips are not shown on touch devices.</li>
    <li>
      If you don't want to show the tooltip under any conditions, then the directive has an boolean input
      <pupa-code-inline>tooltipDisabled</pupa-code-inline>.
    </li>
  </ul>
</pupa-info-block>
