<pupa-theme-wrapper>
  <label
    class="pupa-textarea"
    #lineHeightSource
    [class]="size$ | async"
    [class.pupa-textarea_disabled]="isDisabled$ | async"
    [class.pupa-textarea_invalid]="isInvalid$ | async"
    (mousedown)="processMouseDown($event)"
  >
    <pupa-scrollable class="pupa-textarea__scrollable" [style.max-height.px]="maxHeightPx$ | async">
      <div class="pupa-textarea__wrapper" [style.min-height.px]="minHeightPx$ | async">
        <div class="pupa-textarea__pseudo-content">
          <span>
            {{ value$ | async }}&nbsp;
            <!-- &nbsp; removes content bouncing -->
          </span>
        </div>
        <textarea
          #textarea
          class="pupa-textarea__control"
          [value]="value$ | async"
          [placeholder]="placeholder$ | async"
          [disabled]="isDisabled$ | async"
          [autocomplete]="autocomplete ? 'on' : 'off'"
          (focus)="emitFocusEvent($event)"
          (blur)="emitBlurEvent($event)"
          (input)="updateValue(textarea.value)"
          (keydown.enter)="preventEnterKeyEvent($event)"
        ></textarea>
      </div>
    </pupa-scrollable>

    <pupa-icon-holder
      *ngIf="isInvalid$ | async"
      size="small"
      [withBackground]="false"
      [pupaTooltip]="invalidTooltip"
      [tooltipHideOnHover]="invalidTooltipHideOnHover"
      [tooltipDisabled]="(!invalidTooltip && !invalidTooltipContentTemplate) || invalidTooltipDisabled"
      [tooltipContentTemplate]="invalidTooltipContentTemplate"
      (click)="emitFocusEvent()"
    >
      <pupa-icon class="pupa-error-icon" name="app-error-filled"></pupa-icon>
    </pupa-icon-holder>
  </label>

  <div class="pupa-counter" [class.pupa-counter_invalid]="isInvalid$ | async" *ngIf="maxLength$ | async">
    <span *ngIf="isCounterVisible$ | async">{{ counterValue$ | async }}</span>
    &nbsp;
  </div>
</pupa-theme-wrapper>
