@use 'mixins' as *;
@use 'functions' as *;

.grid-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  line-height: 0;

  @include host-selector-dark-theme() {
    color: color(neutral-5);
  }

  &__label {
    @include xs() {
      @include font-size-s();
    }
  }
}
