@use 'mixins' as *;
@use 'functions' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  position: relative;

  &__code {
    @include font-size-small();
    font-family: monospace;
  }

  &__copy-button {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}
