<div class="layout-wrapper content">
  <div class="wrapper" [class.wrapper-row-direction]="layoutDirection === 'row'">
    <div class="layout-wrapper grid" *ngIf="isGridVisible$ | async">
      <div class="grid__column" *ngFor="let column of columns$ | async; trackBy: trackByColumnIndex">
        <div class="grid__column-digit">
          {{ column }}
        </div>
      </div>
    </div>
    <ng-content></ng-content>
    <div
      class="layout-wrapper loader"
      [ngClass]="loaderType$ | async"
      [style.top.px]="loaderOverlayTopOffsetPx$ | async"
      [style.left.px]="loaderOverlayLeftOffsetPx$ | async"
      *ngIf="isLoaderVisible$ | async"
    >
      <pupa-spinner [size]="'48px'"></pupa-spinner>
    </div>
  </div>
</div>
<div class="layout-wrapper context-menus"></div>
<iframe class="layout-wrapper iframe" #iframe frameborder="0"></iframe>
