@use 'functions';
@use 'mixins';
@use 'variables';

$box-shadow-selector-item-color: rgba(0, 0, 0, 0.08);

:host {
  box-sizing: border-box;
  width: 8rem;
  height: 8rem;

  @include mixins.font-preset-caption-m();

  line-height: 7rem;

  text-transform: capitalize;
  text-align: center;

  &.medium {
    width: 7rem;
    height: 7rem;

    @include mixins.font-preset-caption-xs();
    line-height: 6rem;
  }

  &.small {
    width: 6rem;
    height: 6rem;

    @include mixins.font-preset-caption-xxs();
    line-height: 5rem;
  }
}

.pupa-day-selector-item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: variables.$controlBorderRadius;
  border: 0.5rem solid transparent;
  cursor: pointer;

  color: functions.semantic-color(text-primary);

  @include mixins.transition();
  transition-property: background-color, border-color;

  &__content {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &:focus {
    outline: none;
    border-color: functions.semantic-color(kind-primary-hover) !important;
  }

  &:hover:not(.pupa-selected):not(.pupa-disabled) {
    background: functions.semantic-color(kind-neutral-hover);
  }

  &.pupa-selected {
    color: functions.semantic-color(text-primary);
  }

  &.pupa-selected &__content {
    box-shadow: 1px 1px 5px $box-shadow-selector-item-color;

    background: functions.semantic-color(surface-secondary);
  }

  &:hover.pupa-selected:not(.pupa-disabled) {
    border-color: functions.semantic-color(kind-neutral-normal);
  }

  &.pupa-disabled {
    cursor: not-allowed;

    color: functions.semantic-color(text-disabled);
  }

  &.pupa-disabled.pupa-selected &__content {
    background: functions.semantic-color(kind-neutral-pressed);
  }
}
