<div class="button-container">
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="primary"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="secondary"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="border"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="success"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="warning"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" kind="danger"></pupa-button-icon>
</div>
