<div class="container">
  <div class="container__label">width:</div>
  <div class="text text-width">PupaKit is a modern UI kit for Angular</div>
  <div class="text text-width after">PupaKit is a modern UI kit for Angular</div>
  <div class="text text-width before">PupaKit is a modern UI kit for Angular</div>
</div>

<div class="container">
  <div class="container__label">height:</div>
  <div class="text text-height">PupaKit is a modern UI kit for Angular</div>
  <div class="text text-height after">PupaKit is a modern UI kit for Angular</div>
  <div class="text text-height before">PupaKit is a modern UI kit for Angular</div>
</div>
