@use '../../../../../../styles/demo-variables' as *;
@use '../../../../../../styles/demo-mixins' as *;
@use 'src/styles/mixins' as *;
@use 'utils' as *;

@mixin apply-theme($theme-mode) {
  background-color: get-map-field($theme-config, [$theme-mode, 'navbar', 'background-color' ]);
  border-bottom: 1px solid get-map-field($theme-config, [$theme-mode, 'navbar', 'border-color' ]);
  color: get-map-field($theme-config, [$theme-mode, 'navbar', 'font-color' ]);
}

$icon-size: 7rem;

$item-margin: 1rem;
$end-item-margin: 4rem;

@mixin navbar-base-item() {
  margin-left: $item-margin;
  margin-right: $item-margin;
  line-height: 0;

  &.left-end {
    margin-left: $end-item-margin;
  }

  &.right-end {
    margin-right: $end-item-margin;
  }
}

.navbar {
  height: $navbar-height;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  vertical-align: middle;

  @include apply-theme('light');

  @include host-selector-dark-theme() {
    @include apply-theme('dark');
  }

  &__logo-wrapper {
    @include no-tap-highlight();
    cursor: pointer;

    @include navbar-base-item();

    margin-left: $end-item-margin;

    display: flex;
    align-items: center;
  }

  &__logo-image {
    height: 24px;
    width: 164px;
    margin-left: 2rem;

    @include xs() {
      display: none;
    }
  }

  &__logo-icon {
    height: 32px;
    width: 32px;
  }

  &__spacer {
    margin-left: auto;
  }

  &__item {
    @include navbar-base-item();
  }

  &__icon {
    @include navbar-base-item();

    font-size: $icon-size;
  }

  &__menu-toggle {
    @include navbar-base-item();

    display: none;

    @include lt-md() {
      display: block;
    }
  }
}
