<div class="container">
  <div class="calendar">
    <pupa-date-picker-simple
      [baseDate]="baseDate$ | async"
      [isLeftDoubleDatePicker]="true"
      [needAddedWeek]="this.needLeftCalendarAddedWeek$ | async"
      (previousMonthClicked)="switchToPreviousMonth()"
    ></pupa-date-picker-simple>
  </div>
  <div class="calendar">
    <pupa-date-picker-simple
      [baseDate]="baseDateNextMonth$ | async"
      [isRightDoubleDatePicker]="true"
      [needAddedWeek]="this.needRightCalendarAddedWeek$ | async"
      (nextMonthClicked)="switchToNextMonth()"
    ></pupa-date-picker-simple>
  </div>
</div>
