<div class="status-container">
  <pupa-status class="status-container__item" color="primary">Primary status</pupa-status>
  <pupa-status class="status-container__item" color="success">Success status</pupa-status>
  <pupa-status class="status-container__item" color="warning">Warning status</pupa-status>
  <pupa-status class="status-container__item" color="danger">Danger status</pupa-status>
  <pupa-status class="status-container__item" color="neutral">Neutral status</pupa-status>
  <pupa-status class="status-container__item" disabled="true">Disabled status</pupa-status>
</div>
