<div class="badge-container">
  <pupa-badge class="badge-container__item">
    <pupa-badge-marker>
      <pupa-counter [count]="1" color="neutral"></pupa-counter>
    </pupa-badge-marker>
    <pupa-icon [name]="'app-notification'"></pupa-icon>
  </pupa-badge>

  <pupa-badge class="badge-container__item">
    <pupa-badge-marker>
      <pupa-counter [count]="23" color="primary"></pupa-counter>
    </pupa-badge-marker>
    <pupa-icon [name]="'app-notification'"></pupa-icon>
  </pupa-badge>

  <pupa-badge class="badge-container__item">
    <pupa-badge-marker>
      <pupa-counter [count]="7000000" color="danger"></pupa-counter>
    </pupa-badge-marker>
    <pupa-icon [name]="'app-notification'"></pupa-icon>
  </pupa-badge>

  <pupa-badge class="badge-container__item">
    <pupa-badge-marker>
      <pupa-counter [count]="456" color="warning"></pupa-counter>
    </pupa-badge-marker>
    <pupa-icon [name]="'app-notification'"></pupa-icon>
  </pupa-badge>

  <pupa-badge class="badge-container__item">
    <pupa-badge-marker>
      <pupa-counter [count]="1000" color="success"></pupa-counter>
    </pupa-badge-marker>
    <pupa-icon [name]="'app-notification'"></pupa-icon>
  </pupa-badge>
</div>
