:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  fill: currentColor;
  box-sizing: content-box !important;
  vertical-align: middle;
  flex-shrink: 0;
}

.icon-inner {
  display: block;

  height: 100%;
  width: 100%;

  pointer-events: none;
}

.icon-inner > svg {
  display: block;
  height: 100%;
  width: 100%;
}
