@use 'mixins';
@use 'functions';

$padding_days-area-container: 0 4rem 2rem 4rem;
$padding_days-area: 0 4rem;
$margin_days-line: 0 0 6px 0;
$width_days-line-item: calc(100% / 7);
$font-size_days-line-item: 3rem;
$font-weight_days-line-item: 600;
$height_date: 24px;
$box-shadow: 0 2rem 8rem 0 rgba(0, 0, 0, 0.1);

$width_year: calc(100% / 5);
$height_year: 24px;

$width_month: 64px;
$height_month: 24px;

.pupa-date-picker {
  all: unset;
  box-shadow: $box-shadow;
  border-radius: 2rem;
  background: functions.semantic-color(surface-secondary);
  @include mixins.flex-container(column, stretch, stretch, nowrap);

  &__header {
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    padding: $padding_days-area;
    @include mixins.flex-container(row, center, space-between, nowrap);
  }

  &__week-days {
    height: 6.25rem;
    width: 100%;
    padding: $padding_days-area;
    margin: $margin_days-line;
    box-sizing: border-box;
    @include mixins.flex-container(row, center, space-between, nowrap);
  }

  &__wrapper {
    width: 100%;
    padding: $padding_days-area-container;
    box-sizing: border-box;
    overflow: hidden;
    @include mixins.flex-container(row, flex-start, flex-start, wrap);
  }

  &__row {
    @include mixins.flex-container(column, stretch, stretch, nowrap);
  }
}

.pupa-title {
  all: unset;
  color: functions.semantic-color(text-primary);
  line-height: 1.43;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  display: flex;

  @include mixins.font-size-m;

  &__month:not(.pupa-disable-hover),
  &__year:not(.pupa-disable-hover) {
    transition: color 0.2s ease;

    &:hover {
      color: functions.semantic-color(kind-primary-hover);
      cursor: pointer;
    }
  }

  &.pupa-selected {
    color: functions.semantic-color(kind-primary-normal);
    cursor: default;
  }
}

.pupa-week-day {
  all: unset;
  color: functions.semantic-color(text-secondary);
  width: $width_days-line-item;
  font-size: $font-size_days-line-item;
  font-weight: normal;
  user-select: none;
  @include mixins.font-type-regular;
  @include mixins.flex-container(column, center, center, nowrap);
}

.pupa-date-wrapper {
  position: relative;
  cursor: pointer;
  background-color: transparent;

  width: $width_days-line-item;
  height: $height_date;

  margin-bottom: 6px;

  padding: 0;

  user-select: none;
  @include mixins.font-type-regular;
  @include mixins.flex-container(column, center, center, nowrap);

  &__range {
    background-color: functions.semantic-color(kind-primary-normal, alpha-6);
  }

  &:nth-child(7n) {
    border-top-right-radius: $height_date;
    border-bottom-right-radius: $height_date;

    .pupa-date__range-start {
      &::before {
        display: none;
      }
    }
  }

  &:nth-child(7n + 1) {
    border-top-left-radius: $height_date;
    border-bottom-left-radius: $height_date;

    .pupa-date__range-end {
      &::before {
        display: none;
      }
    }
  }

  &__first {
    &.pupa-date-wrapper__range {
      border-bottom-left-radius: $height_date;
      border-top-left-radius: $height_date;
    }
  }

  &__last {
    &.pupa-date-wrapper__range {
      border-bottom-right-radius: $height_date;
      border-top-right-radius: $height_date;
    }
  }

  &__disabled {
    pointer-events: none;

    .pupa-date__range-start,
    .pupa-date__range-end {
      &::before {
        display: none;
      }
    }
  }
}

.pupa-date {
  position: relative;

  width: $height_date;
  height: $height_date;

  @include mixins.flex-container(column, center, center, nowrap);

  &__range-start {
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 113%;
      height: 100%;
      background-color: functions.semantic-color(kind-primary-normal, alpha-6);
      border-bottom-left-radius: $height_date;
      border-top-left-radius: $height_date;
      z-index: 0;
    }
  }

  &__range-end {
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 113%;
      height: 100%;
      background-color: functions.semantic-color(kind-primary-normal, alpha-6);
      border-bottom-right-radius: $height_date;
      border-top-right-radius: $height_date;
      z-index: 0;
    }
  }
}

.pupa-date-inner {
  font-size: $font-size_days-line-item;
  color: functions.semantic-color(text-primary);
  line-height: 4rem;
  font-weight: normal;
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 100%;
  @include mixins.transition(#{'color, background-color'});

  @include mixins.flex-container(column, center, center, nowrap);

  z-index: 2;

  &__current:not(&__disabled):not(&__selected) {
    border: 1px solid functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(text-primary);
    box-sizing: border-box;
  }

  &__selected {
    background-color: functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(text-inverse);
  }

  &__disabled {
    color: functions.semantic-color(text-disabled);
    pointer-events: none;
    background-color: transparent;
  }

  &:hover:not(.pupa-date-inner__selected) {
    background-color: functions.semantic-color(kind-primary-normal, alpha-5);
    color: functions.semantic-color(text-primary);
  }
}

.pupa-year {
  position: relative;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: $width_year;
  height: $height_year;
  font-size: $font-size_days-line-item;
  margin: 3px 0;
  color: functions.semantic-color(kind-opacity-normal);
  line-height: 4rem;
  font-weight: normal;
  user-select: none;
  border-radius: $height_year;
  z-index: 2;
  min-width: auto;
  outline-offset: unset;
  padding: 0;

  @include mixins.transition(#{'background, color'});
  @include mixins.font-type-regular;
  @include mixins.flex-container(column, center, center, nowrap);

  &.pupa-current {
    background-color: functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(kind-opacity-normal);
  }

  &:hover {
    background-color: functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(surface-primary);
  }
}

.pupa-month {
  position: relative;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: $width_month;
  height: $height_month;
  font-size: $font-size_days-line-item;
  margin: 3px 0;
  color: functions.semantic-color(text-primary);
  line-height: 4rem;
  font-weight: normal;
  user-select: none;
  border-radius: $height_month;
  z-index: 2;
  @include mixins.transition(#{'background, color'});
  @include mixins.font-type-regular;
  @include mixins.flex-container(column, center, center, nowrap);

  &:hover {
    background-color: functions.semantic-color(kind-primary-normal);
    color: functions.semantic-color(surface-primary);
  }
}

.pupa-arrow-button {
  all: unset;
  height: 5rem;
  background: none;
  outline: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font-weight: $font-weight_days-line-item;
  font-size: 4rem;
  color: functions.semantic-color(icons-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  @include mixins.font-type-regular;

  &.pupa-not-showing {
    visibility: hidden;
    pointer-events: none;
  }
}
