<div class="avatar-container">
  <div class="avatar-container__wrapper">
    <span>no border</span>
    <pupa-avatar size="large"></pupa-avatar>
  </div>

  <div class="avatar-container__wrapper">
    <span>with border</span>
    <pupa-avatar size="large" [withBorder]="true"></pupa-avatar>
  </div>

  <div class="avatar-container__wrapper">
    <span>with custom color border</span>
    <pupa-avatar class="avatar-container__avatar_success" size="large" [withBorder]="true"></pupa-avatar>
  </div>
</div>
