@use 'functions' as *;

.avatar-container {
  display: flex;

  &__wrapper {
    display: flex;
    margin-right: 20rem;
    align-items: center;

    span {
      margin-right: 2rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__avatar_success {
    --avatar-border_color: #{semantic-color(kind-success-normal)};
  }

  .small-marker {
    font-size: 2.5rem;
  }
}
