:host {
  display: block;
}

.tile-wrapper {
  width: 600px;
  height: 400px;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;

  background: url('https://image.freepik.com/free-vector/isometric-factory_1344-5.jpg') no-repeat center center;
  background-size: contain;
}
