@use './../functions/color.function' as *;
@use './../mixins/host-selector-dark-theme.mixin' as *;

/**
 * @deprecated
 */
@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    cursor: auto;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 11px;
  }

  ::-webkit-scrollbar-track {
    background-color: color(neutral-6, alpha-60);

    &:vertical {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    &:horizontal {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }

    @include host-selector-dark-theme {
      background-color: color(neutral-600, alpha-40);
    }

    // &:active {
    //   background-color: color(neutral-600);
    // }
  }

  ::-webkit-scrollbar-thumb {
    background-color: color(neutral-6);
    transition: border-width 1.2s linear;

    &:vertical {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }

    &:horizontal {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }

    @include host-selector-dark-theme {
      background-color: color(neutral-600, alpha-40);
    }

    &:hover,
    &:active {
      border: 1px solid transparent;
    }

    &:hover {
      cursor: not-allowed;
    }

    &:active {
      background-color: color(neutral-600);
    }
  }
}
