@use './../functions/semantic-color.function' as *;
@use './../variables/common.variables.scss' as *;

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: $width_scrollbar;
  }

  ::-webkit-scrollbar-track {
    border: 1.5rem solid semantic-color(surface-primary);
    background-color: semantic-color(lines-normal);
  }

  ::-webkit-scrollbar-thumb {
    border: 1rem solid transparent;
    border-radius: $width_scrollbar;
    background-color: semantic-color(lines-normal);
    background-clip: content-box;

    &:hover {
      border: 1px solid transparent;
    }
    &:active {
      background-color: semantic-color(lines-dark);
    }
  }
}
