<div class="gradient gradient_left" [class.gradient_visible]="isLeftGradient$ | async"></div>
<div class="gradient gradient_right" [class.gradient_visible]="isRightGradient$ | async"></div>

<pupa-scrollable
  #scrollable
  class="stepper"
  [class.stepper_grab]="isHorizontalScrollExist$ | async"
  [class.stepper_grabbing]="isContentDragging$ | async"
  [invisibleScrollbars]="['horizontal', 'vertical']"
  [scrollDragMode]="'horizontal'"
  (scrolledToHorizontalStart)="setLeftGradient($event)"
  (scrolledToHorizontalEnd)="setRightGradient($event)"
  (contentDragStart)="handleContentDragStart()"
  (contentDragEnd)="handleContentDragEnd()"
>
  <div class="stepper__container" #stepperContainer>
    <div class="stepper__items">
      <ng-content></ng-content>
    </div>
  </div>
</pupa-scrollable>
