@use 'functions';

:host {
  display: block;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}

.pupa-stepper {
  &__container {
    width: 100%;
  }

  &__items {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &_grab {
    cursor: grab;
  }

  &_grabbing {
    cursor: grabbing;
  }
}

.pupa-gradient {
  display: none;
  position: absolute;

  z-index: 9;
  pointer-events: none;

  width: 23.75rem;
  height: 10rem;

  background: linear-gradient(
    270deg,
    functions.semantic-color(surface-primary) 0%,
    functions.color(neutral-1, alpha-1) 87.96%
  );

  &_left {
    left: 0;

    transform: rotate(-180deg);
  }

  &_right {
    right: 0;
  }

  &_visible {
    display: block;
  }
}
