@use 'mixins';
@use 'functions';
@use '../../tag-preset.styles';
@use '../../tag.styles.scss';

:host {
  outline: none;
}

.pupa-tag-wrapper {
  @include mixins.flex-container();

  width: 100%;
}

.pupa-tag {
  @include tag-preset.pupa-tag-preset();

  gap: 1rem;
  box-sizing: border-box;
  margin: 0;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  min-height: 5rem;
  width: inherit;
  max-width: inherit;
  overflow: hidden;
  color: functions.semantic-color(text-inverse);
}
