@use 'mixins' as *;
@use 'functions' as *;
@use '../../tag-preset.styles.scss' as *;
@use '../../tag.styles.scss';

:host {
  outline: none;
}

.tag-wrapper {
  @include flex-container();

  width: 100%;
}

.tag {
  @include tag-preset();

  gap: 1rem;
  box-sizing: border-box;
  margin: 0;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  min-height: 5rem;
  width: inherit;
  max-width: inherit;
  overflow: hidden;
  color: semantic-color(text-inverse);
}
