<div class="pupa-tag-wrapper" (click)="processInteraction($event)">
  <ng-container *ngIf="isInteractive$ | async; else nonInteractiveTagTemplate">
    <button
      type="button"
      class="pupa-tag pupa-tag_clickable"
      [class.pupa-tag_disabled]="isDisabled$ | async"
      [class]="kindClass$ | async"
    >
      <ng-container [ngTemplateOutlet]="tagContentTemplate"></ng-container>
    </button>
  </ng-container>

  <ng-container *ngIf="tagActionButtonTemplateDirective">
    <ng-container [ngTemplateOutlet]="tagActionButtonTemplateDirective.templateRef"></ng-container>
  </ng-container>
</div>

<ng-template #nonInteractiveTagTemplate>
  <div class="pupa-tag" [class.pupa-tag_disabled]="isDisabled$ | async" [class]="kindClass$ | async">
    <ng-container [ngTemplateOutlet]="tagContentTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #tagContentTemplate>
  <ng-content></ng-content>
</ng-template>
