@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  margin-bottom: 16px;

  .button ~ .button {
    margin-left: 8px;
  }
}

.grid {
  width: 100%;
  height: 600px;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 newRems(1);
  cursor: pointer;
  max-width: newRems(19.75);
  @include ellipsis-text-overflow;
  font-size: newRems(1.75);
  line-height: newRems(3);
  color: color(primary);
}
