@use 'functions' as *;

.action-container {
  background-color: color(neutral-1000);
  padding: 2rem 5rem;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-right: 2rem;
  box-sizing: border-box;
  color: color(neutral-9);
  cursor: pointer;

  &:hover {
    background-color: color(neutral-600);
    color: color(neutral-1);
  }
}

.more-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(neutral-9);

  &:hover {
    color: color(neutral-1);
  }
}
