<h1>
  Input
</h1>
<div class="group">
  <div class="column" *ngFor="let combo of combos">
    <label>Sample label</label>
    <pupa-input
      [placeholder]="combo.placeholder"
      [size]="combo.size"
      [disabled]="combo.disabled"
      [formControl]="sampleFormControl"
      [valid]="sampleFormControl.valid"
      [type]="combo.type"
      [isFluid]="combo.isFluid"
      [showValidateIcon]="combo.showValidateIcon"
      title="size: {{ combo.size }}; disabled: {{ combo.disabled }};  valid: {{ sampleFormControl.valid }}, type: {{
        combo.type
      }}; fluid {{ combo.isFluid }}"
    ></pupa-input>
    <pupa-control-text *ngIf="sampleFormControl.valid && !combo.disabled">
      helper text
    </pupa-control-text>
    <pupa-control-text *ngIf="!sampleFormControl.valid && !combo.disabled" [isError]="true">
      error text
    </pupa-control-text>
  </div>
</div>
