<h1>
  Input
</h1>
<button (click)="sampleFormControl.setValue('sample')">
  FormControl.setValue('sample')
</button>

<button (click)="setValue('sample')">
  FormControl.value = 'sample'
</button>

<div class="group">
  <h2>Без контрола</h2>
  <pupa-input></pupa-input>
</div>

<div class="group">
  <div class="column" *ngFor="let combo of combos">
    <label>Sample label</label>
    <pupa-input
      [placeholder]="combo.placeholder"
      [size]="combo.size"
      [disabled]="combo.disabled"
      [formControl]="sampleFormControl"
      [valid]="sampleFormControl.valid"
      [type]="combo.type"
      [showValidateIcon]="combo.showValidateIcon"
      title="size: {{ combo.size }}; disabled: {{ combo.disabled }};  valid: {{ sampleFormControl.valid }}, type: {{
        combo.type
      }}"
    ></pupa-input>
    <pupa-control-text *ngIf="sampleFormControl.valid && !combo.disabled">
      helper text
    </pupa-control-text>
    <pupa-control-text *ngIf="!sampleFormControl.valid && !combo.disabled" [isError]="true">
      error text
    </pupa-control-text>
  </div>
</div>
