@use './../functions/color.function' as *;
@use './../functions/variable.function' as *;

@mixin dropdown {
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 1rem 0;
  border-radius: 1rem;
  max-height: 70rem;
  overflow: auto;
  box-shadow: variable(box-shadow_hover);
  background: color(neutral-1);
  z-index: 400;
  flex-direction: column;
  font-size: variable(font-size_base-text);
  transition: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-7.5rem);

  &_open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.15s, transform 0.15s;
    transform: translateY(0);
  }
}
