@use './../functions/color.function' as *;
@use './../mixins/font/font-type-regular.mixin' as *;

@mixin pupa-label($horizontal: false) {
  box-sizing: border-box;
  @if $horizontal {
    padding: 0 0;
  } @else {
    padding: 0 0 1rem;
  }
  @include font-type-regular();
  color: color(text);
  font-size: 4rem;
  line-height: 1.13;
  font-weight: normal;
  font-style: normal;
}
