<demo-example-viewer>
  <demo-example-viewer-content [isSticky]="false">
    <pupa-radio-group class="radio-group" [formControl]="formControl">
      <pupa-radio-image-control class="radio-control" [value]="1">
        <span>Option 1</span>

        <img class="image" *pupaRadioImage alt="" [src]="'assets/radio-image.svg'" />
      </pupa-radio-image-control>

      <pupa-radio-image-control class="radio-control" [value]="2">
        <span>Option 2</span>

        <pupa-icon class="icon" *pupaRadioIcon [name]="'app-help-filled'"></pupa-icon>

        <img class="image" *pupaRadioImage alt="" [src]="'assets/radio-image.svg'" />
      </pupa-radio-image-control>

      <pupa-radio-image-control class="radio-control" [value]="3">
        <span>Option 3</span>

        <pupa-icon class="icon" *pupaRadioIcon [pupaTooltip]="'Tooltip'" [name]="'app-help-filled'"></pupa-icon>

        <img class="image" *pupaRadioImage alt="" [src]="'assets/radio-image.svg'" />
      </pupa-radio-image-control>
    </pupa-radio-group>
  </demo-example-viewer-content>
</demo-example-viewer>
