@use 'functions' as *;

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.radio-control {
  display: flex;
  height: 100%;
}

.icon {
  color: semantic-color(icons-secondary);
  font-size: 4rem;
}

.image {
  border-radius: 0.5rem;
}
