@use 'functions';
@use 'mixins';

:host {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;

  @include mixins.font-type-medium;
  @include mixins.font-size-m;

  color: functions.semantic-color(text-primary);
}

:host-context(.pupa-popover__mobile) {
  display: block;
}
