@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;

  @include font-type-medium;
  @include font-size-m;

  color: semantic-color(text-primary);
}

:host-context(.popover__mobile) {
  display: block;
}
