<div
  class="search-field"
  [class.search-field_expandable]="expandable"
  [class.search-field_expanded]="(controlExpansionState$ | async) === 'true'"
  [class.search-field_empty]="isValueEmpty"
  [class.search-field_outlined]="kind === 'outlined'"
>
  <button class="search-field__switcher" (click)="switchState($event)">
    <ion-icon class="search-field__switcher-icon" [name]="buttonIconName"></ion-icon>
  </button>
  <input
    [@.disabled]="!expandable"
    [@controlExpanded]="expandable ? (controlExpansionState$ | async) : 'true'"
    [placeholder]="placeholder"
    [formControl]="inputValueControl"
    class="search-field__control"
    #inputElement
  />
</div>
