<div class="pupa-base-input-container pupa-date pupa-time" [class.pupa-fixed-size]="isFixedSize$ | async">
  <pupa-droppable #droppable>
    <pupa-droppable-trigger class="pupa-dropdown-trigger">
      <div
        class="pupa-input-wrapper"
        [ngClass]="resultClassList$ | async"
        (click)="handleContainerClick($event)"
        (mousedown)="handleContainerStartEvents($event)"
      >
        <div class="pupa-input-control">
          <pupa-icon-holder size="small" [withBackground]="false">
            <pupa-icon name="app-calendar"></pupa-icon>
          </pupa-icon-holder>

          <!-- NOTE: ngModel is incorrect: use other mask instead -->
          <input
            class="pupa-input"
            #inputElement
            type="text"
            [placeholder]="dateTimeMask"
            [mask]="dateTimeMask"
            [maxLength]="maxLengthInputValue"
            [attr.disabled]="(isDisabled$ | async) ? true : null"
            (input)="updateValue(inputElement.value)"
            (focus)="emitFocusEvent($event)"
            (blur)="emitBlurEvent($event)"
            [autocomplete]="autocomplete ? 'on' : 'off'"
            [value]="value$ | async"
            [ngModel]="value$ | async"
          />
        </div>

        <div *ngIf="isVisibleDefaultActions$ | async" class="pupa-input-default-actions">
          <pupa-button-icon
            *ngIf="isVisibleReset$ | async"
            icon="app-close-square"
            kind="secondary"
            size="m"
            (click)="reset()"
          >
          </pupa-button-icon>

          <pupa-icon-holder
            *ngIf="isInvalid$ | async"
            size="small"
            [withBackground]="false"
            [pupaTooltip]="invalidTooltip"
            [tooltipHideOnHover]="invalidTooltipHideOnHover"
            [tooltipDisabled]="!invalidTooltip && !invalidTooltipContentTemplate ? true : invalidTooltipDisabled"
            [tooltipContentTemplate]="invalidTooltipContentTemplate"
            (click)="inputElement.focus()"
          >
            <pupa-icon class="pupa-input-icon_invalid" name="app-error-filled"></pupa-icon>
          </pupa-icon-holder>
        </div>
      </div>
    </pupa-droppable-trigger>

    <pupa-droppable-native-content>
      <pupa-date-picker
        *ngIf="droppable.isOpened"
        [selectedDate]="date$ | async"
        [selectionMode]="'date'"
        [isBackDating]="isBackDating$ | async"
        [availableEndDate]="availableEndDate$ | async"
        [availableStartDate]="availableStartDate$ | async"
        [hours]="hours$ | async"
        [minutes]="minutes$ | async"
        [defaultTime]="defaultTime"
        (selectedHours)="selectDateTimeHours($event)"
        (selectedMinutes)="selectDateTimeMinutes($event)"
        (click)="handleFocusEvent($event)"
        (date)="selectDate($event)"
        [previewMode]="'simple-time'"
      ></pupa-date-picker>
    </pupa-droppable-native-content>
  </pupa-droppable>
</div>
