<h1>
  Chip button
</h1>
<div class="group">
  <div>
    <pupa-chip-button>Sample chip button</pupa-chip-button>
  </div>
  <div>
    <pupa-chip-button>Sample chip button<ion-icon name="close-circle"></ion-icon></pupa-chip-button>
  </div>
  <div>
    <pupa-chip-button
      >Sample chip button text, text, text, text, text, text, text, text, text <ion-icon name="help-circle"></ion-icon
    ></pupa-chip-button>
  </div>
  <div>
    <pupa-chip-button [disabled]="true">Sample chip button<ion-icon name="close-circle"></ion-icon></pupa-chip-button>
  </div>
</div>
