<ng-container [ngSwitch]="datePickerPreviewMode$ | async">
  <ng-container *ngSwitchCase="datePickerPreviewMode.Years" [ngTemplateOutlet]="yearsTemplate"></ng-container>
  <ng-container *ngSwitchCase="datePickerPreviewMode.Months" [ngTemplateOutlet]="monthsTemplate"></ng-container>
  <ng-container *ngSwitchDefault [ngTemplateOutlet]="datesTemplate"></ng-container>
</ng-container>

<ng-template #datesTemplate>
  <ng-container [ngTemplateOutlet]="headerDatesTemplate"></ng-container>

  <div class="date-picker__week-days">
    <span class="week-day" *ngFor="let dayName of weekDayNames">
      {{ dayName }}
    </span>
  </div>

  <div class="date-picker__wrapper">
    <ng-container
      [ngTemplateOutlet]="dateButton"
      [ngTemplateOutletContext]="{
        dateOrigin: primarySectionLeftOffsetDates$ | async,
        disabled: true
      }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="dateButton"
      [ngTemplateOutletContext]="{
        dateOrigin: primarySectionDates$ | async,
        disabled: false
      }"
    ></ng-container>

    <ng-container
      [ngTemplateOutlet]="dateButton"
      [ngTemplateOutletContext]="{
        dateOrigin: primarySectionRightOffsetDates$ | async,
        disabled: true
      }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #yearsTemplate>
  <ng-container [ngTemplateOutlet]="headerYearsTemplate"></ng-container>
  <div class="date-picker__wrapper">
    <pupa-date-picker-years
      [years]="primarySectionYears$ | async"
      (selectedYear)="switchToYear($event)"
    ></pupa-date-picker-years>
  </div>
</ng-template>

<ng-template #monthsTemplate>
  <ng-container [ngTemplateOutlet]="headerMonthsTemplate"></ng-container>
  <div class="date-picker__wrapper">
    <pupa-date-picker-months (selectedMonth)="switchToMonth($event)"></pupa-date-picker-months>
  </div>
</ng-template>

<ng-template #dateButton let-dateOrigin="dateOrigin" let-disabled="disabled">
  <div
    class="date-wrapper"
    *ngFor="let date of dateOrigin; index as index; last as last; first as first"
    [class.date-wrapper__disabled]="
      disabled ||
      dateIsNotAvailable(date, isBackDating$ | async, availableStartDate$ | async, availableEndDate$ | async)
    "
    [class.date-wrapper__range]="
      !disabled &&
      !(isSelectionModeDate$ | async) &&
      (dateIsInDateRange(date, selectedRange$ | async) || dateIsInDateRange(date, hoveredRange$ | async))
    "
    [class.date-wrapper__first]="!disabled && first"
    [class.date-wrapper__last]="!disabled && last"
  >
    <div
      class="date"
      [class.date__range-start]="
        isDateStartInHoveredAndSelectedRange(date, hoveredRange$ | async, selectedRange$ | async)
      "
      [class.date__range-end]="isDateEndInHoveredAndSelectedRange(date, hoveredRange$ | async, selectedRange$ | async)"
      (mouseover)="processDateHover(date)"
      (click)="processDateSelection(date)"
    >
      <div
        class="date-inner"
        [class.date-inner__selected]="
          (isSelectionModeDate$ | async)
            ? isSameDate(date, selectedDate$ | async)
            : dateIsInDateArray(date, selectedRange$ | async)
        "
        [class.date-inner__disabled]="
          disabled ||
          dateIsNotAvailable(date, isBackDating$ | async, availableStartDate$ | async, availableEndDate$ | async)
        "
      >
        {{ date | date : 'd' }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #headerDatesTemplate>
  <div class="date-picker__header">
    <button
      class="arrow-button"
      [class.not-showing]="isRightDoubleDatePicker$ | async"
      (click)="switchToPreviousMonth()"
    >
      <pupa-icon name="ios-arrow-back"></pupa-icon>
    </button>
    <span class="title">
      <div
        class="title__month"
        [class.disable-hover]="isDatePickerDoubleModeEnabled$ | async"
        (click)="switchDatePickerPreviewMode(datePickerPreviewMode.Months)"
      >
        {{ primarySectionStartDate$ | async | date : 'LLLL' | titlecase }}
      </div>
      &nbsp;&nbsp;
      <div
        class="title__year"
        [class.disable-hover]="isDatePickerDoubleModeEnabled$ | async"
        (click)="switchDatePickerPreviewMode(datePickerPreviewMode.Years)"
      >
        {{ primarySectionStartDate$ | async | date : 'yyy' | titlecase }}
      </div>
    </span>
    <button class="arrow-button" [class.not-showing]="isLeftDoubleDatePicker$ | async" (click)="switchToNextMonth()">
      <pupa-icon name="ios-arrow-forward"></pupa-icon>
    </button>
  </div>
</ng-template>

<ng-template #headerYearsTemplate>
  <div class="date-picker__header">
    <button class="arrow-button" (click)="switchToPreviousYearsPeriod()">
      <pupa-icon name="ios-arrow-back"></pupa-icon>
    </button>
    <span class="title selected">
      <div class="title__year">
        {{ primarySectionYearsStartYear$ | async }}
      </div>
      &nbsp;-&nbsp;
      <div class="title__year">
        {{ primarySectionYearsEndYear$ | async }}
      </div>
    </span>
    <button class="arrow-button" (click)="switchToNextYearsPeriod()">
      <pupa-icon name="ios-arrow-forward"></pupa-icon>
    </button>
  </div>
</ng-template>

<ng-template #headerMonthsTemplate>
  <div class="date-picker__header">
    <button class="arrow-button" (click)="switchToPreviousYear()">
      <pupa-icon name="ios-arrow-back"></pupa-icon>
    </button>
    <span class="title selected">
      <div class="title__year">
        {{ baseYear$ | async }}
      </div>
    </span>
    <button class="arrow-button" (click)="switchToNextYear()">
      <pupa-icon name="ios-arrow-forward"></pupa-icon>
    </button>
  </div>
</ng-template>
