@use 'functions' as *;

:host {
  $sidePadding: 1.5rem;
  position: absolute;
  user-select: none;
  width: 1px;
  height: 100%;
  background-color: rgba(var(--semantic-color_lines-normal), var(--semantic-color-alpha_lines-normal));
  background-clip: content-box;
  box-sizing: content-box;
  padding: 0 $sidePadding;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  z-index: 3;
  right: -$sidePadding;

  &.height {
    cursor: row-resize;
    position: absolute;
    padding: $sidePadding 0;
    user-select: none;
    width: 100%;
    height: 1px;
    bottom: -$sidePadding;
    left: 0;

    &.active {
      width: 100%;
      height: 0.5rem;
    }
  }

  &.active {
    width: 0.5rem;
    background-color: semantic-color(kind-primary-normal);
    transition-delay: 0.1s;
  }
}
