<pupa-popover-layout>
  <pupa-popover-layout-header>
    <pupa-popover-layout-title>Mobile only title</pupa-popover-layout-title>
    <pupa-popover-layout-close-button>
      <pupa-button-icon kind="secondary" icon="app-cross" size="s"></pupa-button-icon>
    </pupa-popover-layout-close-button>
  </pupa-popover-layout-header>
  <pupa-popover-layout-body>{{ title }}</pupa-popover-layout-body>
  <pupa-popover-layout-footer>
    <pupa-popover-layout-action value="submit">
      <pupa-button (click)="buttonClick()" size="s">Submit</pupa-button>
    </pupa-popover-layout-action>
    <pupa-popover-layout-action value="close">
      <pupa-button kind="secondary" size="s">Cancel</pupa-button>
    </pupa-popover-layout-action>
  </pupa-popover-layout-footer>
</pupa-popover-layout>
