<pupa-calendar-header class="header">
  <div class="header__content">
    <h4 class="header__title">
      {{ headerTitle$ | async }}
    </h4>
    <div class="year-label">{{ currentYearInScroll$ | async }}</div>
  </div>
</pupa-calendar-header>

<div class="scroller-wrapper">
  <pupa-scrollable>
    <cdk-virtual-scroll-viewport
      pupaScrollableContent
      class="scroller"
      [itemSize]="itemHeight"
      *pupaLet="monthNameByIndex$ | async as monthNameByIndex"
    >
      <div class="scroller__item" *cdkVirtualFor="let item of items; templateCacheSize: 10; let isLast = last">
        <div class="scroller__divider"></div>
        <div class="year-table">
          <div class="year-table__month" *ngFor="let month of item.months">
            <pupa-button
              class="year-table__month-btn"
              *pupaLet="{month, year: item.year} | isCurrentCalendarMonth as isCurrent"
              (click)="selectMonth(item.year, month)"
              [kind]="isCurrent ? 'border' : 'secondary'"
            >
              {{ monthNameByIndex[month] }}
            </pupa-button>
          </div>
        </div>
        <ng-container *ngIf="!isLast">
          <div class="scroller__divider"></div>
          <div class="year-label">{{ item.year + 1 }}</div>
        </ng-container>
      </div>
    </cdk-virtual-scroll-viewport>
  </pupa-scrollable>
</div>
