<h1>Day selector</h1>

<demo-page>
  <demo-example-viewer-section *demoPageTab="'overview'">
    <h2>Plain selector example</h2>
    <pupa-code-container [content]="plainDemoDaySelectorExample">
      <demo-plain-day-selector-example *pupaCodeContainerPreviewTemplate></demo-plain-day-selector-example>
    </pupa-code-container>

    <h2>Items size example</h2>
    <pupa-code-container [content]="itemSizeDaySelectorExample">
      <demo-item-size-day-selector-example *pupaCodeContainerPreviewTemplate></demo-item-size-day-selector-example>
    </pupa-code-container>

    <h2>Locale example</h2>
    <pupa-code-container [content]="localeDaySelectorExample">
      <demo-locale-day-selector-example *pupaCodeContainerPreviewTemplate></demo-locale-day-selector-example>
    </pupa-code-container>
  </demo-example-viewer-section>

  <demo-example-viewer-section *demoPageTab="'api'">
    <demo-example-viewer-content>
      <pupa-day-selector [formControl]="formControl" [size]="size.value"></pupa-day-selector>
    </demo-example-viewer-content>

    <h2>Properties</h2>
    <demo-example-viewer-property name="size" decoratorName="input" type="DaySelectorSize">
      <ng-template demoExampleViewerPropertyDescription> Change size of day selector elements </ng-template>

      <pupa-select class="select" [formControl]="size">
        <pupa-select-trigger>
          {{ size.value }}
        </pupa-select-trigger>

        <pupa-select-dropdown>
          <pupa-select-option *ngFor="let value of ['small', 'medium']" [value]="value">{{ value }}</pupa-select-option>
        </pupa-select-dropdown>
      </pupa-select>
    </demo-example-viewer-property>

    <demo-example-viewer-property name="locale" decoratorName="input" type="string">
      <ng-template demoExampleViewerPropertyDescription>
        Set locale of selector items. Locale value is one of keys of translates object in DaySelectorConfig.
      </ng-template>
    </demo-example-viewer-property>

    <h2>Constants</h2>
    <demo-example-viewer-config-item name="DAY_SELECTOR_CONFIG_TOKEN: DaySelectorConfig">
      <ng-template demoExampleViewerConfigItemDescription>
        Injection token that can be used to provide the default options for day-selector element.
      </ng-template>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>
</demo-page>
