@use 'demo/styles/demo-functions' as *;

@import 'themes/functions';
@import 'demo/styles/demo-variables';
@import 'mixins';
@import 'functions';

.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  position: relative;
  min-height: calc(100vh - #{$navbar-height});
  margin-top: $navbar-height;
}

.side-nav {
  margin-top: $navbar-height;

  color: #616161;

  border-right: 1px solid get-map-field($theme-config, [light, body, border-color]);
  @include host-selector-dark-theme() {
    border-right: 1px solid get-map-field($theme-config, [dark, body, border-color]);
  }

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  height: calc(100% - #{$navbar-height});
  z-index: 11;

  @include grid-size($xs: $xsColumnsCount, $sm: $smColumnsCount, $md: 4, $lg: 4, $xlg: 3, $xl: 3, $xxl: 4);

  @include lt-md() {
    display: none;
  }
}

.content-wrapper {
  flex: 1;
  overflow: auto;
  @include grid-container-offset('padding-left');
  @include grid-container-offset('padding-right');

  background-color: get-map-field($theme-config, [ 'light', 'body', background-color]);
  color: get-map-field($theme-config, [ 'light', 'body', font-color]);

  @include host-selector-dark-theme() {
    background-color: get-map-field($theme-config, [ 'dark', 'body', background-color]);
    color: get-map-field($theme-config, [ 'dark', 'body', font-color]);
  }
}

.content {
  @include grid-offset($xs: 0, $sm: 0, $md: 4, $lg: 4, $xlg: 3, $xl: 3, $xxl: 4);
}
