@import 'themes/functions';
@import 'demo/styles/variables';
@import 'mixins';
@import 'functions';

@include scrollbar();

.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  position: relative;
  min-height: calc(100vh - #{$navbar-height});
  margin-top: $navbar-height;
}

.side-nav {
  margin-top: $navbar-height;

  color: #616161;
  box-shadow: 5px 0 19px 0 #d3d3d35e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  background-color: color(white);

  height: calc(100% - #{$navbar-height});
  z-index: 11;

  @include grid-size($xs: $xsColumnsCount, $sm: $smColumnsCount, $md: 4, $lg: 4, $xlg: 3, $xl: 3, $xxl: 4);

  @include lt-md() {
    display: none;
  }
}

.content-wrapper {
  flex: 1;
  overflow: auto;
  @include grid-container-offset('padding-left');
  @include grid-container-offset('padding-right');
}

.content {
  @include grid-offset($xs: 0, $sm: 0, $md: 4, $lg: 4, $xlg: 3, $xl: 3, $xxl: 4);
}
