@use 'functions';
@use 'mixins';

.pupa-control-text {
  height: auto;
  min-height: 4.5rem;
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: functions.semantic-color(text-primary);
  @include mixins.font-type-regular;

  &_error {
    color: functions.semantic-color(kind-danger-normal);
  }
}
