$fontSizeXXS: 10;
$lineHeightXXS: 12;

$fontSizeXS: 11;
$lineHeightXS: 16;

$fontSizeS: 12;
$lineHeightS: 16;

$fontSizeM: 14;
$lineHeightM: 16;

$fontSizeL: 17;
$lineHeightL: 24;

$fontSizeDesktopXL: 21;
$lineHeightDesktopXL: 28;
$fontSizeMobileXL: 17;
$lineHeightMobileXL: 24;

$fontSizeDesktopXXL: 24;
$lineHeightDesktopXXL: 32;
$fontSizeMobileXXL: 20;
$lineHeightMobileXXL: 28;
