$fontSizeExtraSmall: 10;
$lineHeightExtraSmall: 12;
$lineHeightExtraSmallParagraph: 14;

$fontSizeMark: 12;
$lineHeightMark: 14;
$lineHeightMarkParagraph: 16;

$fontSizeSmall: 14;
$lineHeightSmall: 16;
$lineHeightSmallParagraph: 20;

$fontSizeMedium: 16;
$lineHeightMedium: 20;
$lineHeightMediumParagraph: 24;

$fontSizeLargeDesktop: 20;
$fontSizeLargeMobile: 16;
$lineHeightLargeDesktop: 24;
$lineHeightLargeMobile: 20;
$lineHeightLargeParagraphDesktop: 28;
$lineHeightLargeParagraphMobile: 24;

$fontSizeHeaderDesktop: 24;
$fontSizeHeaderMobile: 20;
$lineHeightHeaderDesktop: 28;
$lineHeightHeaderMobile: 24;
$lineHeightHeaderParagraphDesktop: 36;
$lineHeightHeaderParagraphMobile: 28;
