@use './../functions/color.function' as *;

$input_light_styles: (
  input: (
    color: color(neutral-1000),
    caret-color: color(neutral-1000),
    background-color: color(neutral-5),
    placeholder: (
      color: color(neutral-1000),
    ),
  ),
  hover: (
    background-color: color(neutral-6),
  ),
  disabled: (
    color: color(neutral-50),
    background-color: color(neutral-5),
    placeholder: (
      color: color(neutral-50),
    ),
  ),
  invalid: (
    border-color: color(danger-400),
  ),
  focus: (
    background-color: color(neutral-5),
    placeholder: (
      color: color(neutral-50),
    ),
  ),
  active: (
    background-color: color(neutral-7),
  ),
);

$input_dark_styles: (
  input: (
    color: color(neutral-1),
    caret-color: color(neutral-1),
    background-color: color(neutral-500),
    placeholder: (
      color: color(neutral-1),
    ),
  ),
  hover: (
    background-color: color(neutral-600),
  ),
  disabled: (
    color: color(neutral-60),
    background-color: color(neutral-500),
    placeholder: (
      color: color(neutral-60),
    ),
  ),
  invalid: (
    border-color: color(danger-400),
  ),
  focus: (
    background-color: color(neutral-500),
    placeholder: (
      color: color(neutral-60),
    ),
  ),
  active: (
    background-color: color(neutral-700),
  ),
);
