@use './../functions/color.function' as *;

$input_light_styles: (
  input: (
    color: color(neutral-1000),
    caret-color: color(neutral-1000),
    background-color: color(base-white-n500),
    placeholder: (
      color: color(neutral-1000),
    ),
  ),
  hover: (
    background-color: color(base-white-n400),
  ),
  disabled: (
    color: color(base-white-n250),
    background-color: color(base-white-n500),
    placeholder: (
      color: color(base-white-n250),
    ),
  ),
  invalid: (
    border-color: color(red-n400),
  ),
  focus: (
    background-color: color(base-white-n500),
    placeholder: (
      color: color(base-white-n275),
    ),
  ),
  active: (
    background-color: color(base-white-n300),
  ),
);

$input_dark_styles: (
  input: (
    color: color(neutral-1),
    caret-color: color(neutral-1),
    background-color: color(base-dark-n500),
    placeholder: (
      color: color(neutral-1),
    ),
  ),
  hover: (
    background-color: color(base-dark-n400),
  ),
  disabled: (
    color: color(base-dark-n250),
    background-color: color(base-dark-n500),
    placeholder: (
      color: color(base-dark-n250),
    ),
  ),
  invalid: (
    border-color: color(red-n400),
  ),
  focus: (
    background-color: color(base-dark-n500),
    placeholder: (
      color: color(base-dark-n275),
    ),
  ),
  active: (
    background-color: color(base-dark-n300),
  ),
);
