<h1>Chip tabs</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-chip-tabs
      (selectedTabValues)="handleTabSelection($event)"
      [isMultiSelectionEnabled]="isMultiSelectionEnabled$ | async"
    >
      <pupa-chip-tabs-item
        *ngFor="let tab of tabs"
        [isActive]="tabIsActive(tab.value, activeValues$ | async)"
        [value]="tab.value"
      >
        {{ tab.name }}
      </pupa-chip-tabs-item>
    </pupa-chip-tabs>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Properties</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-property decoratorName="input" name="isMultiSelectionEnabled" type="boolean">
      <ng-container *demoExampleViewerPropertyDescription>Whether the multi selection is enabled.</ng-container>
      <demo-props-switcher #isMultiSelectionEnabled$></demo-props-switcher>
    </demo-example-viewer-property>
  </demo-example-viewer-section>
</demo-example-viewer>
