<pupa-search-field [formControl]="searchControl" [placeholder]="'Type something...'"> </pupa-search-field>

<div class="table">
  <pupa-table [controller]="controller">
    <pupa-table-column-template columnType="name">
      <pupa-table-body-cell *pupaTableBodyCellTemplate="let row; typeFrom: rowType" [clickable]="true">
        <span [pupaHighlight]="searchControl.value" pupaHighlightKind="danger">{{ row.data.firstName }}</span>
      </pupa-table-body-cell>
      <pupa-table-body-cell *pupaTableBodyCellTemplate="let row; typeFrom: rowType" [clickable]="true">
        <span [pupaHighlight]="searchControl.value">{{ row.data.lastName }}</span>
      </pupa-table-body-cell>
    </pupa-table-column-template>
    <pupa-table-column-template columnType="city">
      <pupa-table-body-cell *pupaTableBodyCellTemplate="let row; typeFrom: rowType" [clickable]="true">
        <span [pupaHighlight]="searchControl.value">{{ row.data.city }}</span>
      </pupa-table-body-cell>
    </pupa-table-column-template>
    <pupa-table-column-template columnType="age">
      <pupa-table-body-cell *pupaTableBodyCellTemplate="let row; typeFrom: rowType" [clickable]="true">
        <span [pupaHighlight]="searchControl.value">{{ row.data.age }}</span>
      </pupa-table-body-cell>
    </pupa-table-column-template>
  </pupa-table>
</div>
