@use 'demo-variables' as *;

@use 'mixins' as *;
@use 'functions' as *;

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;

  &__button {
    display: inline-flex;
  }
}
