<h1>Radio buttons</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-radio-group [formControl]="formControl">
      <pupa-radio-control [value]="1">
        <pupa-radio-control-marker></pupa-radio-control-marker>
        <pupa-radio-control-label>Option 1</pupa-radio-control-label>
      </pupa-radio-control>

      <pupa-radio-control [value]="2">
        <pupa-radio-control-marker></pupa-radio-control-marker>
        <pupa-radio-control-label>Option 2</pupa-radio-control-label>
      </pupa-radio-control>

      <pupa-radio-control [value]="3">
        <pupa-radio-control-marker></pupa-radio-control-marker>
        <pupa-radio-control-label>Option 3</pupa-radio-control-label>
      </pupa-radio-control>
    </pupa-radio-group>
  </demo-example-viewer-content>

  <demo-example-viewer-section-label>Configuration</demo-example-viewer-section-label>
  <demo-example-viewer-section>
    <demo-example-viewer-config-item name="Set form control to disabled state">
      <demo-props-form-control-disabled [control]="formControl"></demo-props-form-control-disabled>
      <ng-container *demoExampleViewerConfigItemDescription>
        Use
        <pupa-code-inline>formControl.disable()</pupa-code-inline>
      </ng-container>
    </demo-example-viewer-config-item>
  </demo-example-viewer-section>
</demo-example-viewer>
