@use 'functions' as *;
@use 'mixins' as *;

.theme-toggle {
  cursor: pointer;
  color: semantic-color(icons-primary);

  appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  user-select: none;
}
