@use 'functions' as *;
@use 'mixins' as *;

.theme-toggle {
  cursor: pointer;
  color: color(neutral-1000);

  appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  user-select: none;

  @include host-selector-dark-theme() {
    color: color(neutral-5);
  }
}
