@use 'functions' as *;

@mixin action {
  display: block;
  text-align: center;
  padding: 1rem 0;
  box-sizing: border-box;
  border-right: 1px solid color(neutral-60);
  padding-right: 2rem;
}

.action {
  @include action();
  margin-right: 2rem;
}
