@use 'functions';
@use 'mixins';

.pupa-switcher {
  position: relative;
  background-color: functions.semantic-color(kind-opacity-active);
  display: flex;
  align-items: center;

  border-radius: 25rem;
  padding: 0 0.5rem;

  box-sizing: border-box;
  transition: background-color functions.variable(transition-duration_shorter)
    functions.variable(transition-timing-function_common);
  outline: none;
  cursor: pointer;

  &__marker {
    background-color: functions.semantic-color(surface-primary);
    border-radius: 50%;
    box-shadow: 0 0 1rem functions.semantic-color(kind-opacity-normal);

    transition: transform functions.variable(transition-duration_shorter)
        functions.variable(transition-timing-function_common),
      background-color functions.variable(transition-duration_shorter)
        functions.variable(transition-timing-function_common);
    transform: translateX(0);
    will-change: transform;
  }

  &_active {
    background-color: functions.semantic-color(kind-primary-normal);

    .pupa-switcher__marker {
      transform: translateX(100%);
    }
  }

  &:after {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    content: '';
    border-radius: 25rem;
    border: 0.5rem solid transparent;

    pointer-events: none;
  }

  &:not(.pupa-switcher_disabled) {
    @include mixins.hover() {
      &.pupa-switcher_active {
        background-color: functions.semantic-color(kind-primary-hover);
      }
      background-color: functions.semantic-color(kind-neutral-hover);
    }

    &:focus-visible {
      outline: none;

      &:after {
        border-color: functions.semantic-color(lines-accent);
      }
    }
  }

  &_disabled {
    background-color: functions.semantic-color(kind-opacity-active);
    cursor: not-allowed;

    .pupa-switcher__marker {
      background-color: functions.semantic-color(icons-disabled);
    }
  }
}

// sizes
.pupa-switcher {
  &_medium {
    width: 9rem;
    height: 5rem;

    .pupa-switcher__marker {
      width: 4rem;
      height: 4rem;
    }
  }

  &_small {
    width: 7rem;
    height: 4rem;

    .pupa-switcher__marker {
      width: 3rem;
      height: 3rem;
    }
  }
}
