<ng-container
  [ngTemplateOutlet]="template"
  [ngTemplateOutletContext]="{
    isDisabled: isDisabled$ | async,
    isSelected: isSelected$ | async,
    labelSize: labelSize$ | async,
    isWithLabel: isWithLabel$ | async
  }"
>
</ng-container>

<ng-template
  #template
  let-isDisabled="isDisabled"
  let-isSelected="isSelected"
  let-labelSize="labelSize"
  let-isWithLabel="isWithLabel"
>
  <section
    class="pupa-radio-image-control"
    [tabindex]="tabindex"
    [class.pupa-radio-image-control_disabled]="isDisabled"
    [class.pupa-radio-image-control_selected]="isSelected"
    [class.pupa-radio-image-control_without-label]="!isWithLabel"
    (keydown.enter)="processClick()"
  >
    <div class="pupa-radio-image-control-label-container">
      <div class="pupa-radio-image-control-marker-wrapper">
        <div
          class="pupa-radio-image-control-marker"
          [class.pupa-radio-image-control-marker_selected]="isSelected"
          [class.pupa-radio-image-control-marker_disabled]="isDisabled"
        >
          <div class="pupa-radio-image-control-marker__dot"></div>
        </div>
      </div>
      <div
        class="pupa-radio-image-control-label"
        [class.pupa-radio-image-control-label_selected]="isSelected"
        [class.pupa-radio-image-control-label_disabled]="isDisabled"
        [class.pupa-radio-image-control-label_small]="labelSize === 'small'"
        [class.pupa-radio-image-control-label_hidden]="!isWithLabel"
      >
        <ng-content></ng-content>
        <ng-container [ngTemplateOutlet]="radioIconDirective?.templateRef"></ng-container>
      </div>
    </div>
    <div
      class="pupa-radio-image-control-image"
      [class.pupa-radio-image-control-image_selected]="isSelected"
      [class.pupa-radio-image-control-image_disabled]="isDisabled"
    >
      <ng-container [ngTemplateOutlet]="radioImageDirective?.templateRef"></ng-container>
    </div>
  </section>
</ng-template>
