<div class="table">
  <pupa-table [controller]="controller">
    <!-- columnType = TableColumnDefinition.type-->
    <pupa-table-column-template columnType="name">
      <div class="name-header-cell" *pupaTableHeaderCellTemplate="let column">
        <span *ngIf="column.isHovered$ | async">👻</span>
        {{ column.definition.title }}
      </div>

      <div class="name-body-cell" *pupaTableBodyCellTemplate="let row; let column = column; typeFrom: rowType">
        <span *ngIf="row.isHovered$ | async">🤡</span>
        <span *ngIf="column.isHovered$ | async">👻</span>
        {{ row.data[column.definition.modelKey] }}
      </div>
    </pupa-table-column-template>

    <!-- header cell template only-->
    <pupa-table-column-template columnType="city">
      <div *pupaTableHeaderCellTemplate="let column">
        <pupa-table-header-cell [column]="column">
          {{ column.definition.title }}
        </pupa-table-header-cell>
      </div>
    </pupa-table-column-template>

    <!-- body cell template only-->
    <pupa-table-column-template columnType="age">
      <pupa-table-body-cell *pupaTableBodyCellTemplate="let row; typeFrom: rowType" [clickable]="true">
        <span *ngIf="row.isHovered$ | async">🤡</span> {{ row.data.age }}
      </pupa-table-body-cell>
    </pupa-table-column-template>
  </pupa-table>
</div>
