<div
  *pupaLet="
    { isSortable: isSortable$ | async, isIconVisible: isIconVisible$ | async };
    let isSortable = isSortable;
    let isIconVisible = isIconVisible
  "
  class="pupa-header-cell"
  [class.pupa-header-cell_sortable]="isSortable"
  [class.pupa-header-cell_sortable-with-icon]="isSortable && isIconVisible"
  [class.pupa-header-cell_dnd-clone]="isDndClone"
  [class.pupa-header-cell_current-draggable]="isCurrentDraggable$ | async"
>
  <span class="pupa-header-cell__text"> <ng-content></ng-content> </span>

  <div class="pupa-header-cell__sort-wrapper" *ngIf="isSortable && isIconVisible">
    <span class="pupa-header-cell__sort">
      <pupa-icon [name]="iconName$ | async"></pupa-icon>
    </span>
  </div>
</div>
