@use 'mixins';
@use 'functions';

:host {
  display: block;
  max-width: var(--tabs-item_max-width, 48rem);
  outline: none;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.pupa-tabs-item {
  min-width: 1rem;
  max-width: inherit;
  color: functions.semantic-color(text-primary);
  box-sizing: border-box;
  padding: 0 3rem 4rem;
  cursor: pointer;
  user-select: none;

  &:not(&_disabled) {
    @include mixins.hover {
      color: functions.semantic-color(kind-primary-hover);
    }
  }

  &_active {
    color: functions.semantic-color(kind-primary-normal);
  }

  &_disabled {
    cursor: not-allowed;
    color: functions.semantic-color(text-disabled);
  }

  &_grabbing {
    cursor: grabbing;
  }

  @include mixins.ellipsis-text-overflow;

  @include mixins.font-preset-caption-s();
}
