@use 'mixins' as *;
@use 'functions' as *;

:host {
  display: block;
  max-width: var(--tabs-item_max-width, 48rem);
  outline: none;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.tabs-item {
  min-width: 1rem;
  max-width: inherit;
  color: semantic-color(text-primary);
  box-sizing: border-box;
  padding: 0 3rem 4rem;
  cursor: pointer;
  user-select: none;

  &:not(&_disabled) {
    @include hover {
      color: semantic-color(kind-primary-hover);
    }
  }

  &_active {
    color: semantic-color(kind-primary-normal);
  }

  &_disabled {
    cursor: not-allowed;
    color: semantic-color(text-disabled);
  }

  &_grabbing {
    cursor: grabbing;
  }

  @include ellipsis-text-overflow;

  @include font-preset-caption-s();
}
