@use 'functions';

:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  color: functions.semantic-color(text-primary);
  --pupa-scrollable-content_padding: 0 5rem;
}

.pupa-modal-layout-body {
  flex: 1;
  overflow: hidden;

  &__scrollable-content {
    padding: 3.5rem 0 5rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    --pupa-scrollable-content_padding: initial;
  }
}

:host-context(.pupa-modal-layout_no-border) {
  .pupa-modal-layout-body__scrollable-content {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }
}

:host-context(.pupa-modal-layout_no-header) {
  .pupa-modal-layout-body__scrollable-content {
    padding-top: 5rem;
  }
}

:host-context(.pupa-modal-layout_no-footer) {
  .pupa-modal-layout-body__scrollable-content {
    padding-bottom: 5rem;
  }
}
