@use 'functions' as *;
@use 'mixins' as *;

:host {
  display: flex;
  width: calc(100% + 5rem);
  height: 100%;
  overflow: hidden;
  padding-top: 3rem;

  color: color(neutral-1000);

  @include host-selector-dark-theme {
    color: color(neutral-1);
  }

  @include xs() {
    width: 100%;
    padding-top: 2rem;
  }
}

.modal-layout-body {
  flex: 1;
  overflow: hidden;

  &__scrollable-content {
    box-sizing: border-box;
    padding: 1rem 0 10rem;
    @include xs() {
      padding: 1rem 5rem 8rem;
    }
  }
}

:host-context(.modal-layout_no-footer) {
  .modal-layout-body__scrollable-content {
    padding-bottom: 12rem;
  }
}
:host-context(.modal-layout_no-title) {
  .modal-layout-body__scrollable-content {
    padding-top: 0;
  }
}

.modal-layout-body__content-container {
  width: calc(100% - 5rem);
  @include xs() {
    width: calc(100% - 1.5rem);
  }
}
