<div class="button-container">
  <pupa-button-icon class="button-container__item" icon="app-folder" size="xl"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" size="l"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" size="m"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" size="s"></pupa-button-icon>
  <pupa-button-icon class="button-container__item" icon="app-folder" size="xs"></pupa-button-icon>
</div>
