@use 'mixins' as *;
@use 'variables' as *;
@use 'sass:map';

:host {
  display: block;
}

.modal-close-button {
  display: none;

  &_mobile {
    @include xs() {
      display: block;
    }
  }

  &_desktop {
    @include gt-xs() {
      display: block;
    }
  }

  &_all {
    display: block;
  }
}
