@use 'functions' as *;

:host {
  display: flex;
  width: fit-content;
}

.progress-bar {
  transform-origin: center center;
  transform: scale(1, -1);

  &__main-circle {
    stroke: color(primary-50);
  }

  &__progress-circle {
    stroke: color(primary-500);
  }
}
