@use 'sass:map';
@import './../../functions';
@import './../functions';

$colors: (
  'main': #2a2a2a,
  'main-dark': #202020,
  'active': #525252,
  'light': #ececec,
  'success': #00c902,
  'alert': #ffc009,
  'error': #ff0000,
  'text': #1f1f1f,
  'grey-light': #797979,
  'grey-ivory': #a6a6a6,
  'grey-apple': #d2d2d2,
  'white': #ffffff,
  'black': #000000,
  'pale-blue': #ececec,
  'cadet-blue': #626262,
  'cadet-blue-light': #e0eaf5,
  'dark-overlay': rgba(0, 0, 0, 0.82)
);

$font-size: (
  /* 1 rem (1 px = 0,0625 rem) - do not use! */ 'font-size_root': 16px,
  /* 14 px */ 'font-size_base-text': rems(0.875),
  /* 32 px */ 'font-size_h1': rems(2),
  /* 24 px */ 'font-size_h2': rems(1.5),
  /* 21 px */ 'font-size_h3': rems(1.3125),
  /* 18 px */ 'font-size_h4': rems(1.125),
  /* 14 px */ 'font-size_h5': rems(0.875)
);

$line-height: (
  /* 18 px */ 'line-height_base-text': rems(1.125),
  /* 36 px */ 'line-height_h1': rems(2.25),
  /* 26 px */ 'line-height_h2': rems(1.625),
  /* 28 px */ 'line-height_h3': rems(1.75),
  /* 28 px */ 'line-height_h4': rems(1.75),
  /* 16 px */ 'line-height_h5': rems(1)
);

$variables: (
  'border-radius_controls-large': rems(2),
  'border-radius_controls-medium': rems(1.7),
  'border-radius_controls-small': rems(1),
  'padding_body': 0,
  'margin_body': 0,
  'box-shadow_hover': 0 rems(0.5) rems(1) 0 rgba(0, 0, 0, 0.2),
  'transition-duration_common': 0.3s,
  'transition-timing-function_common': ease,
  'opacity_hovered-button': 0.1
);

@include generate-css-variables($colors, merge-variables-maps($font-size, $line-height, $variables));
