<pupa-stepper-container>
  <pupa-stepper>
    <pupa-stepper-item name="step1">Step 1</pupa-stepper-item>
    <pupa-stepper-item name="step2">Step with very large content 2 Step with very large content 2</pupa-stepper-item>
  </pupa-stepper>

  <pupa-stepper-content [destroyable]="false">
    <div class="step" *pupaStepperItemContentTemplate="'step1'">Step 1 content</div>

    <div class="step" *pupaStepperItemContentTemplate="'step2'">Step 2 content</div>
  </pupa-stepper-content>
</pupa-stepper-container>
