@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

$color-block_width: 34rem;
$alpha-value_width: 30rem;
$semantic-configuration_width: 75rem;

:host {
  display: block;
}

.description {
  margin-top: 10rem;
  margin-bottom: 14rem;
}

.last-point {
  margin-bottom: 14rem;
}

.colors-demo {
  &__group {
    margin-bottom: 10rem;
  }

  &__list {
    box-sizing: border-box;
    padding-top: 4rem;
    @include flex-container(row);
    flex-wrap: wrap;
  }
}

.color {
  position: relative;
  box-sizing: border-box;
  padding: 4rem;
  color: color(neutral-1);

  @include font-preset-caption-s;

  transition: transform 0.15s;

  width: $color-block_width;

  &_inverted {
    color: color(neutral-1000);
  }

  &__name {
    @include font-size-m;
    @include font-type-medium;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  &__key {
    margin-bottom: 8rem;
    cursor: pointer;
  }

  &__value {
    margin-bottom: 1rem;
    cursor: pointer;

    &-name {
      opacity: 0.6;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.alpha-values {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-bottom: 14rem;

  &__value {
    display: flex;
    justify-content: space-between;
    background-color: semantic-color(surface-tertiary);

    width: $alpha-value_width;

    padding: 3rem;
    border-radius: $controlBorderRadius;

    @include font-preset-caption-s();

    cursor: pointer;
  }
}

.semantic-colors {
  &__group {
    margin-bottom: 10rem;
  }

  &__section {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }

  &__configuration {
    width: $semantic-configuration_width;
    border: 1px solid semantic-color(lines-dark);
    border-radius: $controlBorderRadius;
    overflow: hidden;

    cursor: pointer;
  }
}

.configuration {
  display: flex;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 7rem 4rem;
    flex: 1;
  }

  &__title {
    @include font-size-m();
    @include font-type-medium;
  }

  &__description {
    display: flex;

    @include font-preset-caption-s();

    margin-top: 4rem;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__color-block {
    width: 30%;
    border-left: 1px solid semantic-color(lines-dark);
  }
}
