@use 'mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include mixins.font-preset-h4;
  line-height: 1;
  padding-right: 3.5rem;
}
