@use 'demo-variables' as *;
@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  height: 100%;
}

.sidebar-content {
  height: 100%;
  width: 100%;

  @include lt-md() {
    width: 100vw;
  }

  display: flex;
  position: relative;
  flex-direction: column;

  &__top-section {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;

    .search-field-container {
      @include grid-container-offset('padding-left');
      @include grid-container-offset('padding-right');
      padding-top: 4rem;
      padding-bottom: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
    }
  }

  &__close {
    flex-shrink: 0;
    display: block;
    @include grid-container-offset('padding-right');
  }

  .scrollable-content {
    padding-bottom: 8rem;
  }

  .links-container {
    height: 100%;
    overflow: hidden;
  }

  .empty-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);
  }

  .subheader {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 18px;
    line-height: 1.5;
    @include font-size-header;
    @include font-type-point;
    @include grid-container-offset('padding-left');
    @include grid-container-offset('padding-right');

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);

    margin-top: 8rem;

    &::after {
      content: '';
      display: block;
      width: calc(100% + 8rem);
      height: 1px;
      margin-top: 2rem;
      background-color: color(base-white-n500);

      @include host-selector-dark-theme {
        background-color: color(base-dark-n500);
      }
    }
  }

  .side-nav-item {
    display: block;
    padding: 3rem 0;
    text-decoration: none;
    box-sizing: border-box;
    @include grid-container-offset('padding-left');
    @include grid-container-offset('padding-right');

    @include font-size-small;
    @include font-type-caption;

    color: get-map-field($theme-config, [ 'light', 'body', font-color]);

    &.active,
    &:hover {
      color: color(base-n700);
      background: color(base-white-n500);
    }
  }
}

#{$darkThemeClass} {
  .sidebar-content {
    background-color: get-map-field($theme-config, [ 'dark', 'body', background-color]);

    .subheader {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);
    }

    .empty-placeholder {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);
    }

    .side-nav-item {
      color: get-map-field($theme-config, [ 'dark', 'body', font-color]);

      &.active,
      &:hover {
        color: color(base-n0);
        background: color(base-dark-n500);
      }
    }
  }
}
