<pupa-info-block variant="info">Info block</pupa-info-block>
<pupa-info-block variant="note">Note block</pupa-info-block>
<pupa-info-block variant="success">Success block</pupa-info-block>
<pupa-info-block variant="warning">Warning block</pupa-info-block>
<pupa-info-block variant="error">Error block</pupa-info-block>
<pupa-info-block
  >Lorem ipsum dolor sit, amet consectetur <pupa-code-inline>adipisicing elit</pupa-code-inline>. Eius quibusdam, id
  <strong>accusantium alias</strong> sit ipsam eum numquam quam <em>dolorem</em> ducimus labore neque, perspiciatis
  corporis asperiores consequuntur porro voluptatum aut praesentium.</pupa-info-block
>
