<pupa-info-block variant="info">Info block</pupa-info-block>
<pupa-info-block variant="note">Note block</pupa-info-block>
<pupa-info-block variant="success">Success block</pupa-info-block>
<pupa-info-block variant="warning">Warning block</pupa-info-block>
<pupa-info-block variant="error">Error block</pupa-info-block>
<pupa-info-block>
  <pupa-code-inline>JavaScript</pupa-code-inline> is a text-based programming language used both on the
  <strong>client-side and server-side</strong> that allows you to make <em>web pages interactive</em>.
</pupa-info-block>
