<pupa-modal-layout class="modal-layout">
  <pupa-modal-layout-header>
    <pupa-modal-layout-title> Modal window </pupa-modal-layout-title>
    <pupa-modal-layout-header-actions>
      <pupa-modal-layout-close-button [value]="'🤷'">
        <pupa-button-icon [kind]="'subtle'" [icon]="'app-cross'" [size]="'small'"> </pupa-button-icon>
      </pupa-modal-layout-close-button>
    </pupa-modal-layout-header-actions>
  </pupa-modal-layout-header>

  <pupa-modal-layout-body>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
    <div class="sample-content">sample content</div>
    <div>🎳</div>
  </pupa-modal-layout-body>
</pupa-modal-layout>
