<div class="indicator-container">
  <pupa-badge-indicator class="indicator-container__item" state="new"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="success"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="danger"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="warning"></pupa-badge-indicator>
  <pupa-badge-indicator class="indicator-container__item" state="loading"></pupa-badge-indicator>
</div>
<div>
  Badge with indicator example:
  <pupa-badge>
    <pupa-icon name="app-cube"></pupa-icon>
    <pupa-badge-marker [size]="'small'">
      <pupa-badge-indicator state="loading"></pupa-badge-indicator>
    </pupa-badge-marker>
  </pupa-badge>
</div>
