@use 'mixins';

:host {
  padding: 4rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.pupa-time-picker {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pupa-time-picker-header {
  @include mixins.font-preset-h5;
}
