<h1>Drawer</h1>

<demo-example-viewer>
  <demo-example-viewer-content>
    <pupa-button (click)="openDrawer()"> Open drawer </pupa-button>
  </demo-example-viewer-content>

  <demo-example-viewer-properties [formGroup]="formGroup">
    <demo-props-group-label>Float</demo-props-group-label>
    <demo-props-radio-select formControlName="float" [options]="floatOptions"></demo-props-radio-select>

    <demo-props-group-label>Other</demo-props-group-label>
    <demo-props-checkbox formControlName="hasBackdrop">Has backdrop</demo-props-checkbox>
    <demo-props-checkbox formControlName="isBackdropTransparent">Backdrop transparent</demo-props-checkbox>
    <demo-props-checkbox formControlName="closeOnBackdropClick">Close on backdrop click</demo-props-checkbox>
  </demo-example-viewer-properties>
</demo-example-viewer>
