<h1>Date + Time Pickers</h1>
<div class="group">
  <div class="column">
    <h2>Old Design</h2>
    <pupa-datepicker></pupa-datepicker>
  </div>
</div>

<div class="group">
  <div class="column">
    <h2>New Design</h2>

    <h3>New Time Picker</h3>
    <h5>Simple Input</h5>
    <pupa-input-time></pupa-input-time>
    <h5>Simple Input With Seconds</h5>
    <pupa-input-time-seconds></pupa-input-time-seconds>
    <h5>Simple With Time And Seconds</h5>
    <pupa-time-picker [withSeconds]="true"></pupa-time-picker>
    <h3>New Date Picker</h3>
    <h5>Simple</h5>
    <pupa-input-date></pupa-input-date>
    <h5>Simple With Time</h5>
    <pupa-input-date-time></pupa-input-date-time>
    <h5>Simple With Time And Seconds</h5>
    <pupa-input-date-time-seconds></pupa-input-date-time-seconds>
    <h5>Simple Range</h5>
    <pupa-input-date-range-new></pupa-input-date-range-new>
    <h5>Simple Preview</h5>
    <pupa-date-picker [previewMode]="'simple'"></pupa-date-picker>
    <h5>Simple With Time And Seconds</h5>
    <pupa-date-picker [previewMode]="'simple-time'" [withSeconds]="true"></pupa-date-picker>
    <h5>Simple With Time Without Seconds</h5>
    <pupa-date-picker [previewMode]="'simple-time'"></pupa-date-picker>
    <h5>Double</h5>
    <pupa-date-picker [previewMode]="'double'"></pupa-date-picker>
  </div>
  <div class="column">
    <pupa-input-date-range-double></pupa-input-date-range-double>
  </div>
</div>
