@use 'sass:map';
@import './../../functions';
@import './../functions';

@import './variables';

$colors: (
  // new colors
  'base-n0': $color_base-n0,
  'base-n600': $color_base-n600,
  'base-n700': $color_base-n700,
  'base-dark-n100': $color_base-dark-n100,
  'base-dark-n200': $color_base-dark-n200,
  'base-dark-n250': $color_base-dark-n250,
  'base-dark-n275': $color_base-dark-n275,
  'base-dark-n300': $color_base-dark-n300,
  'base-dark-n400': $color_base-dark-n400,
  'base-dark-n500': $color_base-dark-n500,
  'base-white-n100': $color_base-white-n100,
  'base-white-n200': $color_base-white-n200,
  'base-white-n250': $color_base-white-n250,
  'base-white-n275': $color_base-white-n275,
  'base-white-n300': $color_base-white-n300,
  'base-white-n400': $color_base-white-n400,
  'base-white-n500': $color_base-white-n500,
  'primary-n100': $color_primary-n100,
  'primary-n200': $color_primary-n200,
  'primary-n300': $color_primary-n300,
  'primary-n400': $color_primary-n400,
  'primary-n500': $color_primary-n500,
  'primary-n550': $color_primary-n550,
  'green-n100': $color_green-n100,
  'green-n200': $color_green-n200,
  'green-n300': $color_green-n300,
  'green-n400': $color_green-n400,
  'green-n500': $color_green-n500,
  'green-n550': $color_green-n550,
  'red-n100': $color_red-n100,
  'red-n200': $color_red-n200,
  'red-n300': $color_red-n300,
  'red-n400': $color_red-n400,
  'red-n500': $color_red-n500,
  'red-n550': $color_red-n550,
  'yellow-n100': $color_yellow-n100,
  'yellow-n200': $color_yellow-n200,
  'yellow-n300': $color_yellow-n300,
  'yellow-n400': $color_yellow-n400,
  'yellow-n500': $color_yellow-n500,
  'yellow-n550': $color_yellow-n550,
  // old colors
  'main': $color_main,
  'main-dark': $color_main-dark,
  'accent': $color_main,
  'active': $color_active,
  'success': $color_success,
  'alert': $color_alert,
  'text': $color_text,
  'subdark': $color_subdark,
  'grey-light': $color_grey-light,
  'grey-ivory': $color_grey-ivory,
  'grey-apple': $color_grey-apple,
  'white': $color_white,
  'black': $color_black,
  'pale-blue': $color_pale-blue,
  'cadet-blue': $color_cadet-blue,
  'cadet-blue-light': $color_cadet-blue-light,
  'dark-overlay': $color_dark-overlay,
  'error': $color_error,
  'error-hovered': $color_error-hovered,
  'error-active': $color_error-active,
  'error-disabled': $color_error-disabled,
  'light': $color_light,
  'light-hovered': $color_light-hovered,
  'light-active': $color_light-active,
  'light-disabled': $color_light-disabled,
  'primary': $color_primary,
  'primary-hovered': $color_primary-hovered,
  'primary-active': $color_primary-active,
  'primary-disabled': $color_primary-disabled
);

$font-size: (
  'font-size_root': $font-size_root,
  'font-size_base-text': $font-size_base-text,
  'font-size_h1': $font-size_h1,
  'font-size_h2': $font-size_h2,
  'font-size_h3': $font-size_h3,
  'font-size_h4': $font-size_h4,
  'font-size_h5': $font-size_h5
);

$line-height: (
  'line-height_base-text': $line-height_base-text,
  'line-height_h1': $line-height_h1,
  'line-height_h2': $line-height_h2,
  'line-height_h3': $line-height_h3,
  'line-height_h4': $line-height_h4,
  'line-height_h5': $line-height_h5
);

$variables: (
  'border-radius_controls-large': rems(1),
  'border-radius_controls-medium': rems(0.875),
  'border-radius_controls-small': rems(0.5),
  'padding_body': $padding_body,
  'margin_body': $margin_body,
  'box-shadow_hover': $box-shadow_hover,
  'transition-duration_common': $transition-duration_common,
  'transition-timing-function_common': $transition-timing-function_common,
  'opacity_hovered-button': $opacity_hovered-button
);

@include generate-css-variables($colors, merge-variables-maps($font-size, $line-height, $variables));
