@import './../../functions';

/* new colors */
$color_base-n0: #ffffff;
$color_base-n600: #001d29;
$color_base-n700: #001720;
$color_base-dark-n100: #d6dbdd;
$color_base-dark-n200: #c2c9cc;
$color_base-dark-n250: #627177;
$color_base-dark-n275: #425760;
$color_base-dark-n300: #334a54;
$color_base-dark-n400: #243d47;
$color_base-dark-n500: #0f2a36;
$color_base-white-n100: #3d5159;
$color_base-white-n200: #687a82;
$color_base-white-n250: #b3bcbf;
$color_base-white-n275: #d6dbdd;
$color_base-white-n300: #e0e3e5;
$color_base-white-n400: #e8ebec;
$color_base-white-n500: #f5f6f7;
$color_primary-n100: #dceeff;
$color_primary-n200: #9dd0ff;
$color_primary-n300: #6cb8ff;
$color_primary-n400: #198bf5;
$color_primary-n500: #0070d8;
$color_primary-n550: #0065c3;
$color_green-n100: #c6f7e7;
$color_green-n200: #7ef1cb;
$color_green-n300: #12e9a1;
$color_green-n400: #08d892;
$color_green-n500: #08b87d;
$color_green-n550: #00a46d;
$color_red-n100: #fde1d9;
$color_red-n200: #fab19a;
$color_red-n300: #f89678;
$color_red-n400: #ed6439;
$color_red-n500: #f05625;
$color_red-n550: #e14c1d;
$color_yellow-n100: #fff2c3;
$color_yellow-n200: #ffe589;
$color_yellow-n300: #ffe072;
$color_yellow-n400: #ffdb5b;
$color_yellow-n500: #ffd333;
$color_yellow-n550: #fdcc13;

/* old colors */
$color_main: $color_base-dark-n500;
$color_main-dark: $color_base-n600; /* Нет в дизайн-системе */
$color_active: $color_primary-n500;
$color_success: $color_green-n500;
$color_alert: $color_yellow-n500;
$color_text: #002c3e; /* Нет в дизайн-системе */
$color_subdark: $color_base-white-n250;

$color_grey-light: #797979; /* Нет в дизайн-системе */
$color_grey-ivory: #a6a6a6; /* Нет в дизайн-системе */
$color_grey-apple: $color_base-white-n250;

$color_white: #ffffff; /* Нет в дизайн-системе */
$color_black: #000000; /* Нет в дизайн-системе */

$color_pale-blue: #d9eafe; /* Нет в дизайн-системе */
$color_cadet-blue: #9fb7d3; /* Нет в дизайн-системе */
$color_cadet-blue-light: #e0eaf5; /* Нет в дизайн-системе */

$color_error: $color_red-n500;
$color_error-hovered: $color_red-n400;
$color_error-active: $color_red-n550;
$color_error-disabled: $color_base-dark-n250;

$color_primary: $color_primary-n500;
$color_primary-hovered: $color_base-dark-n275;
$color_primary-active: $color_base-dark-n300;
$color_primary-disabled: $color_base-dark-n250;

$color_light: $color_primary-n100;
$color_light-hovered: $color_primary-n200;
$color_light-active: $color_primary-n300;
$color_light-disabled: $color_base-white-n500;

$color_dark-overlay: rgba(0, 0, 0, 0.82); /* Нет в дизайн-системе */

/* font-size */
$font-size_root: 16px; /* 1 rem (1 px = 0,0625 rem) - do not use! */

$font-size_base-text: 3.5rem; /* 14 px */
$font-size_h1: 8rem; /* 32 px */
$font-size_h2: 6rem; /* 24 px */
$font-size_h3: 5.25rem; /* 21 px */
$font-size_h4: 4.5rem; /* 18 px */
$font-size_h5: 3.5rem; /* 14 px */

/* line-height */
$line-height_base-text: 4.5rem; /* 18 px */
$line-height_h1: 9rem; /* 36 px */
$line-height_h2: 6.5rem; /* 26 px */
$line-height_h3: 7rem; /* 28 px */
$line-height_h4: 7rem; /* 28 px */
$line-height_h5: 4rem; /* 16 px */

/* padding */
$padding_body: 0;

/* margin */
$margin_body: 0;

/* box-shadow */
$box-shadow_hover: 0 2rem 4rem 0 rgba(0, 0, 0, 0.2);
$box-shadow_dropdown: 0 14px 6rem rgba(0, 23, 32, 0.08);

/* transition-duration */
$transition-duration_common: 0.3s;

/* https://next.material-ui.com/customization/transitions/#durations */
$transition-duration_shortest: 150ms;
$transition-duration_shorter: 200ms;
$transition-duration_short: 250ms;
$transition-duration_standard: 300ms; /* most basic recommended timing */
$transition-duration_complex: 375ms; /* this is to be used in complex animations */
$transition-duration_entering_screen: 225ms; /* recommended when something is entering screen */
$transition-duration_leaving_screen: 195ms; /* recommended when something is leaving screen */

/* transition-timing-function */
$transition-timing-function_common: ease;

/* opacity */
$opacity_hovered-button: 0.1;
