@use 'mixins' as *;
@use 'functions' as *;
@use 'variables' as *;

:host {
  display: block;
  margin-bottom: 3rem;
}

.info-block {
  display: flex;
  border-radius: $controlBorderRadius;
  padding: 2rem;

  .icon {
    font-size: 5rem;
    line-height: 4rem;
    margin-right: 2rem;
  }

  &.info {
    background-color: color(primary-50);
    color: color(neutral-1000);

    .icon {
      color: color(primary-500);
    }

    @include host-selector-dark-theme {
      background-color: color(primary-40);
    }
  }

  &.note {
    background-color: color(neutral-5);
    color: color(neutral-1000);

    .icon {
      color: color(neutral-1000);
    }

    @include host-selector-dark-theme {
      background-color: color(neutral-8);
    }
  }

  &.success {
    background-color: color(success-50);
    color: color(neutral-1000);

    .icon {
      color: color(success-500);
    }

    @include host-selector-dark-theme {
      background-color: color(success-40);
    }
  }

  &.warning {
    background-color: color(warning-50);
    color: color(neutral-1000);

    .icon {
      color: color(warning-500);
    }

    @include host-selector-dark-theme {
      background-color: color(warning-40);
    }
  }

  &.error {
    background-color: color(danger-50);
    color: color(neutral-1000);

    .icon {
      color: color(danger-500);
    }

    @include host-selector-dark-theme {
      background-color: color(danger-40);
    }
  }
}
